.euiPopoverTitle {
  @include euiPopoverTitle;

  // If the popover's containing panel has padding applied,
  // ensure the title expands to cover that padding and
  // take on the same amount of padding horizontally

  @each $modifier, $amount in $euiPanelPaddingModifiers {
    .euiPopover__panel.euiPanel--#{$modifier} & {
      padding-block-start: $euiSizeM;
      padding-block-end: $euiSizeM;
      padding-inline-start: $amount;
      padding-inline-end: $amount;
      margin-block-start: ($amount * -1);
      margin-block-end: $amount;
      margin-inline-start: ($amount * -1);
      margin-inline-end: ($amount * -1);
    }
  }

}
