$spacerSizes: (
  xs: $euiSizeXS,
  s: $euiSizeS,
  m: $euiSize,
  l: $euiSizeL,
  xl: $euiSizeXL,
  xxl: $euiSizeXXL,
);

.euiSpacer {
  // Ensure it's height doesn't shrink/collapse when in a flex group
  flex-shrink: 0;
}

@each $name, $size in $spacerSizes {
  .euiSpacer--#{$name} {
    height: $size;
  }
}
