$spacerSizes: (
  xs: $euiSizeXS,
  s: $euiSizeS,
  m: $euiSize,
  l: $euiSizeL,
  xl: $euiSizeXL,
  xxl: $euiSizeXXL,
);

.euiSpacer {
  flex-shrink: 0; // don't ever let this shrink in height if direct descendent of flex
}

@each $name, $size in $spacerSizes {
  .euiSpacer--#{$name} {
    height: $size;
  }
}
