// Temporary style override for inserting search template into dark header
// These selectors aren't targetable via EuiFieldSearch
.euiHeader--dark .euiSelectableTemplateSitewide .euiFormControlLayout {
  background-color: transparent;

  &--group,
  input {
    box-shadow: inset 0 0 0 1px transparentize($euiColorGhost, .7);
  }

  &:not(:focus-within) {
    color: transparentize($euiColorGhost, .3);

    input {
      // Increase contrast of placeholder text
      @include euiPlaceholderPerBrowser {
        color: transparentize($euiColorGhost, .6);
      }

      // Inherit color from form control layout
      color: inherit;
      background-color: transparent;
    }

    .euiFormControlLayout__append {
      background-color: transparent;
      color: inherit;
    }
  }
}
