.euiSelectableTemplateSitewide__listItem {
  .euiSelectableListItem__text {
    text-decoration: none !important;
  }

  // TODO: Any better way to override this focus underline?
  &[class*='-isFocused']:not([aria-disabled='true']),
  &:hover:not([aria-disabled='true']) {
    .euiSelectableTemplateSitewide__listItemTitle {
      text-decoration: underline;
    }
  }
}

.euiSelectableTemplateSitewide__listItemTitle {
  font-weight: $euiFontWeightMedium;
}

.euiSelectableTemplateSitewide__optionMetasList {
  font-size: $euiFontSizeXS;
}

.euiSelectableTemplateSitewide__optionMeta:not(:last-of-type)::after {
  content: '•';
  margin: 0 $euiSizeXS;
  color: $euiTextColor;
}

.euiSelectableTemplateSitewide__optionMeta--bold {
  font-weight: $euiFontWeightMedium;
}
