$guideSideNavWidth: 240px;
$guideZLevelHighest: $euiZLevel9 + 1000;

@mixin whenNarrowerThan($browserWidth) {
  @media only screen and (max-width: #{$browserWidth}) {
    @content;
  }
}

@mixin whenWiderThan($browserWidth) {
  @media only screen and (min-width: #{$browserWidth}) {
    @content;
  }
}

@mixin scrollbar($color: rgba(#454D58, 0.4)) {
  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.guideBody {
  background: linear-gradient(90deg, $euiColorLightestShade 50%, $euiColorEmptyShade 50%);
}

#guide {
  margin: auto;
  max-width: 1240px;
}

.guidePage {
  padding: 0;
}

.guideSideNav {
  width: $guideSideNavWidth;
  position: fixed;
  top: 0;
  bottom: 0;

  .guideSideNav__identity {
    border-bottom: $euiBorderThin;
    padding: $euiSize;
  }

  .guideSideNav__theme {
    font-size: $euiFontSizeS;
    color: $euiColorDarkShade;
  }

  .guideSideNav__content {
    width: $guideSideNavWidth;
    padding: $euiSize;
    position: absolute;
    bottom: 0;
    top: 132px;
    @include scrollbar;
    overflow-y: auto;
  }
}

.guidePageContent {
  flex: 1 1 auto;
  padding: $euiSize $euiSizeXL;
  min-height: 100vh;
  background-color: $euiColorEmptyShade;
  border-left: $euiBorderThin;
  max-width: 1000px;
  margin-left: 240px;
}

.guideSection__text.euiText,
.guideSection__text .euiText {
  @include euiFontSizeS;
  //font-weight: $euiFontWeightLight;
  color: shadeOrTint($euiTextColor, .3, .1);

  p, ul, ol {
    max-width: 36rem;
  }
}

.guideDemo__highlightLayout {
  div {
    background: transparentize(#0096CC, .9);
  }
}
.guideDemo__highlightSpacer {
  .euiSpacer {
    background: transparentize(#0096CC, .9);
  }
}

.guideDemo__highlightGrid {
  .euiFlexItem {
    background: transparentize(#0096CC, .9);
    padding: 16px;
  }
}

.guideDemo__highlightGridWrap {
  .euiFlexItem div {
    background: transparentize(#0096CC, .9);
    padding: 16px;
  }
}

.guideDemo__textLines {
  background-image: linear-gradient($euiFocusBackgroundColor 1px, transparent 1px) !important;
  background-size: 100% 8px !important;
}

.guideDemo__color {
  padding: $euiSizeS;
  color: $euiColorEmptyShade;
  font-size: $euiFontSizeS;
  margin-top: $euiSizeS;
  line-height: 1.5;
  height: 64px;

  .guideDemo__colorHex {
    font-size: $euiFontSize;
  }
}

.guideDemo__size {
  background: $euiTextColor;
  display: inline-block;
}

.guideDemo__sizeText {
  line-height: 1.5;
}

.guideDemo__sizeGrid {
  font-size: $euiFontSizeS;
}

.guideDemo__ghostBackground {
  @if (lightness($euiTextColor) < 50) {
    background: $euiColorDarkestShade;
  }
  padding: $euiSizeL;
}

.guideDemo__icon {
  text-align: center;

  svg {
    margin-bottom: $euiSizeS;
  }
}


@import "../views/guidelines/index";
@import "guide_section/index";
@import "guide_rule/index";

@include screenXSmall {

  .guideBody {
    background: none;
  }

  .guideSideNav {
    position: relative;
    width: auto;

    // This is a temporary hack till we fix how classes pass into form controls
    .euiFormControlLayout, input[type=search] {
      max-width: 100%;
    }

    .guideSideNav__content {
      position: relative;
      width: auto;
      top: auto;
      bottom: auto;
      padding: 0;
      overflow-y: hidden;
    }

    .guideSideNav__identity {
      position: relative;
      width: auto;
    }

    .guideSideNav__mobileToggle {
      background: $euiColorPrimary;
      color: $euiColorEmptyShade !important;
    }
  }

  .guidePageContent {
    margin-left: 0;
  }
}
