@import '../../../src/global_styling/mixins/helpers';

$guideSideNavWidth: 240px;
$guideZLevelHighest: $euiZLevel9 + 1000;

#guide { // sass-lint:disable-line no-ids
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - #{$euiHeaderHeightCompensation});
}

@include euiHeaderAffordForFixed;

.euiBody--headerIsFixed--double {
  @include euiHeaderAffordForFixed($euiHeaderHeightCompensation * 2);

  .euiHeader:not(.euiHeader--fixed) {
    // Force headers below the full screen.
    // This shouldn't be necessary in consuming applications because headers should always be at the top of the page
    z-index: 0;
  }
}

.guideSideNav {
  min-width: $guideSideNavWidth;
}

.guideSideNav__content {
  @include euiYScroll;
  padding: 0 $euiSizeL $euiSizeL;
}

.guideSideNav__search {
  flex-shrink: 0;
  padding: $euiSizeL;
}

.guideSideNav__item {
  // Hate to do this, but it's the only way to get the badge to display correctly
  .euiSideNavItemButton__label {
    // By using the `icon` display of EuiSideNavItem, it will continue to:
    // a) truncate properly
    // b) not underline the badge when selected
    // But it shows to the left of the label instead of right, so we have to shift the order of the label
    order: -1;
  }

  .guideSideNav__newBadge {
    margin-left: $euiSizeXS;
    margin-right: $euiSizeXS;
  }

  // Shift the margin on the badge when selected and the dropdown arrow no longer shows
  .euiSideNavItemButton-isSelected .guideSideNav__newBadge {
    margin-right: 0;
  }
}

.guideSideNav__item--inSearch {
  color: $euiColorDarkShade;
}

.guideDemo__highlightLayout,
.guideDemo__highlightLayout--playground,
.guideDemo__highlightLayout--legacy {
  border: 1px solid transparentize($euiColorPrimary, .9);
  overflow: hidden;
  height: 460px;
  display: flex;

  .euiPageSideBar--sticky {
    top: 0;
  }
}

.guideDemo__highlightLayout--playground > div:not(.euiPage) {
  height: 100%;
  width: 100%;
  padding: 0 !important; // sass-lint:disable-line no-important

  > .euiPage--grow {
    height: 100%;
  }
}

.guideDemo__highlightLayout--legacy {
  > div,
  > div > div {
    background: transparentize($euiColorPrimary, .9);
  }
}

.guideDemo__highlightHR > div,
.guideDemo__highlightSpacer .euiSpacer,
.guideDemo__highlightGrid .euiFlexItem,
.guideDemo__highlightGridWrap .euiFlexItem div {
  background: transparentize($euiColorPrimary, .9);
}

.guideDemo__highlightHR > div {
  padding: .1px;
  margin-bottom: $euiSize;
}

.guideDemo__highlightSpacer .euiCodeBlock {
  align-self: flex-start;
  margin-bottom: $euiSize;
}


.guideDemo__highlightGrid .euiFlexItem,
.guideDemo__highlightGridWrap .euiFlexItem div {
  padding: $euiSize;
}

// sass-lint:disable no-important
.guideDemo__textLines {
  background-image: linear-gradient($euiFocusBackgroundColor 1px, transparent 1px) !important;
  background-size: 100% 8px !important;
  background-position-y: 2px;
}

// sass-lint:disable no-important
.guideDemo__textLines--s {
  background-image: linear-gradient($euiFocusBackgroundColor 1px, transparent 1px) !important;
  background-size: 100% 7px !important;
  background-position-y: -2px;
}

.guideDemo__color {
  padding: $euiSizeS;
  color: $euiColorEmptyShade;
  font-size: $euiFontSizeS;
  margin-top: $euiSizeS;
  line-height: 1.5;
  height: 64px;

  .guideDemo__colorHex {
    font-size: $euiFontSize;
  }
}


.guideDemo__size {
  background: $euiTextColor;
  display: inline-block;
}

.guideDemo__sizeText {
  line-height: 1.5;
}

.guideDemo__sizeGrid {
  font-size: $euiFontSizeS;
}

.guideDemo__ghostBackground {
  @if (lightness($euiTextColor) < 50) {
    background: $euiColorDarkestShade !important; // Override EuiPanel specificity
  }
}

.dpTest__purpleCal {
  background: $euiColorVis3;
}

.dpTest__purpleInput {
  outline: solid 2px $euiColorVis3;
}

.dpTest__purpleDay {
  background: $euiColorVis3;
}

.dpTest__purplePopper {
  outline: solid 2px $euiColorVis3;
}

.guideOptionsPopover {
  width: $euiSize * 16;
}

.guideCharts__customLegend {
  font-size: $euiFontSizeXS;
  position: absolute;
  width: 93px;
  right: 0;
  bottom: 0;
  padding: $euiSizeXS;
}

.guideCharts__customLegendLine {
  display: inline-block;
  width: $euiSize;
  height: $euiSizeM / 2;
  background-color: currentColor;
  vertical-align: middle;
  margin-right: $euiSizeS;
}

.guideCharts__customLegendLine--thin {
  height: 1px;
}

.guideFullScreenOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: $euiZHeader + 1;
  overflow: auto;

  &--withHeader {
    top: $euiHeaderHeightCompensation;
    bottom: 0;
    height: auto;
    z-index: $euiZHeader - 1;
    display: flex;
    flex-direction: column;

    .euiPageSideBar--sticky {
      top: 0;
    }
  }
}

.guideBody--overflowHidden {
  overflow: hidden;
}

.guideDemo__notificationEventCircleIndicator {
  display: inline-block;
  width: $euiSize;
  height: $euiSize;
  background: $euiColorPrimary;
  color: $euiColorEmptyShade;
  font-size: $euiSizeM;
  line-height: $euiSize;
  text-align: center;
  border-radius: 50%;
}

.guideDemo__notificationEventHighlight {
  background: transparentize($euiColorPrimary, .9);
  border-radius: $euiBorderRadiusSmall;
  padding: $euiSizeXS;
}

.guideDemo__notificationEvent {
  @include euiFontSizeS;
  display: flex;
  flex-direction: column;

  > * {
    display: flex;
  }

  .guideDemo__notificationEventCircleIndicator {
    margin-right: $euiSizeXS;
  }
}

.guideDemo__notificationEventTopRow {
  display: flex;

  > * {
    position: relative;
    margin-right: $euiSizeXS;

    &:last-child {
      margin-right: 0;
    }
  }

  .guideDemo__notificationEventIcon {
    margin: 0 $euiSizeXS;
  }

  .guideDemo__notificationEventCircleIndicator {
    position: absolute;
    top: -$euiSizeS;
    left: 0;
  }
}

.guideDemo__notificationEventMeta {
  display: flex;
  width: 100%;
  margin: 0 $euiSizeS;

  .euiNotificationEventMeta {
    width: 100%;
  }
}

.guideDemo__notificationEventSections {
  margin-left: $euiSizeXL + $euiSizeXS;
  display: flex;
  flex-direction: column;

  > * {
    margin-top: $euiSizeS;
  }
}

.guideDemo__notificationEventBadge {
  flex: 1;
}

.euiDataGridRowCell--favoriteFranchise {
  background: transparentize($color: #800080, $amount: .95) !important;
}

.euiDataGridHeaderCell--favoriteFranchise {
  background: transparentize($color: #800080, $amount: .9) !important;
}

.euiTreeView__nodeInnerExample {
  color: $euiColorDanger;
  font-weight: $euiFontWeightBold;
}

.euiSelectableTemplateSitewide__optionMeta--PINK {
  font-weight: $euiFontWeightMedium;
  color: $euiColorAccentText;
}


@import '../views/guidelines/index';
@import 'guide_section/index';
@import 'guide_rule/index';

@include euiBreakpoint('xs', 's') {
  .guideSideNav {
    width: 100%;
  }

  .guideSideNav__content {
    padding: 0;
    border-top: $euiBorderThin;
  }
}

.guideHomePage__blockformCard {
  min-width: 200px;
  flex-basis: 100% !important;

  // sass-lint:disable-block mixins-before-declarations
  @include euiBreakpoint('s', 'm') {
    flex-basis: 45% !important; // sass-lint:disable-line no-important
  }

  @include euiBreakpoint('l') {
    flex-basis: 30% !important; // sass-lint:disable-line no-important
  }

  @include euiBreakpoint('xl') {
    flex-basis: 22% !important; // sass-lint:disable-line no-important
  }
}

.guideHomePage__illustrationLightShade {
  fill: $euiColorLightShade;
}

.guideHomePage__illustrationEmptyShade {
  fill: $euiColorEmptyShade;
}

.guideHomePage__illustrationDots,
.guideHomePage__illustrationComponents {
  position: absolute;
  top: 0;
  right: 0;
}

.guideHomePage__illustrationEffect {
  display: block;
  height: auto;
  position: relative;
  width: auto;

  .guideHomePage__illustrationEffectParts {
    height: auto;
    transform: perspective(1600px);
    transform-style: preserve-3d;
    transition: all .3s ease-in-out;
    width: 100%;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .guideHomePage__illustrationEffectPartsDots,
  .guideHomePage__illustrationEffectPartsComps {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateZ(16px) scale(.9);
    transition: all .4s ease;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .guideHomePage__illustrationTopLeftCorner {
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 300;

    &:hover ~ .guideHomePage__illustrationEffectParts {
      transform: perspective(1600px) rotateX(-5deg) rotateY(5deg);

      .guideHomePage__illustrationEffectPartsDots {
        transform: translate3d(-.1px, -.1px, 16px) scale(.9);
      }
    }
  }

  .guideHomePage__illustrationTopRightCorner {
    height: 50%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 300;

    &:hover ~ .guideHomePage__illustrationEffectParts  {
      transform: perspective(1600px) rotateX(-5deg) rotateY(-5deg);

      .guideHomePage__illustrationEffectPartsDots {
        transform: translate3d(.1px, -.1px, 16px) scale(.9);
      }
    }
  }

  .guideHomePage__illustrationBottomLeftCorner {
    bottom: 0;
    height: 50%;
    left: 0;
    position: absolute;
    width: 50%;
    z-index: 300;

    &:hover ~ .guideHomePage__illustrationEffectParts {
      transform: perspective(1600px) rotateX(5deg) rotateY(5deg);

      .guideHomePage__illustrationEffectPartsDots {
        transform: translate3d(-.1px, .1px, 1px) scale(.9);
      }
    }
  }

  .guideHomePage__illustrationBottomRightCorner {
    bottom: 0;
    height: 50%;
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 300;

    &:hover ~ .guideHomePage__illustrationEffectParts  {
      transform: perspective(1600px) rotateX(5deg) rotateY(-5deg);


      .guideHomePage__illustrationEffectPartsDots {
        transform: translate3d(.1px, .1px, 1px) scale(.9);
      }
    }
	}
}
