/**
 * 1. Keep each expression's text together as much as possible,
 *    but then wrap long words
 */
.euiExpression {
  @include euiTextBreakWord; /* 1 */
  @include euiFontSizeS;
  @include euiCodeFont;

  display: inline-block; /* 1 */
  text-align: left;
  padding: ($euiSizeXS / 2) 0;
  transition: all $euiAnimSpeedNormal $euiAnimSlightBounce;
  color: $euiTextColor;
  border-bottom: 2px solid transparent;

  &:focus {
    border-bottom-style: solid;
  }

  & + .euiExpression {
    margin-left: $euiSizeS;
  }
}

.euiExpression-isUppercase .euiExpression__description {
  text-transform: uppercase;
}

.euiExpression-isClickable {
  cursor: pointer;
  border-bottom: $euiBorderEditable;

  &:hover:not(:disabled) {
    border-bottom-style: solid;
    transform: translateY(-1px);
  }
}

.euiExpression-isActive {
  border-bottom-style: solid;
}



@each $name, $color in $euiExpressionColors {
  .euiExpression--#{$name} {
    &:focus {
      background-color: transparentize($color, .9);
    }

    &.euiExpression-isActive {
      border-bottom-color: $color;
    }

    .euiExpression__description {
      color: $color;
    }
  }
}
