// Modifier naming and colors.
$euiExpressionColors: (
  subdued: $euiTextSubduedColor,
  primary:  $euiColorPrimaryText,
  success: $euiColorSuccessText,
  secondary: $euiColorSecondaryText,
  warning: $euiColorWarningText,
  danger: $euiColorDangerText,
  accent: $euiColorAccentText,
);
