// Modifier naming and colors.
$euiExpressionColors: (
  subdued: $euiColorMediumShade,
  primary:  $euiColorPrimaryText,
  secondary: $euiColorSecondaryText,
  warning: $euiColorWarningText,
  danger: $euiColorDangerText,
  accent: $euiColorAccentText,
);
