.euiPaginationButton {
  font-size: $euiFontSizeS;
  padding: 0;
  text-align: center;
  border-radius: $euiBorderRadius;
}

.euiPaginationButton-isActive {
  font-weight: $euiFontWeightBold;

  &#{&} {
    color: $euiColorPrimary;

    .euiButtonEmpty__content {
      cursor: default;
    }

    &,
    &:hover {
      text-decoration: underline;
    }
  }
}

.euiPaginationButton-isPlaceholder {
  align-items: baseline;
  color: $euiButtonColorDisabledText;
  font-size: $euiFontSizeS;
  padding: 0 $euiSizeS;
  height: $euiSizeL;
  padding-top: $euiSizeM / 2;
}

@include euiBreakpoint('xs', 's') {
  .euiPaginationButton-isPlaceholder,
  .euiPaginationButton--hideOnMobile {
    display: none;
  }
}
