.euiPagination {
  display: flex;
  align-items: center;

  &__compressedText {
    display: inline-flex;
    align-items: center;

    > *:first-child {
      margin-right: $euiSizeXS;
    }

    > *:last-child {
      margin-left: $euiSizeXS;
    }
  }
}

.euiPagination__list {
  display: flex;
}

@include euiBreakpoint('xs', 's') {
  .euiPagination__list {
    display: none;
  }
}
