.euiPaginationButton {
  font-size: $euiFontSizeS;
  padding: 0;
  text-align: center;
}

.euiPaginationButton-isActive {
  pointer-events: none;
  color: $euiColorPrimary;
  text-decoration: underline;
  border-radius: $euiBorderRadius;
  font-weight: $euiFontWeightBold;
}

.euiPaginationButton-isPlaceholder {
  pointer-events: none;
  color: $euiColorMediumShade;
}

@include screenXSmall {
  .euiPaginationButton--hideOnMobile {
    display: none;
  }
}
