.euiPagination {
  @include euiScrollBar;
  display: flex;
  align-items: center;
  overflow-y: hidden;
  overflow-x: auto;

  &__compressedText {
    // sass-lint:disable-block no-important
    display: inline-flex;
    align-items: center;
    line-height: 1 !important; // Override EuiText line-height

    > span {
      margin-right: $euiSizeS;
      margin-left: $euiSizeS;
      font-weight: $euiFontWeightSemiBold;

      // sass-lint:disable-block nesting-depth
      &:first-of-type {
        color: $euiColorPrimaryText;
      }
    }
  }
}

.euiPagination__list {
  display: flex;
  align-items: baseline;
}
