.euiPaginationButton {
  font-size: $euiFontSizeS;
  padding: 0;
  height: $euiSizeL;
  min-width: $euiSizeXL;
  text-align: center;
}

.euiPaginationButton-isActive {
  pointer-events: none;
  background-color: $euiColorPrimary;
  color: $euiColorEmptyShade;
  border-radius: $euiBorderRadius;

  &:focus {
    background-color: $euiColorPrimary;
    color: $euiColorEmptyShade;
  }
}

.euiPaginationButton-isPlaceholder {
  pointer-events: none;
  color: $euiColorMediumShade;
}

@include screenXSmall {
  .euiPaginationButton--hideOnMobile {
    display: none;
  }
}
