.euiColorPicker {
  position: relative;
  cursor: pointer;
}

.euiColorPicker__preview {
  display: flex;
  align-items: center;
}

.euiColorPicker__swatch {
  width: $colorPickerSize;
  height: $colorPickerSize;
  border-radius: $euiBorderRadius;
  box-shadow: inset 0 0 0 1px $euiShadowColor;
  display: inline-block;
}

.euiColorPicker__emptySwatch {
  svg {
    position: absolute;
    width: $colorPickerSize;
    height: $colorPickerSize;
  }

  svg line {
    stroke: $euiColorDanger;
    stroke-width: 2;
  }
}

.euiColorPicker__label {
  font-size: $euiFontSize;
  line-height: $euiLineHeight;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}

.euiColorPickerPopUp {
  position: absolute;
  z-index: 10;
}

