.euiColorPicker {
  position: relative;
  width: $euiColorPickerWidth;
}

.euiColorPicker__popoverAnchor {
  // Nested needed for specificity of overriding .euiFieldText
  .euiColorPicker__input {
    @include euiFormControlWithIcon($isIconOptional: false, $side: 'right');

    &[class*='--compressed'] {
      @include euiFormControlWithIcon($isIconOptional: false, $side: 'right', $compressed: true);
    }

    + .euiFormControlLayoutIcons {
      // Override :disabled state, which obscures the selected color
      color: inherit;
    }
  }
}

.euiColorPicker__swatches {
  display: flex;
  flex-wrap: wrap;
  margin: -$euiSizeS / 2;
}

.euiColorPicker__swatch-item {
  margin: $euiSizeS / 2;
}

// Adds a stroke color for the swatchInput icon. Unlike most EuiIcons it has a stroke in the SVG
.euiSwatchInput__stroke {
  fill: none;
  stroke: transparentize($euiColorFullShade, .8);
}

.euiColorPicker__popoverPanel--pickerOnly {
  // Override of EuiPanel padding
  // stylelint-disable-next-line declaration-no-important
  padding-bottom: 0 !important;
}

// stylelint-disable declaration-no-important
.euiColorPicker__input--inGroup {
  height: $euiFormControlLayoutGroupInputHeight !important;
  box-shadow: none !important;
  border-radius: 0;

  &.euiFieldText--compressed {
    height: $euiFormControlLayoutGroupInputCompressedHeight !important;
    border-radius: 0;
  }
}
// stylelint-enable declaration-no-important

.euiColorPicker__alphaRange {
  .euiRangeInput {
    min-width: 0;
  }
}
