.euiNotificationEventNotifications {
  color: $euiColorDarkShade;
  font-size: $euiFontSizeS;

  &__accordion {
    color: $euiColorDarkShade;
  }

  &__accordionContent {
    > * {
      padding-top: $euiSizeS;
    }
  }
}