.euiNotificationEventMeta {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__section > * + * {
    margin-left: $euiSizeS;
  }

  &__time {
    font-size: $euiFontSizeXS;
    color: $euiTextSubduedColor;
  }
}
