.euiNotificationEvent {
  display: flex;
  padding: $euiSizeM 0 $euiSizeM $euiSizeM;
  border-bottom: $euiBorderThin;

  &:last-child {
    border-bottom: none;
  }

  &--withReadState {
    padding: $euiSizeM 0 $euiSizeM $euiSizeS;
  }
}

.euiNotificationEvent__title {
  @include euiTitle('xs');
  display: flex;

  // ensure links get the right color
  &.euiLink {
    color: $euiLinkColor;
  }

  &--isRead {
    color: $euiColorDarkShade !important; // stylelint-disable-line declaration-no-important
  }
}

.euiNotificationEvent__readButton {
  margin-right: $euiSizeS;
}

.euiNotificationEvent__content {
  flex: 1;

  > * + * {
    margin-top: $euiSizeS;
    margin-right: $euiSizeM;
  }
}
