.euiNotificationEventReadIcon {
  display: flex;
  align-items: center;
  height: $euiSizeL;
  margin: 0 $euiSizeXS;
}

.euiNotificationEventReadIcon--isRead svg {
  fill: transparent;
  stroke-width: 1px;
  stroke: $euiBorderColor;
}
