/** Padding map eferenced in:
 *  - Popover
*/
$euiPanelPadding: (
  "Small": $euiSizeS,
  "Medium": $euiSize,
  "Large": $euiSizeL
) !default;


.euiPanel {
  @include euiBottomShadowSmall;

  background-color: $euiColorEmptyShade;
  border: $euiBorderThin;
  border-radius: $euiBorderRadius;
  flex-grow: 1;

  @each $size, $amount in $euiPanelPadding {

    &.euiPanel--padding#{$size} {
      padding: $amount;
    }

  }






  &.euiPanel--shadow {
    @include euiBottomShadow;
  }

  &.euiPanel--flexGrowZero {
    flex-grow: 0;
  }
}
