.kuiPanel {
  @include kuiBottomShadowSmall;

  background-color: $euiColorEmptyShade;
  border: $euiBorderThin;
  border-radius: $euiBorderRadius;
  flex-grow: 1;

  &.kuiPanel--paddingSmall {
    padding: $euiSizeS;
  }

  &.kuiPanel--paddingMedium {
    padding: $euiSize;
  }

  &.kuiPanel--paddingLarge {
    padding: $euiSizeL;
  }

  &.kuiPanel--shadow {
    @include kuiBottomShadow;
  }

  &.kuiPanel--flexGrowZero {
    flex-grow: 0;
  }
}
