/*
 * 1. Overwrites the base styling of EuiBadge, to give it a larger size and margins
 * that make sense in the input wrap.
 */
.euiComboBoxPill {
  $pillHeight: $euiSizeL - 2px;
  height: $pillHeight;
  line-height: $pillHeight - ($euiBorderWidthThin * 2);
  vertical-align: baseline;

  &,
  & + & /* 1 */ {
    margin: $euiSizeXS;
  }

  .euiComboBox--compressed &,
  .euiComboBox--compressed & + & /* 1 */ {
    margin: ($euiSizeXS + 1px) $euiSizeXS 0 0;
  }

  &__prepend {
    margin-right: $euiSizeXS;
  }

  &__append {
    margin-left: $euiSizeXS;
  }

  /* Fix append/prepend vertical alignment */
  .euiBadge__text {
    display: flex;
    align-items: center;

    .euiIcon {
      display: block;
    }
  }
}
