// Dark theme overides

$euiColorEmptyShade: #222;
$euiColorLightestShade: #272727;
$euiColorLightShade: #333;
$euiColorMediumShade: #444;
$euiColorDarkShade: #D9D9D9;
$euiColorDarkestShade: #F5F5F5;
$euiColorFullShade: #FFF;
$euiColorPrimary: #4da1c0;
$euiColorDanger: #bf4d4d;
$euiTextColor: #DDD;

// Configuration
@import 'variables/index';
