/**
 * 1. Prevent side bar width from changing when content width changes.
 */
.euiPageSideBar {
  min-width: $euiSize * 12; /* 1 */
  flex: 0 1 0%; /* 1 */
  margin-right: $euiSizeL;
}

@include euiBreakpoint('xs', 's') {
  .euiPageSideBar {
    width: 100%;
  }
}

