/**
 * 2. For inline forms, we need to add margin if the label doesn't exist.
 */
.euiFormRow--hasEmptyLabelSpace {
  margin-top: $euiSize + $euiSizeXS; /* 2 */
  // the following ensure that contents that aren't inherently the same height
  // as inputs will align to the vertical center
  min-height: $euiFormControlHeight;
  padding-bottom: 0;
  justify-content: center;
}

.euiFormRow--compressed {
  &.euiFormRow--hasEmptyLabelSpace {
    min-height: $euiFormControlCompressedHeight;
  }
}
