/**
 * 1. Ensure the descenders don't get cut off
 */

.euiSelect {
  @include euiFormControlStyle;

  appearance: none;
  line-height: $euiFormControlHeight; /* 1 */
  padding-top: 0; /* 1 */
  padding-bottom: 0; /* 1 */

  &--compressed {
    line-height: $euiFormControlCompressedHeight; /* 1 */
    padding-top: 0; /* 1 */
    padding-bottom: 0; /* 1 */
  }

  &--inGroup {
    line-height: $euiFormControlLayoutGroupInputHeight; /* 1 */
  }

  &--inGroup#{&}--compressed {
    line-height: $euiFormControlLayoutGroupInputCompressedHeight; /* 1 */
  }
}
