.euiColorPalettePicker {
  &__colorContainer {
    display: flex;
    flex-direction: row;
    border-radius: $euiBorderRadius;
    overflow: hidden;
    height: $euiSizeS;
    // border: $euiBorderThin;
    margin: 2px;
    box-shadow: inset 0 0 0 1px transparentize($euiColorFullShade, .98);

  }

  &__colorStop {
    flex: 1;
    height: $euiSizeS;
  }

  &__paletteTitle {
    min-width: $euiSizeXL * 3;
  }
}
