.euiFormControlLayout {
  @include kuiFormControlSize;

  display: inline-block;
  position: relative;

  &.euiFormControlLayout--fullWidth {
    width: 100%;
    max-width: 100%;
  }

  .euiFormControlLayout__icon {
    position: absolute;
    top: $euiSizeM;
    left: $euiSizeM;
  }

  .euiFormControlLayout__icon--right {
    left: auto;
    right: $euiSizeM;
  }
}
