.euiFormControlLayoutIcons {
  pointer-events: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: $euiFormControlPadding;
  display: flex;
  align-items: center;

  > * + * {
    margin-left: $euiFormControlPadding / 2;
  }
}

.euiFormControlLayoutIcons--right {
  left: auto;
  right: $euiFormControlPadding;
}

// If the control is disabled, change the color of the icons
*:disabled + .euiFormControlLayoutIcons {
  cursor: not-allowed;
  color: $euiFormControlDisabledColor;
}
