@import '../variables';
@import '../mixins';

.euiFormControlLayout {
  // Let the height expand as needed
  @include euiFormControlSize($includeAlternates: true);
}

.euiFormControlLayout__childrenWrapper {
  position: relative;
}

/**
 * 1. Account for inner box-shadow style border
 */

.euiFormControlLayout--group {
  // Match just the regular drop shadow of inputs
  @include euiFormControlDefaultShadow;
  display: flex;
  align-items: stretch;
  padding: 1px; /* 1 */

  .euiFormControlLayout__childrenWrapper {
    flex-grow: 1;
  }

  .euiFormControlLayout__prepend,
  .euiFormControlLayout__append {
    @include euiTextTruncate;
    flex-shrink: 0;
    height: 100%;
    line-height: $euiFontSize - 1px; // The 1px less aligns the icons better
    border: none; // remove any border in case it exists
    border-radius: 0;

    &:first-child {
      border-top-left-radius: $euiFormControlLayoutGroupInputCompressedBorderRadius;
      border-bottom-left-radius: $euiFormControlLayoutGroupInputCompressedBorderRadius;
    }

    &:last-child {
      border-top-right-radius: $euiFormControlLayoutGroupInputCompressedBorderRadius;
      border-bottom-right-radius: $euiFormControlLayoutGroupInputCompressedBorderRadius;
    }

    &:disabled {
      background-color: $euiFormBackgroundDisabledColor;
      color: $euiFormControlDisabledColor; // ensures established contrast
    }

    // sass-lint:disable-block no-important
    // This is the only way to target specific components to override styling
    &.euiFormLabel,
    &.euiText,
    &.euiButtonIcon,
    &.euiIcon {
      background-color: $euiFormInputGroupLabelBackground;

      & + .euiFormControlLayout__prepend,
      & + .euiFormControlLayout__append {
        padding-left: 0 !important;

        &.euiButtonIcon,
        &.euiIcon {
          width: $euiSizeL;
        }
      }
    }

    &.euiFormLabel,
    &.euiText {
      max-width: 50%;
      white-space: nowrap;
      margin-bottom: 0;
      padding: $euiFormControlPadding;
      border: none;
      line-height: $euiFontSize;
    }

    &.euiButtonIcon,
    &.euiIcon {
      padding: 0 $euiSizeS;
      width: $euiSizeXL;
      border: none;
      transform: none !important;
    }
  }

  // In case a tooltip was passed as a pre/append
  // The cloned element's classname would have been passed to the tooltip not the anchor
  .euiToolTipAnchor {
    padding: $euiSizeXS;
    background-color: $euiFormInputGroupLabelBackground;
  }

  //
  // Borders

  .euiFormControlLayout__prepend {
    border-right: 1px solid $euiFormBorderColor;
  }

  .euiFormControlLayout__append {
    border-left: 1px solid $euiFormBorderColor;
  }

  //
  // Compressed alterations

  &.euiFormControlLayout--compressed {
    @include euiFormControlDefaultShadow($borderOnly: true);
    border-radius: $euiBorderRadius / 2;

    .euiFormControlLayout__prepend,
    .euiFormControlLayout__append {
      &:first-child {
        border-top-left-radius: $euiFormControlLayoutGroupInputCompressedBorderRadius;
        border-bottom-left-radius: $euiFormControlLayoutGroupInputCompressedBorderRadius;
      }

      &:last-child {
        border-top-right-radius: $euiFormControlLayoutGroupInputCompressedBorderRadius;
        border-bottom-right-radius: $euiFormControlLayoutGroupInputCompressedBorderRadius;
      }

      &.euiFormLabel,
      &.euiText {
        padding: $euiFormControlCompressedPadding;
      }
    }
  }

  //
  // ReadOnly alterations
  &.euiFormControlLayout--readOnly {
    @include euiFormControlReadOnlyStyle;
    padding: 0; /* 1 */

    input {
      background-color: transparent; // Ensures the input and layout don't double up on background color
    }
  }

  //
  // ReadOnly-Compressed alterations

  &.euiFormControlLayout--compressed.euiFormControlLayout--readOnly {
    .euiFormControlLayout__prepend,
    .euiFormControlLayout__append {
      height: $euiFormControlCompressedHeight;
      border-top-left-radius: $euiFormControlCompressedBorderRadius;
      border-bottom-left-radius: $euiFormControlCompressedBorderRadius;
    }
  }
}

.euiFormControlLayout-isDisabled,
.euiFormControlLayout-isDisabled .euiDatePickerRange--inGroup {
  background-color: $euiFormBackgroundDisabledColor;
  color: $euiColorDarkShade;
}
