.euiFormControlLayout {
  @include euiFormControlSize;

  display: inline-block;
  position: relative;

  &.euiFormControlLayout--fullWidth {
    width: 100%;
    max-width: 100%;
  }

  .euiFormControlLayout__icon {
    position: absolute;
    top: $euiSizeM;
    left: $euiSizeM;
    pointer-events: none;
  }

  .euiFormControlLayout__iconButton {
    pointer-events: all;
    top: $euiSizeM - 1px;
  }

  .euiFormControlLayout__clear {
    $clearSize: $euiSize;

    position: absolute;
    top: $euiSizeM;
    right: $euiSizeM;

    @include size($clearSize);
    background-color: transparentize($euiColorMediumShade, .5);
    border-radius: $clearSize;
    line-height: $clearSize;

    .euiFormControlLayout__clearIcon {
      @include size($euiSizeS);
      fill: $euiColorEmptyShade;
      stroke: $euiColorEmptyShade;
      stroke-width: 3px; // increase thickness of icon at such a small size
      margin-top: -3px;
    }

    // Loading spinner needs adjustment if clear also exists
    ~ .euiFormControlLayout__loading {
      right: $euiSizeM*3;
    }
  }

  .euiFormControlLayout__icon--right {
    left: auto;
    right: $euiSizeM;

    // Loading spinner needs adjustment if icon also exists like selects.
    ~ .euiFormControlLayout__loading {
      right: $euiSizeM*3;
    }

    // Same with clear buttons
    ~ .euiFormControlLayout__clear {
      right: $euiSizeM*3;

      ~ .euiFormControlLayout__loading {
        right: $euiSizeM*5;
      }
    }
  }

  .euiFormControlLayout__loading {
    position: absolute;
    top: $euiSizeM;
    right: $euiSizeM;
  }
}
