.euiFormControlLayoutIcons {
  pointer-events: none;
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: $euiFormControlPadding;
  display: flex;
  align-items: center;

  > * + * {
    margin-inline-start: $euiFormControlPadding / 2;
  }

  .euiFormControlLayout--compressed & {
    inset-inline-start: $euiFormControlCompressedPadding;
  }
}

.euiFormControlLayoutIcons--right {
  inset-inline-start: auto;
  inset-inline-end: $euiFormControlPadding;

  .euiFormControlLayout--compressed & {
    inset-inline-start: auto;
    inset-inline-end: $euiFormControlCompressedPadding;
  }
}

// If the control is disabled, change the color of the icons
*:disabled + .euiFormControlLayoutIcons {
  cursor: not-allowed;
  color: $euiFormControlDisabledColor;
}
