@mixin euiFormControlLayoutPadding($numOfIcons, $side: 'right') {
  $iconPaddingStart: $euiSizeXXL;

  @if variable-exists(numOfIcons) == false {
    @error '$numOfIcons:integer (1-3) must be provided to @mixin euiFormControlLayoutPadding().';
  } @else if $numOfIcons == 1 {
    padding-#{$side}: $iconPaddingStart;
  } @else if $numOfIcons == 2 {
    padding-#{$side}: $iconPaddingStart + $euiSize;
  } @else if $numOfIcons == 3 {
    padding-#{$side}: $iconPaddingStart + ($euiSize * 2) + $euiSizeS;
  }
}

@mixin euiFormControlLayoutClearIcon($iconClass) {
  $clearSize: $euiSize;
  @include size($clearSize);

  pointer-events: all;
  background-color: lightOrDarkTheme($euiColorMediumShade, $euiColorDarkShade);
  border-radius: $clearSize;
  line-height: 0; // ensures the icon stays vertically centered

  &:focus {
    @include euiFocusRing;
  }

  #{$iconClass} {
    @include size($euiSizeS);
    fill: $euiColorEmptyShade;
    stroke: $euiColorEmptyShade;
    stroke-width: 2px; // increase thickness of icon at such a small size
  }
}