@mixin euiFormControlLayoutClearIcon($iconClass) {
  $clearSize: $euiSize;
  pointer-events: all;

  @include size($clearSize);
  background-color: transparentize($euiColorMediumShade, .5);
  border-radius: $clearSize;
  line-height: $clearSize;
  transition: background-color $euiAnimSpeedExtraFast $euiAnimSlightResistance;

  &:focus, &:hover {
    background-color: $euiColorPrimary;
  }

  #{$iconClass} {
    @include size($euiSizeS);
    fill: $euiColorEmptyShade;
    stroke: $euiColorEmptyShade;
    stroke-width: 3px; // increase thickness of icon at such a small size
    margin-top: -3px;
  }
}
