
.euiResizablePanel-isCollapsed {
  .euiResizablePanel__content * {
    display: none;
  }
}

.euiResizableContainer--horizontal {
  .euiResizablePanel-isCollapsed {
    min-width: 0 !important; // sass-lint:disable-line no-important
  }

  .euiResizablePanel--collapsible.euiResizablePanel-isCollapsed {
    min-width: $euiSizeL !important; // sass-lint:disable-line no-important
  }
}

.euiResizableContainer--vertical {
  .euiResizablePanel-isCollapsed {
    min-height: 0 !important; // sass-lint:disable-line no-important
  }

  .euiResizablePanel--collapsible.euiResizablePanel-isCollapsed {
    min-height: $euiSizeL !important; // sass-lint:disable-line no-important
  }
}
