.euiResizablePanel {
  position: relative;
  overflow-x: visible;
}

.euiResizablePanel__content {
  @include euiScrollBar;
  height: 100%;
  overflow-y: auto;
}

.euiResizablePanel--collapsed {
  .euiResizablePanel__content {
    @include euiScreenReaderOnly;
  }
}

.euiResizablePanel--collapsible {
  &:not(.euiResizablePanel--collapsed) {
    .euiResizablePanel__toggleButton:not(:focus):not(:active):not(.euiResizablePanel__toggleButton--visible) {
      @include euiScreenReaderOnly;
    }
  }
}

.euiResizableContainer {
  .euiResizablePanel__toggleButton {
    @include euiSlightShadow;
    position: absolute;
    z-index: 1;
    background-color: $euiColorLightestShade;
    transition: left 0s, right 0s;
  }
}

.euiResizableContainer--horizontal {
  .euiResizablePanel__toggleButton {
    top: 50%;
    margin-top: -$euiSizeXS + -$euiSizeS;

    &.euiResizablePanel__toggleButton--right {
      left: 100%;
      margin-left: -$euiSizeXS;
    }

    &.euiResizablePanel__toggleButton--left {
      right: 100%;
      margin-right: -$euiSizeXS;
    }

    &.euiResizablePanel__toggleButton--disabled {
      top: 0;
      bottom: 0;
      margin-top: 0;
      margin-left: -$euiSizeS;
      margin-right: -$euiSizeS;
    }
  }

  .euiResizablePanel--collapsed {
    // sass-lint:disable-block no-important
    min-width: 0 !important;
  }
}

.euiResizableContainer--vertical {
  .euiResizablePanel__toggleButton {
    left: 50%;
    margin-left: -$euiSizeXS + -$euiSizeS;

    .euiButtonIcon__icon {
      transform: rotate(90deg);
    }

    &.euiResizablePanel__toggleButton--right {
      top: 100%;
      margin-top: -$euiSizeXS;
    }

    &.euiResizablePanel__toggleButton--left {
      bottom: 100%;
      margin-bottom: -$euiSizeXS;
    }

    &.euiResizablePanel__toggleButton--disabled {
      left: 0;
      width: 100%;
      margin-left: 0;
      margin-top: -$euiSizeS;
      margin-bottom: -$euiSizeS;
    }
  }

  .euiResizablePanel--collapsed {
    // sass-lint:disable-block no-important
    min-height: 0 !important;
  }
}