.euiResizer {
  position: relative;
  display: flex;
  flex: 0 0 $euiSizeM;
  background-color: $euiPageBackgroundColor;
  align-items: center;
  justify-content: center;
  margin: 0;
  user-select: none;

  &:hover {
    background-color: tintOrShade($euiColorPrimary, 80%, 60%);
  }

  &:focus,
  &.active {
    background-color: $euiColorPrimary;
    color: $euiColorEmptyShade;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &.euiResizer--horizontal {
    width: $euiSizeM;

    &::after {
      cursor: ew-resize;
    }
  }

  &.euiResizer--vertical {
    cursor: ns-resize;
    height: $euiSizeM;
    width: 100%;

    &::after {
      cursor: ns-resize;
    }
  }
}
