// Mixes a provided color with white.
@function tint($color, $percent) {
  @return mix(#fff, $color, $percent);
}

// Mixes a provided color with black.
@function shade($color, $percent) {
  @return mix(#000, $color, $percent);
}

// For theming. Checks the text color and tells us whether it's light or dark.
// Based on that we either tint (add white) or shade (add black).
@function tintOrShade($color, $tint, $shade) {
  @if (lightness($euiTextColor) > 50) {
    @return shade($color, $shade);
  } @else {
    @return tint($color, $tint);
  }
}

// The reverse of the above
@function shadeOrTint($color, $shade, $tint) {
  @if (lightness($euiTextColor) < 50) {
    @return shade($color, $shade);
  } @else {
    @return tint($color, $tint);
  }
}

// Calculates luminance, which is better than brightness for checking colors
// pow, nth functions come from the _math.scss functions
@function luminance($color) {
  // Formula: http://www.w3.org/TR/2008/REC-WCAG20-20081211/#relativeluminancedef
  $rgba: red($color), green($color), blue($color);
  $rgba2: ();

  @for $i from 1 through 3 {
    $rgb: nth($rgba, $i);
    $rgb: $rgb / 255;

    $rgb: if($rgb < .03928, $rgb / 12.92, pow(($rgb + .055) / 1.055, 2.4));

    $rgba2: append($rgba2, $rgb);
  }

  @return .2126 * nth($rgba2, 1) + .7152 * nth($rgba2, 2) + 0.0722 * nth($rgba2, 3);
}

// Calculate contrast
@function contrastRatio($background, $foreground) {
  $backgroundLum: luminance($background) + .05;
  $foregroundLum: luminance($foreground) + .05;

  @return max($backgroundLum, $foregroundLum) / min($backgroundLum, $foregroundLum);
}

// Compare the contrast against both light and white text, then pick the highest.
@function chooseLightOrDarkText($color, $light, $dark) {
  $lightContrast: contrastRatio($color, white);
  $darkContrast: contrastRatio($color, black);

  @if ($lightContrast > $darkContrast) {
    @return $light;
  }
  @else {
    @return $dark;
  }
}

// Given a color and a background, make that color AA accessibility by slightly
// adjusting it till it works
@function makeHighContrastColor($forground, $background) {
  $contrast: contrastRatio($forground, $background);

  $highContrastTextColor: $forground;

  @while ($contrast < 4.5) {
    $highContrastTextColor: shadeOrTint($highContrastTextColor, 5%, 5%);
    $contrast: contrastRatio($highContrastTextColor, $euiColorEmptyShade);
  }

  @return $highContrastTextColor;
}
