/**
 * 1. Accounts for the border
 */
.euiBadge {
  font-size: $euiFontSizeXS;
  font-weight: $euiFontWeightMedium;
  line-height: $euiSize + 2px; /* 1 */
  display: inline-block;
  text-decoration: none;
  box-sizing: content-box;
  border-radius: $euiBorderRadius / 2;
  border: solid 1px transparent;
  padding: 0 $euiSizeS;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;

  + .euiBadge {
    margin-left: $euiSizeXS;
  }

  .euiBadge__content {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .euiBadge__text {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
  }

  &:focus {
    @include euiFocusRing('small');
  }

  .euiBadge__icon {
    flex: 0 0 auto;
    margin-right: $euiSizeXS;

    &:focus {
      background-color: transparentize($euiColorGhost, .2);
      color: #000; // sass-lint:disable-line no-color-literals
      border-radius: 2px;
    }
  }

  &.euiBadge--iconRight .euiBadge__content {
    flex-direction: row-reverse;

    .euiBadge__icon {
      margin-left: $euiSizeXS;
      margin-right: 0;
    }
  }
}


// Modifier naming and colors.
$badgeTypes: (
  default: $euiColorLightShade,
  primary: tintOrShade(desaturate($euiColorPrimary, 30%), 30%, 10%),
  secondary: tintOrShade(desaturate($euiColorSecondary, 40%), 40%, 0%),
  warning: tintOrShade(desaturate($euiColorWarning, 30%), 20%, 0%),
  danger: tintOrShade(desaturate($euiColorDanger, 0%), 30%, 10%),
  accent: tintOrShade(desaturate($euiColorAccent, 40%), 40%, 0%),
);

@each $name, $color in $badgeTypes {
  .euiBadge--#{$name} {
    // sass-lint:disable-block no-color-literals
    background-color: $color;
    @if (lightness($color) > 50) {
      color: #000;
    } @else {
      color: #FFF;
    }
  }
}

// Hollow has a border and is mostly used for autocompleters.
.euiBadge--hollow {
  background-color: $euiColorEmptyShade;
  border-color: $euiBorderColor;
  color: $euiTextColor;
}
