.euiBadge {
  font-size: $euiSizeM;
  font-weight: $euiFontWeightBold;
  line-height: $euiSize + $euiSizeXS;
  display: inline-block;
  text-decoration: none;
  box-sizing: content-box;
  border-radius: $euiBorderRadius / 2;
  padding: 0 $euiSizeXS;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;

  + .euiBadge {
    margin-left: $euiSizeXS;
  }

  .euiBadge__content {
    display: flex;
    align-items: center;
  }

  .euiBadge__icon {
    margin-right: $euiSizeXS;
  }

  &.euiBadge--iconRight .euiBadge__content {
    flex-direction: row-reverse;

    .euiBadge__icon {
      margin-left: $euiSizeXS;
      margin-right: 0;
    }
  }
}


// Modifier naming and colors.
$badgeTypes: (
  default: $euiColorLightShade,
  primary: $euiColorPrimary,
  secondary: $euiColorSecondary,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  accent: $euiColorAccent,
  vis0: $euiColorVis0,
  vis1: $euiColorVis1,
  vis2: $euiColorVis2,
  vis3: $euiColorVis3,
  vis4: $euiColorVis4,
  vis5: $euiColorVis5,
  vis6: $euiColorVis6,
  vis7: $euiColorVis7,
  vis8: $euiColorVis8,
  vis9: $euiColorVis9
);

@each $name, $color in $badgeTypes {
  .euiBadge--#{$name} {
    background-color: $color;
    @if (lightness($color) > 50) {
      color: #000;
    } @else {
      color: #FFF;
    }
  }
}
