.kuiBadge {
  font-size: $euiSizeM;
  line-height: $euiSizeL;
  display: inline-block;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: $euiSizeL;
  padding: 0 $euiSizeS;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;

  .kuiBadge__content {
    display: flex;
    align-items: center;
  }

  .kuiBadge__icon {
    margin-right: $euiSizeXS;
  }

  &.kuiBadge--iconRight .kuiBadge__content {
    flex-direction: row-reverse;

    .kuiBadge__icon {
      margin-left: $euiSizeXS;
      margin-right: 0;
    }
  }
}


// Modifier naming and colors.
$badgeTypes: (
  default: $euiColorLightShade,
  primary: $euiColorPrimary,
  secondary: $euiColorSecondary,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  accent: $euiColorAccent
);

@each $name, $color in $badgeTypes {
  .kuiBadge--#{$name} {
    border-color: $color;
    background-color: transparentize($color, .9);
  }
}
