.euiFilterSelectItem {
  @include euiInteractiveStates;
  outline-offset: -$euiFocusRingSize;

  &:focus,
  &-isFocused {
    @include euiFocusBackground;
    color: $euiColorPrimary;
  }
}

.euiFilterSelectItem__content {
  @include euiTextTruncate;
}

.euiFilterSelect__items {
  @include euiScrollBar;

  overflow-y: auto;
  max-height: $euiSize * 30;
}

.euiFilterSelect__note {
  height: $euiSize * 4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.euiFilterSelect__noteContent {
  color: $euiColorDarkShade;
  font-size: $euiFontSizeS;
}
