@import '../form/variables';
@import '../form/mixins';
@import '../form/form_control_layout/mixins';

/**
 * 1. Account for inner box-shadow style border
 */

.euiFilterButton {
  // flex-grow: 0; // Shrink by default
  // height: $euiFormControlHeight - 2px; /* 1 */
  font-size: $euiFontSizeS;

  &.euiFilterButton--noDivider {
    border-right: none;
  }

  &:disabled {
    color: $euiButtonColorDisabled;
    pointer-events: none;

    .euiFilterButton__notification {
      opacity: .5;
    }
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    // Remove underline from whole button so notifications don't get the underline
    text-decoration: none;

    .euiFilterButton__textShift {
      // Add put it only on the actual text part
      text-decoration: underline;
    }
  }
}

.euiFilterButton-hasActiveFilters {
  font-weight: $euiFontWeightBold;
}

.euiFilterButton--noDivider + .euiFilterButton {
  margin-left: $euiSizeXS * -1;
}

.euiFilterButton-isSelected {
  background-color: $euiColorLightestShade;
}

.euiFilterButton__text-hasNotification {
  display: flex;
  // flex-direction: row-reverse;
  align-items: center;
}

.euiFilterButton__notification {
  margin-right: $euiSizeS;
  vertical-align: text-bottom;
}

.euiFilterButton__textShift {
  @include euiTextShift;
  @include euiTextTruncate;
  min-width: $euiSize * 3;
}
