.euiSuperDatePicker__absoluteDateForm {
  padding: 0 $euiSizeS $euiSizeS;
}

.euiSuperDatePicker__absoluteDateFormSubmit {
  flex-shrink: 0;
}

.euiSuperDatePicker__absoluteDateFormRow {
  flex-grow: 1;
}
