.euiDatePopoverButton {
  @include euiSuperDatePickerText;
  background-size: 100%; // For the bottom "border" via background-image

  &--compressed {
    line-height: $euiFormControlLayoutGroupInputCompressedHeight;
    height: $euiFormControlLayoutGroupInputCompressedHeight;
  }

  &:focus,
  &-isSelected {
    background-image: euiFormControlGradient();
  }

  &-needsUpdating {
    background-color: $euiSuperDatePickerNeedsUpdatingBackgroundColor;
    color: $euiSuperDatePickerNeedsUpdatingTextColor;

    &:focus,
    &.euiDatePopoverButton-isSelected {
      background-image: euiFormControlGradient($euiColorSuccess);
    }
  }

  &-isInvalid {
    @include euiFormControlInvalidStyle;
    background-color: transparent;
    color: $euiColorDangerText;

    &:focus,
    &.euiDatePopoverButton-isSelected {
      background-image: euiFormControlGradient($euiColorDanger);
    }
  }

  &:disabled {
    background-color: $euiFormBackgroundDisabledColor;
    background-image: none;
    color: $euiColorDarkShade;
    cursor: default;
  }
}

.euiDatePopoverButton--start {
  text-align: center;
}

.euiDatePopoverButton--end {
  text-align: center;
}
