{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 versions",
          "> 5%",
          "Safari 7" // for PhantomJS support
        ]
      },
      "useBuiltIns": true
    }],
    "react"
  ],
  "plugins": [
    "add-module-exports",
    // stage 3
    "transform-async-generator-functions",
    "transform-object-rest-spread",
    // stage 2
    "transform-class-properties",
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            { "cleanupIDs": false },
            { "removeViewBox": false },
          ]
        }
      }
    ]
  ]
}
