.idea
node_modules/
test/spec/screenshots/baseline/**/*.png
test/spec/screenshots/diff/**/*.png
test/spec/screenshots/screen/**/*.png
test/failure-screenshots/**/*.png
cypress/screenshots
cypress/videos

coverage/
reports/
.nyc_output/
tmp/
dist/
lib/
es/
test-env/
.idea
.vscode/
.DS_Store
.eslintcache
.yo-rc.json
npm-debug.log
yarn-error.log
.cache-loader
**/*.out

# typescript output
types/
eui.d.ts
