.idea
node_modules/
test/spec/screenshots/baseline/**/*.png
test/spec/screenshots/diff/**/*.png
test/spec/screenshots/screen/**/*.png
test/failure-screenshots/**/*.png

reports/
tmp/
dist/
lib/
.idea
.vscode/
.DS_Store
.eslintcache
.yo-rc.json
npm-debug.log
yarn-error.log
eui.d.ts
!/src/components/series_chart_v2/lib