.idea
node_modules/
test/spec/screenshots/baseline/**/*.png
test/spec/screenshots/diff/**/*.png
test/spec/screenshots/screen/**/*.png
test/failure-screenshots/**/*.png

coverage/
reports/
tmp/
dist/
lib/
es/
.idea
.vscode/
.DS_Store
.eslintcache
.yo-rc.json
npm-debug.log
yarn-error.log
.cache-loader

# typescript output
types/
eui.d.ts
