node_modules/
docs/
reports/
tmp/
wiki/
generator-eui/
test/
src-docs/

# ignore everything in `scripts` except postinstall.js
scripts/!(postinstall.js)

.DS_Store
.eslintcache
.yo-rc.json
package-lock.json
npm-debug.log
