node_modules/
docs/
reports/
tmp/
wiki/
generator-eui/
test/
src-docs/
src-framer/
packages/react-datepicker
.nvmrc

# typescript output
types/

# ignore everything in `scripts` except postinstall.js
scripts/!(postinstall.js)

src/**/*.!(scss)

.DS_Store
.eslintcache
.idea
.vscode
.yo-rc.json
package-lock.json
npm-debug.log
.cache-loader
*.md
yarn-error.log
tsconfig.json
tsconfig-builttypes.json
