node_modules/
docs/
reports/
tmp/
wiki/
generator-eui/
test/
types/
src-docs/
src-framer/
types/
.nvmrc

# typescript output
types/ # various tsc processing will output here

# ignore everything in `scripts` except postinstall.js
scripts/!(postinstall.js)

.DS_Store
.eslintcache
.idea
.vscode
.yo-rc.json
package-lock.json
npm-debug.log
