
.guideDemo__highlightLayout,
.guideDemo__highlightLayout--playground,
.guideDemo__highlightLayout--legacy {
  border: 1px solid $guideDemoHighlightColor;
  overflow: hidden;
  min-height: 460px;
  height: 100%;
  display: flex;

  .euiPageSideBar--sticky {
    top: 0;
  }
}

.guideDemo__highlightLayout--legacy {
  > div,
  > div > div {
    background: $guideDemoHighlightColor;
  }
}
