.euiCheckbox {
  position: relative;
  min-width: $euiCheckBoxSize;
  min-height: $euiCheckBoxSize;

  .euiCheckbox__input {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    top: 0;
    width: $euiCheckBoxSize;
    height: $euiCheckBoxSize;
    cursor: pointer;

    ~ .euiCheckbox__label {
      display: block;
      padding-left: ($euiCheckBoxSize * 1.5);
      line-height: $euiSizeL;
      font-size: $euiFontSizeS;
      position: relative;
      z-index: 2;
      cursor: pointer;
    }

    + .euiCheckbox__square {
      display: inline-block;
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      @include euiCustomControl($type: 'square', $size: $euiCheckBoxSize);
    }

    &:checked {
      + .euiCheckbox__square {
        @include euiCustomControl--selected($type: 'check');
      }
    }

    &:indeterminate {
      + .euiCheckbox__square {
        @include euiCustomControl--selected($type: 'square');
      }
    }

    &[disabled] {
      cursor: not-allowed !important;

      ~ .euiCheckbox__label {
        color: $euiColorDarkShade;
        cursor: not-allowed !important;
      }

      + .euiCheckbox__square {
        @include euiCustomControl--disabled();
      }
    }

    &:checked[disabled] {
      + .euiCheckbox__square {
        @include euiCustomControl--disabled($type: 'check');
      }
    }

    &:indeterminate[disabled] {
      + .euiCheckbox__square {
        @include euiCustomControl--disabled($type: 'dot');
      }
    }

    &:focus,
    &:active:not(:disabled) {
      + .euiCheckbox__square {
        @include euiCustomControl--focused;
      }
    }
  }

  /**
   * 1. Float above the visual radio and match its dimension, so that when users try to click it
   *    they actually click this input.
   */

  &.euiCheckbox--inList {
    min-height: $euiCheckBoxSize;
    min-width: $euiCheckBoxSize;

    .euiCheckbox__square {
      top: 0;
    }

    .euiCheckbox__input {
      position: absolute; /* 1 */
      opacity: 0; /* 1 */
      @include size($euiCheckBoxSize); /* 1 */
      z-index: 1; /* 1 */
      margin: 0; /* 1 */
      left: 0; /* 1 */
      cursor: pointer;
    }
  }

  &.euiCheckbox--withLabel {
    .euiCheckbox__input {
      top: ($euiSizeL - $euiCheckBoxSize)/2;

      + .euiCheckbox__square {
        top: ($euiSizeL - $euiCheckBoxSize)/2;
      }
    }
  }
}
