.euiCheckbox {
  position: relative;
  height: $euiSizeL;

  /**
   * 1. Float above the visual checkbox and match its dimension, so that when users try to click it
   *    they actually click this input.
   */
  .euiCheckbox__input {
    position: absolute; /* 1 */
    opacity: 0; /* 1 */
    height: $euiSizeL; /* 1 */
    width: $euiSizeL; /* 1 */
    z-index: 1; /* 1 */
    margin: 0; /* 1 */
    cursor: pointer;

    &:checked ~ .euiCheckbox__square {
      .euiCheckbox__check {
        background-color: $euiTextColor;
        // This path is relative to ~/docs/postcss.config.js, which uses
        // the postcss-line-svg plugin.
        mask: svg-load('../src/components/icon/assets/check.svg') center center no-repeat;
      }
    }

    &:focus ~ .euiCheckbox__square,
    &:active ~ .euiCheckbox__square {
      background-color: $euiFocusBackgroundColor;
      border-color: $euiColorPrimary;
    }
  }

  .euiCheckbox__square {
    position: absolute;
    height: $euiSizeL;
    width: $euiSizeL;
    border-radius: $euiBorderRadius;
    border: $euiBorderThin;
    background: $euiFormBackgroundColor;
    z-index: 0;
  }

    .euiCheckbox__check {
      height: 100%;
      width: 100%;
    }

  .euiCheckbox__label {
    position: absolute;
    padding-left: $euiSizeXL;
    line-height: $euiSizeL;
    display: block;
    font-weight: $euiFontWeightRegular;
    z-index: 2;
    font-size: $euiFontSizeS;
    cursor: pointer;
  }

  &.euiCheckbox--inList {
    .euiCheckbox__input {
      &:checked ~ .euiCheckbox__square {
        background: $euiColorPrimary;
        border-color: $euiColorPrimary;

        .euiCheckbox__check {
          background-color: $euiColorEmptyShade;
        }
      }

      &:focus:checked ~.euiCheckbox__square {
        background: tintOrShade($euiColorPrimary, 20%, 20%);
      }
    }
  }
}
