.euiFilePicker {
  .euiFilePicker__wrap {
    position: relative;
    display: inline-block;
  }

  .euiFilePicker__input {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
  	width: 100%;
  	height: 100%;
  	opacity: 0;
  	overflow: hidden;
    cursor: pointer;
  }

  .euiFilePicker__icon {
    margin-bottom: $euiSize;
    transition: transform $euiAnimSpeedFast $euiAnimSlightResistance;
  }

  /**
   * 1. Don't block the user from dropping files onto the filepicker.
   * 2. Put label on top of input, so the clear button can intercept the click.
   */
  .euiFilePicker__prompt {
    pointer-events: none; /* 1 */
    position: relative; /* 2 */
    z-index: 1; /* 2 */
    display: block;
    background: $euiColorLightestShade;
    padding: $euiSizeL;
    border: dashed 1px $euiBorderColor;
    border-radius: $euiBorderRadius;
    text-align: center;
    min-width: 400px;
  }

  .euiFilePicker__label {
    display: block;
    @include euiFontSizeS;
  }

  &.euiFilePicker-hasFiles .euiFilePicker__label {
    font-weight: $euiFontWeightBold;
  }

  &.euiFilePicker__showDrop .euiFilePicker__prompt {
    border: solid 1px $euiColorPrimary;
    background-color: $euiFocusBackgroundColor;
    text-decoration: underline;

    .euiFilePicker__icon {
      transform: scale(1.1);
    }
  }

  .euiFilePicker__input:hover + .euiFilePicker__prompt,
  .euiFilePicker__input:focus + .euiFilePicker__prompt {
    border: solid 1px $euiBorderColor;
    text-decoration: underline;

    .euiFilePicker__icon {
      transform: scale(1.1);
    }
  }

  .euiFilePicker__input:focus + .euiFilePicker__prompt {
    color: $euiColorPrimary;
  }

  // Mimics a label to act like a focused button
  .euiFilePicker__input:focus + .euiFilePicker__prompt {
  }

  /**
   * 1. Undo the pointer-events: none applied to the enclosing label.
   */
  .euiFilePicker__clearButton {
    pointer-events: auto; /* 1 */
  }
}
