.euiFilePicker {

  .euiFilePicker__wrap {
    position: relative;
    display: inline-block;
  }

  .euiFilePicker__input {
    position: absolute;
    left: 0;
    top: 0;
  	width: 100%;
  	height: 100%;
  	opacity: 0;
  	overflow: hidden;

    &:hover {
      cursor: pointer;
    }
  }

  .euiFilePicker__icon {
    margin-bottom: $euiSize;
    transition: transform $euiAnimSpeedFast $euiAnimSlightResistance;
  }

  .euiFilePicker__label {
    display: block;
    background: $euiColorLightestShade;
    padding: $euiSizeL;
    border: dashed 1px $euiBorderColor;
    border-radius: $euiBorderRadius;
    text-align: center;
    min-width: 400px;
  }

  .euiFilePicker__text {
    @include euiFontSizeS;
  }

  &.euiFilePicker-hasFiles .euiFilePicker__text {
    font-weight: $euiFontWeightBold;
  }

  &.euiFilePicker__showDrop .euiFilePicker__label {
    border: solid 1px $euiColorPrimary;
    background-color: $euiFocusBackgroundColor;
    text-decoration: underline;

    .euiFilePicker__icon {
      transform: scale(1.1);
    }
  }

  .euiFilePicker__input:hover + .euiFilePicker__label,
  .euiFilePicker__input:focus + .euiFilePicker__label {
    border: solid 1px $euiBorderColor;
    text-decoration: underline;

    .euiFilePicker__icon {
      transform: scale(1.1);
    }
  }

  .euiFilePicker__input:focus + .euiFilePicker__label {
    color: $euiColorPrimary;
  }


  // Mimics a label to act like a focused button
  .euiFilePicker__input:focus + .euiFilePicker__label {
  }
}
