/**
 * 1. Leave room for caret.
 */
.euiSelect {
  @include euiFormControlStyle;
  @include euiFormControlIsLoading($isNextToIcon: true);

  padding-right: $euiSizeXXL; /* 1 */
  appearance: none;

  &::-ms-expand {
    display: none;
  }
}
