// Our base button
.euiButton {
  @include euiButton;

  border-radius: $euiBorderRadius;
  min-width: $euiButtonMinWidth;

  .euiButton__content {
    padding: 0 ($euiSize - $euiSizeXS);
  }

  .euiButton__text {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.euiButton--small {
    height: $euiButtonHeightSmall;
    line-height: $euiButtonHeightSmall; // prevents descenders from getting cut off
    border-radius: $euiBorderRadius * (2 / 3);
  }


  &:disabled {
    @include euiButtonContentDisabled;
  }
}

.euiButton--fullWidth {
  display: block;
  width: 100%;
}
