@import '../loading/mixins';

// Our base button
.euiButton {
  @include euiButton;
  @include euiSlightShadow;

  border-radius: $euiBorderRadius;
  min-width: $euiButtonMinWidth;

  .euiButton__content {
    @include euiButtonContent;
    padding: 0 ($euiSize - $euiSizeXS);
  }

  .euiButton__text {
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &.euiButton--small {
    height: $euiButtonHeightSmall;
  }

  &.euiButton--iconRight {
    .euiButton__content {
      @include euiButtonContent($isReverse: true);
    }
  }

  &:hover {
    @include euiSlightShadowHover;
  }

  &:active {
    @include euiSlightShadowActive;
  }

  &:hover, &:focus {
    background-color: transparentize($euiColorPrimary, .9);
  }

  &:disabled {
    color: $euiButtonColorDisabled;
    border-color: $euiButtonColorDisabled;
    pointer-events: none;

    .euiButton__content {
      pointer-events: auto;
      cursor: not-allowed;
    }

    &.euiButton--fill {
      background-color: $euiButtonColorDisabled;
      border-color: $euiButtonColorDisabled;

      &:hover, &:focus {
        background-color: $euiButtonColorDisabled;
        border-color: $euiButtonColorDisabled;
      }
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

// Modifier naming and colors.
$buttonTypes: (
  primary: $euiColorPrimary,
  secondary: $euiColorSecondary,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  ghost: $euiColorGhost, // Ghost is special, and does not care about theming.
);

// Create button modifiders based upon the map.
@each $name, $color in $buttonTypes {
  .euiButton--#{$name} {
    color: $color;
    border-color: $color;

    &.euiButton--fill {
      background-color: $color;
      border-color: $color;

      $textColor: #FFF;

      @if ($name == 'ghost') {
        $textColor: #000;
      } @elseif (lightness($euiTextColor) > 50) {
        $textColor: $euiTextColor;
      }

      color: $textColor;

      &:hover, &:focus {
        background-color: darken($color, 5%);
        border-color: darken($color, 5%);
      }

      &:disabled .euiButton__spinner {
        border-color: euiLoadingSpinnerBorderColors(transparentize($textColor, .3));
      }
    }

    &:hover, &:focus {
      background-color: transparentize($color, .9);

      @if ($name == 'disabled') {
        cursor: not-allowed;
      }
    }
  }
}
