$euiButtonHeight: $euiSizeXXL;
$euiButtonHeightSmall: $euiSizeXL;

$euiButtonColorDisabled: tintOrShade($euiTextColor, 70%, 70%);
$euiButtonToggleBorderColor: $euiColorLightShade;

// Modifier naming and colors.
$buttonTypes: (
  primary: $euiColorPrimary,
  secondary: $euiColorSecondary,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  ghost: $euiColorGhost, // Ghost is special, and does not care about theming.
  text: $euiColorDarkShade, // Reserved for special use cases
);
