
$euiTextColors: (
  default: $euiTextColor,
  subdued: $euiTextSubduedColor,
  secondary: $euiColorSecondary,
  success: $euiColorSuccess,
  accent: $euiColorAccent,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  ghost: $euiColorGhost,
);

// Create color modifiers based on the map
@each $name, $color in $euiTextColors {
  .euiTextColor--#{$name} {

    // The below function makes sure the color is accessible on our default background.
    color: makeHighContrastColor($color, $euiColorEmptyShade);

    @if $name == 'ghost' {
      color: $color !important; // sass-lint:disable-line no-important
    }
  }
}
