@mixin euiScaleText($baseFontSize, $sizingMethod: 'rem') {
  @include fontSize($baseFontSize, $sizingMethod);

  $baseLineHeightMultiplier: $baseFontSize / 2;
  line-height: ($baseLineHeightMultiplier * 3) / $baseFontSize;

  p,
  ul,
  ol,
  dl,
  blockquote,
  img,
  pre {
    margin-bottom: sizeToRemOrEm(($baseLineHeightMultiplier * 3), 1.5, $sizingMethod);

    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin-left: sizeToRemOrEm(($baseLineHeightMultiplier * 3), 1.5, $sizingMethod);
  }

  blockquote {
    font-size: fontSizeToRemOrEm(($baseFontSize), $sizingMethod);
    padding:  sizeToRemOrEm(($baseLineHeightMultiplier * 3), 1.5, $sizingMethod);
  }

  // headings

  h1 {
    font-size: fontSizeToRemOrEm(($baseFontSize * nth($euiTextScale, 1)), $sizingMethod);
    line-height: ($baseLineHeightMultiplier * 6) / ($baseFontSize * nth($euiTextScale, 1));
    margin-bottom: sizeToRemOrEm(($baseLineHeightMultiplier * 1), .5, $sizingMethod);
  }

  h2 {
    font-size: fontSizeToRemOrEm(($baseFontSize * nth($euiTextScale, 2)), $sizingMethod);
    line-height: ($baseLineHeightMultiplier * 5) / ($baseFontSize * nth($euiTextScale, 2));
    margin-bottom: sizeToRemOrEm(($baseLineHeightMultiplier * 1), .5, $sizingMethod);
  }

  h3 {
    font-size: fontSizeToRemOrEm(($baseFontSize * nth($euiTextScale, 3)), $sizingMethod);
    line-height: ($baseLineHeightMultiplier * 4) / ($baseFontSize * nth($euiTextScale, 3));
    margin-bottom: sizeToRemOrEm(($baseLineHeightMultiplier * 1), .5, $sizingMethod);
  }

  h4 {
    font-size: fontSizeToRemOrEm(($baseFontSize * nth($euiTextScale, 5)), $sizingMethod); // skip level 4 on purpose
    line-height: ($baseLineHeightMultiplier * 3) / ($baseFontSize * nth($euiTextScale, 5));
    margin-bottom: sizeToRemOrEm(($baseLineHeightMultiplier * 1), .5, $sizingMethod);
  }

  h5 {
    font-size: fontSizeToRemOrEm(($baseFontSize * nth($euiTextScale, 6)), $sizingMethod);
    line-height: ($baseLineHeightMultiplier * 2) / ($baseFontSize * nth($euiTextScale, 6));
    margin-bottom: sizeToRemOrEm(($baseLineHeightMultiplier * 1), .5, $sizingMethod);
  }

  h6 {
    font-size: fontSizeToRemOrEm(($baseFontSize * nth($euiTextScale, 7)), $sizingMethod);
    line-height: ($baseLineHeightMultiplier * 2) / ($baseFontSize * nth($euiTextScale, 7));
    margin-bottom: sizeToRemOrEm(($baseLineHeightMultiplier * 1), .5, $sizingMethod);
  }

  * + h2 {
    margin-top: sizeToRemOrEm(($baseLineHeightMultiplier * 4), 1.2, $sizingMethod);
  }

  * + h3 {
    margin-top: sizeToRemOrEm(($baseLineHeightMultiplier * 4), 1.45, $sizingMethod);
  }

  * + h4 {
    margin-top: sizeToRemOrEm(($baseLineHeightMultiplier * 4), 2, $sizingMethod);
  }

  * + h5 {
    margin-top: sizeToRemOrEm(($baseLineHeightMultiplier * 4), 1.2, $sizingMethod);
  }

  * + h6 {
    margin-top: sizeToRemOrEm(($baseLineHeightMultiplier * 4), 1.2, $sizingMethod);
  }

  dd + dt {
    margin-top: sizeToRemOrEm(($baseLineHeightMultiplier * 2), $sizingMethod);
  }

  dt,
  .eui-definitionListReverse dd {
    font-size: fontSizeToRemOrEm(($baseFontSize * nth($euiTextScale, 5)), $sizingMethod); // skip level 4 on purpose
    line-height: ($baseLineHeightMultiplier * 3) / ($baseFontSize * nth($euiTextScale, 5));
  }

  .eui-definitionListReverse dt {
    font-size: fontSizeToRemOrEm(($baseFontSize * nth($euiTextScale, 7)), $sizingMethod);
    color: $euiTextColor;
  }

  small {
    font-size: fontSizeToRemOrEm(($baseFontSize * nth($euiTextScale, 6)), $sizingMethod);
  }

  pre {
    padding: fontSizeToRemOrEm(($baseLineHeightMultiplier * 2), $sizingMethod);
  }

  code {
    // Setting the font size in rem's ensure it doesn't compound
    // the 90% set by euiCodeBlock
    font-size: fontSizeToRemOrEm(($baseFontSize * .9), $sizingMethod);
  }
}

.euiText {
  @include euiText;
  // The euiText mixin forces a color. Since euiText is usually a child
  // of other styling concerns, we should inherit their coloring. The default
  // coloring will likely coming from the reset.scss anyway.
  color: inherit;
  // EuiImage with floats are often used within EuiText.
  clear: both;

  // Style anchors that don't have a class. This prevents overwriting "buttons"
  // and other stylized elements passed in.
  a:not([class]) {
    color: $euiLinkColor;

    &:hover,
    &:focus {
      color: darken($euiLinkColor, 10%);
      text-decoration: underline;
    }

    &:focus {
      @include euiFocusBackground($euiLinkColor);
      @include euiFocusRing;
    }
  }

  img {
    display: block;
    width: 100%;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  blockquote:not(.euiMarkdownFormat__blockquote) {
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, Times, Times New Roman, serif;
    font-style: italic;
    letter-spacing: normal;

    p:last-child {
      margin-bottom: 0;
    }

    &:before,
    &:after {
      position: absolute;
      content: '';
      height: 2px;
      width: 50%;
      right: 0;
      transform: translateX(-50%);
      background: $euiColorDarkShade;
    }

    &:before {
      top: 0;
    }

    &:after {
      bottom: 0;
    }
  }

  h1 {
    @include euiTitle('l');
  }

  h2 {
    @include euiTitle('m');
  }

  h3 {
    @include euiTitle('s');
  }

  h4,
  dt {
    @include euiTitle('xs');
  }

  h5 {
    @include euiTitle('xxs');
  }

  h6 {
    @include euiTitle('xxxs');
    text-transform: uppercase;
  }

  pre {
    white-space: pre-wrap;
    background: $euiCodeBlockBackgroundColor;
    color: $euiCodeBlockColor;
  }

  pre,
  pre code {
    display: block;
  }

  // unset font-size from euiCodeBlock so it doesn't doubly add 90%

  code {
    @include euiCodeFont;
    display: inline-block; // ensures background stretches the full line-height
    font-weight: $euiFontWeightRegular;
  }

  &.euiText--constrainedWidth {
    max-width: $euiTextConstrainedMaxWidth;
    // If the max-width is way too short of the width of the container,
    // at least make it 2/3 of its parent
    min-width: 75%;
  }

  > :last-child,
  .euiTextColor > :last-child {
    margin-bottom: 0 !important; // sass-lint:disable-line no-important
  }
}

.euiText--medium {
  @include euiScaleText($euiFontSize, 'rem');
}

.euiText--small {
  @include euiScaleText($euiFontSizeS, 'rem');
}

.euiText--extraSmall {
  @include euiScaleText($euiFontSizeXS, 'rem');
}

.euiText--em {
  @include euiScaleText($euiFontSize, 'em');
}
