
$textColors: (
  default: $euiTextColor,
  subdued: $euiColorDarkShade,
  secondary: $euiColorSecondary,
  accent: $euiColorAccent,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  ghost: $euiColorGhost,
);

// Create color modifiers based on the map
@each $name, $color in $textColors {
  .euiTextColor.euiTextColor--#{$name} {

    // The below function makes sure the color is accessible on our default background.
    color: makeHighContrastColor($color, $euiColorEmptyShade) !important;

    @if $name == "ghost" {
      color: $color !important;
    }

    // We need a blanket approach for coloring. It should overule everything.
    * {
      color: makeHighContrastColor($color, $euiColorEmptyShade) !important;

      @if $name == "ghost" {
        color: $color !important;
      }
    }
  }
}
