
$textColors: (
  default: $euiTextColor,
  subdued: $euiColorDarkShade,
  secondary: $euiColorSecondary,
  accent: $euiColorAccent,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  ghost: $euiColorGhost,
);

// Create color modifiers based on the map
@each $name, $color in $textColors {
  .euiTextColor.euiTextColor--#{$name} {
    color: $color !important;

    // We need a blanket approach for coloring. It should overule everything.
    * {
      color: $color !important;
    }
  }
}
