.euiTextArea {
  // sass-lint:disable-block no-important
  @include euiFormControlStyle;
  @include euiScrollBar;
  line-height: $euiLineHeight; // give more spacing between multiple lines
  height: auto;

  // Textareas have their own sizing
  &--compressed {
    height: auto;
    font-size: $euiFontSizeXS;
  }

  &--autoHeight {
    resize: none !important;
  }

  &-isLoading {
    padding-right: $euiSizeXXL !important;
  }
}

// Hack to override form control's usually good idea to make things a specific height
.euiTextArea__formControlLayout:not(.euiFormControlLayout--group) {
  height: auto;
}

// This block covers a lot of overwrites that are needed for textareas when
// they live within a layout-group. Normally layout groups stick to a fixed
// form height, but with textareas they need to be a little more flexible and
// considerate of how shadows and borders are managed.
.euiTextArea__formControlLayout.euiFormControlLayout--group {
  // sass-lint:disable-block no-important
  position: relative;
  z-index: $euiZContent + 2;

  .euiTextArea.euiTextArea--compressed {
    height: $euiSizeXL !important;
    padding-top: $euiSizeS - 1px !important;
  }

  .euiTextArea {
    resize: none; // When in the group, it will autosize
    height: $euiSizeXXL;
    padding-top: $euiSizeS + 1px !important;
    transform: translateY(-2px);

    // When not focused hide the multiline content
    &:not(:focus) {
      @include euiYScrollWithShadows;
      white-space: nowrap;
      overflow-y: hidden;
      overflow-x: hidden;
      border: none;
      box-shadow: none;
    }

    // When focused, let it scroll
    &:focus {
      overflow-x: auto;
      overflow-y: auto;
      width: calc(100% + 1px); // To overtake the group's fake border
      white-space: normal;
    }
  }
}

.euiTextArea__formControlLayout.euiFormControlLayout--group .euiTextArea {
  padding: $euiSizeS - 1px; // Accounts for the border from the control group
}

.euiTextArea__formControlLayout, .euiTextArea__formControlLayout > * {
  overflow: visible !important;
}

// resize modifiers
$textareaResizing: (
  vertical: 'resizeVertical',
  horizontal: 'resizeHorizontal',
  both: 'resizeBoth',
  none: 'resizeNone',
);

// Create button modifiders based upon the map.
@each $direction, $modifier in $textareaResizing {
  .euiTextArea--#{$modifier} {
    resize: #{$direction};
  }
}
