/**
 * 1. We don't want any of the animations that come inherited from the mixin.
 *    These should act like normal links instead.
 * 2. Change the easing, quickness to not bounce so lighter backgrounds don't flash
 * 3. Make sure the quantity doesn't get an underline on hover
 */
.euiButtonFacet {
  @include euiButton;
  @include euiFontSizeS;
  text-align: left;
  border: none;
  transform: none !important; /* 1 */
  animation: none !important; /* 1 */
  transition-timing-function: ease-in; /* 2 */
  transition-duration: $euiAnimSpeedFast; /* 2 */

  .euiButtonFacet__content {
    @include euiButtonContent;

    > * + * {
      margin-left: $euiSizeXS;
    }
  }

  // Avatars need a little more space to breathe than icons
  .euiAvatar {
    margin-right: $euiSizeS;
  }

  .euiButtonFacet__text {
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: $euiSizeXXL; // For better alignment with icon/quantity
  }

  .euiButtonFacet__quantity {
    flex-shrink: 0;

    // Increase the default size a bit
    $size: $euiSize + $euiSizeXS;
    line-height:$size;
    height: $size;
    min-width: $euiSizeL;
  }

  &:not(.euiButtonFacet--isSelected) .euiButtonFacet__quantity,
  &:disabled .euiButtonFacet__quantity {
    background-color: tint($euiColorLightShade, 30%);
    color: $euiColorFullShade;
  }

  &:hover, &:focus {
    text-decoration: none !important; /* 3 */

    &:not(:disabled) .euiButtonFacet__text {
      text-decoration: underline; /* 3 */
    }
  }

  &:focus {
    background-color: $euiColorLightestShade;
  }

  &:disabled {
    color: $euiButtonColorDisabled;
    pointer-events: none;

    .euiButtonFacet__content {
      pointer-events: auto;
      cursor: not-allowed;
    }

    .euiButton__icon,
    .euiButtonFacet__quantity {
      opacity: .5;
    }

    &:focus {
      background-color: transparent;
    }

    &:hover, &:focus {
      text-decoration: none;
    }
  }
}

.euiButtonFacet--isSelected .euiButtonFacet__text {
  font-weight: $euiFontWeightBold;
}
