.euiChartTooltip {
  @include euiFontSizeS();
  background: black;
  border-radius: $euiBorderRadius;
  padding: $euiSizeXS;
  color: $euiColorGhost;
  opacity: 0.9;
  background-color: tintOrShade($euiColorFullShade, 25%, 90%);
  max-width: 200px;
}