.globalFilterItem {
  line-height: $euiSizeL + $euiSizeXS;
  border: none;
  color: $euiTextColor;

  &:not(.globalFilterItem-isDisabled) {
    @include euiFormControlDefaultShadow;
  }
}

.globalFilterItem-isDisabled {
  background-color: transparentize($euiColorLightShade, .4);
  text-decoration: line-through;
  font-weight: $euiFontWeightRegular;
  font-style: italic;
}

.globalFilterItem-isPinned {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    inset-block-start: 0;
    inset-block-end: 0;
    inset-inline-start: 0;
    width: $euiSizeXS;
    background-color: $euiColorSuccess;
    border-top-left-radius: $euiBorderRadius / 2;
    border-bottom-left-radius: $euiBorderRadius / 2;
  }
}
