.savedQueriesInput__hideDatepicker {
  .euiSuperDatePicker__flexWrapper {
    width: 100%;

    > div:nth-of-type(1) {
      display: none;
    }
  }
}

.savedQueriesInput {
  padding-block-end: $euiSizeXL * 6;
}

.savedQueryManagement__text {
  padding-block-start: $euiSizeM;
  padding-block-end: ($euiSizeM / 2);
  padding-inline-start: $euiSizeM;
  padding-inline-end: $euiSizeM;
}

.savedQueryManagement__listWrapper {
  // Addition height will ensure one item is "cutoff" to indicate more below the scroll
  max-block-size: $euiFormMaxWidth + $euiSize;
  overflow-y: hidden;
}

.savedQueryManagement__list {
  @include euiYScrollWithShadows;
  max-block-size: inherit; // Fixes overflow for applied max-height
  // Left/Right padding is calculated to match the left alignment of the
  // popover text and buttons
  padding-block-start: ($euiSizeM / 2) !important; // sass-lint:disable-line no-important
  padding-block-end: ($euiSizeM / 2) !important; // sass-lint:disable-line no-important
  padding-inline-start: $euiSizeXS !important; // sass-lint:disable-line no-important
  padding-inline-end: $euiSizeXS !important; // sass-lint:disable-line no-important
}