.euiFlyoutHeader {
  flex-grow: 0;
  padding: $euiSizeL $euiSizeXXL 0 $euiSizeL;
  @include euiOverflowShadowBottom;
}

.euiFlyoutHeader--hasBorder {
  padding-bottom: $euiSizeL;
  border-bottom: $euiBorderThin;
}
