.euiColorPaletteDisplay {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: $euiSizeS;
}

@each $name, $size in $euiColorPaletteDisplaySizes {
  .euiColorPaletteDisplay--#{$name} {
    @include euiColorPaletteInnerBorder('dark', $size, .2);
    height: $size;
    border-radius: $size;
  }

  .euiColorPaletteDisplay--#{$name} .euiColorPaletteDisplayFixed__bleedArea {
    height: $size;
  }
}
