.euiColorPaletteDisplay {
  @include innerBorder('dark', $euiBorderRadius, .2);
  border-radius: $euiBorderRadius;
  overflow: hidden;
  height: $euiSizeS;

  &--fixed {
    display: flex;
    flex-direction: row;
  }

  &__colorStopWidthAuto {
    flex: 1;
    width: auto;
  }
}
