.euiColorPaletteDisplay {
  @include innerBorder('dark', $euiBorderRadius, .2);
  position: relative;
  display: flex;
  flex-direction: row;
  border-radius: $euiBorderRadius;
  overflow: hidden;
  height: $euiSizeS;

  // In a few screen sizes the palette display doesn't get a fully 100% width
  // it gets 1px less on width and for this reason we're adding an horizontal 1px bleed area
  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: $euiSizeS;
    width: calc(100% + 1px);
  }

  &__colorStop--widthAuto {
    flex: 1;
    width: auto;
  }
}
