.euiColorPaletteDisplayFixed {
  // In a few screen sizes the palette display doesn't get a fully 100% width
  // it gets 1px less on width and for this reason we're adding an horizontal 1px bleed area
  &__bleedArea {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: $euiSizeS;
    width: calc(100% + 1px);
  }
}
