// Useful border shade when dealing with images of unknown color.
@mixin euiColorPaletteInnerBorder($type: 'dark', $borderRadius: 0, $alpha: .1) {
  $color: rgba($euiColorDarkestShade, $alpha);

  @if $type == 'light' {
    $color: rgba($euiColorEmptyShade, $alpha);
  }

  position: relative;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $borderRadius;
    content: '';
    pointer-events: none;
    border: 1px solid $color;
  }
}
