.euiFormControlLayoutIcons {
  pointer-events: none;
  display: flex;
  align-items: center;

  > * + * {
    margin-left: $euiFormControlPadding / 2;
  }

  &--absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: $euiFormControlPadding;

    .euiFormControlLayout--compressed & {
      left: $euiFormControlCompressedPadding;
    }
  }

  &--static {
    // Absolutely positioning the icons sometimes doesn't work -
    // in the case of delimited inputs, they overlay only one of controls making the layout unbalanced
    position: static;
    height: 100%;
    align-self: stretch;
    flex-grow: 0;
    padding-inline: $euiFormControlPadding;

    .euiFormControlLayout--compressed & {
      padding-inline: $euiFormControlCompressedPadding;
    }
  }
}

.euiFormControlLayoutIcons--left {
  z-index: 1; // Ensure the icon is visible above sibling inputs
}

.euiFormControlLayoutIcons--right {
  left: auto;
  right: $euiFormControlPadding;

  .euiFormControlLayout--compressed & {
    left: auto;
    right: $euiFormControlCompressedPadding;
  }
}

// If the control is disabled, change the color of the icons
*:disabled + .euiFormControlLayoutIcons {
  cursor: not-allowed;
  color: $euiFormControlDisabledColor;
}
