.euiFormControlLayoutDelimited__input {
  // stylelint-disable declaration-no-important
  box-shadow: none !important;
  border-radius: 0 !important;
  // stylelint-enable declaration-no-important
  text-align: center;
  height: 100%;
  min-width: 0; // Fixes FF
}
