// TODO: Address nesting during Emotion conversion, if possible
// stylelint-disable max-nesting-depth

.euiFormControlLayout--group {
  .euiFormControlLayout__prepend,
  .euiFormControlLayout__append {
    @include euiTextTruncate;
    flex-shrink: 0;
    height: 100%;

    // ICONS

    &.euiIcon,
    .euiIcon {
      padding: 0 $euiSizeS;
      width: $euiSizeXL;
      background-color: $euiFormInputGroupLabelBackground;
    }

    &.euiButtonIcon,
    &.euiButtonEmpty,
    .euiButtonIcon,
    .euiButtonEmpty {
      transform: none !important; // stylelint-disable-line declaration-no-important

      // Undo sizing from icons inside buttons
      .euiIcon {
        background: none !important; // stylelint-disable-line declaration-no-important
        padding: 0;
        width: $euiSize;
      }
    }
  }

  .euiButtonIcon {
    padding: 0 $euiSizeS;
    width: $euiSizeXL;

    &:not(:focus) {
      background-color: $euiFormInputGroupLabelBackground;
    }

    &:focus-visible {
      outline: 2px solid $euiFocusRingColor;
      outline-offset: -2px;
    }
  }

  .euiToolTipAnchor > .euiIcon {
    height: 100%;
    background-color: $euiFormInputGroupLabelBackground;
    padding: 0 $euiSizeS;
    width: $euiSizeXL;
  }

  > .euiFormControlLayout__prepend,
  > .euiFormControlLayout__append {
    max-width: 50%; // Make sure max-width only applies to the outer most append/prepend element
  }

  // stylelint-disable declaration-no-important
  // This is the only way to target specific components to override styling

  // TEXT

  .euiFormLabel,
  .euiText:not(.euiFormControlLayoutDelimited__delimiter) {
    background-color: $euiFormInputGroupLabelBackground;
    padding: $euiFormControlPadding;
    line-height: $euiSize !important;
    cursor: default !important; // pointer cursor on some form labels but not others is confusing

    // If the next sibling is not the input, pull it closer to the text to reduce space
    + *:not(.euiFormControlLayout__childrenWrapper):not(input) {
      margin-left: -$euiFormControlPadding;
    }
  }

  // If any child that is not the input has a next sibling that is text, pull it closer to the text to reduce space
  > *:not(.euiFormControlLayout__childrenWrapper) {
    + .euiFormLabel,
    + .euiText {
      margin-left: -$euiFormControlPadding;
    }
  }

  // BORDERS on buttons only

  .euiButtonEmpty {
    border-right: $euiFormInputGroupBorder;
  }

  // Compressed alterations

  &.euiFormControlLayout--compressed {
    // Padding
    .euiFormLabel,
    .euiText:not(.euiFormControlLayoutDelimited__delimiter) {
      padding: $euiFormControlCompressedPadding;

      // If the next sibling is not the input, pull it closer to the text to reduce space
      + *:not(.euiFormControlLayout__childrenWrapper) {
        margin-left: -$euiFormControlCompressedPadding;
      }
    }

    // If any child that is not the input has a next sibling that is text, pull it closer to the text to reduce space
    > *:not(.euiFormControlLayout__childrenWrapper) {
      + .euiFormLabel,
      + .euiText {
        margin-left: -$euiFormControlCompressedPadding;
      }
    }
  }
}
