.euiFormControlLayoutDelimited {
  // Match just the regular drop shadow of inputs
  @include euiFormControlDefaultShadow;
  display: flex;
  align-items: stretch;
  padding: 1px; /* 1 */

  > .euiFormControlLayout__childrenWrapper {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $euiFormBackgroundColor;
  }

  // Target when the euiFormControlLayout is compressed without specifying the full class name in case it ever changes
  &[class*='--compressed'] {
    @include euiFormControlDefaultShadow($borderOnly: true);
    border-radius: $euiBorderRadius / 2;
  }

  // Target when the euiFormControlLayout is fullWidth without specifying the full class name in case it ever changes
  &[class*='--fullWidth'] .euiFormControlLayout__childrenWrapper,
  &[class*='--fullWidth'] .euiFormControlLayout__childrenWrapper > *:not(.euiFormControlLayoutDelimited__delimiter):not(.euiFormControlLayoutIcons) {
    width: 100%;
    max-width: none;
  }

  // Target when the euiFormControlLayout is disabled without specifying the full class name in case it ever changes
  &[class*='-isDisabled'] {
    @include euiFormControlDisabledStyle;

    .euiFormControlLayout__childrenWrapper {
      background-color: $euiFormBackgroundDisabledColor;
    }
  }

  // Target when the euiFormControlLayout is readOnly without specifying the full class name in case it ever changes
  &[class*='--readOnly'] {
    @include euiFormControlReadOnlyStyle;

    .euiFormControlLayout__childrenWrapper {
      background-color: $euiFormBackgroundReadOnlyColor;
    }
  }

  &--isInvalid .euiFormControlLayout__childrenWrapper {
    @include euiFormControlInvalidStyle;
  }
}

.euiFormControlLayoutDelimited__input {
  // stylelint-disable declaration-no-important
  box-shadow: none !important;
  border-radius: 0 !important;
  // stylelint-enable declaration-no-important
  text-align: center;
  height: 100%;
  min-width: 0; // Fixes FF
}

.euiFormControlLayoutDelimited__delimiter {
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  align-items: center;
  line-height: 1; // Override EuiText line-height
}
