.euiFormControlLayoutDelimited {
  // Target when the euiFormControlLayout is fullWidth without specifying the full class name in case it ever changes
  &[class*='-fullWidth'] .euiFormControlLayout__childrenWrapper,
  &[class*='-fullWidth'] .euiFormControlLayout__childrenWrapper > *:not(.euiFormControlLayoutDelimited__delimiter):not(.euiFormControlLayoutIcons) {
    width: 100%;
    max-width: none;
  }

  &--isInvalid .euiFormControlLayout__childrenWrapper {
    @include euiFormControlInvalidStyle;
  }
}

.euiFormControlLayoutDelimited__input {
  // stylelint-disable declaration-no-important
  box-shadow: none !important;
  border-radius: 0 !important;
  // stylelint-enable declaration-no-important
  text-align: center;
  height: 100%;
  min-width: 0; // Fixes FF
}

.euiFormControlLayoutDelimited__delimiter {
  align-self: stretch;
  flex-grow: 0;
  display: flex;
  align-items: center;
  line-height: 1; // Override EuiText line-height
}
