.euiContextMenuPanelTitle {
  @include euiTitle('xxs');
  padding: $euiSizeM;
  width: 100%;
  text-align: left;
  outline-offset: -$euiFocusRingSize;
  border-bottom: $euiBorderThin;

  &:enabled:hover,
  &:enabled:focus {
    text-decoration: underline;
  }

  &--small {
    padding: ($euiSizeS * .75) $euiSizeS;
  }
}
