.euiContextMenuItem {
  padding: $euiSizeM;
  width: 100%;
  text-align: left;
  color: $euiTextColor;

  &:hover, &:focus {
    text-decoration: underline;
  }

  &:focus {
    background-color: $euiFocusBackgroundColor;
  }
}

  .euiContextMenuItem__inner {
    display: flex;
  }

  .euiContextMenuItem__text {
    flex-grow: 1;
  }

  .euiContextMenuItem__arrow {
    align-self: flex-end;
  }
