$euiContextMenuWidth: $euiSize * 16;

.euiContextMenu {
  width: $euiContextMenuWidth;
  position: relative;
  overflow: hidden;
  transition: height $euiAnimSpeedFast $euiAnimSlightResistance;
  border-radius: $euiBorderRadius;

  .euiContextMenu__content {
    padding: $euiSizeS;
  }
}

  .euiContextMenu__icon {
    margin-right: $euiSizeS;
  }

  .euiContextMenu__itemLayout {
    display: flex;
    align-items: center;
  }
