.euiContextMenuItem {
  &--small {
    .euiContextMenuItem__text {
      @include euiFontSizeS;
    }
  }
}


.euiContextMenuItem__text {
  flex-grow: 1;
  overflow: hidden; // allows for text truncation
}

.euiContextMenuItem__arrow {
  align-self: flex-end;
}

.euiContextMenu__icon {
  flex-shrink: 0;
}
