$euiFormMaxWidth: 400px;
$euiFormBackgroundColor: tintOrShade($euiColorLightestShade, 60%, 25%);

@mixin euiFormControlSize {
  max-width: $euiFormMaxWidth;
  width: 100%;
}

@mixin euiFormControlWithIcon($isIconOptional: false) {
  $iconPadding: $euiSizeXXL;

  @if ($isIconOptional) {
    @at-root {
      #{&}--withIcon {
        padding-left: $iconPadding;
      }
    }
  } @else {
    padding-left: $iconPadding;
  }
}

@mixin euiFormControlIsLoading($isNextToIcon: false) {

  @at-root {
    #{&}-isLoading {
      @if ($isNextToIcon) {
        padding-right: $euiSizeXXL + $euiSize;
      } @else {
        padding-right: $euiSizeXXL;
      }
    }
  }
}

/**
 * 1. Override invalid state with focus state.
 */
@mixin euiFormControlStyle {
  @include euiFormControlSize;

  border: none;
  font-size: $euiFontSizeS;
  font-family: $euiFontFamily;
  padding: $euiSizeM;
  color: $euiTextColor;
  background: $euiFormBackgroundColor;
  box-shadow:
    0 2px 2px -1px rgba(0, 0, 0, 0.1),
    0 0 0 1px transparentize($euiColorFullShade, .92),
    inset #{-$euiFormMaxWidth} 0 0 0 $euiFormBackgroundColor;
  transition: box-shadow $euiAnimSpeedNormal ease-in, background $euiAnimSpeedNormal ease-in;
  border-radius: 0;

  &--fullWidth {
    max-width: 100%;
  }

  &:invalid { /* 1 */
    box-shadow:
      0 $euiSizeXS $euiSizeXS (-$euiSizeXS / 2) rgba(0, 0, 0, 0.1),
      0 0 0 1px transparentize($euiColorFullShade, .84),
      inset 0 0 0 0 $euiColorEmptyShade,
      inset 0 (-$euiSizeXS / 2) 0 0 $euiColorDanger;
  }

  &:focus { /* 1 */
    background: tintOrShade($euiColorEmptyShade, 0%, 20%);
    box-shadow:
      0 4px 4px -2px rgba(0, 0, 0, 0.1),
      0 0 0 1px transparentize($euiColorFullShade, .84),
      inset 0 0 0 0 tintOrShade($euiColorEmptyShade, 0%, 20%),
      inset 0 -2px 0 0 $euiColorPrimary;
  }

  &:disabled {
    cursor: not-allowed;
    background: darken($euiColorLightestShade, 2%);
    box-shadow: 0 0 0 1px transparentize($euiColorFullShade, .92);
  }
}

@import 'checkbox/index';
@import 'field_number/index';
@import 'field_password/index';
@import 'field_search/index';
@import 'field_text/index';
@import 'form';
@import 'form_control_layout/index';
@import 'form_error_text/index';
@import 'form_help_text/index';
@import 'form_label/index';
@import 'form_row/index';
@import 'radio/index';
@import 'range/index';
@import 'select/index';
@import 'switch/index';
@import 'text_area/index';
