$euiFormMaxWidth: 400px !default;
$euiFormBackgroundColor: tintOrShade($euiColorLightestShade, 60%, 25%) !default;
$euiFormBackgroundColor--disabled: darken($euiColorLightestShade, 2%) !default;
$euiFormBorderColor: transparentize($euiColorFullShade, .9) !default;
$euiFormBorderColor--disabled: transparentize($euiColorFullShade, .92) !default;
$euiFormCustomControlDisabledIconColor: shadeOrTint($euiColorMediumShade, 38%, 48.5%) !default; // exact 508c foreground for $euiColorLightShade

$euiRadioSize: $euiSize !default;
$euiCheckBoxSize: $euiSize !default;

$euiSwitchHeight: $euiSize * 1.25 !default;
$euiSwitchWidth: ($euiSize * 2.5) + $euiSizeXS !default;
$euiSwitchThumbSize: $euiSwitchHeight !default;
$euiSwitchIconHeight: $euiSize !default;

$euiFormControlHeight: $euiSizeXXL !default;
$euiFormControlHeight--compressed: $euiSizeXL !default;

$euiFormControlPadding: $euiSizeM !default;
$euiFormControlPadding--compressed: $euiSizeS !default;

$euiFormControlDisabledColor: $euiColorMediumShade !default;
