// stylelint-disable color-no-hex

// This extra import allows any variables that are created via functions to work when loaded into JS
@import '../../global_styling/functions/index';

// These colors stay the same no matter the theme
$euiColorGhost: #FFF !default;
$euiColorInk: #000 !default;

// Core
$euiColorPrimary: #599DFF !default;
$euiColorAccent: #F588B3 !default;

// Status
$euiColorSuccess: #5DD8D2 !default;
$euiColorWarning: #DDBF6A !default;
$euiColorDanger: #F66D64 !default;

// Grays
$euiColorEmptyShade: #131922 !default;
$euiColorLightestShade: #212833 !default;
$euiColorLightShade: #303845 !default;
$euiColorMediumShade: #505B6B !default;
$euiColorDarkShade: #959FAF !default;
$euiColorDarkestShade: #CED4DE !default;
$euiColorFullShade: #FFF !default;

// Backgrounds
$euiPageBackgroundColor: #131922 !default;
$euiColorHighlight: #382400 !default;

// Variations from core
$euiTextColor: #E1E6EE !default;
$euiTitleColor: #E1E6EE !default;
$euiTextSubduedColor: #838EA0 !default;
$euiColorDisabled: #505B6B !default;

// Contrasty text variants
$euiColorPrimaryText: #599DFF !default;
$euiColorSuccessText: #5DD8D2 !default;
$euiColorAccentText: #F588B3 !default;
$euiColorWarningText: #DDBF6A !default;
$euiColorDangerText: #F66D64 !default;
$euiColorDisabledText: #505B6B !default;
$euiLinkColor: #599DFF !default;

// Charts
$euiColorChartLines: $euiColorLightShade !default;
$euiColorChartBand: tint($euiColorLightestShade, 2.5%) !default;
