.euiSuggestInput {
  font-size: $euiFontSizeS;
  color: $euiColorPrimary;

  .euiLoadingSpinner {
    margin-right: $euiSizeS;
  }

  .euiSuggestInput__statusIcon {
    padding-left: $euiSizeS;
    padding-right: $euiSizeS;
  }

}
