.euiSuggestInput {
  font-size: $euiFontSizeS;
  color: $euiColorPrimary;

  .euiSuggestInput__statusIcon {
    // sass-lint:disable-block no-important
    background-color: transparent !important; // Override typical append coloring
  }
}
