$euiSuggestItemColors: (
  tint0: $euiColorVis0,
  tint1: $euiColorVis1,
  tint2: $euiColorVis2,
  tint3: $euiColorVis3,
  tint4: $euiColorVis5,
  tint5: $euiColorVis7,
  tint6: $euiColorVis8,
  tint7: $euiColorVis9,
  tint8: $euiColorDarkShade,
);
