.euiSeriesChartAxis_line {
  stroke-width: 1px;
  stroke: gray;
  stroke-linecap: round;
}
.euiSeriesChartAxis_axisLine {
  stroke-width: 1px;
  stroke: gray;
  stroke-linecap: round;
}
.euiSeriesChartAxis_tickLine {
  stroke-width: 1px;
  stroke: gray;
  stroke-linecap: round;
}
.euiSeriesChartAxis_tickLabel {
  font-size: 12px;
  fill: gray;
}
.euiSeriesChartAxis_axisTitle {
  font-size: 12px;
  font-weight:  $euiFontWeightBold;
  fill: gray;
}