.euiColorPicker {
  position: relative;
  width: $euiColorPickerWidth;
}

.euiColorPicker__swatches {
  display: flex;
  flex-wrap: wrap;
  margin: -$euiSizeS / 2;
}

.euiColorPicker__swatch-item {
  margin: $euiSizeS / 2;
}

// Adds a stroke color for the swatchInput icon. Unlike most EuiIcons it has a stroke in the SVG
.euiSwatchInput__stroke {
  fill: none;
  stroke: transparentize($euiColorFullShade, .8);
}

.euiColorPicker__popoverPanel--pickerOnly {
  // Override of EuiPanel padding
  // stylelint-disable-next-line declaration-no-important
  padding-bottom: 0 !important;
}

.euiColorPicker__input {
  // Manually account for custom left icon / color swatch preview
  --euiFormControlLeftIconsCount: 1;
}

.euiColorPicker__input--inGroup {
  height: 100%;
  box-shadow: none;
  border-radius: 0;
}

.euiColorPicker__alphaRange {
  .euiRangeInput {
    min-width: 0;
  }
}
