// The range itself is the same height
.euiHue__range {
  @include euiRangeThumbPerBrowser {
    @include euiCustomControl($type: 'round');
    @include euiRangeThumbStyle;
  }

  position: relative;
  height: $euiSizeL;
  width: calc(100% + 2px); // Allow for overlap
  margin: 0 -1px; // Use ^ overlap to allow thumb to fully cover gradient ends
  appearance: none;
  background: transparent;
  z-index: 2; // Needed to place the thumb above the :after pseudo border from .euiRange

  // Resets for the range

  // Disable linter for these very unique vendor controls
  // stylelint-disable property-no-vendor-prefix, selector-no-vendor-prefix
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    margin-top: 0;
  }

  &::-ms-thumb {
    margin-top: 0;
  }

  &::-ms-track {
    height: $euiSizeL;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  &::-moz-focus-outer {
    border: none;
  }

  &::-ms-fill-lower,
  &::-ms-fill-upper {
    background: transparent;
  }

  // Thumb has trouble with animation, so we make something similar to `@include euiFocusRing`
  &:focus {
    @include euiRangeThumbPerBrowser {
      box-shadow: 0 0 0 $euiFocusRingSize $euiFocusRingColor;
      border-color: $euiColorPrimary;
    }

    // Focus is added to the thumb ^^ so we can remove the outer wrapping outline
    outline: none;
  }
}
