.euiSideNavItem {
  @include euiFontSizeS;

  display: block;
  position: relative;
  width: 100%;
  text-align: left;
  color: $euiColorDarkShade;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: $euiFontSizeS;
  padding: $euiSizeXS / 2 $euiSize $euiSizeXS / 2 $euiSizeS;

  &.euiSideNavItem--parent:hover {
    background: svg-load('../src/components/icon/assets/arrow_down.svg') center right no-repeat;
    background-size: $euiSizeM $euiSizeM;
  }

  &.euiSideNavItem--parent.euiSideNavItem-isSelected {
    color: $euiColorFullShade;
    background: svg-load('../src/components/icon/assets/arrow_down.svg') center right no-repeat;
    background-size: $euiSizeM $euiSizeM;
  }

  &.euiSideNavItem-isSelected:not(.euiSideNavItem--parent) {
    color: $euiColorPrimary;
    font-weight: $euiFontWeightMedium;
    text-decoration: underline;
  }

  &:hover {
    text-decoration: underline;
  }

  // Focus state background regardless of index/selected state.
  &:focus {
    background-color: $euiFocusBackgroundColor !important;
    color: $euiColorPrimary !important;
  }
}
