.euiComboBoxPlaceholder {
  position: absolute;
  pointer-events: none;
  padding: 0 $euiSizeXS;
  line-height: $euiSizeXL;
  color: $euiColorMediumShade;
  margin-bottom: 0 !important; // sass-lint:disable-line no-important
}
