/*
 * 1. Overwrites the base styling of EuiBadge, to give it a larger size and margins
 * that make sense in the input wrap.
 */
.euiComboBoxPill {
  $pillHeight: $euiSizeL - 2px;
  height: $pillHeight;
  line-height: $pillHeight - ($euiBorderWidthThin * 2);
  vertical-align: baseline;

  &,
  & + & /* 1 */ {
    margin: $euiSizeXS;
  }

  .euiComboBox--compressed &,
  .euiComboBox--compressed & + & /* 1 */ {
    margin: ($euiSizeXS + 1px) $euiSizeXS 0 0;
  }

  .euiComboBox--compressed &--plainText {
    margin-top: $euiSizeXS;
  }

  &--plainText {
    @include euiFont;
    @include euiTextTruncate;

    line-height: $euiSizeL;
    font-size: $euiFontSizeS;
    padding: 0;
    color: $euiTextColor;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
  }

  &__prepend {
    margin-right: $euiSizeXS;
  }

  &__append {
    margin-left: $euiSizeXS;
  }

  /* Fix append/prepend vertical alignment */
  &--plainText,
  .euiBadge__text {
    display: flex;
    align-items: center;

    .euiIcon {
      display: block;
    }
  }
}
