// Overwrites the base styling of EuiBadge, to give it a larger size and margins
// that make sense in the input wrap.
.euiComboBoxPill {
  margin: $euiSizeXS !important; // sass-lint:disable-line no-important
  line-height: $euiSizeL - 2px;
  vertical-align: baseline;

  &--plainText {
    @include euiFont;
    @include euiTextTruncate;

    line-height: $euiSizeL;
    font-size: $euiFontSizeS;
    padding: 0 $euiSizeXS;
    color: $euiTextColor;
    vertical-align: middle;
    display: inline-block;
  }
}
