.euiComboBoxPlaceholder {
  position: absolute;
  pointer-events: none;
  padding: 0 $euiSizeXS;
  line-height: $euiSizeXL;
  color: $euiColorMediumShade;
  margin-bottom: 0 !important; // sass-lint:disable-line no-important

  // Truncate placeholder with ellipsis if it's too long
  // https://css-tricks.com/almanac/properties/t/text-overflow/
  width: calc(100% - 28px); // 28px is a quick fix to give space for the combobox arrow
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
