.euiNotificationBadge {
  flex-shrink: 0; // Ensures it never scales down below it's intended size
  display: inline-block;
  border-radius: $euiBorderRadius;
  background: $euiColorAccent;
  color: $euiColorEmptyShade;
  font-size: $euiFontSizeXS;
  font-weight: $euiFontWeightMedium;
  line-height: $euiSize;
  height: $euiSize;
  min-width: $euiSize;
  padding-left: $euiSizeXS;
  padding-right: $euiSizeXS;
  vertical-align: middle;
  text-align: center;
  transition: all $euiAnimSpeedFast ease-in;
  cursor: default;
}

.euiNotificationBadge--medium {
  // Increase the default size a bit
  $size: $euiSize + $euiSizeXS;
  line-height: $size;
  height: $size;
  min-width: $euiSizeL;
}

.euiNotificationBadge--subdued {
  background-color: tint($euiColorLightShade, 30%);
  color: $euiColorFullShade;
}
