.euiPanel.euiCheckablePanel {
  transition: border-color $euiAnimSpeedNormal ease-in;

  & > .euiCheckablePanel__row:first-child .euiCheckablePanel__control {
    border-top-left-radius: $euiBorderRadius;
  }

  & > .euiCheckablePanel__row:last-child .euiCheckablePanel__control {
    border-bottom-left-radius: $euiBorderRadius;
  }
}

.euiPanel.euiCheckablePanel--isChecked {
  border-color: makeHighContrastColor($euiColorPrimary, $euiColorEmptyShade);
}

.euiCheckablePanel__row {
  display: flex;
  align-items: stretch;
}

.euiCheckablePanel__control {
  display: flex;
  flex: 0 0 $euiSize * 2.5;
  justify-content: center;
  align-items: center;
  background-color: $euiFormInputGroupLabelBackground;
  transition: background-color $euiAnimSpeedNormal ease-in;

  .euiFlexItem {
    margin-bottom: 0 !important; // sass-lint:disable-line no-important
  }

  .euiPanel.euiCheckablePanel--isChecked & {
    background-color: tintOrShade(makeHighContrastColor($euiColorPrimary, $euiColorEmptyShade), 85, 70);
  }
}

.euiCheckablePanel__label {
  padding: $euiSizeS $euiSizeS $euiSizeS $euiSize;
}

.euiCheckablePanel__label--isDisabled .euiFormLabel {
  color: $euiFormControlDisabledColor;
}

.euiCheckablePanel__children {
  padding:  0 $euiSizeS $euiSizeS $euiSize;
}
