// Animations

$euiAnimSlightBounce: cubic-bezier(.34, 1.61, .7, 1) !default;
$euiAnimSlightResistance: cubic-bezier(.694, .0482, .335, 1) !default;

$euiAnimSpeedExtraFast: 90ms !default;
$euiAnimSpeedFast: 150ms !default;
$euiAnimSpeedNormal: 250ms !default;
$euiAnimSpeedSlow: 350ms !default;
$euiAnimSpeedExtraSlow: 500ms !default;

// Keyframe animation declarations can be found in
// utility/animations.scss
