// Animations

$euiAnimSlightBounce: cubic-bezier(0.34,1.61,0.7,1);
$euiAnimSlightResistance: cubic-bezier(0.694, 0.0482, 0.335, 1);

$euiAnimSpeedExtraFast: 90ms;
$euiAnimSpeedFast: 150ms;
$euiAnimSpeedNormal: 250ms;
$euiAnimSpeedSlow: 350ms;
$euiAnimSpeedExtraSlow: 500ms;

@keyframes euiAnimFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes euiGrow {
  0% {
    opacity: 0;
  }
  1% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
