// Borders

$euiBorderWidthThin: 1px !default;
$euiBorderWidthThick: 2px !default;

$euiBorderColor: $euiColorLightShade !default;
$euiBorderRadius: 4px !default;
$euiBorderThick: $euiBorderWidthThick solid $euiBorderColor !default;
$euiBorderThin: $euiBorderWidthThin solid $euiBorderColor !default;
$euiBorderEditable: $euiBorderWidthThick dotted $euiBorderColor !default;
