$euiButtonHeight: $euiSizeXXL !default;
$euiButtonHeightSmall: $euiSizeXL !default;
$euiButtonHeightXSmall: $euiSizeL !default;

$euiButtonColorDisabled: tintOrShade($euiTextColor, 70%, 70%) !default;
// Only increase the contrast of background color to text to 2.0 for disabled
$euiButtonColorDisabledText: makeDisabledContrastColor($euiButtonColorDisabled) !default;
$euiButtonColorGhostDisabled: lightOrDarkTheme($euiColorDarkShade, $euiColorLightShade) !default;

// Modifier naming and colors.
$euiButtonTypes: (
  primary: $euiColorPrimary,
  accent: $euiColorAccent,
  success: $euiColorSuccess,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  ghost: $euiColorGhost, // Ghost is special, and does not care about theming.
  text: $euiColorDarkShade, // Reserved for special use cases
) !default;
