// Core
$euiColorPrimary: #006BB4 !default;
$euiColorSecondary: #017D73 !default;
$euiColorAccent: #DD0A73 !default;
$euiColorHighlight: #FFFBF1 !default; // Not used should we deprecate?

// These colors stay the same no matter the theme
$euiColorGhost: #FFF !default;
$euiColorInk: #000 !default;

// Status
$euiColorSuccess: $euiColorSecondary !default;
$euiColorDanger: #BD271E !default;
$euiColorWarning: #F5A700 !default;

// Grays
$euiColorEmptyShade: #FFF !default;
$euiColorLightestShade: #F5F7FA !default;
$euiColorLightShade: #D3DAE6 !default;
$euiColorMediumShade: #98A2B3 !default;
$euiColorDarkShade: #69707D !default;
$euiColorDarkestShade: #343741 !default;
$euiColorFullShade: #000 !default;

// Every color below must be based mathmatically on the set above.

$euiTextColor: $euiColorDarkestShade !default;
$euiTitleColor: shadeOrTint($euiTextColor, 50%, 0%) !default;
$euiLinkColor: $euiColorPrimary !default;
$euiFocusBackgroundColor: tintOrShade($euiColorPrimary, 90%, 50%) !default;
$euiPageBackgroundColor: tintOrShade($euiColorLightestShade, 50%, 30%) !default;

// Visualization colors

$euiColorVis0: #00B3A4 !default;
$euiColorVis1: #3185FC !default;
$euiColorVis2: #DB1374 !default;
$euiColorVis3: #490092 !default;
$euiColorVis4: #FEB6DB !default;
$euiColorVis5: #E6C220 !default;
$euiColorVis6: #BFA180 !default;
$euiColorVis7: #F98510 !default;
$euiColorVis8: #461A0A !default;
$euiColorVis9: #920000 !default;

$euiColorChartLines: #EFF1F4;
$euiColorChartBand: #F5F7FA;

// Code

$euiCodeBlockBackgroundColor: $euiColorLightestShade !default;
$euiCodeBlockColor: $euiTextColor !default;
$euiCodeBlockSelectedBackgroundColor: inherit !default;
$euiCodeBlockCommentColor: #998 !default;
$euiCodeBlockSelectorTagColor: inherit !default;
$euiCodeBlockStringColor: #DD0A73 !default;
$euiCodeBlockNumberColor: #00A69B !default;
$euiCodeBlockKeywordColor: #333 !default;
$euiCodeBlockFunctionTitleColor: inherit !default;
$euiCodeBlockTagColor: #0079A5 !default;
$euiCodeBlockNameColor: inherit !default;
$euiCodeBlockTypeColor: #0079A5 !default;
$euiCodeBlockAttributeColor: inherit !default;
$euiCodeBlockSymbolColor: #990073 !default;
$euiCodeBlockParamsColor: inherit !default;
$euiCodeBlockMetaColor: #999 !default;
$euiCodeBlockTitleColor: #900 !default;
$euiCodeBlockRegexpColor: #009926 !default;
$euiCodeBlockBuiltInColor: #0086B3 !default;
$euiCodeBlockSectionColor: #FFC66D !default;
$euiCodeBlockAdditionBackgroundColor: #DFD !default;
$euiCodeBlockAdditionColor: inherit !default;
$euiCodeBlockDeletionBackgroundColor: #FDD !default;
$euiCodeBlockDeletionColor: inherit !default;
$euiCodeBlockSelectorClassColor: inherit !default;
$euiCodeBlockSelectorIdColor: inherit !default;
