// Sizing
$euiFormMaxWidth: $euiSizeXXL * 10 !default;
$euiFormControlHeight: $euiSizeXXL !default;
$euiFormControlCompressedHeight: $euiSizeXL !default;
$euiFormControlPadding: $euiSizeM !default;
$euiFormControlCompressedPadding: $euiSizeS !default;
$euiFormControlBorderRadius: $euiBorderRadius !default;
$euiFormControlCompressedBorderRadius: $euiBorderRadiusSmall !default;

$euiRadioSize: $euiSize !default;
$euiCheckBoxSize: $euiSize !default;
$euiCheckboxBorderRadius: $euiBorderRadiusSmall !default;

// Switch
$euiSwitchHeight: $euiSize * 1.25 !default;
$euiSwitchWidth: ($euiSize * 2.5) + $euiSizeXS !default;
$euiSwitchThumbSize: $euiSwitchHeight !default;
$euiSwitchIconHeight: $euiSize !default;

$euiSwitchHeightCompressed: $euiSize !default;
$euiSwitchWidthCompressed: $euiSize * 1.75 !default;
$euiSwitchThumbSizeCompressed: $euiSwitchHeightCompressed !default;

$euiSwitchHeightMini: $euiSwitchHeight * .5 !default;
$euiSwitchWidthMini: $euiSwitchWidth * .5 !default;
$euiSwitchThumbSizeMini: $euiSwitchHeightMini !default;

// Coloring
$euiFormBackgroundColor: tintOrShade($euiColorLightestShade, 60%, 40%) !default;
$euiFormBackgroundDisabledColor: darken($euiColorLightestShade, 2%) !default;
$euiFormBackgroundReadOnlyColor: $euiColorEmptyShade !default;
$euiFormBorderOpaqueColor: shadeOrTint(desaturate(adjust-hue($euiColorPrimary, 22), 22.95), 26%, 100%) !default;
$euiFormBorderColor: transparentize($euiFormBorderOpaqueColor, .9) !default;
$euiFormBorderDisabledColor: transparentize($euiFormBorderOpaqueColor, .9) !default;
$euiFormCustomControlDisabledIconColor: shadeOrTint($euiColorMediumShade, 38%, 48.5%) !default; // exact 508c foreground for $euiColorLightShade
$euiFormCustomControlBorderColor: shadeOrTint($euiColorLightestShade, 40%, 31%) !default;
$euiFormControlDisabledColor: $euiColorMediumShade !default;
$euiFormControlBoxShadow: 0 0 transparent !default;
$euiFormControlPlaceholderText: makeHighContrastColor($euiTextSubduedColor, $euiFormBackgroundColor) !default;
$euiFormInputGroupLabelBackground: tintOrShade($euiColorLightShade, 50%, 15%) !default;
$euiFormInputGroupBorder: none !default;
$euiSwitchOffColor: lightOrDarkTheme(transparentize($euiColorDarkShade, .25), transparentize($euiColorDarkShade, .4)) !default;

// Icons sizes
$euiFormControlIconSizes: (
  small: $euiSizeM,
  medium: $euiSize,
  large: $euiSizeL,
  xLarge: $euiSizeXL,
  xxLarge: $euiSizeXXL
);

// Control Layout
$euiFormControlLayoutGroupInputHeight: $euiFormControlHeight - 2px !default;
$euiFormControlLayoutGroupInputCompressedHeight: $euiFormControlCompressedHeight - 2px !default;
$euiFormControlLayoutGroupInputCompressedBorderRadius: $euiFormControlCompressedBorderRadius / 2 !default;

// Range
$euiRangeTrackColor: $euiColorLightShade !default;
$euiRangeHighlightColor: $euiColorDarkShade !default;

$euiRangeThumbHeight: $euiSize !default;
$euiRangeThumbWidth: $euiSize !default;
$euiRangeThumbBorderColor: $euiColorEmptyShade !default;
$euiRangeThumbBackgroundColor: $euiRangeHighlightColor;

$euiRangeTrackWidth: 100% !default;
$euiRangeTrackHeight: $euiSizeM / 2 !default;
$euiRangeTrackCompressedHeight: $euiSizeXS;
$euiRangeTrackBorderWidth: 0 !default;
$euiRangeTrackBorderColor: $euiRangeTrackColor !default;
$euiRangeTrackRadius: $euiBorderRadius !default;

$euiRangeDisabledOpacity: .25 !default;

$euiRangeHighlightHeight: $euiRangeTrackHeight !default;
$euiRangeHighlightCompressedHeight: $euiRangeTrackCompressedHeight !default;

$euiRangeHeight: $euiFormControlHeight !default;
$euiRangeCompressedHeight: $euiFormControlCompressedHeight !default;
