// Themeable colors
$euiHeaderBackgroundColor: $euiColorEmptyShade !default;
$euiHeaderBorderColor: $euiBorderColor !default;
$euiHeaderBreadcrumbColor: $euiColorDarkestShade !default;

// Layout vars
$euiHeaderHeight: $euiSizeXXL + $euiSizeS !default;
$euiHeaderChildSize: $euiHeaderHeight !default;

// Use the following variable in other components to afford for the fixed header
$euiHeaderHeightCompensation: $euiHeaderHeight + 1px !default;
