$euiPanelPaddingModifiers: (
  'paddingSmall':  $euiSizeS,
  'paddingMedium': $euiSize,
  'paddingLarge':  $euiSizeL
) !default;

$euiPanelBorderRadiusModifiers: (
  'borderRadiusNone': 0,
  'borderRadiusMedium': $euiBorderRadius,
) !default;

$euiPanelBackgroundColorModifiers: (
  'transparent': transparent,
  'plain': $euiColorEmptyShade,
  'subdued': $euiPageBackgroundColor,
  'accent':  tintOrShade($euiColorAccent, 90%, 70%),
  'primary': tintOrShade($euiColorPrimary, 90%, 70%),
  'success': tintOrShade($euiColorSuccess, 90%, 70%),
  'warning': tintOrShade($euiColorWarning, 90%, 70%),
  'danger':  tintOrShade($euiColorDanger, 90%, 70%),
) !default;
