$euiSize:     16px;

$euiSizeXS:   $euiSize * .25;
$euiSizeS:    $euiSize * .5;
$euiSizeM:    $euiSize * .75;
$euiSizeL:    $euiSize * 1.5;
$euiSizeXL:   $euiSize * 2;
$euiSizeXXL:  $euiSize * 2.5;

$euiButtonMinWidth: $euiSize * 7;
