$euiSize:     16px !default;

$euiSizeXS:   $euiSize * .25 !default;
$euiSizeS:    $euiSize * .5 !default;
$euiSizeM:    $euiSize * .75 !default;
$euiSizeL:    $euiSize * 1.5 !default;
$euiSizeXL:   $euiSize * 2 !default;
$euiSizeXXL:  $euiSize * 2.5 !default;

$euiButtonMinWidth: $euiSize * 7 !default;

$euiScrollBar: $euiSize !default;
$euiScrollBarCorner: $euiSizeS * .75 !default;
