// Colors
$euiFocusRingColor: rgba($euiColorPrimary, .3) !default;
$euiFocusRingAnimStartColor: rgba($euiColorPrimary, 0) !default;
$euiFocusRingAnimStartSize: 6px !default;
$euiFocusRingAnimStartSizeLarge: 10px !default;

// Sizing
$euiFocusRingSizeLarge: $euiSizeXS !default;
$euiFocusRingSize: $euiFocusRingSizeLarge * .75 !default;

// Transparency
$euiFocusTransparency: lightOrDarkTheme(.1, .2) !default;
$euiFocusTransparencyPercent: lightOrDarkTheme(90%, 80%) !default;
$euiFocusBackgroundColor: tintOrShade($euiColorPrimary, $euiFocusTransparencyPercent, $euiFocusTransparencyPercent) !default;
