$euiTooltipBackgroundColor: tintOrShade($euiColorFullShade, 25%, 100%);

$euiTooltipAnimations: (
  top: euiToolTipTop,
  left: euiToolTipBottom,
  bottom: euiToolTipLeft,
  right: euiToolTipRight,
);
