// sass-lint:disable no-url-domains, no-url-protocols

@import url('https://rsms.me/inter/inter-ui.css');

// Some mixins that help us deal with browser scaling of text more consistantly.
// Essentially, fonts across eui should scale agains the root html element, not
// against parent inheritance.

// Typography mixins

@function convertToRem($size) {
  @return #{$size / $euiFontSize}rem;
}

// Spit out rem and px

@mixin fontSize($size: $euiFontSize) {
  font-size: $size;
  font-size: convertToRem($size);
}

// Our base gridline is at 1/2 the font-size, ensure line-heights stay on that gridline.
// EX: A proper line-height for text is 1.5 times the font-size.
//     If our base font size (euiFontSize) is 16, our baseline is 8 (16*1.5 / 3). To ensure the
//     text stays on the baseline, we pass a multiplier to calculate a line-height in rems.
@mixin lineHeightFromBaseline($multiplier: 3) {
  line-height: convertToRem(($euiFontSize/2)*$multiplier);
}


// Families

$euiFontFamily: 'Inter UI', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$euiFontFamilyVariable: 'Inter UI var', $euiFontFamily !default;
$euiCodeFontFamily: Consolas, 'Liberation Mono', Menlo, Courier, monospace !default;

$euiFontFeatureSettings: 'calt' 1, 'kern' 1, 'liga' 1 !default;

// Font sizes -- scale is loosely based on Major Third (1.250)
$euiTextScale:      2.25, 1.75, 1.25, 1.125, 1, .875, .75 !default;

$euiFontSize:       $euiSize !default; // 5th position in scale

$euiFontSizeXS:     $euiFontSize * nth($euiTextScale, 7) !default; // 12px
$euiFontSizeS:      $euiFontSize * nth($euiTextScale, 6) !default; // 14px
$euiFontSizeM:      $euiFontSize * nth($euiTextScale, 4) !default; // 18px
$euiFontSizeL:      $euiFontSize * nth($euiTextScale, 3) !default; // 20px
$euiFontSizeXL:     $euiFontSize * nth($euiTextScale, 2) !default; // 28px
$euiFontSizeXXL:    $euiFontSize * nth($euiTextScale, 1) !default; // 36px

// Line height

$euiLineHeight:     1.5;


// Font weights

$euiFontWeightExtraLight: 200 !default;
$euiFontWeightLight:    300 !default;
$euiFontWeightRegular:  400 !default;
$euiFontWeightMedium:   500 !default;
$euiFontWeightSemiBold: 600 !default;
$euiFontWeightBold:     700 !default;
