// Some mixins that help us deal with browser scaling of text more consistantly.
// Essentially, fonts across kui should scale agains the root html element, not
// against parent inheritance.


// Typography mixins

@function convertToRem($size) {
  @return #{$size / $euiFontSize}rem;
}

// Spit out rem and px

@mixin fontSize($size: $euiFontSize) {
  font-size: $size;
  font-size: convertToRem($size);
}

// Families

$euiFontFamily: "Roboto", Helvetica, Arial, sans-serif;
$euiCodeFontFamily: "Roboto Mono", monospace;

// Font sizes

$euiFontSize:       $euiSize;

$euiFontSizeXS:     12px;
$euiFontSizeS:      14px;
$euiFontSizeM:      $euiFontSize;
$euiFontSizeL:      24px;
$euiFontSizeXL:     32px;
$euiFontSizeXXL:    48px;

// Line height

$euiLineHeight:     1.5;


// Font weights

$euiFontWeightLight:    300;
$euiFontWeightRegular:  400;
$euiFontWeightMedium:   500;

// Our base fonts

@mixin euiFont {
  font-family: $euiFontFamily;
  font-weight: $euiFontWeightRegular;
}

@mixin euiCodeFont {
  font-family: $euiCodeFontFamily;
}

@mixin euiTitle {
  color: $euiTitleColor;
  font-weight: $euiFontWeightLight;
}

@mixin euiText {
  color: $euiTextColor;
  font-weight: $euiFontWeightRegular;
}

// Font sizing extends, using rem mixin

@mixin euiFontSize {
  @include fontSize($euiFontSize);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeXS {
  @include fontSize($euiFontSizeXS);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeS {
  @include fontSize($euiFontSizeS);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeM {
  @include fontSize($euiFontSizeM);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeL {
  @include fontSize($euiFontSizeL);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeXL {
  @include fontSize($euiFontSizeXL);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeXXL {
  @include fontSize($euiFontSizeXXL);
  line-height: $euiLineHeight;
}
