// Z-Index

$euiZLevel0:          0;
$euiZLevel1:          1000;
$euiZLevel2:          2000;
$euiZLevel3:          3000;
$euiZLevel4:          4000;
$euiZLevel5:          5000;
$euiZLevel6:          6000;
$euiZLevel7:          7000;
$euiZLevel8:          8000;
$euiZLevel9:          9000;

$euiZContent:         $euiZLevel0;
$euiZContentMenu:     $euiZLevel2;
$euiZNavigation:      $euiZLevel4;
$euiZMask:            $euiZLevel6;
$euiZModal:           $euiZLevel8;
$euiZToastList:       $euiZLevel9;
