.euiButtonGroup--compressed {

  .euiButtonGroup__button {
    &:not(.euiButtonGroup__button--selected):not(:disabled) {
      color: $euiColorDarkShade;
      background-color: transparentize($euiColorLightShade, .6);
    }

  }

  .euiButtonToggle__input:enabled:hover + .euiButtonGroup__button,
  .euiButtonToggle__input:enabled:focus + .euiButtonGroup__button {
    background-color: $euiColorDarkShade;
    color: $euiColorLightestShade;
  }

  .euiButtonGroup__button--selected {
    font-weight: $euiFontWeightSemiBold;
    background-color: $euiColorDarkShade;
    color: $euiColorLightestShade;
  }
}
