// This file has lots of modifiers and is somewhat nesty by nature
// sass-lint:disable nesting-depth

.euiButtonGroup__buttons {
  box-shadow: none !important; // sass-lint:disable-line no-important
}

.euiButtonGroup--medium,
.euiButtonGroup--small {
  .euiButtonGroupButton {
    border: none !important; // sass-lint:disable-line no-important

    // Complicated set of focus states depending on whether it's a button and can receive :focus,
    // or an input and uses focus-within, and browser support for :focus-visible
    &:focus,
    &:focus-within {
      outline-style: solid;
      outline-color: lightOrDarkTheme($euiColorInk, $euiColorGhost);
      outline-offset: -2px;

      &:focus-visible {
        outline-style: auto; // For chrome only
      }
    }

    &:focus:not(:focus-visible) {
      outline: none;
    }
  }

  .euiButtonGroupButton-isDisabled:not(.euiButtonGroupButton--ghost):not(.euiButtonGroupButton-isSelected) {
    $backgroundColorSimulated: mix($euiPageBackgroundColor, $euiButtonColorDisabled, 70%);
    background-color: transparentize($euiButtonColorDisabled, .7);
    color: makeHighContrastColor($euiButtonColorDisabled, $backgroundColorSimulated, 2);
  }

  // Change the hollow (bordered) buttons to have a transparent background
  // and no border
  @each $name, $color in $euiButtonTypes {
    .euiButtonGroupButton--#{$name} {
      @include euiButtonDefaultStyle($color);

      @if ($name == 'ghost') {
        // Ghost is unique and ALWAYS sits against a dark background.
        $backgroundColorSimulated: mix($euiColorInk, $color, 70%);
        color: makeHighContrastColor($color, $backgroundColorSimulated);
      }
    }
  }

  .euiButtonGroupButton-isDisabled.euiButtonGroupButton--ghost:not(.euiButtonGroupButton-isSelected) {
    &,
    &:hover,
    &:focus {
      background-color: transparentize($euiButtonColorGhostDisabled, .7);
    }
  }
}

.euiButtonGroup--small .euiButtonGroup__buttons {
  // Use a moderately smaller radius on small buttons
  // so that they don't appear completely rounded
  border-radius: $euiBorderRadius * (2 / 3);
}

.euiButtonGroup--compressed .euiButtonGroupButton {
  // Add 1 to the border radius to account for the background-clip
  border-radius: $euiFormControlCompressedBorderRadius + 1;

  @each $name, $color in $euiButtonTypes {
    &--#{$name} {
      // Complicated set of focus states depending on whether it's a button and can receive :focus,
      // or an input and uses focus-within, and browser support for :focus-visible,
      // and override nature of default theme
      &:not([class*='isDisabled']):focus,
      &:not([class*='isDisabled']):focus-within {
        outline-color: $color;

        &:focus-visible {
          outline-style: auto; // For chrome only
        }
      }

      &:not([class*='isDisabled']):focus:not(:focus-visible) {
        outline: none;
      }
    }
  }
}
