.euiButtonGroup--compressed {
  .euiButtonGroup__button {
    &:not(.euiButtonGroup__button--selected):not(:disabled) {
      background-color: transparentize($euiColorLightShade, .6);
    }
  }

  .euiButtonToggle__input:enabled {
    &:hover + .euiButtonGroup__button {
      color: $euiColorLightestShade;
      background-color: transparentize($euiColorDarkShade, .1);
    }

    &:hover + .euiButtonGroup__button--selected,
    &:focus + .euiButtonGroup__button {
      color: $euiColorLightestShade;
      background-color: $euiColorDarkShade;
    }
  }
}
