.euiButtonEmpty {
  border-radius: $euiBorderRadius;

  &.euiButtonEmpty--small,
  &.euiButtonEmpty--xSmall {
    // Use a moderately smaller radius on small buttons
    // so that they don't appear completely rounded
    border-radius: $euiBorderRadius * .667;
  }

  &.euiButtonEmpty--xSmall {
    font-size: $euiFontSizeXS;
  }
}

@each $name, $color in $euiButtonTypes {
  .euiButtonEmpty--#{$name}:enabled:focus {
    @include euiFocusBackground($color);
  }
}
