.euiCode {
  border-radius: $euiBorderRadiusSmall;

  .euiCode__code {
    font-weight: $euiCodeFontWeightBold;
    color: makeHighContrastColor($euiColorVis3, $euiCodeBlockBackgroundColor);
  }
}

.euiCodeBlock.euiCodeBlock--fontLarge {
  font-size: $euiFontSizeM;
}
