.euiCode {
  border-radius: $euiBorderRadiusSmall;
  color: makeHighContrastColor($euiColorVis3, $euiCodeBlockBackgroundColor);

  .euiCode__code {
    font-weight: $euiCodeFontWeightBold;
  }
}

.euiCodeBlock.euiCodeBlock--fontLarge {
  font-size: $euiFontSizeM;
}
