.euiColorStopThumb.euiRangeThumb:not(:disabled) {
  @include euiRangeThumbBoxShadow;
  // sass-lint:disable-block no-color-literals, indentation
  top: 0;
  margin-top: 0;
  pointer-events: auto;
  cursor: grab;
  border: ($euiSizeXS / 2) solid $euiColorEmptyShade;

  &:active {
    cursor: grabbing;
  }
}

.euiColorStops__highlight {
  color: $euiRangeTrackColor;

  .euiRangeHighlight__progress {
    background-color: $euiRangeTrackColor;
  }
}
