.euiFormControlLayout--group {
  border-radius: $euiFormControlBorderRadius;
  background-color: $euiFormInputGroupLabelBackground;

  &.euiFormControlLayout--readOnly,
  &.euiFormControlLayout--compressed {
    background-color: $euiFormInputGroupLabelBackground;

    .euiFormControlLayoutDelimited__delimeter {
      background-color: $euiFormInputGroupLabelBackground !important; // sass-lint:disable-line no-important
    }
  }

  .euiButtonIcon,
  .euiToolTipAnchor > .euiIcon,
  .euiFormControlLayout__prepend,
  .euiFormControlLayout__prepend > .euiIcon,
  .euiFormControlLayout__append,
  .euiFormLabel,
  .euiText {
    background: none;
  }

  .euiFormControlLayoutDelimited__delimeter {
    background-color: $euiFormBackgroundColor !important; // sass-lint:disable-line no-important
  }

  .euiFormControlLayout__prepend:first-child {
    @include euiFormControlBorderRadius($euiFormControlBorderRadius, $side: 'left', $internal: true);

    [class*='euiButton'] {
      @include euiFormControlBorderRadius($euiFormControlBorderRadius, $side: 'left', $internal: true);
    }
  }

  .euiFormControlLayout__childrenWrapper {
    ~ .euiButtonEmpty {
      border-radius: 0;
    }

    .euiText {
      background: none;
    }
  }

  &.euiFormControlLayout--compressed {
    border-radius: $euiFormControlCompressedBorderRadius;

    .euiFormControlLayout__prepend:first-child {
      [class*='euiButton'] {
        @include euiFormControlBorderRadius($euiFormControlCompressedBorderRadius, $side: 'left');
      }
    }

  }
}
