.euiHue {
  position: relative;
  height: $euiSizeM;
  border-radius: $euiSizeM;
  margin: $euiSizeS 0;

  &::before,
  &::after {
    display: none;
  }

  &__range {
    @include euiRangeThumbPerBrowser {
      // sass-lint:disable-block no-color-literals
      @include euiRangeThumbBoxShadow;
      @include euiRangeThumbBorder;
      background-color: inherit;
    }

    top: - $euiSizeM / 2;

    &:focus {
      @include euiRangeThumbPerBrowser {
        @include euiRangeThumbFocusBoxShadow;
        @include euiRangeThumbBorder;
      }
    }

    &:focus:focus-visible {
      outline: none;
    }
  }
}
