.euiHue__range {
  @include euiRangeThumbPerBrowser {
    // sass-lint:disable-block no-color-literals
    background-color: $euiColorEmptyShade;
    border: 1px solid $euiColorDarkShade;
    box-shadow: 0 2px 2px -1px rgba($euiShadowColor, .2),
    0 1px 5px -2px rgba($euiShadowColor, .2);
  }

  &:focus {
    @include euiRangeThumbPerBrowser {
      @include euiRangeThumbFocusBoxShadow;
    }
  }

  &:focus:focus-visible {
    outline: none;
  }
}
