/**
 * 1. If this class is applied to a button, we need to override the Chrome default font.
 * 2. If it has a BetaBadge, make sure only the first letter shows
 */
.euiKeyPadMenuItem {
  border: none !important; // sass-lint:disable-line no-important
  box-shadow: none;

  // Focus and Hover states (when not disabled)
  &:not(.euiKeyPadMenuItem-isDisabled) {
    &:hover,
    &:focus:hover,
    &:focus-within  {
      @include euiBottomShadowSmall;
    }

    &:focus {
      box-shadow: none;
    }
  }

  &.euiKeyPadMenuItem-isSelected:not(.euiKeyPadMenuItem-isDisabled) {
    box-shadow: none;

    &:hover {
      @include euiBottomShadowSmall;
    }

    &,
    &:hover,
    &:focus,
    &:focus-within {
      @include euiFocusBackground;
      color: $euiColorPrimaryText;
    }
  }

  &.euiKeyPadMenuItem-isSelected.euiKeyPadMenuItem-isDisabled {
    @include euiFocusBackground($euiColorDisabled);
  }
}

.euiKeyPadMenuItem__label {
  font-weight: $euiFontWeightSemiBold;
}
