.euiPopover__panel {
  .euiPopover__panelArrow {
    &:before {
      filter: blur(3px);
    }

    &.euiPopover__panelArrow--top {
      &:before {
        bottom: -$euiPopoverArrowSize;
        border-top-color: $euiColorInk;
        opacity: .2;
        clip: rect(0, $euiPopoverArrowSize * 2 + 5px, $euiPopoverArrowSize + 5px, -5px);
      }

      &:after {
        bottom: -$euiPopoverArrowSize;
      }
    }

    &.euiPopover__panelArrow--right {
      &:before {
        left: -$euiPopoverArrowSize;
        border-right-color: $euiColorInk;
        opacity: .2;
        clip: rect(-5px, $euiPopoverArrowSize, $euiPopoverArrowSize * 2 + 5px, -5px);
      }

      &:after {
        left: -$euiPopoverArrowSize;
      }
    }

    &.euiPopover__panelArrow--bottom {
      &:before {
        top: -$euiPopoverArrowSize;
        border-bottom-color: $euiColorInk;
        opacity: .2;
        clip: rect(-5px, $euiPopoverArrowSize * 2 + 5px, $euiPopoverArrowSize, -5px);
      }

      &:after {
        top: -$euiPopoverArrowSize;
      }
    }

    &.euiPopover__panelArrow--left {
      &:before {
        right: -$euiPopoverArrowSize;
        border-left-color: $euiColorInk;
        opacity: .2;
        clip: rect(-5px, $euiPopoverArrowSize + 5px, $euiPopoverArrowSize * 2 + 5px, 0);
      }

      &:after {
        right: -$euiPopoverArrowSize;
      }
    }
  }
}