.euiRangeHighlight {
  z-index: 1;
  pointer-events: none;

  &__progress {
    background-color: $euiColorPrimary;
    border-color: $euiColorPrimary;

    &--hasFocus {
      background-color: $euiColorPrimary;
    }
  }

  &--compressed {
    .euiRangeHighlight__progress {
      height: $euiRangeHighlightCompressedHeight;
    }
  }
}
