.euiRangeTicks {
  top: 0;
  right: $euiSizeS;
  left: $euiSizeS;
}

.euiRangeTicks:not(.euiRangeTicks--compressed) {
  .euiRangeTick {
    padding-top: 0;
  }

  .euiRangeTick::before {
    width: $euiSizeXS;
    height: $euiSizeM / 2;
  }
}

.euiRangeTicks--compressed {
  .euiRangeTick {
    padding-top: $euiSize - 2px;

    &::before {
      background-color: $euiColorLightShade;
      border-radius: $euiBorderRadiusSmall;
    }
  }
}

.euiRangeTick {
  &::before {
    background-color: $euiColorLightShade;
    border-radius: $euiBorderRadiusSmall;
  }

  &:enabled:hover,
  &:focus,
  &--selected {
    color: $euiColorPrimary;
  }

  &--selected {
    font-weight: $euiFontWeightMedium;
  }
}