.euiRangeTicks:not(.euiRangeTicks--compressed) {
  top: 10px;

  .euiRangeTick {
    padding-top: 18px;
  }

  .euiRangeTick::before {
    width: $euiSizeXS;
    height: $euiSizeM / 2;
    top: 8px;
  }
}

.euiRangeTicks--compressed {
  top: $euiSizeS - 2px;

  .euiRangeTick {
    padding-top: $euiSize - 2px;

    &::before {
      background-color: $euiColorLightShade;
      border-radius: $euiBorderRadiusSmall;
      top: 8px;
    }
  }
}

.euiRangeTick {
  &::before {
    background-color: $euiColorLightShade;
    border-radius: $euiBorderRadiusSmall;
  }

  &:enabled:hover,
  &:focus,
  &--selected {
    color: $euiColorPrimary;
  }

  &--selected {
    font-weight: $euiFontWeightMedium;
  }
}