
.euiRangeSlider {
  &--compressed {
    @include euiRangeTrackPerBrowser {
      @include euiRangeTrackSize($compressed: true);
    }
  }

  // range sliders with only one thumb
  @include euiRangeThumbPerBrowser {
    @include euiBottomShadowFlat;
    position: relative;
    z-index: 3; // higher than .euiRangeHighlight that is 1
  }
}

.euiRangeSlider--hasRange {
  @include euiRangeTrackPerBrowser {
    background-color: $euiRangeTrackColor;
    border-color: $euiRangeTrackBorderColor;
  }
}
