.euiRangeThumb {
  background-color: $euiColorPrimary !important; // sass-lint:disable-line no-important
  border: 1px solid $euiRangeThumbBorderColor;
  z-index: 2; // higher than .euiRangeSlider that is 2
  pointer-events: none;

  &--hasTicks {
    top: 0;
    margin-top: 0;
  }

  &:focus {
    @include euiRangeThumbFocus;
  }

  &:focus:focus-visible {
    outline: none;
  }
}

