// Fixed heights ensure proper alignment with pixel grid

// MEDIUM
.euiTab {
  @include euiTitle('xxs');
  line-height: $euiSizeXXL;
  padding: 0 $euiSizeXS;

  & + .euiTab {
    margin-left: $euiSize;
  }

  &:focus {
    background-color: transparent;
  }
}

.euiTabs {
  // SMALL
  &--small .euiTab {
    @include euiTitle('xxxs');
    line-height: $euiSizeXL;
    padding: 0 $euiSizeXS;
  }

  // LARGE
  &--large .euiTab {
    @include euiTitle('xxs');
    line-height: $euiSizeXXL + $euiSizeS;
    padding: 0 $euiSizeXS;

    & + .euiTab {
      margin-left: $euiSizeL;
    }
  }

  // SELECTED
  .euiTab-isSelected {
    color: $euiColorPrimaryText;

    &:hover,
    &:focus {
      text-decoration: underline;
      cursor: pointer;
    }

    &:focus-visible {
      box-shadow: none;
    }
  }
}
