// Fixed heights ensure proper alignment with pixel grid

.euiTab {
  font-weight: $euiFontWeightMedium;
  height: $euiSizeXXL + $euiSizeS;
}

.euiTabs--small .euiTab {
  height: $euiSizeXXL;
}

.euiTabs--large .euiTab {
  @include fontSize($euiTabFontSizeL);
  height: $euiSizeXXL + $euiSizeS;
}
