.guideSection__tableCodeBlock {
  padding-left: $euiSizeXS;
  padding-right: $euiSizeXS;
}

.guideSection__propsTableIntro {
  padding: $euiSizeM $euiSizeS 0;
}

.guideSectionExampleCode__link {
  text-align: right;
  padding-top: $euiSizeS;
  padding-bottom: $euiSizeS;
}

.guideSectionTabs {
  padding: $euiSizeXS $euiSizeM;

  &--open {
    padding-bottom: 0;
  }
}

.guideSectionTabs__tab > * {
  font-weight: $euiFontWeightMedium !important; // stylelint-disable-line declaration-no-important
}

.guideDemo__ghostBackground {
  @if (lightness($euiColorTextParagraph) < 50) {
    color: $euiColorGhost;
    // Override EuiPanel specificity
    background: $euiColorDarkestShade !important; // stylelint-disable-line declaration-no-important
  }
}
