.Guideline {
  margin-bottom: $euiSizeXXL * 2;

  &.Guideline--hasHeading {
    margin-top: $euiSizeXXL * 2;
  }

  & + .Guideline:not(.Guideline--hasHeading) {
    margin-top: $euiSizeXXL * -2;
  }

  .euiTitle + &.Guideline--hasHeading {
    margin-top: $euiSizeXXL;
  }
}
