.Guideline {
  margin-bottom: $euiSizeXL;

  &.Guideline--hasHeading {
    margin-top: $euiSizeXL * 2;

    & + .Guideline:not(.Guideline--hasHeading) {
      margin-top: $euiSizeXL * -1;
    }
  }

  .euiTitle + &.Guideline--hasHeading {
    margin-top: $euiSizeXL;
  }
}
