.euiTabs {
  display: flex;
  border-bottom: $euiBorderThin;
}

.euiTab {
  @include kuiFontSize;

  position: relative;
  cursor: pointer;
  padding: $euiSizeM $euiSize;
  color: $euiColorDarkShade;
  background-color: transparent;
  transition: all $euiAnimSpeedNormal $euiAnimSlightResistance;

  &:hover:not(.euiTab-isSelected) {
    color: $euiTextColor;
    text-decoration: underline;
  }

  &:focus {
    background-color: $euiFocusBackgroundColor;
    text-decoration: underline;
  }

  &.euiTab-isSelected {
    cursor: default;
    color: $euiColorSecondary;

    &:after {
      position: absolute;
      bottom: -1px;
      left: 0;
      content: ' ';
      width: 100%;
      height: $euiBorderWidthThick;
      background-color: $euiColorSecondary;
      animation: kuiTab $euiAnimSpeedFast $euiAnimSlightResistance;
    }
  }
}

  .euiTab__content {
    display: block;
    transition: transform $euiAnimSpeedFast $euiAnimSlightBounce;
    transform: translateY(0);
  }


@keyframes kuiTab {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
