.euiTabs {
  @include euiScrollBar;
  display: flex;
  position: relative;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden; // don't scroll vertically when scrolling horizontally

  // Changing height of scrollbar so it sits flush with border
  // sass-lint:disable no-vendor-prefixes
  &::-webkit-scrollbar {
    height: 3px;
  }

  &:not(.euiTabs--condensed)::before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $euiColorLightShade;
    content: '';
  }
}

.euiTab {
  @include fontSize($euiTabFontSize);
  line-height: $euiLineHeight;
  position: relative;
  cursor: pointer;
  padding: $euiSizeM $euiSize;
  background-color: transparent;
  transition: color $euiAnimSpeedNormal $euiAnimSlightResistance, background-color $euiAnimSpeedNormal $euiAnimSlightResistance;

  &:hover:not(.euiTab-isSelected) {
    color: $euiTextColor;
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;

    .euiTabs:not(.euiTabs--condensed) & {
      background-color: $euiFocusBackgroundColor;

      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background-color: $euiColorLightShade;
        content: '';
      }
    }
  }

  &.euiTab-isDisabled {
    color: $euiColorMediumShade;

    &:hover {
      cursor: not-allowed;
      text-decoration: none;
      color: $euiColorMediumShade;
    }
  }

  &.euiTab-isSelected {
    cursor: default;
    color: $euiColorPrimary;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      content: ' ';
      width: 100%;
      height: $euiBorderWidthThick;
      background-color: $euiColorPrimary;
      animation: euiTab $euiAnimSpeedFast $euiAnimSlightResistance;
    }
  }

  .euiTabs--small & {
    @include fontSize($euiTabFontSizeS);
    padding: $euiSizeS;
  }

  .euiTabs--condensed & {
    font-weight: 600;
    padding: $euiSizeS 0;

    & + .euiTab {
      margin-left: $euiSizeL;
    }
  }

  .euiTabs--expand & {
    flex-grow: 1;
    flex-basis: 0%;
  }
}

.euiTab__content {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: transform $euiAnimSpeedFast $euiAnimSlightBounce;
  transform: translateY(0);
}

@keyframes euiTab {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
