.euiSwitch {
  position: relative;
  display: inline-block;
  min-height: $euiSwitchHeight;

  .euiSwitch__label {
    padding-left: $euiSizeS;
    line-height: $euiSwitchHeight;
    font-size: $euiFontSizeS;
    vertical-align: middle;
  }

  /**
   * 1. The input is "hidden" but still focusable.
   * 2. Make sure it's still hidden when [disabled].
   */
  .euiSwitch__input,
  .euiSwitch__input[disabled] /* 2 */ {
    position: absolute;
    opacity: 0; /* 1 */
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .euiSwitch__input:focus + .euiSwitch__body {

    .euiSwitch__thumb {
      @include euiCustomControlFocused;
    }
  }

  .euiSwitch__body {
    pointer-events: none;
    width: $euiSwitchWidth;
    height: $euiSwitchHeight;
    background-color: $euiColorPrimary;
    display: inline-block;
    position: relative;
    border-radius: $euiSwitchHeight;
    vertical-align: middle;
  }

  .euiSwitch__thumb {
    @include euiCustomControl($type: 'round', $size: $euiSwitchThumbSize);

    position: absolute;
    display: inline-block;
    left: $euiSwitchWidth - $euiSwitchThumbSize;
    transition: border-color $euiAnimSpeedNormal $euiAnimSlightBounce, background-color $euiAnimSpeedNormal $euiAnimSlightBounce, left $euiAnimSpeedNormal $euiAnimSlightBounce, transform $euiAnimSpeedNormal $euiAnimSlightBounce;
  }

  .euiSwitch__track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: $euiSwitchHeight;
  }

  .euiSwitch__icon {
    position: absolute;
    right: -($euiSwitchWidth - ($euiSwitchThumbSize / 2));
    top: ($euiSwitchHeight - $euiSwitchIconHeight) / 2;
    bottom: 0;
    width: $euiSwitchWidth - ($euiSwitchThumbSize / 2) + $euiSizeS;
    height: $euiSwitchIconHeight;
    transition: left $euiAnimSpeedNormal $euiAnimSlightBounce, right $euiAnimSpeedNormal $euiAnimSlightBounce;
    fill: $euiTextColor;
  }

  .euiSwitch__icon--checked {
    right: auto;
    left: -$euiSizeS;
    fill: $euiColorEmptyShade;
  }

  /**
   * The thumb is slightly scaled when in use, unless it's disabled.
   */
  &:hover {
    .euiSwitch__input:not(:disabled) ~ .euiSwitch__body {
      .euiSwitch__thumb {
        transform: scale(1.05);
      }
    }
  }

  &:active {
    .euiSwitch__thumb {
      transform: scale(.95);
    }
  }

  .euiSwitch__input:disabled:hover {
    cursor: not-allowed;
  }

  .euiSwitch__input:disabled ~ .euiSwitch__body,
  .euiSwitch__input:checked:disabled ~ .euiSwitch__body {
    background-color: lightOrDarkTheme(transparentize($euiColorMediumShade, .8), transparentize($euiColorMediumShade, .3));

    .euiSwitch__thumb {
      @include euiCustomControlDisabled;
      background-color: lightOrDarkTheme(transparentize($euiColorMediumShade, .8), transparentize($euiColorMediumShade, .3));
    }

    .euiSwitch__icon {
      fill: $euiFormCustomControlDisabledIconColor;
    }

    + label {
      color: $euiFormControlDisabledColor;
    }
  }

  .euiSwitch__input:not(:checked):not(:disabled) ~ .euiSwitch__body {
    background-color: lightOrDarkTheme(transparentize($euiColorMediumShade, .8), transparentize($euiColorMediumShade, .3));
  }

  /**
   * When input is not checked, we shift around the positioning of sibling/child selectors.
   */
  .euiSwitch__input:not(:checked) ~ .euiSwitch__body {
    .euiSwitch__thumb {
      left: 0;
    }

    .euiSwitch__icon {
      right: -$euiSizeS;

      &.euiSwitch__icon--checked {
        right: auto;
        left: -($euiSwitchWidth - ($euiSwitchThumbSize / 2));
      }
    }
  }
}
