.euiSwitch {
  position: relative;
  display: inline-block;
  min-height: $euiSwitchHeight;

  .euiSwitch__label {
    padding-left: $euiSizeS;
    line-height: $euiSwitchHeight;
    font-size: $euiFontSizeS;
  }

  /**
   * 1. The input is "hidden" but still focusable.
   */
  .euiSwitch__input {
    position: absolute;
    opacity: 0; /* 1 */
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  .euiSwitch__input:focus + .euiSwitch__body {

    .euiSwitch__thumb {
      border-color: $euiColorPrimary;
      border-width: $euiSizeXS / 2;
    }
  }

  .euiSwitch__body {
    pointer-events: none;
    width: $euiSwitchWidth;
    height: $euiSwitchHeight;
    background-color: $euiColorPrimary;
    box-shadow: none;
    display: inline-block;
    position: relative;
    border-radius: $euiSwitchHeight;
    vertical-align: middle;
  }

  .euiSwitch__thumb {
    position: absolute;
    width: $euiSwitchHeight;
    height: $euiSwitchHeight;
    display: inline-block;
    background-color: $euiColorEmptyShade;
    left: $euiSwitchWidth - $euiSwitchThumbSize;
    border-radius: 50%;
    border: $euiBorderThin;
    transition: border-color $euiAnimSpeedNormal $euiAnimSlightBounce, background-color $euiAnimSpeedNormal $euiAnimSlightBounce, left $euiAnimSpeedNormal $euiAnimSlightBounce, transform $euiAnimSpeedNormal $euiAnimSlightBounce;
  }

  .euiSwitch__track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: $euiSwitchHeight;
  }

  .euiSwitch__icon {
    position: absolute;
    right: -($euiSwitchWidth - ($euiSwitchThumbSize / 2));
    top: ($euiSwitchHeight - $euiSwitchIconHeight) / 2;
    bottom: 0;
    width: $euiSwitchWidth - ($euiSwitchThumbSize / 2) + $euiSizeS;
    height: $euiSwitchIconHeight;
    transition: left $euiAnimSpeedNormal $euiAnimSlightBounce, right $euiAnimSpeedNormal $euiAnimSlightBounce;
    fill: $euiTextColor;
  }

  .euiSwitch__icon--checked {
    right: auto;
    left: -$euiSizeS;
    fill: $euiColorEmptyShade;
  }

  /**
   * The thumb is slightly scaled when in use, unless it's disabled.
   */
  &:hover {
    .euiSwitch__input:not(:disabled) ~ .euiSwitch__body {
      .euiSwitch__thumb {
        transform: scale(1.05);
      }
    }
  }

  &:active {
    .euiSwitch__thumb {
      transform: scale(.95);
    }
  }
  .euiSwitch__input:disabled:hover {
    cursor: not-allowed;
  }

  .euiSwitch__input:checked:disabled ~ .euiSwitch__body {
    background: $euiColorLightShade;
  }

  .euiSwitch__input:disabled ~ .euiSwitch__body {
    background: $euiColorLightestShade;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.08);
  }

  .euiSwitch__input:checked:focus + .euiSwitch__body .euiSwitch__thumb {
    border-color: darken($euiColorPrimary, 10%)
  }

  /**
   * When input is not checked, we shift around the positioning of sibling/child selectors.
   */
  .euiSwitch__input:not(:checked) ~ .euiSwitch__body {
    background-color: $euiFormBackgroundColor;
    box-shadow: inset 0 0 0 1px $euiBorderColor;

    .euiSwitch__thumb {
      left: 0;
    }

    .euiSwitch__icon {
      right: -$euiSizeS;

      &.euiSwitch__icon--checked {
        right: auto;
        left: -($euiSwitchWidth - ($euiSwitchThumbSize / 2));
      }
    }
  }
}
