.euiComboBox {
  @include euiFormControlSize;
  position: relative;

  /**
   * 1. Allow pills to truncate their text with an ellipsis.
   * 2. Don't allow pills to overlap with the caret.
   */
  .euiComboBox__inputWrap {
    @include euiFormControlStyle;
    @include euiFormControlWithIcon($isIconOptional: true);
    display: flex; /* 1 */
    flex-wrap: wrap; /* 1 */
    padding: $euiSizeXS $euiSizeXXL $euiSizeXS $euiSizeXS; /* 2 */

    &:hover {
      cursor: text;
    }
  }

  /**
   * 1. Reset appearance on Safari.
   * 2. Resize input to fill remaining width without spilling onto a newline.
   */
  .euiComboBox__input {
    appearance: none; /* 1 */
    min-width: $euiSizeS; /* 2 */
    flex: 1 1 0; /* 2 */
    padding: 0;
    border: none;
    background: transparent;
    font-size: $euiFontSizeS;
    font-family: $euiFontFamily;
    color: $euiTextColor;
    margin: $euiSizeXS;
  }

  .euiComboBox__panel {
    position: absolute;
    top: 100%;
    left: -1px;
    right: -1px;
    border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
    visibility: hidden;
    opacity: 0;
    border-top: none;
    transition:
      visibility $euiAnimSpeedNormal $euiAnimSlightResistance,
      opacity $euiAnimSpeedNormal $euiAnimSlightResistance;
  }

  .euiComoboBox__empty {
    @include euiFontSizeS;
    padding: $euiSizeS;
    text-align: center;
    color: $euiColorDarkShade;
  }

  .euiComboBox__rowWrap {
    @include euiScrollBar;

    padding: $euiSizeS;
    max-height: 200px;
    overflow-y: auto;
  }

  .euiComboBox__footer {
    padding: $euiSizeS;
    border-top: $euiBorderThin;
    background: $euiFormBackgroundColor;
  }
  &.euiComboBox-isOpen {
    .euiComboBox__panel {
      visibility: visible;
      opacity: 1;
    }

    .euiComboBox__inputWrap {
      background: $euiColorEmptyShade;
      box-shadow:
        0 4px 4px -2px rgba(0, 0, 0, 0.1),
        0 0 0 1px rgba(0,0,0,0.16),
        inset 0 0 0 0 $euiColorEmptyShade,
        inset 0 -2px 0 0 $euiColorPrimary;
    }
  }
}
