.euiComboBoxPill {
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  font-size: $euiSizeM;
  line-height: $euiSizeL;
  text-decoration: none;
  border: solid 1px transparent;
  border-radius: $euiSizeL;
  padding: 0 $euiSizeS;
  background-color: transparent;
  white-space: nowrap;
  vertical-align: middle;
  border-color: $euiColorLightShade;
  background-color: $euiColorEmptyShade;
  margin: $euiSizeXS * 0.5;

  .euiComboBoxPill__label {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1 1 auto;
  }

  .euiComboBoxPill__close {
    flex: 0 0 auto;
    width: $euiSizeM;
    height: $euiSizeM;
    margin-left: $euiSizeXS;
    border: none;
    vertical-align: middle;

    &:hover {
      .euiComboBoxPill__closeIcon {
        fill: $euiColorDanger;
      }
    }

    &:focus {
      background: transparentize($euiColorDanger, .9);
    }

    svg {
      width: $euiSizeM;
      height: $euiSizeM;
      vertical-align: top !important;
    }
  }
}
