.euiComboBox {
  @include euiFormControlSize(auto, $includeAlternates: true);
  position: relative;
  z-index: $euiZComboBox + 1; // Ensures the dropdown's shadow is hidden behind the input on top

  /**
   * 1. Allow pills to truncate their text with an ellipsis.
   * 2. Don't allow pills to overlap with the caret or clear button.
   * 3. The height on combo can be larger than normal text inputs.
   */
  .euiComboBox__inputWrap {
    @include euiFormControlStyle($includeStates: false, $includeSizes: true);
    @include euiFormControlWithIcon($isIconOptional: true);
    @include euiFormControlSize(auto); /* 3 */

    padding: $euiSizeXS;
    display: flex; /* 1 */
    flex-wrap: wrap; /* 1 */
    @include euiFormControlLayout__padding(2); /* 2 */
    align-content: flex-start;

    &:hover {
      cursor: text;
    }
  }

  /**
   * 1. Force field height to match other field heights.
   * 2. Force input height to expand tp fill this element.
   * 3. Reset appearance on Safari.
   * 4. Fix react-input-autosize appearance.
   * 5. Prevent a lot of input from causing the react-input-autosize to overflow the container.
   */
  .euiComboBox__input {
    display: inline-flex !important; /* 1 */
    height: 32px; /* 2 */
    overflow: hidden; /* 5 */

    > input {
      appearance: none; /* 3 */
      padding: 0;
      border: none;
      background: transparent;
      font-size: $euiFontSizeS;
      font-family: $euiFontFamily;
      color: $euiTextColor;
      margin: $euiSizeXS;
      line-height: $euiLineHeight; /* 4 */
    }
  }

  &.euiComboBox-isOpen {
    .euiComboBox__inputWrap {
      @include euiFormControlFocusStyle;
    }
  }

  &.euiComboBox-isInvalid {
    .euiComboBox__inputWrap {
      @include euiFormControlInvalidStyle;
    }
  }

  &.euiComboBox-isDisabled {
    .euiComboBox__inputWrap {
      @include euiFormControlDisabledStyle;
    }
  }
}
