.guideHeader {
  background: #222;
  color: #FFF !important;
  height: $euiSizeXXL;
  border-bottom: $euiBorderThin;
  line-height: $euiSizeXXL;
  padding-left: $euiSizeS;
}

.guideHeader__link {
  color: #FFF;
}

.guideHeader__appListIcon {
  fill: #FFF !important;
}
