.euiButtonIcon {
  @include kuiButton;

  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  height: $euiSizeXL;
  width: $euiSizeXL;

  // Account for border.
  .euiButtonIcon__icon {
    transform: translateY(-2px);
  }

  &:disabled {
    color: $euiButtonColorDisabled;
    pointer-events: none;

    .euiButtonIcon__icon {
      fill: $euiButtonColorDisabled;
    }

    &:hover, &:focus {
      background-color: $euiColorEmptyShade;
      text-decoration: none;
    }
  }
}

// Modifier naming and colors.
$buttonTypes: (
  primary: $euiColorPrimary,
  danger: $euiColorDanger,
  disabled: tintOrShade($euiTextColor, 70%, 80%),
  ghost: $euiColorGhost,
);

// Create button modifiders based upon the map.
@each $name, $color in $buttonTypes {
  .euiButtonIcon--#{$name} {
    color: $color;

    .euiButtonIcon__icon {
      fill: $color;
    }

    &:focus {
      background-color: transparentize($color, .9);
    }

    &:hover, &:focus {
      background-color: transparentize($color, .9);

      @if ($name == 'disabled') {
        cursor: not-allowed;
      }
    }
  }
}
