.euiButtonIcon {
  @include euiButton;

  border-color: transparent;
  background-color: transparent;
  box-shadow: none;
  height: $euiSizeL;
  width: $euiSizeL;
  line-height: $euiSizeL;
  border-radius: $euiBorderRadius;

  // Account for border.
  .euiButtonIcon__icon {
    transform: translateY(-2px);
  }

  &:disabled {
    color: $euiButtonColorDisabled;
    pointer-events: none;

    .euiButtonIcon__icon {
      pointer-events: auto;
      cursor: not-allowed;
    }

    &:hover, &:focus {
      background-color: $euiColorEmptyShade;
      text-decoration: none;
    }
  }
}

// Modifier naming and colors.
$buttonTypes: (
  danger: $euiColorDanger,
  disabled: $euiButtonColorDisabled,
  ghost: $euiColorGhost,
  primary: $euiColorPrimary,
  subdued: $euiColorDarkShade,
  success: $euiColorSuccess,
  text: $euiTextColor,
  warning: $euiColorWarning,
);

// Create button modifiders based upon the map.
@each $name, $color in $buttonTypes {
  .euiButtonIcon--#{$name} {
    color: $color;

    &:focus {
      background-color: transparentize($color, .9);
    }

    &:hover, &:focus {
      @if ($name == 'disabled') {
        cursor: not-allowed;
      }
    }
  }
}
