// Modifier naming and colors.
$euiButtonIconTypes: (
  danger: $euiColorDanger,
  disabled: $euiButtonColorDisabledText,
  ghost: $euiColorGhost,
  primary: $euiColorPrimary,
  subdued: $euiTextSubduedColor,
  success: $euiColorSuccess,
  text: $euiTextColor,
  warning: $euiColorWarning,
);
