// Modifier naming and colors.
$euiButtonIconTypes: (
  danger: makeGraphicContrastColor($euiColorDanger),
  disabled: $euiButtonColorDisabledText,
  ghost: $euiColorGhost,
  primary: makeGraphicContrastColor($euiColorPrimary),
  subdued: $euiTextSubduedColor,
  success: makeGraphicContrastColor($euiColorSuccess),
  text: $euiTextColor,
  warning: makeGraphicContrastColor($euiColorWarning),
);
