// color mode specific variables
@import './variables/colors/colors_vis_dark';
@import './variables/colors/colors_dark';
@import './variables/shadows_dark';

// Global styling
@import './variables/index';
@import 'mixins/index';
@import 'node_modules/@elastic/eui-theme-common/src/global_styling/index';
