/**
 * 1. Account for inner box-shadow style border
 */

.euiFormControlGroup {
  // Match just the regular box-shadow of inputs
  @include euiFormControlStyle();
  display: flex;
  padding: 1px; /* 1 */

  &--focus {
    @include euiFormControlFocusStyle();
  }

  > * {
    // defaults to growing children though filter buttons don't grow by default
    flex-grow: 1;
  }

  > .euiFormControlLayout {
    max-width: none;
  }

  [class*="euiField"] {
    box-shadow: none;
    height: $euiFormControlHeight - 2px; /* 1 */
  }

  > .euiFormLabel {
    flex-grow: 0;
    white-space: nowrap;
    margin-bottom: 0;
    height: $euiFormControlHeight - 2px; /* 1 */
    line-height: 1.4em;
    padding: $euiFormControlPadding;
    background-color: transparentize($euiColorFullShade, .95);
  }

  > .euiButton {
    min-width: $euiSizeXL*2;
    border: none;
    box-shadow: none !important;
  }

  > .euiText {
    line-height: $euiFormControlHeight - 2px !important;
  }

  .euiHorizontalRule  {
    width: 1.1px !important;
    height: $euiFormControlHeight - 2px;
    margin: 0;
  }

  // Date picker hack
  .euiDatePicker {
    // The actual input
    .euiDatePicker {
      text-align: center;
      padding-left: $euiFormControlPadding;
    }

    // Force remove icon
    .euiFormControlLayoutIcons {
      display: none;
    }
  }
}
