.euiOverlayMask {
  position: fixed;
  z-index: $euiZMask;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10vh;
  animation: euiAnimFadeIn $euiAnimSpeedFast ease-in;

  $backgroundColor: $euiColorEmptyShade;

  @if (lightness($euiTextColor) > 50) {
    $backgroundColor: $euiColorLightShade;
  }

  background: transparentize($backgroundColor, .2);
}

.euiBody-hasOverlayMask {
  overflow: hidden;
}
