.euiCallOut {
  padding: $euiSize;
  border-left: $euiSizeXS / 2 solid transparent;
}

// Modifier naming and colors.
$callOutTypes: (
  info: $euiColorPrimary,
  success: $euiColorSecondary,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
);

// Create button modifiders based upon the map.
@each $name, $color in $callOutTypes {
  .euiCallOut--#{$name} {
    border-color: $color;
    background-color: tintOrShade($color, 90%, 70%);

    $textColor: shadeOrTint($color, 30%, 70%);

    .euiCallOutHeader__icon {
      fill: $textColor;
    }

    .euiCallOutHeader__title {
      color: $textColor;
    }
  }
}

/**
 * 1. Align icon with first line of title text if it wraps.
 * 2. If content exists under the header, space it appropriately.
 * 3. Apply margin to all but last item in the flex.
 */
.euiCallOutHeader {
  @include kuiFontSizeM;
  display: flex;
  align-items: baseline; /* 1 */

  + * {
    margin-top: $euiSizeS; /* 1 */
  }

  > * + * {
    margin-left: $euiSizeS; /* 3 */
  }
}

  /**
   * 1. Vertically center icon with first line of title.
   */
  .euiCallOutHeader__icon {
    flex: 0 0 auto;
    transform: translateY(2px); /* 1 */
  }
