// Kibana's Ace Editor uses this function, can't remove yet
// https://github.com/elastic/kibana/blob/main/src/core/public/styles/_ace_overrides.scss
// As well as deprecation notices
// https://github.com/elastic/kibana/blob/main/x-pack/plugins/upgrade_assistant/public/application/components/es_deprecations/deprecation_types/reindex/flyout/_step_progress.scss
@function euiCallOutColor($type: 'primary', $returnBackgroundOrForeground: 'background') {
  @warn 'euiCallOutColor() is set for deprecation. Please consider using EuiCallOut directly.';

  @if (map-has-key($euiCallOutTypes, $type)) {
    $color: map-get($euiCallOutTypes, $type);
    $backgroundColor: tintOrShade($color, 90%, 70%);
    $foregroundColor: shadeOrTint(makeHighContrastColor($color, $backgroundColor), 0, 20%);

    @if ($returnBackgroundOrForeground == 'background') {
      @return $backgroundColor;
    } @else if ($returnBackgroundOrForeground == 'foreground') {
      @return $foregroundColor;
    } @else {
      @warn 'Incorrect value provided as $returnBackgroundOrForeground';
    }
  } @else {
    @warn 'Incorrect type of call out provided. See the $euiCallOutTypes map for allowed values.';
  }
}
