.euiCommentTimeline__content {
  min-width: $euiSizeXXL;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.euiCommentTimeline__icon--default {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  border-radius: 50%;
  background-color: $euiColorLightestShade;

  &.euiCommentTimeline__icon--regular {
    width: $euiSizeXXL;
    height: $euiSizeXXL;
  }

  &.euiCommentTimeline__icon--update {
    width: $euiSizeL;
    height: $euiSizeL;
  }
}