// The $euiFocusBackgroundColor without the alpha channel in light and dark mode
$euiSelectableTemplateFocusBackgroundLight: rgb(232, 241, 250);
$euiSelectableTemplateFocusBackgroundDark: rgb(35,56,77);

$euiSelectableTemplateSitewideTypes: (
  'application': (
    'color': lightOrDarkTheme(makeHighContrastColor($euiColorVis1, $euiSelectableTemplateFocusBackgroundLight), makeHighContrastColor($euiColorVis1, $euiSelectableTemplateFocusBackgroundDark)),
    'font-weight': $euiFontWeightMedium,
  ),
  'deployment': (
    'color': lightOrDarkTheme(makeHighContrastColor($euiColorVis0, $euiSelectableTemplateFocusBackgroundLight), makeHighContrastColor($euiColorVis0, $euiSelectableTemplateFocusBackgroundDark)),
    'font-weight': $euiFontWeightMedium,
  ),
  'article': (
    'color': lightOrDarkTheme(makeHighContrastColor($euiColorVis3, $euiSelectableTemplateFocusBackgroundLight), makeHighContrastColor($euiColorVis3, $euiSelectableTemplateFocusBackgroundDark)),
    'font-weight': $euiFontWeightMedium,
  ),
  'case': (
    'color': lightOrDarkTheme(makeHighContrastColor($euiColorVis9, $euiSelectableTemplateFocusBackgroundLight), makeHighContrastColor($euiColorVis9, $euiSelectableTemplateFocusBackgroundDark)),
    'font-weight': $euiFontWeightMedium,
  ),
  'platform': (
    'color': lightOrDarkTheme(makeHighContrastColor($euiColorVis5, $euiSelectableTemplateFocusBackgroundLight), makeHighContrastColor($euiColorVis5, $euiSelectableTemplateFocusBackgroundDark)),
    'font-weight': $euiFontWeightMedium,
  ),
);
