/**
 * 1. We don't want any of the animations that come inherited from the mixin.
 *    These should act like normal links instead.
 * 2. Change the easing, quickness to not bounce so lighter backgrounds don't flash
 * 3. Make sure the quantity doesn't get an underline on hover
 */
.euiFacetButton {
  // sass-lint:disable-block no-important
  @include euiButton;
  @include euiFontSizeS;
  text-align: left;
  border: none;
  transform: none !important; /* 1 */
  animation: none !important; /* 1 */
  transition: all $euiAnimSpeedFast ease-in; /* 2 */

  &:hover,
  &:focus {
    // sass-lint:disable-block no-important
    text-decoration: none !important; /* 3 */

    &:not(:disabled) .euiFacetButton__text {
      text-decoration: underline; /* 3 */
    }
  }

  &:focus {
    background-color: $euiFocusBackgroundColor;
    // use box-shadow as a "faux outline" to apply left/right padding only
    box-shadow: -$euiSizeXS 0 $euiFocusBackgroundColor, $euiSizeXS 0 $euiFocusBackgroundColor;
  }

  &:disabled {
    color: $euiButtonColorDisabled;
    pointer-events: none;

    .euiFacetButton__content {
      pointer-events: auto;
      cursor: not-allowed;
    }

    .euiFacetButton__icon,
    .euiFacetButton__quantity {
      opacity: .5;
    }

    &:focus {
      background-color: transparent;
    }

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}

.euiFacetButton__content {
  @include euiButtonContent;
}

.euiFacetButton__text {
  @include euiTextShift;
  @include euiTextTruncate;
  flex-grow: 1;
  vertical-align: middle;

  .euiFacetButton--isSelected & {
    font-weight: $euiFontWeightBold;
  }
}

.euiFacetButton__icon {
  transition: all $euiAnimSpeedFast ease-in;
}
