$gutterTypes: (
  gutterExtraSmall: $euiSizeXS,
  gutterSmall: $euiSizeS,
  gutterMedium: $euiSize,
  gutterLarge: $euiSizeL,
  gutterExtraLarge: $euiSizeXXL,
);
.euiFacetGroup--horizontal {
  .euiFacetButton {
    height: $euiButtonHeightSmall;

  }
}
@each $gutterName, $gutterSize in $gutterTypes {
  .euiFacetGroup--#{$gutterName} {
    .euiFacetButton {
      &:not(:last-of-type) {
        margin-right: $gutterSize;
      }
      margin-bottom: $gutterSize;
    }
  }
}
