@import '../form/variables';

.euiSearchBar__searchHolder {
  min-width: $euiFormMaxWidth / 2;
}

@include euiBreakpoint('m', 'l', 'xl') {
  .euiSearchBar__filtersHolder {
    // Helps with flex-wrapping
    max-width: calc(100% - #{$euiSize});
  }
}
