.playgroundCompiler {
  > div {
    justify-content: left !important; // sass-lint:disable-line no-important
    display: block !important; // sass-lint:disable-line no-important
  }
}

.playgroundCompiler__ghostBackground {
  padding: 0 $euiSize;

  @if (lightness($euiTextColor) < 50) {
    background: $euiColorDarkestShade;
  }
}