.euiLineAnnotations__line {
  stroke: red;
  stroke-width: 2px;
  opacity: 0.3;
}
.euiLineAnnotations__text {
  font-size: $euiFontSizeXS;
  fill: red;
  stroke-width: 0;
  opacity: 0.3;
  alignment-baseline: text-after-edge;
}
