.euiCodeBlock {
  display: block;
  overflow: auto;

  .euiCodeBlock__pre {
    display: block;
    white-space: pre-wrap;
  }

  .euiCodeBlock__code {
    display: block;
    line-height: $euiLineHeight;
    font-family: $euiCodeFontFamily;
    font-weight: $euiFontWeightRegular;
  }

  &.euiCodeBlock--fontSmall {
    font-size: $euiFontSizeXS;
  }

  &.euiCodeBlock--fontMedium {
    font-size: $euiFontSizeS;
  }

  &.euiCodeBlock--fontLarge {
    font-size: $euiFontSize;
  }

  &.euiCodeBlock--paddingSmall {
    padding: $euiSizeS;
  }

  &.euiCodeBlock--paddingMedium {
    padding: $euiSize;
  }

  &.euiCodeBlock--paddingLarge {
    padding: $euiSizeL;
  }

  /**
  ** 1. Size the code against the text its embedded within.
  **/
  &.euiCodeBlock--inline {
    vertical-align: middle;
    display: inline-block;
    white-space: pre;
    color: $euiTextColor;
    font-size: 75%; // 1
    padding:  0 $euiSizeXS;
    background: $euiColorLightestShade;

    .euiCodeBlock__pre, .euiCodeBlock__code {
      display: inline;
      white-space: normal;
    }
  }

  &.euiCodeBlock--transparentBackground {
    background: transparent;
  }
}
