.euiCode {
  @include kuiCodeFont;
  display: inline-block;
  white-space: pre;
  background: $euiColorLightestShade;
  color: $euiColorAccent;
  border: $euiBorderThin;
  font-size: $euiFontSizeXS;
  padding:  0 $euiSizeXS;
}
