/*
* 1. Size the code against the text its embedded within.
*/
.euiCode {
  @include euiCodeFont;
  font-size: .9em; /* 1 */
  padding: .2em .5em; /* 1 */
  background: $euiCodeBlockBackgroundColor;

  &.euiCode--transparentBackground {
    background: transparent;
  }

  @include euiCodeSyntaxTokens;
}
