.euiCodeBlock {
  overflow: auto;

  .euiCodeBlock__pre {
    white-space: pre-wrap;
  }

  .euiCodeBlock__code {
    display: block;
    line-height: $euiLineHeight;
    font-family: $euiCodeFontFamily;
    font-weight: $euiFontWeightRegular;
  }

  &.euiCodeBlock--fontSmall {
    font-size: $euiFontSizeXS;
  }

  &.euiCodeBlock--fontMedium {
    font-size: $euiFontSizeS;
  }

  &.euiCodeBlock--fontLarge {
    font-size: $euiFontSize;
  }

  &.euiCodeBlock--paddingSmall {
    padding: $euiSizeS;
  }

  &.euiCodeBlock--paddingMedium {
    padding: $euiSize;
  }

  &.euiCodeBlock--paddingLarge {
    padding: $euiSizeL;
  }

  &.euiCodeBlock--inline {
    display: inline;
    padding: 0;
    background: transparent;
    vertical-align: middle;

    .euiCodeBlock__pre, .euiCodeBlock__code {
      display: inline;
      white-space: normal;
    }
  }

  &.euiCodeBlock--transparentBackground {
    background: transparent;
  }
}
