@import '../../../../src/global_styling/mixins/helpers';

@include euiHeaderAffordForFixed;

.guideBody {
  // Override euiHeaderAffordForFixed mixin since the page template handles this now
  padding-top: 0 !important; // stylelint-disable-line declaration-no-important
}

.euiBody--headerIsFixed--double {
  @include euiHeaderAffordForFixed($euiHeaderHeightCompensation * 2);

  .euiHeader:not(.euiHeader--fixed) {
    // Force headers below the fullscreen.
    // This shouldn't be necessary in consuming applications because headers should always be at the top of the page
    z-index: 0;
  }
}

.guideSideNav {
  @include euiSideNavEmbellish;
}

.guideSideNav__content {
  @include euiYScroll;
  padding: 0 $euiSizeL $euiSizeL;
}

.guideSideNav__search {
  flex-shrink: 0;
  padding: $euiSizeS $euiSizeS $euiSize;
}

.guideSideNav__item {
  // Hate to do this, but it's the only way to get the badge to display correctly
  .euiSideNavItemButton__label {
    // By using the `icon` display of EuiSideNavItem, it will continue to:
    // a) truncate properly
    // b) not underline the badge when selected
    // But it shows to the left of the label instead of right, so we have to shift the order of the label
    order: -1;
  }

  .guideSideNav__newBadge {
    margin-left: $euiSizeXS;
    margin-right: $euiSizeXS;
  }

  // Shift the margin on the badge when selected and the dropdown arrow no longer shows
  .euiSideNavItemButton-isSelected .guideSideNav__newBadge {
    margin-right: 0;
  }
}

.euiSideNavItem--trunk > .euiSideNavItemButton .guideSideNav__item--inSearch .euiMark {
  color: $euiColorPrimaryText;
}

.guideSideNav__item--openSubTitle {
  color: $euiTitleColor;
}

@include euiBreakpoint('xs', 's') {
  .guideSideNav {
    width: 100%;
  }

  .guideSideNav__content {
    padding: 0;
    border-top: $euiBorderThin;
  }

  .euiSideNav-isOpenMobile .euiSideNav__content {
    max-height: 50vh;
    overflow: auto;
  }

  .guideSideNav__search {
    padding: $euiSizeS;
  }
}
