.euiDataGridHeader {
  display: inline-flex;
  min-width: 100%;
}

.euiDataGridHeaderCell {
  @include euiFontSizeXS;

  padding: $euiSizeM / 2;
  border: $euiBorderThin;
  border-left: none;
  position: relative;
  background: $euiColorLightestShade;
  user-select: none;


  &:first-of-type {
    border-left: $euiBorderThin;
  }

  .euiDataGridHeaderCell__content {
    @include euiTextTruncate;
  }
}
