.euiDataGridColumnSelector__item {
  padding: $euiSizeXS;

  &-isDragging {
    @include euiBottomShadow;
    background: $euiColorEmptyShade;
  }
}

// Because we only want this to scroll vertically, we need to offset inner euiFlexGroup negative padding by adding padding
.euiDataGridColumnSelector__columnList {
  @include euiYScrollWithShadows;
  max-height: 400px;
  padding: $euiSizeS;
  margin: 0 (-$euiSizeS);
}

.euiDataGridColumnSelectorPopover {
  // Hack because the fixed positions of drag and drop don't work inside of transformed elements
  // sass-lint:disable-block no-important
  transform: none !important;
  transition: none !important;
  margin-top: -$euiSizeS;
  // IE11 needs a min-width
  min-width: $euiSize * 12;
}
