.euiDataGridColumnSelector__item {
  padding: $euiSizeXS;

  &-isDragging {
    @include euiBottomShadow;
    background: $euiColorEmptyShade;
  }
}

// Because we only want this to scroll vertically, we need to offset inner euiFlexGroup negative padding by adding padding
.euiDataGridColumnSelector__columnList {
  @include euiYScrollWithShadows;
  max-height: 400px;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: (-$euiSizeS);
  margin-inline-end: (-$euiSizeS);
}

.euiDataGridColumnSelector__itemLabel {
  @include euiFontSizeXS;
}

.euiDataGridColumnSelectorPopover {
  // Hack because the fixed positions of drag and drop don't work inside of transformed elements
  // sass-lint:disable-block no-important
  transform: none !important;
  transition: none !important;
  margin-block-start: -$euiSizeS;
  // IE11 needs a min-width
  min-width: $euiSize * 12;
}
