// .euiDataGridColumnSelector { // No need for droppable coloring
// sass-lint:disable-block no-important
// background: $euiColorEmptyShade !important;
// }

.euiDataGridColumnSelector__item {
  background: $euiColorEmptyShade;
  padding: $euiSizeXS;

  &-isDragging {
    @include euiBottomShadow;
  }
}

.euiDataGridColumnSelectorPopover {
  // sass-lint:disable-block no-important
  transform: none !important;
  margin-top: -$euiSizeS;
}
