.euiDataGridRow {
  display: inline-flex;
  min-width: 100%;
}

.euiDataGridRowCell {
  @include euiFontSizeS;
  @include euiTextTruncate;

  padding: $euiSizeM / 2;
  border-right: $euiBorderThin;
  border-bottom: $euiBorderThin;
  overflow: hidden;
  white-space: nowrap;
  flex: 0 0 auto;

  &:first-of-type {
    border-left: $euiBorderThin;
  }
}

// Border alternates
.euiDataGrid--bordersNone {
  .euiDataGridRowCell {
    border: none;
  }
}

.euiDataGrid--bordersHorizontalOnly {
  .euiDataGridRowCell {
    border-right: none;
    border-left: none;
  }
}

// Font alternates
.euiDataGrid--fontSizeSmall {
  .euiDataGridRowCell {
    @include euiFontSizeXS;
  }
}

.euiDataGrid--fontSizeLarge {
  .euiDataGridRowCell {
    @include euiFontSize;
  }
}