.euiDataGrid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  height: 100%;
}

.euiDataGrid--fullScreen {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $euiZDataGrid;
  background: $euiColorEmptyShade;

  .euiDataGrid__pagination {
    padding-bottom: $euiSizeXS;
    background: $euiColorLightestShade;
    border-top: $euiBorderThin;
  }
}

.euiDataGrid__content {
  height: 100%;
  font-feature-settings: 'tnum' 1; // Tabular numbers
  max-width: 100%;
  width: 100%;
  z-index: 2; // Sits above the pagination below it, but below the controls above it
  background: $euiColorEmptyShade;
}

.euiDataGrid__pagination {

  padding-top: $euiSizeXS;
  flex-grow: 0;
}

.euiDataGrid__verticalScroll {
  flex-grow: 1;
  overflow-y: hidden;
  height: 100%;
}

.euiDataGrid__overflow {
  overflow-y: hidden;
  height: 100%;
  background: $euiColorEmptyShade;
}

// This is used to remove extra scrollbars on the body when fullscreen is enabled
.euiDataGrid__restrictBody {
  height: 100vh;
  overflow: hidden;

  .euiHeader {
    z-index: $euiZHeaderBelowDataGrid;
  }
}


.euiDataGrid__controlScroll {
  @include euiYScrollWithShadows;
  max-height: $euiDataGridPopoverMaxHeight;
  padding: $euiSizeS;
  margin: -$euiSizeS; // Offset against the panel to make the scrollbar flush scrollbars
}

.euiDataGrid__focusWrap {
  height: 100%;
}

.euiDataGrid__virtualized {
  @include euiScrollBar($euiColorDarkShade, $euiColorEmptyShade);
  scroll-padding: 0;
}
