.euiMarkdownEditor__toolbar {
  background: $euiColorEmptyShade;
  border: $euiBorderThin;
  border-color: $euiColorLightShade;
  border-bottom: none;
  padding: $euiSizeXS;

  &__buttons {
    flex-direction: row;

    > * {
      margin-right: $euiSizeXS;
    }
  }

  &__divider {
    content: '';
    height: $euiSizeL;
    display: block;
    margin-left: $euiSizeXS;
    padding-right: $euiSizeXS;
    border-left: 1px solid $euiColorLightShade;
  }
}


.euiMarkdownEditor__previewToggleButton {
  width: 150px;
}

.euiMarkdownEditor__previewContainer {
  border: $euiBorderThin;
  min-height: 150px;
  overflow-y: auto;
  @include euiScrollBar;
  padding: $euiSizeM;
}

// Overrides for styles in the "preview" pane

.euiMarkdownEditor__markdownWrapper .euiMarkdownEditor__displayText {
  blockquote {
    @include euiFont;
    border-left: $euiBorderThick;
    color: $euiColorDarkShade;
    font-style: normal;
    padding: 0 $euiSize;
    text-align: left;

    &::before, &::after {
      display: none;
    }
  }
}
