.euiMarkdownEditorFooter {
  display: inline-flex;
  padding: $euiSizeXS;
  border: $euiBorderThin;
  align-items: center;
  background: $euiPageBackgroundColor;
}

.euiMarkdownEditorFooter__popover {
  width: 300px;
}

.euiMarkdownEditorFooter__actions {
  flex: 1;
  display: inline-flex;

  > button,
  > span {
    margin-right: $euiSizeXS;
    align-self: center;
  }

  // overrides button empty styles so it can match the button icon
  // So when we have an error this button appears smoothly
  .euiMarkdownEditorFooter__uploadError {
    position: relative;
    left: -1px;
    line-height: 1;
    border-radius: $euiBorderRadius;

    > span {
      padding: 0 $euiSizeXS;
    }
  }
}

.euiMarkdownEditorFooter__helpButton {
  // overrides the default button icon width size
  > svg {
    width: 26px;
  }
}
