.euiMarkdownEditor__textArea {
  @include euiFont;
  @include euiFontSizeS;
  width: 100%;
  height: 100%;
  min-height: 150px;
  background-color: $euiFormBackgroundColor;
  border: $euiBorderThin;
  border-bottom: 1px dashed $euiColorLightShade;
  border-color: $euiColorLightShade;
  resize: vertical;

  &:focus {
    background-color: tintOrShade($euiColorEmptyShade, 0%, 40%);

    + .euiMarkdownEditor__dropZone__button {
      background-image: euiFormControlGradient();
    }
  }
}
