.euiMarkdownEditor__toolbar {
  background: $euiPageBackgroundColor;
  border: $euiBorderThin;
  border-color: $euiColorLightShade;
  border-bottom: none;
  padding: $euiSizeXS;

  &__buttons {
    flex-direction: row;

    > * {
      margin-right: $euiSizeXS;
    }
  }

  &__divider {
    content: '';
    height: $euiSizeL;
    display: block;
    margin-left: $euiSizeXS;
    padding-right: $euiSizeXS;
    border-left: 1px solid $euiColorLightShade;
  }
}
