.euiMarkdownEditorPreview {
  @include euiScrollBar;
  background: $euiColorEmptyShade;
  min-height: $euiMarkdownEditorMinHeight;
  overflow-y: auto;
  border: $euiBorderThin;
  padding: $euiSizeM;
}

.euiMarkdownEditorPreview-isDisabled {
  @include euiFormControlDisabledTextStyle;
  // prevents components like the tooltip to work
  pointer-events: none;
}