.euiMarkdownEditorFooter {
  display: inline-flex;
  padding: $euiSizeXS;
  border: $euiBorderThin;
  align-items: center;
  background: $euiPageBackgroundColor;
}

.euiMarkdownEditorFooter__popover {
  width: 300px;
}

.euiMarkdownEditorFooter__actions {
  flex: 1;
  display: inline-flex;

  > button,
  > span {
    margin-right: $euiSizeXS;
    align-self: center;
  }
}

.euiMarkdownEditorFooter__help {
  justify-self: flex-end;

  // overrides the default button icon width size
  > svg {
    width: 26px;
  }
}

.euiMarkdownEditorFooter__errors {
  // overrides the default button icon width size
  > svg {
    color: $euiTextSubduedColor;
  }
}
