.euiMarkdownEditor {
  &:focus-within {
    @include euiSlightShadowHover;
  }

  &__textArea,
  &__previewContainer {
    color: $euiTextColor;
    padding: $euiSizeM;
    background: $euiColorEmptyShade;
  }
}

.euiMarkdownEditor__previewContainer {
  @include euiScrollBar;
  height: 150px;
  overflow-y: auto;
  border: $euiBorderThin;
}