// The Markdown Format uses by default a few EUI components.
// Uses the EuiText to wrap all the content.
// Uses the EuiLink, EuiCode and EuiHorizontalRule.

.euiMarkdownFormat {
  // We're using alpha values to support apps that
  // display markdown on backgrounds of various colors

  // Grayscale variables
  $euiMarkdownAlphaLightestShade: rgba($euiColorFullShade, .05);
  $euiMarkdownAlphaLightShade: rgba($euiColorFullShade, .15);
  $euiMarkdownAlphaDarkShade: rgba($euiColorFullShade, .65);

  // Reverse grayscale for opposite of theme
  $euiMarkdownAlphaLightestShadeReversed: rgba($euiColorEmptyShade, .05);
  $euiMarkdownAlphaLightShadeReversed: rgba($euiColorEmptyShade, .15);
  $euiMarkdownAlphaDarkShadeReversed: rgba($euiColorEmptyShade, .65);

  &--reversed {
    color: $euiColorLightestShade;
  }

  &.euiText {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: inherit;
    }
  }

  // Blockquotes
  .euiMarkdownFormat__blockquote {
    border-left-style: solid;
    border-left-color: $euiMarkdownAlphaLightShade;
  }

  &--reversed .euiMarkdownFormat__blockquote {
    border-left-color: $euiMarkdownAlphaLightShadeReversed;
  }

  .euiHorizontalRule {
    background-color: $euiMarkdownAlphaLightShade;
  }

  // Task list
  .task-list-item {
    list-style-type: none;
  }

  .task-list-item input {
    vertical-align: middle;
  }

  // Tables
  .euiMarkdownFormat__table {
    display: block;
    width: 100%;
    overflow: auto;
    border-left: 1px solid $euiMarkdownAlphaLightShade;
    border-spacing: 0;
    border-collapse: collapse;
  }

  .euiMarkdownFormat__table th,
  .euiMarkdownFormat__table td {
    border-top: 1px solid $euiMarkdownAlphaLightShade;
    border-bottom: 1px solid $euiMarkdownAlphaLightShade;

    &:last-child {
      border-right: 1px solid $euiMarkdownAlphaLightShade;
    }
  }

  .euiMarkdownFormat__table tr {
    background-color: transparent;
    border-top: 1px solid $euiMarkdownAlphaLightShade;
  }
}
