.euiDraggable {
  $euiDraggableFocusColor: lighten(desaturate($euiColorPrimary, 40%), 40%);
  padding: 5px 0;

  &.euiDraggable--isDragging {
    // Overriding inline styles on JS-inserted HTML elements
    z-index: $euiZLevel9 !important; // sass-lint:disable-line no-important
  }

  &.euiDraggable--hasClone:not(.euiDraggable--isDragging) {
    // Overriding inline styles on JS-inserted HTML elements
    transform: none !important; // sass-lint:disable-line no-important
  }

  &.euiDraggable--hasCustomDragHandle > .euiDraggable__item [data-react-beautiful-dnd-drag-handle] {
    border: 1px solid transparent;
  }

  &:focus > .euiDraggable__item,
  &.euiDraggable--hasCustomDragHandle > .euiDraggable__item [data-react-beautiful-dnd-drag-handle]:focus {
    border: 1px solid $euiDraggableFocusColor;
  }

  .euiDraggable__item {
    &:hover {
      @include euiSlightShadowHover;
    }

    &.euiDraggable__item--isDisabled {
      cursor: not-allowed;
    }

    &.euiDraggable__item--isDragging {
      @include euiBottomShadow;
      border: 1px solid $euiDraggableFocusColor;
    }
  }
}
