.euiDroppable {
  $euiDroppableColor: $euiColorSecondary;
  transition: background-color $euiAnimSpeedExtraSlow ease;

  &.euiDroppable--isDraggingType:not(.euiDroppable--isDisabled) {
    background-color: transparentize($euiDroppableColor, .9);

    &.euiDroppable--isDraggingOver {
      background-color: transparentize($euiDroppableColor, .75);
    }
  }

  .euiDroppable__placeholder {
    &.euiDroppable__placeholder--isHidden {
      // Overriding generated HTML elements that use inline styles
      display: none !important; // sass-lint:disable-line no-important
    }
  }
}
