.euiDroppable {
  $euiDroppableColor: $euiColorSecondary;
  transition: background-color .7s ease;

  &.euiDroppable--isDraggingType:not(.euiDroppable--isDisabled) {
    background-color: transparentize($euiDroppableColor, .9);

    &.euiDroppable--isDraggingOver {
      background-color: transparentize($euiDroppableColor, .75);
    }
  }
}
