/**
 * The List Group component provides neatly styled lists containing plain text
 * or links. The outer container can be bordered, with padding, or borderless
 * with links flush to the sides.
 */

.euiListGroup {
  &.euiListGroup-flush {
    padding: 0;
    border: none;
  }

  &.euiListGroup-bordered {
    border-radius: $euiBorderRadius;
    border: $euiBorderThin;
  }
}

.euiListGroup-maxWidthDefault {
  max-width: $euiFormMaxWidth;
}

// Gutter Sizes
@each $gutterName, $gutterSize in $euiListGroupGutterTypes {
  .euiListGroup--#{$gutterName} {
    padding: $gutterSize;

    .euiListGroupItem:not(:first-of-type) {
      margin-top: $gutterSize;
    }
  }
}
