$euiListGroupGutterTypes: (
  gutterSmall: $euiSizeS,
  gutterMedium: $euiSize,
);

$euiListGroupItemColorTypes: (
  primary: $euiColorPrimary,
  text: $euiTextColor,
  subdued: $euiColorDarkShade,
  ghost: $euiColorGhost,
);

$euiListGroupItemSizeTypes: (
  xSmall: $euiFontSizeXS,
  small: $euiFontSizeS,
  medium: $euiFontSize,
  large: $euiFontSizeL,
);
