$euiListGroupItemHoverBackground: transparentize($euiColorLightShade, .75);
$euiListGroupItemHoverBackgroundGhost: transparentize($euiColorGhost, .9);

$euiListGroupGutterTypes: (
  gutterSmall: $euiSizeS,
  gutterMedium: $euiSize,
);

$euiListGroupItemColorTypes: (
  primary: $euiColorPrimaryText,
  text: $euiTextColor,
  subdued: $euiTextSubduedColor,
  ghost: $euiColorGhost,
);

$euiListGroupItemSizeTypes: (
  xSmall: $euiFontSizeXS,
  small: $euiFontSizeS,
  medium: $euiFontSize,
  large: $euiFontSizeL,
);
