.euiDataGridRowCell--favoriteFranchise {
  background: transparentize($color: #800080, $amount: .95) !important; // stylelint-disable-line declaration-no-important, color-no-hex
}

.euiDataGridHeaderCell--favoriteFranchise {
  background: transparentize($color: #800080, $amount: .9) !important; // stylelint-disable-line declaration-no-important, color-no-hex
}

.euiDataGridRow--rowClassesDemo {
  $stripeColor: transparentize($euiColorPrimary, .9);
  background-image: linear-gradient(135deg,
    $euiColorEmptyShade 41.67%,
    $stripeColor 41.67%,
    $stripeColor 50%,
    $euiColorEmptyShade 50%,
    $euiColorEmptyShade 91.67%,
    $stripeColor 91.67%,
    $stripeColor 100%
  );
  background-size: 8.49px 8.49px;
}

.euiDataGridRow--rowClassesDemoSelected {
  background: $euiColorHighlight;
}

.euiTheme--borealis .euiDataGridRow--rowClassesDemoSelected {
  background: $euiColorBackgroundBaseInteractiveSelect;
}
