.euiSkipLink {
  @include euiSlightShadow;
  z-index: $euiZHeader + 1;
  background-color: $euiColorPrimary;
  color: $euiColorGhost;
  font-size: $euiFontSizeS;
  padding: $euiSizeM $euiSize;
  border-radius: $euiBorderRadius;

  &:focus {
    text-decoration: underline;
  }

  &.euiSkipLink--isFixedToTop:focus {
    position: fixed;
    top: 0;
    left: $euiSizeS;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
