.euiSkipLink {
  transition: none !important; // sass-lint:disable-line no-important

  &:focus {
    animation: none !important; // sass-lint:disable-line no-important
  }

  // Set positions on focus only as to no override screenReaderOnly position
  // When positioned absolutely, consumers still need to tell it WHERE (top,left,etc...)
  &.euiSkipLink--absolute:focus {
    position: absolute;
  }

  &.euiSkipLink--fixed:focus {
    position: fixed;
    top: $euiSizeXS;
    left: $euiSizeXS;
    z-index: $euiZHeader + 1;
  }
}
