.guideCharts__customLegend {
  font-size: $euiFontSizeXS;
  padding: $euiSizeXS;
}

.guideCharts__customLegendLine {
  display: inline-block;
  width: $euiSize;
  height: $euiSizeM / 2;
  background-color: currentColor;
  vertical-align: middle;
  margin-right: $euiSizeS;
}

.guideCharts__customLegendLine--thin {
  height: 1px;
}
