.euiButtonGroup__fieldset {
  display: inline-block;
  max-width: 100%;

  &--fullWidth {
    display: block;
  }
}

.euiButtonGroup--fullWidth {
  width: 100%;

  .euiButtonGroupButton {
    flex: 1;
  }
}

.euiButtonGroup {
  @include euiSlightShadow;
  border-radius: $euiBorderRadius + 1px; // Simply for the box-shadow

  max-width: 100%;
  display: flex;
  overflow: hidden;
  transition: all $euiAnimSpeedNormal ease-in-out;

  &:not(.euiButtonGroup--isDisabled) {
    &:hover,
    &:active,
    &:focus-within {
      @include euiSlightShadowHover;
    }
  }
}
