.euiButtonGroup {
  display: inline-block;
  max-width: 100%;
}

.euiButtonGroup--fullWidth {
  display: block;

  .euiButtonGroup__buttons {
    width: 100%;

    .euiButtonGroupButton {
      flex: 1;
    }
  }
}

.euiButtonGroup__buttons {
  @include euiSlightShadow;
  border-radius: $euiBorderRadius + 1px; // Simply for the box-shadow
  max-width: 100%;
  display: flex;
  overflow: hidden;
  transition: all $euiAnimSpeedNormal ease-in-out;

  &:hover,
  &:active,
  &:focus-within {
    @include euiSlightShadowHover;
  }
}

.euiButtonGroup--isDisabled .euiButtonGroup__buttons {
  &:hover,
  &:active,
  &:focus-within {
    box-shadow: none !important; // sass-lint:disable-line no-important
  }
}

.euiButtonGroup--compressed {
  .euiButtonGroup__buttons {
    box-shadow: none !important; // sass-lint:disable-line no-important
    border-radius: $euiFormControlCompressedBorderRadius;
    background-color: $euiFormBackgroundColor;
    height: $euiFormControlCompressedHeight;
    border: 1px solid $euiFormBorderColor;
    overflow: visible;
  }
}
