.euiCheckbox {
  .euiCheckbox__input {
    // Readonly checkboxes are used by EuiMarkdownEditor
    &[readonly] {
      cursor: default !important; // stylelint-disable-line declaration-no-important

      ~ .euiCheckbox__label {
        cursor: default !important; // stylelint-disable-line declaration-no-important
      }

      // maintain the initial color to enforce that clicks are not doing anything
      &:focus {
        + .euiCheckbox__square {
          outline-color: $euiFormCustomControlBorderColor !important; // stylelint-disable-line declaration-no-important
          border-color: $euiFormCustomControlBorderColor;
        }
      }
    }
  }
}