// Progress bars come in different colors.
$euiProgressColors: (
  primary: $euiColorPrimary,
  secondary: $euiColorSecondary,
  success: $euiColorSuccess,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  accent: $euiColorAccent,
  subdued: $euiTextSubduedColor,
  vis0: $euiColorVis0,
  vis1: $euiColorVis1,
  vis2: $euiColorVis2,
  vis3: $euiColorVis3,
  vis4: $euiColorVis4,
  vis5: $euiColorVis5,
  vis6: $euiColorVis6,
  vis7: $euiColorVis7,
  vis8: $euiColorVis8,
  vis9: $euiColorVis9,
  customColor: currentColor,
);

