.euiTitle {
  @include euiTitle;
  line-height: 1.2;
}

.euiTitle--label {
  @include euiText;
  @include euiFontSizeXS;
  font-weight: $euiFontWeightBold;
}

.euiTitle--mini {
  @include euiFontSizeS;
  font-weight: $euiFontWeightMedium;
}

.euiTitle--xsmall {
  @include euiFontSize;
  font-weight: $euiFontWeightMedium;
}

.euiTitle--small {
  @include euiFontSizeL;
}

.euiTitle--medium {
  @include euiFontSizeXL;
}

.euiTitle--large {
  @include euiFontSizeXXL;
}
