.euiKeyPadMenuItem {
  // Hide the input if not selected, or being interacted with
  &:not(:hover):not(:focus):not(:focus-within):not(.euiKeyPadMenuItem-isSelected),
  // Also specifically if disabled but not selected
  &.euiKeyPadMenuItem-isDisabled:not(.euiKeyPadMenuItem-isSelected) {
    .euiKeyPadMenuItem__checkableInput {
      @include euiScreenReaderOnly;
    }
  }
}

.euiKeyPadMenuItem__inner {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .euiKeyPadMenuItem__checkableInput {
    transform: scale(.75);
    transform-origin: top right;
  }

  .euiKeyPadMenuItem__checkableInput,
  .euiKeyPadMenuItem__betaBadge {
    position: absolute;
    top: $euiSizeXS;
    right: $euiSizeXS;
    z-index: 3;
  }
}

.euiKeyPadMenuItem__icon {
  transition: transform $euiAnimSpeedNormal $euiAnimSlightBounce;
  margin-bottom: $euiSizeM;
  transform: translateY(2px);
}

.euiKeyPadMenuItem__label {
  font-size: $euiFontSizeXS;
  font-weight: $euiFontWeightSemiBold;
  line-height: $euiSize;
  text-align: center;
}

