/**
 * 1. Default to grid of 3
 */
.euiKeyPadMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: ($euiKeyPadMenuSize * 3) + ($euiKeyPadMenuMarginSize * 2);
  max-width: 100%;

  > li {
    margin-bottom: $euiKeyPadMenuMarginSize;

    // Add margin right to every item besides the 3rd in the row
    &:not(:nth-of-type(3n+3)) {
      margin-right: $euiKeyPadMenuMarginSize;
    }
  }
}
