/**
 * Dial menu is a phone like dial comprised of an svg icon and a title.
 */

/**
 * 1. Default to grid of 3
 */
.euiKeyPadMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: $euiKeyPadMenuSize * 3;
}

/**
 * 1. If this class is applied to a button, we need to override the Chrome default font.
 */
.euiKeyPadMenuItem {
  display: block;
  padding: $euiSize;
  height: $euiKeyPadMenuSize;
  width: $euiKeyPadMenuSize;
  color: $euiColorDarkShade;
  border: $euiBorderThin;
  border-color: transparent;
  border-radius: $euiBorderRadius;
  font-family: $euiFontFamily; /* 1 */

  &:hover, &:focus {
    border-color: $euiBorderColor;

    .euiKeyPadMenuItem__icon {
      transform: translateY(0);
    }
  }

  &:focus {
    background: $euiFocusBackgroundColor;

    .euiKeyPadMenuItem__label {
      text-decoration: underline;
    }
  }
}

  .euiKeyPadMenuItem__inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .euiKeyPadMenuItem__icon {
    transition: transform $euiAnimSlightBounce $euiAnimSpeedNormal;
    transform: translateY($euiSizeXS);
    margin-bottom: $euiSizeS;
  }

  .euiKeyPadMenuItem__label {
    @include euiFontSizeS;
    text-align: center;
  }
