.guideRule__example {
  .guideRule__example__panel {
    border-bottom: 2px solid;
    margin-bottom: $euiSizeS;

    &:not(.euiPanel) {
      padding-bottom: $euiSize; // keep the original panel padding if it is one
    }
  }

  .guideRule__caption {
    font-size: $euiSizeM;
  }

  // Coloring
  &.guideRule__example--do {
    .guideRule__example__panel {
      border-bottom-color: $euiColorSuccess;
    }

    .guideRule__caption {
      color: $euiColorSuccess;
    }
  }

  &.guideRule__example--dont {
    .guideRule__example__panel {
      border-bottom-color: $euiColorDanger;
    }

    .guideRule__caption {
      color: $euiColorDanger;
    }
  }
}
