.guideRule__example {
  .guideRule__example__panel {
    border-bottom: 2px solid;

    &--flex {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.guideRule__example__panelFooter {
  padding: $euiSize 0;
}

.guideRule__example--do {
  .guideRule__example__panel {
    border-bottom-color: $euiColorSuccess;
  }
}

.guideRule__example--dont {
  .guideRule__example__panel {
    border-bottom-color: $euiColorDanger;
  }
}

.guideRule__example--default {
  .guideRule__example__panel {
    border-bottom-color: $euiBorderColor;
  }
}
