.guideRule {
  margin-block-start: $euiSizeXXL;

  + .guideRule {
    margin-block-start: $euiSizeL;

    &.guideRule--hasDescription {
      margin-block-start: $euiSizeXXL * 1.5;
    }

    &.guideRule--hasHeading {
      margin-block-start: $euiSizeXXL * 2;
    }
  }

  .guideRule__title + &:not(.guideRule--hasHeading) {
    margin-block-start: 0;
  }
}


