@import '../../form/range/_variables';

.euiColorStops {
  &:focus {
    outline: 2px solid $euiFocusRingColor;
  }
}

.euiColorStop {
  width: $euiColorPickerWidth;
}

.euiColorStopPopover.euiPopover {
  position: absolute;
  top: 50%;
  margin-top: $euiRangeThumbHeight * -.5;
  width: $euiRangeThumbWidth;
  height: $euiRangeThumbHeight;
}

.euiColorStopPopover__anchor {
  position: absolute;
  width: 100%;
  height: 100%;
}

.euiColorStopThumb.euiRangeThumb {
  top: 0;
  margin-top: 0;
  pointer-events: auto;
}
