.euiComboBoxOption {
  font-size: $euiFontSizeS;
  padding-block-start: $euiSizeXS;
  padding-block-end: #{$euiSizeM + $euiSizeXS};
  padding-inline-start: $euiSizeXS;
  padding-inline-end: $euiSizeS;
  width: 100%;
  text-align: left;
  border: $euiBorderThin;
  border-color: transparent;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }

  &.euiComboBoxOption-isFocused {
    cursor: pointer;
    color: $euiColorPrimary;
    background-color: $euiFocusBackgroundColor;
  }

  &.euiComboBoxOption-isDisabled {
    color: $euiColorMediumShade;
    cursor: not-allowed;

    &:hover {
      text-decoration: none;
    }
  }
}

.euiComboBoxOption__contentWrapper {
  display: flex;

  .euiComboBoxOption__emptyStateText {
    flex: 1;
    text-align: left;
    margin-block-end: 0;
  }

  .euiComboBoxOption__enterBadge {
    align-self: flex-start;
    margin-inline-start: $euiSizeXS;
  }
}

.euiComboBoxOption__content {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  flex: 1;
  text-align: left;
}
