/**
 * 1. Make width match that of the input and tweak position to match.
 * 2. Put the list at the top of the screen, otherwise it will cause a scrollbar to show up when
 *    the portal is appended to the body. This would throw off our logic for positioning the
 *    list beneath the input.
 */
.euiComboBoxOptionsList {
  @include euiFormControlSize;
  box-sizing: content-box; /* 1 */
  margin-left: -1px; /* 1 */
  z-index: $euiZComboBox;
  position: absolute; /* 2 */
  top: 0; /* 2 */

  .ReactVirtualized__List {
    @include euiScrollBar;
  }
}

.euiComboBoxOptionsList--bottom {
  border-radius: 0 0 $euiBorderRadius $euiBorderRadius !important;
  border-top: none !important;
}

.euiComboBoxOptionsList--top {
  border-radius: $euiBorderRadius $euiBorderRadius 0 0 !important;
  box-shadow: none !important;
}

  /**
   * 1. Prevent really long input from overflowing the container.
   */
  .euiComboBoxOptionsList__empty {
    padding: $euiSizeS;
    text-align: center;
    color: $euiColorDarkShade;
    word-wrap: break-word; /* 1 */
  }

  .euiComboBoxOptionsList__rowWrap {
    padding: 0;
    max-height: 200px;
    overflow: hidden;
  }
