/**
 * 1. Make width match that of the input.
 */
.euiComboBoxOptionsList {
  @include euiFormControlSize;
  box-sizing: content-box; /* 1 */
  z-index: $euiZComboBox;
  position: absolute;
}

.euiComboBoxOptionsList--bottom {
  border-radius: 0 0 $euiBorderRadius $euiBorderRadius !important;
  border-top: none !important;
}

.euiComboBoxOptionsList--top {
  border-radius: $euiBorderRadius $euiBorderRadius 0 0 !important;
  box-shadow: none !important;
}

  .euiComboBoxOptionsList__empty {
    padding: $euiSizeS;
    text-align: center;
    color: $euiColorDarkShade;
  }

  .euiComboBoxOptionsList__rowWrap {
    @include euiScrollBar;

    padding: $euiSizeS;
    max-height: 200px;
    overflow-y: auto;
  }
