/**
 * 1. Make width match that of the input and tweak position to match.
 * 2. Put the list at the top of the screen, otherwise it will cause a scrollbar to show up when
 *    the portal is appended to the body. This would throw off our logic for positioning the
 *    list beneath the input.
 */
.euiComboBoxOptionsList {
  @include euiFormControlSize;
  box-sizing: content-box; /* 1 */
  margin-left: -1px; /* 1 */
  z-index: $euiZComboBox;
  position: absolute; /* 2 */
  top: 0; /* 2 */
}

.euiComboBoxOptionsList--bottom {
  border-radius: 0 0 $euiBorderRadius $euiBorderRadius !important;
  border-top: none !important;
}

.euiComboBoxOptionsList--top {
  border-radius: $euiBorderRadius $euiBorderRadius 0 0 !important;
  box-shadow: none !important;
}

  .euiComboBoxOptionsList__empty {
    padding: $euiSizeS;
    text-align: center;
    color: $euiColorDarkShade;
  }

  .euiComboBoxOptionsList__rowWrap {
    @include euiScrollBar;

    padding: $euiSizeS;
    max-height: 200px;
    overflow-y: auto;
  }
