.euiCollapsibleNavGroup {
  // This class does not accept a custom classname
  .euiAccordion__triggerWrapper {
    // Add padding to the trigger wrapper in case an `extraAction` is passed
    // that doesn't get wrapped in the `__heading`
    padding: $euiSize;
  }
}

.euiCollapsibleNavGroup--light {
}

.euiCollapsibleNavGroup--dark {
}

.euiCollapsibleNavGroup__heading {
  // If the heading is not in an accordion, it needs the padding
  &:not(.euiAccordion__button) {
    padding: $euiSize;
  }
}

.euiCollapsibleNavGroup__children {
  padding: $euiSizeS;
}

.euiCollapsibleNavGroup--withHeading .euiCollapsibleNavGroup__children {
  padding-top: 0;
}
