$euiCollapsibleNavGroupLightBackgroundColor: $euiPageBackgroundColor;
$euiCollapsibleNavGroupDarkBackgroundColor: lightOrDarkTheme(
  shade($euiColorDarkestShade, 20%),
  shade($euiColorLightestShade, 50%),
);

.euiCollapsibleNavGroup {
  &:not(:first-child) {
    border-top: $euiBorderThin;
  }
}

.euiCollapsibleNavGroup--light {
  background-color: $euiCollapsibleNavGroupLightBackgroundColor;
}

.euiCollapsibleNavGroup--dark {
  background-color: $euiCollapsibleNavGroupDarkBackgroundColor;
  color: $euiColorGhost;
}

.euiCollapsibleNavGroup__title {
  padding: $euiSize;
  font-weight: $euiFontWeightSemiBold;
}

@each $sizeName, $fontSize in $euiCollapsibleNavGroupTitleSizes {
  .euiCollapsibleNavGroup__title--#{$sizeName} {
    font-size: $fontSize;
  }
}

.euiCollapsibleNavGroup__children {
  padding: $euiSizeS;
}

.euiCollapsibleNavGroup--withTitle .euiCollapsibleNavGroup__children {
  padding-top: 0;
}
