.euiSplitPanel {
  overflow: hidden; // Hide backgrounds within border-radius
  display: flex;
  flex-direction: column;
  min-width: 0;

  &--row {
    flex-direction: row;

    &.euiSplitPanel-isResponsive {
      flex-direction: column;
    }
  }

  .euiSplitPanel__inner {
    flex-basis: 0%; // Make sure they're evenly split
  }
}
