@include euiPanel($selector: '.euiCommentEvent--regular');

.euiCommentEvent {
  font-size: $euiFontSizeS;
  overflow: hidden;

  .euiCommentEvent__header {
    // padding: $euiSizeM;
    // background-color: $euiColorLightestShade;
    // border-bottom: $euiBorderThin;
    display: flex;
    align-items: center;
  }

  .euiCommentEvent__headerUser {
    display: flex;
    align-items: center;
    padding-right: $euiSizeXS;
    font-weight: 600;
  }

  // .euiCommentEvent__headerTimeStamp {
  //   flex-grow: 1;
  // }

  .euiCommentEvent__body {
    padding: $euiSizeS;
    line-height: $euiSize * 1.2;
  }
}

.euiCommentEvent--regular {
  .euiCommentEvent__header {
    background-color: $euiColorLightestShade;
    border-bottom: $euiBorderThin;
    padding: $euiSizeM;

    .euiCommentEvent__headerTimeStamp {
      flex-grow: 1;
    }
  }
}

.euiCommentEvent--update {
  .euiCommentEvent__header {
    padding-top: $euiSizeS;
  }

  .euiCommentEvent__headerTimeStamp {
    padding-right: $euiSizeL;
  }
}