.euiCommentTimeline__content {
  min-width: $euiSizeXXL;
  min-height: $euiSizeXXL;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: $euiColorEmptyShade;
}