.euiComment {
  @include euiPanel($selector: '.euiComment__panel');
  font-size: $euiFontSizeS;
  display: flex;

  .euiComment__panel {
    overflow: hidden;
  }

  .euiComment__panelHeader {
    border-bottom: $euiBorderThin;
    padding: $euiSizeM;
    background: linear-gradient(90deg, $euiPageBackgroundColor 50%, $euiColorEmptyShade 50%);
  }

  .euiComment__panelBody {
    padding: $euiSizeS;
    line-height: $euiSize * 1.2;
  }
}
