@include euiPanel($selector: '.euiCommentEvent--regular');

.euiCommentEvent {
  overflow: hidden;

  .euiCommentEvent__header {
    @include euiBreakpoint('xs', 's') {
      margin: -($euiSizeXS);

      > div {
        margin: $euiSizeXS;
      }

      .euiCommentEvent__headerTimestamp {
        padding-top: $euiSizeXS * .5;
      }
    }

    align-items: center;

    .euiCommentEvent__headerData > div {
      padding-right: $euiSizeXS;
    }
  }

  .euiCommentEvent__headerData {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }

  .euiCommentEvent__headerUsername {
    font-weight: $euiFontWeightSemiBold;
  }

}

.euiCommentEvent--regular {
  border: $euiBorderThin;

  .euiCommentEvent__header {
    @include euiBreakpoint('xs', 's') {
      padding: $euiSizeS;

      /**
       * Fix for IE when using align-items:center in an item that has min-height
            (https://github.com/philipwalton/flexbugs/issues/231#issuecomment-362790042)
       */
      &::after {
        content: '';
        min-height: inherit;
        font-size: 0;
        display: block;
      }
    }

    /**
      * Fix for IE when using align-items:center in an item that has min-height
          (https://github.com/philipwalton/flexbugs/issues/231#issue-245848315)
      */
    @include euiBreakpoint('m', 'l', 'xl') {
      height: $euiSize;
    }

    min-height: $euiSizeXXL;
    background-color: $euiColorLightestShade;
    border-bottom: $euiBorderThin;
    padding: 0 $euiSizeS;
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .euiCommentEvent__body {
    padding: $euiSizeS;
  }
}

.euiCommentEvent--update {
  .euiCommentEvent__header {
    display: flex;
    justify-content: flex-start;
    padding: $euiSizeXS 0;
  }

  .euiCommentEvent__headerData {
    padding-right: $euiSizeS;
  }

  .euiCommentEvent__body {
    padding-top: $euiSizeXS;
  }
}