.euiComment {
  // @include euiPanel($selector: '.euiComment__panel');
  font-size: $euiFontSizeS;
  display: flex;
  margin: -($euiSize * .5);
  padding-bottom: $euiSize;

  .euiCommentEvent {
    flex-grow: 1;
  }

  .euiCommentTimeline {
    position: relative;
    flex-grow: 0;

    &::before {
      content: '';
      position: absolute;
      left: $euiSizeXL / 2;
      top: $euiSizeXXL;
      width: $euiSizeXS / 2;
      background-color: $euiColorLightShade;
      height: calc(100% - (#{$euiSizeL}));
    }
  }

  .euiCommentTimeline, .euiCommentEvent {
    flex-basis: auto;
    margin: $euiSize * .5;
  }

}