.euiComment {
  font-size: $euiFontSizeS;
  display: flex;
  margin: -($euiSize * .5);
  padding-bottom: $euiSize;
  min-height: $euiSize * 5;

  .euiCommentEvent {
    flex-grow: 1;
  }

  .euiCommentTimeline {
    position: relative;
    flex-grow: 0;

    &::before {
      content: '';
      position: absolute;
      left: $euiSizeXXL / 2;
      top: $euiSizeXXL;
      width: $euiSizeXS / 2;
      background-color: $euiColorLightShade;
      height: 100%;
    }
  }

  .euiCommentTimeline, .euiCommentEvent {
    flex-basis: auto;
    margin: $euiSize * .5;
  }

}