.euiHeaderLinks {
  display: flex;
}

.euiHeaderLinks__list {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

@each $name, $gutterSize in $euiHeaderLinksGutterSizes {
  .euiHeaderLinks__list--#{$name} > * {
    // Apply margins to any children
    margin: 0 $gutterSize;
  }
}
