// Font weights
$euiFontWeightLight:        300;
$euiFontWeightRegular:      400;
$euiFontWeightMedium:       450;
$euiFontWeightSemiBold:     500;
$euiFontWeightBold:         600;
$euiCodeFontWeightRegular:  400;
$euiCodeFontWeightBold:     600;