$euiFormControlBorderRadius: $euiBorderRadius;
$euiFormControlCompressedBorderRadius: $euiBorderRadiusSmall;
$euiFormInputGroupBorder: none;
$euiFormBackgroundReadOnlyColor: $euiColorEmptyShade;

$euiFormControlBoxShadow: 0 0 transparent;

$euiCheckboxBorderRadius: $euiBorderRadiusSmall;
