// stylelint-disable color-no-hex
// -------------------------------------
// Colors guideline page
// -------------------------------------
.guidelineColor__palette {
  padding: $euiSize;
  padding-bottom: $euiSizeXL;
}

.guidelineColor__swatch {
  height: $euiSizeM;
  width: $euiSizeM;
  border-radius: 50%;
}

.guidelineColor__stripe {
  height: $euiSizeL;
  line-height: $euiSizeL;
}

.guidelineColor__test {
  text-align: center;
  font-size: $euiFontSizeS;
}

.guidelineColor__title {
  // stylelint-disable-next-line declaration-no-important
  color: $euiColorMediumShade !important;
}

.guideColorPalette__swatch {
  span {
    height: $euiSize;
    width: $euiSizeL;
  }

  &--small span {
    width: auto;
    height: $euiSizeS;
  }
}

.guideColorPalette__swatchHolder {
  border-radius: $euiBorderRadius;
  overflow: hidden;
}

// -------------------------------------
// Sass guideline page
// -------------------------------------
.guideSass__swatchItem + .guideSass__swatchItem {
  margin-top: $euiSize;
}

.guideSass__swatch {
  height: $euiSizeL;
  width: $euiSizeL;
}

.guideSass__swatch--danger {
  background: $euiColorDanger;
}

.guideSass__swatch--dangerTint {
  background: tint($euiColorDanger, 30%);
}

.guideSass__swatch--dangerShade {
  background: shade($euiColorDanger, 30%);
}

.guideSass__swatch--primaryLight {
  background: #0079A5;
}

.guideSass__swatch--primaryDark {
  background: #4DA1C0;
}

.guideSass__levelRow {
  padding-left: $euiSizeS;
}

.guideSass__levelRow + .guideSass__levelRow {
  margin-top: $euiSizeS;
}

.guideSass__level {
  background-color: $euiColorMediumShade;
  transform: scaleY(.5) rotate(30deg) skew(-30deg, 0deg);
  width: $euiSize;
  height: $euiSize;
  margin: $euiSizeXS $euiSizeS 0;
}

.guideSass__sizeRow + .guideSass__sizeRow {
  margin-top: $euiSize;
}

.guideSass__size {
  background-color: $euiColorFullShade;
  display: inline-block;
}

.guideSass__euiSize {
  padding: $euiSize;
  background-color: $euiColorHighlight;
}

.guideSass__euiSizeXS2 {
  padding: $euiSizeXS / 2;
  background-color: $euiColorHighlight;

  &::after {
    content: 'padding: #{$euiSizeXS / 2}';
    font-weight: $euiFontWeightBold;
  }
}

.guideSass__fontSizeExample + .guideSass__fontSizeExample {
  margin-top: $euiSizeL;
}

.guideSass__fontSize {
  margin-bottom: $euiSizeS;
}

.guideSass__fontSize--euiFontSizeXS {
  @include euiFontSizeXS;
}

.guideSass__fontSize--euiFontSizeS {
  @include euiFontSizeS;
}

.guideSass__fontSize--euiFontSizeM {
  @include euiFontSizeM;
}

.guideSass__fontSize--euiFontSize {
  @include euiFontSize;
}

.guideSass__fontSize--euiFontSizeL {
  @include euiFontSizeL;
}

.guideSass__fontSize--euiFontSizeXL {
  @include euiFontSizeXL;
}

.guideSass__fontSize--euiFontSizeXXL {
  @include euiFontSizeXL;
}

.guideSass__shadow {
  padding: $euiSizeXXL;
  background: $euiColorEmptyShade;
  border-radius: $euiBorderRadius;
  margin: $euiSize;
}

.guideSass__shadow--euiSlightShadow { @include euiSlightShadow; }
.guideSass__shadow--euiBottomShadowSmall { @include euiBottomShadowSmall; }
.guideSass__shadow--euiBottomShadowMedium { @include euiBottomShadowMedium; }
.guideSass__shadow--euiBottomShadowFlat { @include euiBottomShadowFlat; }
.guideSass__shadow--euiBottomShadow { @include euiBottomShadow; }
.guideSass__shadow--euiBottomShadowLarge { @include euiBottomShadowLarge; }

.guideSass__euiScrollBar {
  @include euiScrollBar;
  overflow-y: auto;
  height: $euiSize * 10;
}

.guideSass__overflowShadowsY {
  @include euiYScrollWithShadows;
  height: 180px;
}

.guideSass__overflowShadowsX {
  @include euiXScrollWithShadows;
  padding: $euiSize;
}

.guideSass__shadow--color {
  @include euiBottomShadowLarge(desaturate($euiColorPrimary, 30%));
}

.guideSass__border {
  display: flex;
  padding: $euiSize;
}

.guideSass__border--euiBorderRadius {
  border: $euiBorderThin;
  border-radius: $euiBorderRadius;
}

.guideSass__border--euiBorderRadiusSmall {
  border: $euiBorderThin;
  border-radius: $euiBorderRadiusSmall;
}

.guideSass__border--euiBorderWidthThin,
.guideSass__border--euiBorderThin {
  border: $euiBorderThin;
}

.guideSass__border--euiBorderWidthThick,
.guideSass__border--euiBorderThick {
  border: $euiBorderThick;
}

.guideSass__border--euiBorderEditable {
  border: $euiBorderEditable;
}

.guideSass__border--thickDashed {
  border: $euiBorderWidthThick dashed $euiBorderColor;
}

.guideSass__euiColorWarning {
  padding: $euiSizeS;
  color: $euiColorInk;
  background: $euiColorWarning;
}

.guideSass__euiColorWarningText {
  color: $euiColorTextWarning;
}

.guideSass__euiColorBackgroundFilledWarning {
  padding: $euiSizeS;
  color: $euiColorInk;
  background: $euiColorBackgroundFilledWarning;
}

.guideSass__euiColorBorderBaseWarning {
  padding: $euiSizeS;
  border: $euiBorderWidthThin solid $euiColorBorderBaseWarning;
}

.guideSass__tintMediumShade {
  padding: $euiSizeS;
  background: tintOrShade($euiColorMediumShade, 90%, 70%);
}

.guideSass__special {
  padding: $euiSizeS;
  color: $euiColorGhost;
  background: $euiColorInk;
}

.guideSass__fontFamily {
  font-size: $euiSizeL;
  background: $euiColorDarkestShade;
  text-align: center;
  width: $euiSizeXL * 2;
  height: $euiSizeXL;
  line-height: $euiSizeXL;
  color: $euiColorEmptyShade;

  &--sans {
    @include euiFont;
  }

  &--code {
    @include euiCodeFont;
  }
}

.guideSass__mixin {
  &--euiFont {
    @include euiFont;
  }

  &--euiCodeFont {
    @include euiCodeFont;
  }

  &--euiText {
    @include euiText;
  }

  &--euiTitle {
    @include euiTitle('s');
  }

  &--fontSize {
    @include fontSize(19px);
  }
}

.guideSass__fontSizeL {
  @include euiFontSizeL;
}

.guideSass__fontFeatureSettings {
  font-feature-settings: $euiFontFeatureSettings;
}

.guideSass__speedExample {
  transition: background $euiAnimSpeedSlow;

  &:hover {
    background: transparentize($euiColorDanger, .25);
  }
}

.guideSass__easeExample {
  padding: $euiSizeS;
  transition: padding $euiAnimSpeedSlow $euiAnimSlightResistance;

  &:hover {
    padding: $euiSizeXL;
  }
}

.guideSass__animRow {
  width: $euiSizeXL * 2;
  margin-right: $euiSize;
  margin-top: $euiSizeXS;
}

.guideSass__animParent {
  background: $euiColorLightestShade;
  height: $euiSize;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.guideSass__animChild {
  width: $euiSize;
  height: $euiSize;
  background: $euiColorDarkestShade;
  position: absolute;
  left: 0;
}

.guideSass__animRow:hover .guideSass__animChild {
  transition-property: left;
  transition-timing-function: linear;
  transition-duration: $euiAnimSpeedSlow;
  left: calc(100% - #{$euiSize});
}

.guideSass__animRow--euiAnimSpeedExtraFast:hover .guideSass__animChild {
  transition-duration: $euiAnimSpeedExtraFast;
}

.guideSass__animRow--euiAnimSpeedFast:hover .guideSass__animChild {
  transition-duration: $euiAnimSpeedFast;
}

.guideSass__animRow--euiAnimSpeedNormal:hover .guideSass__animChild {
  transition-duration: $euiAnimSpeedNormal;
}

.guideSass__animRow--euiAnimSpeedSlow:hover .guideSass__animChild {
  transition-duration: $euiAnimSpeedSlow;
}

.guideSass__animRow--euiAnimSpeedExtraSlow:hover .guideSass__animChild {
  transition-duration: $euiAnimSpeedExtraSlow;
}

.guideSass__animRow--euiAnimSlightBounce:hover .guideSass__animChild {
  transition-timing-function: $euiAnimSlightBounce;
  transition-duration: $euiAnimSpeedSlow;
}

.guideSass__animRow--euiAnimSlightResistance:hover .guideSass__animChild {
  transition-timing-function: $euiAnimSlightResistance;
  transition-duration: $euiAnimSpeedSlow;
}

.guideSass__themedBox {
  padding: $euiSize;
  border-left: $euiBorderThick;
}

.guideSass__themedBox--light {
  border-color: #0079A5;
  background: tint(#0079A5, 90%);
  color: #333;
}

.guideSass__themedBox--dark {
  border-color: #4DA1C0;
  background: shade(#4DA1C0, 70%);
  color: #FFF;
}

.guideSass__contrastExample {
  $backgroundColor: tintOrShade($euiColorWarning, 90%, 70%);

  background: $backgroundColor;
  color: makeHighContrastColor($euiColorWarning, $backgroundColor);
  padding: $euiSize;

  .square {
    color: makeGraphicContrastColor($euiColorWarning, $backgroundColor);
    margin-right: $euiSizeXS;
  }
}

.guideSass__transparencyExample {
  background: transparentize($euiColorPrimary, .8);
  padding: $euiSize;
}

.guideSass__tintExample {
  $backgroundColor: tint($euiColorSuccess, 20%);
  background: $backgroundColor;
  color: chooseLightOrDarkText($backgroundColor);
  padding: $euiSize;
}

.guideSass__shadeExample {
  $backgroundColor: shade($euiColorSuccess, 40%);
  background: $backgroundColor;
  color: chooseLightOrDarkText($backgroundColor);
  padding: $euiSize;
}

.guideSass__tintShadeExample {
  $backgroundColor: tintOrShade($euiColorSuccess, 80%, 80%);
  background: $backgroundColor;
  color: chooseLightOrDarkText($backgroundColor);
  padding: $euiSize;
}

.guideSass__textExample {
  padding: $euiSize;
  display: inline-block;
  margin-right: $euiSize;

  &--primary {
    background-color: $euiColorPrimary;
    color: chooseLightOrDarkText($euiColorPrimary);
  }

  &--success {
    background-color: $euiColorSuccess;
    color: chooseLightOrDarkText($euiColorSuccess);
  }

  &--warning {
    background-color: $euiColorWarning;
    color: chooseLightOrDarkText($euiColorWarning);
  }

  &--danger {
    background-color: $euiColorDanger;
    color: chooseLightOrDarkText($euiColorDanger);
  }
}

.guideSection__emptyBox {
  background-color: $euiColorEmptyShade;
}

@each $key, $size in $euiBreakpoints {
  .guideSass__breakpoint--#{$key} {
    display: none;

    @include euiBreakpoint($key) {
      display: block;
    }
  }
}
