/**
 * 1. Leave room for caret.
 * 2. Ensure the descenders don't get cut off
 */

.euiSuperSelectControl {
  @include euiFormControlStyle;
  @include euiFormControlWithIcon($side: "right"); /* 1 */
  @include euiFormControlIsLoading($isNextToIcon: true);
  text-align: left;

  line-height: $euiFormControlHeight; /* 2 */
  padding-top: 0; /* 2 */
  padding-bottom: 0; /* 2 */

  &--compressed {
    line-height: $euiFormControlCompressedHeight; /* 2 */
    padding-top: 0; /* 2 */
    padding-bottom: 0; /* 2 */
  }

  // Truncate the text
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.euiSuperSelect--isOpen__button { // since this is a button, we also want the visual indicator of active when options are shown
    @include euiFormControlFocusStyle;
  }
}
