.euiCardSelect {
  // Option select button that expands to sides and bottom
  @include euiCardBottomNodePosition;
  font-weight: $euiFontWeightBold;

  // Create button modifiers based upon the map.
  @each $name, $color in $euiCardSelectButtonBackgrounds {
    &--#{$name}:enabled {
      background-color: $color;

      // Custom success text color since it doesn't exist on EuiButtonEmpty
      @if ($name == 'success') {
        color: makeHighContrastColor($euiColorSuccess, $color);
      }
    }
  }

  &:disabled {
    background-color: $euiPageBackgroundColor;
  }
}
