.kuiIcon {
  display: inline-block;
  vertical-align: middle;
  fill: $euiTextColor;

  &:focus {
    opacity: 1; // We often hide icons on hover. Make sure they appear on focus.
    background: $euiFocusBackgroundColor;
  }
}

.kuiIcon--basic {
  fill: $euiTextColor;
}

.kuiIcon--medium {
  @include size($euiSize);
}

.kuiIcon--large {
  @include size($euiSizeL);
}

.kuiIcon--xLarge {
  @include size($euiSizeXL);
}

.kuiIcon--xxLarge {
  @include size($euiSizeXXL);
}
