.euiIcon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;

  svg {
    transform: translate(0, 0); // Hack to fix Firefox "softness"
  }

  &:focus {
    opacity: 1; // We often hide icons on hover. Make sure they appear on focus.
    background: $euiFocusBackgroundColor;
  }
}

// App icons are two-toned so get an extra class. This provides the base color.
.euiIcon--app {
  fill: $euiTextColor;

  // This provides the default secondary color
  .euiIcon__fillSecondary {
    fill: $euiColorSecondary;
  }

  // Primary icons are mono of that color
  &.euiIcon--primary {
    fill: $euiColorPrimary;

    // Provides a way to make app icons close to our primary
    .euiIcon__fillSecondary {
      fill: $euiColorPrimary;
    }
  }
}

.euiIcon--text {
  fill: $euiTextColor;

  // Text icons are fully mono
  .euiIcon__fillSecondary {
    fill: $euiTextColor;
  }
}

.euiIcon--primary {
  fill: $euiColorPrimary;
}

.euiIcon--subdued {
  fill: $euiColorMediumShade;

  // Text icons are fully mono
  .euiIcon__fillSecondary {
    fill: $euiColorMediumShade;
  }
}


.euiIcon--secondary {
  fill: $euiColorSecondary;
}

.euiIcon--success {
  fill: $euiColorSuccess;
}

.euiIcon--accent {
  fill: $euiColorAccent;
}

.euiIcon--warning {
  fill: $euiColorWarning;
}

.euiIcon--danger {
  fill: $euiColorDanger;
}

.euiIcon--ghost {
  fill: $euiColorGhost;
}

.euiIcon--small {
  @include size($euiSizeM);
}

.euiIcon--medium {
  @include size($euiSize);
}

.euiIcon--large {
  @include size($euiSizeL);
}

.euiIcon--xLarge {
  @include size($euiSizeXL);
}

.euiIcon--xxLarge {
  @include size($euiSizeXXL);
}
