$euiIconLoadingOpacity: .05;

// Modifier naming and colors.
$euiIconColors: (
  text: $euiTextColor,
  subdued: makeGraphicColor($euiColorMediumShade),
  primary: makeGraphicColor($euiColorPrimary),
  secondary: makeGraphicColor($euiColorSecondary),
  success: makeGraphicColor($euiColorSuccess),
  accent: makeGraphicColor($euiColorAccent),
  warning: makeGraphicColor($euiColorWarning),
  danger: makeGraphicColor($euiColorDanger),
  ghost: $euiColorGhost,
);

$euiIconSizes: (
  small: $euiSizeM,
  medium: $euiSize,
  large: $euiSizeL,
  xLarge: $euiSizeXL,
  xxLarge: $euiSizeXXL
);
