$euiIconLoadingOpacity: .05;

// Modifier naming and colors.
$euiIconColors: (
  accent: makeGraphicContrastColor($euiColorAccent),
  danger: makeGraphicContrastColor($euiColorDanger),
  ghost: $euiColorGhost,
  primary: makeGraphicContrastColor($euiColorPrimary),
  secondary: makeGraphicContrastColor($euiColorSecondary),
  success: makeGraphicContrastColor($euiColorSuccess),
  subdued: $euiTextSubduedColor,
  text: $euiTextColor,
  warning: makeGraphicContrastColor($euiColorWarning),
  inherit: inherit
);

$euiIconSizes: (
  small: $euiSizeM,
  medium: $euiSize,
  large: $euiSizeL,
  xLarge: $euiSizeXL,
  xxLarge: $euiSizeXXL
);
