.euiDescriptiveFormRow {
  max-width: $euiFormMaxWidth*2;

  + * {
    margin-top: $euiSizeL;
  }

  &.euiDescriptiveFormRow--fullWidth {
    max-width: 100%;
  }

  .euiDescriptiveFormRow__title {
    @include euiTitle("xs");
  }

  .euiDescriptiveFormRow__text {
    @include euiFontSizeS;
    padding-top: $euiSizeS;
  }

  .euiDescriptiveFormRow__fields {
    padding-top: ($euiFontSize*1.5) - $euiFontSizeXS + 2px;
  }

  @include screenXSmall {
    max-width: $euiFormMaxWidth;

    &.euiDescriptiveFormRow--fullWidth {
      max-width: 100%;
    }

    .euiDescriptiveFormRow__fields {
      padding-top: 0;

      > .euiFormRow--hasEmptyLabelSpace:first-child {
        padding-top: 0;
      }
    }
  }
}
