.euiHeaderAlert {
  min-inline-size: 300px;
  position: relative;
  margin-block-end: $euiSizeL;
  padding-block-start: 0;
  padding-block-end: $euiSizeL;
  padding-inline-start: $euiSizeS;
  padding-inline-end: $euiSizeS;
  border-block-end: $euiBorderThin;
  border-block-start: none;

  .euiHeaderAlert__dismiss {
    opacity: 0;
    position: absolute;
    inset-inline-end: $euiSize - 4px;
    inset-block-start: $euiSize - 4px;
    transition: opacity $euiAnimSpeedNormal ease-in;
  }

  &:hover .euiHeaderAlert__dismiss,
  .euiHeaderAlert__dismiss:focus {
    opacity: 1;
  }

  .euiHeaderAlert__title {
    @include euiTitle('xs');
    margin-block-end: $euiSizeS;
  }

  .euiHeaderAlert__text {
    @include euiFontSizeS;
    margin-block-end: $euiSize;
  }

  .euiHeaderAlert__action {
    @include euiFontSizeS;
  }

  .euiHeaderAlert__date {
    @include euiFontSizeXS;
    color: $euiColorDarkShade;
  }
}
