.euiDescribedFormGroup {
  max-width: $euiFormMaxWidth * 2;

  + * {
    margin-top: $euiSizeL;
  }

  &.euiDescribedFormGroup--fullWidth {
    max-width: 100%;
  }

  .euiDescribedFormGroup__description {
    padding-top: $euiSizeS;
  }

  .euiDescribedFormGroup__fields {
    min-width: 0; // Needed to support shrinking appropriately with viewport (prevents x-axis content overflow)
  }

  .euiDescribedFormGroup__fields > .euiFormRow--hasEmptyLabelSpace:first-child,
  .euiDescribedFormGroup__fields > .euiFormRow:first-child:not(.euiFormRow--hasLabel) {
    // Remove the forced margin
    margin-top: 0;

    // This fakes out flex into thinking there's text before the input and therefor aligns properly to the baseline
    &::before {
      content: '';
    }
  }
}

.euiDescribedFormGroup__descriptionColumn {
  min-width: MIN(20rem, 50%);
}
