.guideDemo__datePickerPurpleCal {
  background: $euiColorVis3;
}

.guideDemo__datePickerPurpleInput {
  outline: solid 2px $euiColorVis3;
}

.guideDemo__datePickerPurpleDay {
  background: $euiColorVis3;
}

.guideDemo__datePickerPurplePopper {
  outline: solid 2px $euiColorVis3;
}
