@include euiDataGridRowCell {
  position: relative; // Needed for .euiDataGridRowCell__actions

  .euiDataGridRowCell__content {
    height: 100%;
    overflow: hidden;

    &--autoHeight {
      height: auto;
    }
  }

  // Hack to allow focus trap to still stretch to full row height on defined heights
  > [data-focus-lock-disabled] {
    height: 100%;
  }

  --euiDataGridCellOutlineColor: #{$euiColorPrimary};

  &:hover,
  &:focus,
  &.euiDataGridRowCell--open {
    @include euiDataGridCellFocus;
  }

  // needed to override global style
  &:focus:focus-visible {
    outline: none;
  }

  &.euiDataGridRowCell--numeric {
    text-align: right;
  }

  &.euiDataGridRowCell--currency {
    text-align: right;
  }

  &.euiDataGridRowCell--uppercase {
    text-transform: uppercase;
  }

  &.euiDataGridRowCell--lowercase {
    text-transform: lowercase;
  }

  &.euiDataGridRowCell--capitalize {
    text-transform: capitalize;
  }
}

.euiDataGridRowCell--controlColumn .euiDataGridRowCell__content {
  max-height: 100%;
  height: auto;
  display: flex;
  align-items: center;

  &.euiDataGridRowCell__content--defaultHeight {
    height: 100%;
  }
}
