@include euiDataGridRowCell {
  .euiDataGridRowCell__content {
    height: 100%;
    overflow: hidden;

    &--autoHeight {
      height: auto;
    }
  }
}

.euiDataGridRowCell--controlColumn .euiDataGridRowCell__content {
  max-height: 100%;
  height: auto;
  display: flex;
  align-items: center;

  &.euiDataGridRowCell__content--defaultHeight {
    height: 100%;
  }
}
