.euiDataGrid__customRenderBody {
  @include euiScrollBar($euiColorDarkShade, $euiColorEmptyShade);
  height: 100%;
  width: 100%;
  overflow: auto;
}

.euiDataGrid__virtualized {
  @include euiScrollBar($euiColorDarkShade, $euiColorEmptyShade);
  scroll-padding: 0;
}
