.euiFlyoutFooter {
  background: $euiColorLightestShade;
  flex-grow: 0;
  padding-block-start: $euiSize;
  padding-block-end: $euiSize;
  padding-inline-start: $euiSizeL;
  padding-inline-end: $euiSizeL;
}
