.euiFlyoutBody {
  flex-grow: 1;
  overflow-y: hidden;
  height: 100%;

  .euiFlyoutBody__overflow {
    @include euiYScrollWithShadows;

    &.euiFlyoutBody__overflow-banner {
      @include euiYScrollWithBottomShadows;
    }
  }

  .euiFlyoutBody__overflowContent {
    padding: $euiSizeL;
  }

}
