.euiFlyoutHeader {
  flex-grow: 0;
  padding-block-start: $euiSizeL;
  padding-block-end: 0;
  padding-inline-start: $euiSizeL;
  padding-inline-end: $euiSizeXXL;
}

.euiFlyoutHeader--hasBorder {
  padding-block-end: $euiSizeL;
  border-block-end: $euiBorderThin;
}
