.euiFlyoutBody {
  flex-grow: 1;
  overflow-y: hidden;
  height: 100%;

  .euiFlyoutBody__overflow {
    @include euiYScrollWithShadows;
  }

  .euiFlyoutBody__overflowContent {
    padding: $euiSizeL;
  }

}
