@import '../header/variables';

@mixin euiFlyout {
  border-left: $euiFlyoutBorder;
  // The mixin augments the above
  // sass-lint:disable mixins-before-declarations
  @include euiBottomShadowLarge($adjustBorders: true);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: $euiZModal;
  background: $euiColorEmptyShade;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  // When the EuiHeader is fixed, we need to account for it in the position of the flyout
  .euiBody--headerIsFixed & {
    top: $euiHeaderHeightCompensation;
    height: calc(100% - #{$euiHeaderHeightCompensation});
  }
}
