
@mixin euiFlyout {
  border-inline-start: $euiFlyoutBorder;
  // The mixin augments the above
  // sass-lint:disable mixins-before-declarations
  @include euiBottomShadowLarge($adjustBorders: true);
  position: fixed;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: 0;
  height: 100%;
  z-index: $euiZFlyout;
  background: $euiColorEmptyShade;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  clip-path: polygon(-20% 0, 100% 0, 100% 100%, -20% 100%);
}
