.euiModal {
  @include euiBottomShadow;

  background-color: $euiColorEmptyShade;
  border: $euiBorderThin;
  border-radius: $euiBorderRadius;
  z-index: $euiZModal;
  padding: $euiSizeXL;
  min-width: 50%;
  animation: euiModal $euiAnimSpeedSlow $euiAnimSlightBounce;
}

.euiModal--confirmation {
  width: 450px;
  min-width: auto;
}

.euiModalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .euiModalHeader__title {
    @include euiFontSizeL;
  }

.euiModalHeaderCloseButton {
}

.euiModalBody {
  padding: $euiSizeXL 0;
}

.euiModalFooter {
  display: flex;
  justify-content: flex-end;

  > * + * {
    margin-left: $euiSize;
  }
}

@keyframes euiModal {
  0% {
    opacity: 0;
    transform: translateY($euiSizeXL);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
