// Header items are the small icon links that pop up menus.

.euiHeaderSectionItem {
  position: relative;

  &:hover {
    background: $euiColorLightestShade;
  }

  &:after {
    position: absolute;
    content: '';
    top: $euiSize;
    bottom: 0;
    background: $euiBorderColor;
    left: 0;
  }
}

.euiHeaderSectionItem__button {
  height: $euiHeaderChildSize;
  min-width: $euiHeaderChildSize;
  text-align: center;
  font-size: 0; // aligns icons better vertically

  &:focus {
    background: $euiFocusBackgroundColor;
  }
}

.euiHeaderSectionItem--borderLeft {
  &:after {
    left: 0;
    width: 1px;
  }
}

.euiHeaderSectionItem--borderRight {
  &:after {
    width: 1px;
    left: auto;
    right: 0;
  }
}

.euiHeaderNotification {
  position: absolute;
  top: 9%;
  right: 9%;
  box-shadow: 0 0 0 1px $euiHeaderBackgroundColor;
}

@include euiBreakpoint('xs') {
  .euiHeaderSectionItem,
  .euiHeaderSectionItem__button {
    min-width: $euiHeaderChildSize * .75;
  }

  .euiHeaderSectionItem--borderLeft,
  .euiHeaderSectionItem--borderRight {
    &:after {
      display: none;
    }
  }

  // On small screens just show a small dot indicating there are notifications
  .euiHeaderNotification {
    @include size($euiSizeS);
    top: 20%;
    min-width: 0;
    border-radius: $euiSizeS;
    color: $euiColorAccent;
    overflow: hidden;
  }
}
