// Modifier naming and colors.
$euiHealthColors: (
  text: $euiTextColor,
  subdued: $euiTextSubduedColor,
  primary: makeGraphicContrastColor($euiColorPrimary),
  secondary: makeGraphicContrastColor($euiColorSecondary),
  success: makeGraphicContrastColor($euiColorSuccess),
  accent: makeGraphicContrastColor($euiColorAccent),
  warning: makeGraphicContrastColor($euiColorWarning),
  danger: makeGraphicContrastColor($euiColorDanger),
  ghost: $euiColorGhost,
);
