html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: lightgray;
}

#chart {
  width: 100%;
}


.app {
  width: 100%;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header {
  position: fixed;
  background: lightcoral;
  top: 5px;
  right: 5px;
  z-index: 1000;
  display: flex;
  padding: 2px;
  user-select: none;
  &:hover,
  &:active {
    background: coral;
  }
}
.chartContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 15px;
}
.chartContainer {
  width: 100%;
  height: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  flex-basis: auto;
  position: relative;
  box-shadow: 6px 6px 14px -2px rgba(0,0,0,0.75);
  background: white;
  box-sizing: border-box;
}
