$euiColorVisList:
  $euiColorVis1,
  $euiColorVis0,
  $euiColorVis2,
  $euiColorVis3,
  $euiColorVis4,
  $euiColorVis5,
  $euiColorVis6,
  $euiColorVis7,
  $euiColorVis8,
  $euiColorVis9;

.euiSeriesChartSeries_line {
  stroke-width: 1px;
  fill: none;
}
.euiSeriesChartSeries_point{
  stroke-width: 0;
  opacity: 0.7;
}
.euiSeriesChartSeries_bar {
  opacity: 0.9;
  stroke-width: 1px;
  stroke: white;
}

.euiSeriesChartSeries_area {
  opacity: 0.8;
  stroke-width: 1px;
  stroke: black;
}

@for $i from 1 through 10 {
  .euiSeriesChartSeries_pointGroup:nth-child(10n + #{$i}) {
    .euiSeriesChartSeries_point {
      fill: nth($euiColorVisList, $i);
    }
  }
}
@for $i from 1 through 10 {
  .euiSeriesChartSeries_lineGroup {
    .euiSeriesChartSeries_line:nth-child(10n + #{$i}) {
      stroke: nth($euiColorVisList, $i);
    }
  }
}
@for $i from 1 through 10 {
  .euiSeriesChartSeries_barGroup:nth-child(10n + #{$i}) {
    .euiSeriesChartSeries_bar {
      fill: nth($euiColorVisList, $i);
    }
  }
}
@for $i from 1 through 10 {
  .euiSeriesChartSeries_areaGroup {
    .euiSeriesChartSeries_area:nth-child(10n + #{$i}) {
      fill: nth($euiColorVisList, $i);
    }
  }
}

@for $i from 1 through 10 {
  .euiSeriesChartSeries_barStack {
    .euiSeriesChartSeries_bar:nth-child(10n + #{$i}) {
      fill: nth($euiColorVisList, $i);
    }
  }
}