.euiChartTooltip {
  @include euiBottomShadow($color: $euiColorFullShade);
  @include euiFontSizeXS;
  pointer-events: none;
  position: fixed;
  z-index: $euiZLevel9;
  background-color: tintOrShade($euiColorFullShade, 25%, 90%);
  color: $euiColorGhost;
  border-radius: $euiBorderRadius;
  max-width: $euiSizeXL * 10;
  overflow: hidden;
  overflow-wrap: break-word;
  opacity: 0.95;
  transition: opacity $euiAnimSpeedNormal;
  user-select: none;
  > :last-child {
    margin-bottom: $euiSizeS;
  }

  > * {
    margin: $euiSizeS $euiSizeS 0;
  }

  table {
    td,
    th {
      padding: $euiSizeXS;
    }
  }
}
.euiChartTooltip__label {
  // max-width: $euiSizeXL * 3;
  font-weight: $euiFontWeightMedium;
  color: shade($euiColorGhost, 20%);
}

.euiChartTooltip--hidden {
  opacity: 0;
}