$euiStepNumberSize: $euiSizeXL !default;
$euiStepNumberMargin: $euiSize !default;

@mixin createStepsNumber(){
  display: inline-block;
  @include size($euiStepNumberSize);
  line-height: $euiStepNumberSize;
  border-radius: $euiStepNumberSize;
  text-align: center;

  color: $euiColorEmptyShade;
  background-color: $euiColorPrimary;

  font-size: $euiFontSize;
  font-weight: $euiFontWeightMedium;
}

@import 'steps';
@import 'sub_steps';
@import 'steps_horizontal';
