@mixin createStepsNumber($size: $euiStepNumberSize, $fontSize: $euiSize) {
  @include size($size);

  display: inline-block;
  line-height: $size;
  border-radius: $size;
  text-align: center;
  color: $euiColorEmptyShade;
  background-color: $euiColorPrimary;
  font-size: $fontSize; // setting to actual base size will keep it aligned if base font-size changes
  font-weight: $euiFontWeightMedium;
}
