@mixin createStepsNumber {
  @include size($euiStepNumberSize);

  display: inline-block;
  line-height: $euiStepNumberSize;
  border-radius: $euiStepNumberSize;
  text-align: center;
  color: $euiColorEmptyShade;
  background-color: $euiColorPrimary;
  font-size: $euiFontSize;
  font-weight: $euiFontWeightMedium;
}
