@mixin createStepsNumber($size: $euiStepNumberSize, $fontSize: $euiFontSize) {
  @include size($size);

  display: inline-block;
  line-height: $size;
  border-radius: $size;
  text-align: center;
  color: $euiColorEmptyShade;
  background-color: $euiColorPrimary;
  font-size: $fontSize;
  font-weight: $euiFontWeightMedium;
}
