.euiSubSteps {
  padding: $euiSize;
  background-color: $euiColorLightestShade;
  margin-block-end: $euiSize;

  > *:last-child {
    margin-block-end: 0;
  }

  // change ordered list from numbers to lowercase letters
  .euiText & ol,
  & ol {
    list-style-type: lower-alpha;
  }
}
