$euiStepNumberSize: $euiSizeXL !default;
$euiStepNumberMargin: $euiSize !default;

// Modifier naming and colors.
$euiStepStatusColorsToFade: (
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  disabled: lightOrDarkTheme($euiColorDarkShade, $euiColorLightShade),
  incomplete: lightOrDarkTheme($euiColorDarkShade, $euiColorLightShade),
) !default;
