$euiStepNumberSize: $euiSizeXL !default;
$euiStepNumberMargin: $euiSize !default;

// Modifier naming and colors.
$euiStepStatusColorsToFade: (
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  disabled: $euiColorDarkShade,
  incomplete: $euiColorDarkShade,
) !default;
