@import '../loading/mixins';

// $buttonTypes: (
//   primary: $euiColorPrimary,
//   secondary: $euiColorSecondary,
//   warning: $euiColorWarning,
//   danger: $euiColorDanger,
//   dark: $euiColorMediumShade,
// );

.euiSuggestItem {
  display: flex;
  flex-grow: 1;
  align-items: center;
  font-size: $euiFontSizeXS;
  white-space: nowrap;

  @each $name, $color in $itemColors {
    .euiSuggestItem__type--#{$name} {
      background-color: tintOrShade($color, 90%, 50%);
		}
	}

  .euiSuggestItem__label,
  .euiSuggestItem__type,
  .euiSuggestItem__description {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
	}

  .euiSuggestItem__type {
    position: relative;
    flex-shrink: 0;
    flex-basis: auto;
    width: $euiSizeXL;
    height: $euiSizeXL;
    text-align: center;
    overflow: hidden;
    padding: $euiSizeXS;
    justify-content: center;
    align-items: center;

    .customBackground {
      width: 32px;
      height: 32px;
      position: absolute;
      opacity: .2;
      top: 0;
      left: 0;
    }
  }

  .euiSuggestItem__label {
    flex-basis: 30%;
    font-family: $euiCodeFontFamily;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: $euiSizeXS $euiSizeS;
    color: $euiTextColor;

    &.euiSuggestItem__layout--inline {
      flex-basis: auto;
    }
  }

  .euiSuggestItem__description,
  .euiSuggestItem__label {
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
	}

  .euiSuggestItem__description {
    color: $euiColorDarkShade;
    flex-basis: auto;
    padding-top: $euiSizeXS * .5;
    &:empty {
      flex-grow: 0;
      margin-left:0;
    }
	}
}
