$itemColors: (
  itemTint01: $euiColorPrimary,
  itemTint02: $euiColorSecondary,
  itemTint03: $euiColorWarning,
  itemTint04: $euiColorDanger,
  itemTint05: $euiColorMediumShade,
  itemTint06: $euiColorAccent,
  itemTint07: $euiColorVis3,
);
