$itemColors: (
  primary: $euiColorPrimary,
  secondary: $euiColorSecondary,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
  text: $euiColorMediumShade,
  accent: $euiColorAccent,
  vis3: $euiColorVis3,
);
