$euiControlBarBackground: lightOrDarkTheme($euiColorDarkestShade, $euiColorInk);
$euiControlBarText: lighten(makeHighContrastColor($euiColorLightestShade, $euiControlBarBackground), 20%);
$euiControlBarBorderColor: transparentize($euiColorGhost, .8);
$euiControlBarInitialHeight: $euiSizeXXL;
