$euiDatePickerCalendarWidth: 284px;

$euiDatePickerPadding: $euiSizeS;
$euiDatePickerGap: $euiSizeXS;
$euiDatePickerCalendarColumns: 7; // Just to make calculations obvious
$euiDatePickerButtonSize: $euiSizeXL;

$euiDatePickerMinControlWidth: 100px;
$euiDatePickerMaxControlWidth: 140px;
