.globalFilterItem {
  line-height: $euiSizeL + $euiSizeXS;
  border: none;
  color: $euiTextColor;

  &:not(.globalFilterItem-isDisabled) {
    @include euiFormControlDefaultShadow;
  }
}

.globalFilterItem-isDisabled {
  background-color: transparentize($euiColorLightShade, .4);
  text-decoration: line-through;
  font-weight: $euiFontWeightRegular;
  font-style: italic;
}

.globalFilterItem-isPinned {
  border-left: $euiSizeXS solid $euiColorVis0;
}
