@import '../link/mixins';

.kuiHeaderLogo {
  @include kuiLink;

  position: relative;
  height: $euiHeaderChildSize;
  padding: $euiSize $euiSizeL;
  display: inline-block;
  vertical-align: middle;
}

  .kuiHeaderLogo__icon {
    height: $euiSizeXL;
    width: $euiSizeL;
    opacity: 1;
  }
