.euiHeaderLogo {
  position: relative;
  height: $euiHeaderChildSize;
  line-height: $euiHeaderChildSize;
  min-width: $euiHeaderChildSize;
  padding: 0 $euiSizeS;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  white-space: nowrap;
}

.euiHeaderLogo__text {
  @include euiTitle('xxs');
  padding-left: $euiSize;
}

@include euiBreakpoint('xs') {
  .euiHeaderLogo {
    padding-left: $euiSizeXS;
  }
}
