@import '../link/mixins';

.euiHeaderLogo {
  @include euiLink;

  position: relative;
  height: $euiHeaderChildSize;
  line-height: $euiSizeXL;
  padding: $euiSize $euiSizeL;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;

  &:focus,
  &:hover {
    text-decoration: none;
  }
}

  .euiHeaderLogo__icon {
    height: $euiSizeXL;
    width: $euiSizeL;
    opacity: 1;
  }

  .euiHeaderLogo__text {
    @include euiTitle("s");
    padding-left: $euiSize;
    font-weight: $euiFontWeightLight;

    @include euiBreakpoint('xs','s') {
      @include euiTitle("xxs");
      font-weight: $euiFontWeightLight;
    }
  }
