// Header. Includes breadcrumbs of nav buttons.

.euiHeader {
  position: relative;
  z-index: $euiZHeader; // ensure the shadow shows above content
  @include euiBottomShadowSmall;

  display: flex;
  background: $euiHeaderBackgroundColor;
  border-bottom: $euiBorderThin;
}
