// Themable colors
$euiHeaderBackgroundColor: $euiColorEmptyShade;
$euiHeaderBreadcrumbColor: $euiColorDarkestShade;
$euiHeaderNotificationBackgroundColor: $euiColorAccent;

// Layout vars
$euiHeaderChildSize: $euiSizeXXL + $euiSizeL;

// Components
@import 'header';
@import 'header_popover';
@import 'header_profile';
@import 'header_logo';
@import 'header_alert/index';
@import 'header_breadcrumbs/index';
@import 'header_section/index';
