// Note - these are also used by the EuiNavDrawer (/nav_drawer) component
// Themable colors
$euiHeaderBackgroundColor: $euiColorEmptyShade;
$euiHeaderBreadcrumbColor: $euiColorDarkestShade;

// Layout vars
$euiHeaderHeight: $euiSizeXXL + $euiSizeS;
$euiHeaderChildSize: $euiHeaderHeight;
