// Note - these are also used by the EuiNavDrawer (/nav_drawer) component
// Themable colors
$euiHeaderBackgroundColor: $euiColorEmptyShade;
$euiHeaderBreadcrumbColor: $euiColorDarkestShade;

// Layout vars
$euiHeaderHeight: $euiSizeXXL + $euiSizeS;
$euiHeaderChildSize: $euiHeaderHeight;

// Use the following variable in other components to afford for the fixed header
$euiHeaderHeightCompensation: $euiHeaderHeight + 1px !default;
