.ilmAccordion__buttonContent {
  @include euiFontSizeS;
}

.ilmAccordion__button {
  &:focus {
    background-color: transparent;
    text-decoration: none;
  }

  &:hover {
    text-decoration: none;
    
    .ilmAccordion__buttonContent {
      color: inherit;
      text-decoration: none !important;
    }
  }
}

.ilmHrule {
  width: calc(100% + 48px) !important;
  margin-left: -24px;
  margin-right: -24px;
}
