.euiPageHeaderSection {
  & + & {
    margin-left: $euiSizeXL;
  }
}

@include euiBreakpoint('xs', 's') {
  .euiPageHeader--responsive .euiPageHeaderSection {
    width: 100%;

    + .euiPageHeaderSection {
      margin-left: 0;
      margin-top: $euiSize;
    }
  }
}
