.euiPageHeader {
  margin-block-end: $euiSize;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@include euiBreakpoint('xs', 's') {
  .euiPageHeader {
    padding-block-start: $euiSize;
    padding-block-end: $euiSize;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-end: 0;
  }

  .euiPageHeader--responsive {
    flex-direction: column;
  }
}
