.euiPageHeader {
  margin-bottom: $euiSizeL;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@include screenXSmall {
  .euiPageHeader {
    flex-direction: column;
    padding: 0 $euiSizeL;
    margin-bottom: 0;
  }
}
