.euiPageHeaderSection {
  & + & {
    margin-inline-start: $euiSizeXL;
  }
}

@include euiBreakpoint('xs', 's') {
  .euiPageHeader--responsive .euiPageHeaderSection {
    width: 100%;

    + .euiPageHeaderSection {
      margin-inline-start: 0;
      margin-block-start: $euiSize;
    }
  }
}
