.euiPageContent {
  width: 100%;
  min-width: 0; // Make sure that inner flex layouts don't get larger than this container

  // Assumes that in the default theme, the borders are touching the edge of the EuiPage so remove them.
  &.euiPageContent--borderRadiusNone { // Nested for specificity
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
  }

  &.euiPageContent--verticalCenter {
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 0;
  }

  &.euiPageContent--horizontalCenter {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 0; // Offsets the properties of .euiPanel within flexboxes
  }
}
