.euiPageContentBody {
  @include euiPageRestrictWidth;
}

.euiPageContentBody--centeredContent {
  align-self: center;
  margin: auto;
  width: auto;
  flex-grow: 0; // Offsets the properties of .euiPanel within flexboxes
}
