.euiPageContentHeaderSection {

  & + & {
    margin-left: $euiSizeXL;
  }
}

@include euiBreakpoint('xs','s') {

  .euiPageContentHeaderSection {
    width: 100%;

    & + & {
      margin-left: 0;
      margin-top: $euiSize;
    }
  }
}

