.euiPageContentBody {
  &--restrictWidth-default,
  &--restrictWidth-custom {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &--restrictWidth-default {
    max-width: $euiPageDefaultMaxWidth;
  }
}

// Uses the same values as EuiPanel
@each $modifier, $amount in $euiPanelPaddingModifiers {
  .euiPageContentBody--#{$modifier} {
    padding: $amount;
  }
}
