.euiPageContent {
  width: 100%;
  min-width: 0; // Make sure that inner flex layouts don't get larger than this container
}

.euiPageContent--bottomBorder {
  border-bottom: $euiBorderThin;
}

.euiPageContent--flex {
  display: flex;
  flex-direction: column;
}

.euiPageContent--center {
  align-items: center;
  justify-content: center;
}

.euiPageContent--horizontalCenter {
  align-items: center;
}
