.euiPageContentHeaderSection {
  & + & {
    margin-left: $euiSizeXL;
  }
}

// Adjust vertical spacing based on content padding prop
@include euiBreakpoint('xs', 's') {
  @each $modifier, $amount in $euiPanelPaddingModifiers {
    .euiPageContent[class*='#{$modifier}'] .euiPageContentHeader--responsive {
      .euiPageContentHeaderSection + .euiPageContentHeaderSection {
        margin-left: 0;
        margin-top: $amount / 2;
      }
    }
  }
}
