.euiPageContent {
  width: 100%;
}

.euiPageContent--verticalCenter {
  align-self: center;
}

.euiPageContent--horizontalCenter {
  width: auto;
  margin: auto;
}

@include screenXSmall {
  .euiPageContent {
    border-radius: 0;
    border: none;
  }
}
