$euiButtonColorDisabled: tintOrShade($euiTextColor, 95%, 70%);
$euiButtonColorGhostDisabled: lightOrDarkTheme($euiColorDarkShade, $euiColorLightShade);
$euiButtonToggleBorderColor: $euiColorLightShade !default;
