$euiFormControlBorderRadius: $euiBorderRadius;
$euiFormControlCompressedBorderRadius: $euiBorderRadiusSmall;
$euiFormInputGroupBorder: none;
$euiFormBackgroundReadOnlyColor: $euiColorEmptyShade;

$euiFormControlBoxShadow: 0 0 transparent;

$euiCheckboxBorderRadius: $euiBorderRadiusSmall;

// Range
$euiRangeTrackColor: $euiColorLightShade;

$euiRangeThumbBorderColor: $euiColorEmptyShade;
$euiRangeThumbBackgroundColor: $euiColorPrimary;

$euiRangeTrackHeight: $euiSizeXS;
$euiRangeTrackCompressedHeight: $euiSizeXS / 2;
$euiRangeHighlightHeight: $euiSizeM / 2;
$euiRangeHighlightCompressedHeight: $euiSizeXS;