// Color when not using currentColor
$euiFocusRingColor: $euiColorPrimaryText;

// Sizing
$euiFocusRingAnimStartSize: 2px;
$euiFocusRingSize: 2px;

// Transparency
$euiFocusTransparency: lightOrDarkTheme(.9, .8);
$euiFocusTransparencyPercent: lightOrDarkTheme(90%, 80%);
$euiFocusBackgroundColor: transparentize($euiColorPrimary, $euiFocusTransparency);
