.globalFilterItem {
  line-height: $euiButtonHeightSmall;
  font-size: $euiFontSizeS;
  color: $euiTextColor;
  background-color: $euiColorEmptyShade;
  border: none;

  &:not(.globalFilterItem-isDisabled) {
    box-shadow: inset 0 0 0 1px $euiColorLightShade;
  }
}

.globalFilterItem-isDisabled {
  $backgroundColorSimulated: mix($euiPageBackgroundColor, $euiButtonColorDisabled, 90%);
  background-color: transparentize($euiButtonColorDisabled, .9);
  color: makeDisabledContrastColor($euiButtonColorDisabled, $backgroundColorSimulated);
  text-decoration: line-through;
  font-weight: $euiFontWeightRegular;
}

.globalFilterItem-isPinned {
  position: relative;
  background-color: $euiFormInputGroupLabelBackground;
  box-shadow: none !important; // sass-lint:disable-line no-important
}

.globalFilterItem-isExcluded:not(.globalFilterItem-isDisabled) {
  box-shadow: inset 0 0 0 1px transparentize(map-get($euiButtonTypes, 'danger'), $euiButtonDefaultTransparency);

  button > span:first-child {
    color: $euiColorDangerText;
  }
}
