.euiFlexGroup {
  display: flex;
  align-items: stretch;

  .euiFlexItem {
    flex-grow: 1;
    flex-basis: 0;
  }

  // Gutter Sizes
  &.euiFlexGroup--gutterSmall > .euiFlexItem + .euiFlexItem {
    margin-left: $euiSizeS;
  }

  &.euiFlexGroup--gutterMedium > .euiFlexItem + .euiFlexItem {
    margin-left: $euiSize;
  }

  &.euiFlexGroup--gutterLarge > .euiFlexItem + .euiFlexItem {
    margin-left: $euiSizeL;
  }

  &.euiFlexGroup--gutterExtraLarge > .euiFlexItem + .euiFlexItem {
    margin-left: $euiSizeXXL;
  }

  // Justify the grid
  &.euiFlexGroup--justifyContentSpaceBetween {
    justify-content: space-between;
  }

  &.euiFlexGroup--justifyContentSpaceAround {
    justify-content: space-around;
  }

  &.euiFlexGroup--justifyContentCenter {
    justify-content: center;
  }

  &.euiFlexGroup--justifyContentFlexEnd {
    justify-content: flex-end;
  }

  // Align Items
  &.euiFlexGroup--alignItemsStart {
    align-items: flex-start;
  }

  &.euiFlexGroup--alignItemsCenter {
    align-items: center;
  }

  &.euiFlexGroup--alignItemsEnd {
    align-items: flex-end;
  }
}


@include screenXSmall {
  .euiFlexGroup--responsive {
    flex-wrap: wrap;
  }
}
