.euiFlexGroup {
  display: flex;
  align-items: stretch;

  .euiFlexItem {
    flex-grow: 1;
    flex-basis: 0;
  }
}

$gutterTypes: (
  gutterExtraSmall: $euiSizeXS,
  gutterSmall: $euiSizeS,
  gutterMedium: $euiSize,
  gutterLarge: $euiSizeL,
  gutterExtraLarge: $euiSizeXXL,
);

// Gutter Sizes
@each $gutterName, $gutterSize in $gutterTypes {
  $halfGutterSize: $gutterSize * 0.5;

  &.euiFlexGroup--#{$gutterName} {
    margin: -$halfGutterSize;

    & > .euiFlexItem {
      margin: $halfGutterSize;
    }
  }
}

// Justify the grid
.euiFlexGroup--justifyContentSpaceEvenly {
  justify-content: space-evenly;
}

.euiFlexGroup--justifyContentSpaceBetween {
  justify-content: space-between;
}

.euiFlexGroup--justifyContentSpaceAround {
  justify-content: space-around;
}

.euiFlexGroup--justifyContentCenter {
  justify-content: center;
}

.euiFlexGroup--justifyContentFlexEnd {
  justify-content: flex-end;
}

// Align Items
.euiFlexGroup--alignItemsStart {
  align-items: flex-start;
}

.euiFlexGroup--alignItemsCenter {
  align-items: center;
}

.euiFlexGroup--alignItemsFlexEnd {
  align-items: flex-end;
}

.euiFlexGroup--wrap {
  flex-wrap: wrap;
}

@include screenXSmall {
  .euiFlexGroup--responsive {
    flex-wrap: wrap;
    margin-left: 0;
    margin-right: 0;
  }
}
