// Animations

$euiAnimSlightBounce: cubic-bezier(.34, 1.61, .7, 1) !default;
$euiAnimSlightResistance: cubic-bezier(.32, .72, 0, 1) !default;

$euiAnimSpeedExtraFast: 90ms !default;
$euiAnimSpeedFast: 150ms !default;
$euiAnimSpeedNormal: 250ms !default;
$euiAnimSpeedSlow: 350ms !default;
$euiAnimSpeedExtraSlow: 500ms !default;

// Keyframe animation declarations can be found in
// eui/utility/animations.scss
