// Separated out to its own file for easy import into docs

// Font weights
$euiFontWeightLight:        300 !default;
$euiFontWeightRegular:      400 !default;
$euiFontWeightMedium:       500 !default;
$euiFontWeightSemiBold:     600 !default;
$euiFontWeightBold:         700 !default;
$euiCodeFontWeightRegular:  400 !default;
$euiCodeFontWeightBold:     700 !default;
