.guideDemo__textLines {
  background-image: linear-gradient($euiFocusBackgroundColor 1px, transparent 1px);
  background-size: 100% $euiSizeXS;
  background-position-y: -1px;

  > * {
    background-color: $euiColorHighlight;
  }
}
