$euiRangeTrackColor: $euiColorLightShade;
$euiRangeThumbColor: $euiColorEmptyShade;

$euiRangeThumbRadius: 50%;
$euiRangeThumbHeight: $euiSize;
$euiRangeThumbWidth: $euiSize;
$euiRangeBorderWidth: 2px;
$euiRangeBorderColor: $euiTextColor;

$euiRangeTrackWidth: 100%;
$euiRangeTrackHeight: 2px;
$euiRangeTrackBorderWidth: 0;
$euiRangeTrackBorderColor: $euiColorLightShade;
$euiRangeTrackRadius: $euiBorderRadius;

@mixin track {
  cursor: pointer;
  height: $euiRangeTrackHeight;
  transition: all $euiAnimSpeedNormal ease-in;
  width: $euiRangeTrackWidth;
}

@mixin thumb {
  background: $euiRangeThumbColor;
  border: $euiRangeBorderWidth solid $euiRangeBorderColor;
  border-radius: $euiRangeThumbRadius;
  cursor: pointer;
  height: $euiRangeThumbHeight;
  width: $euiRangeThumbWidth;
}

@import 'range';
