$euiRangeTrackColor: $euiColorDarkShade;

$euiRangeThumbRadius: 50%;
$euiRangeThumbHeight: $euiSize;
$euiRangeThumbWidth: $euiSize;
$euiRangeThumbBorderColor: $euiRangeTrackColor;

$euiRangeTrackWidth: 100%;
$euiRangeTrackHeight: 2px;
$euiRangeTrackBorderWidth: 0;
$euiRangeTrackBorderColor: $euiRangeTrackColor;
$euiRangeTrackRadius: $euiBorderRadius;

@mixin track {
  cursor: pointer;
  height: $euiRangeTrackHeight;
  transition: all $euiAnimSpeedNormal ease-in;
  width: $euiRangeTrackWidth;
}

@mixin thumb {
  cursor: pointer;
  @include euiCustomControl($type: 'round');
  border-color: $euiRangeThumbBorderColor;
  padding: 0;
  height: $euiRangeThumbHeight;
  width: $euiRangeThumbWidth;
}

@import 'range';
