// Prefixes are unique in this file
// sass-lint:disable no-vendor-prefixes

@mixin euiRangeTrackSize {
  height: $euiRangeTrackHeight;
  transition: all $euiAnimSpeedNormal ease-in;
  width: $euiRangeTrackWidth;
}

@mixin euiRangeTrackPerBrowser {
  &::-webkit-slider-runnable-track { @content; }
  &::-moz-range-track { @content; }
  &::-ms-fill-lower { @content; }
  &::-ms-fill-upper { @content; }
}

@mixin euiRangeThumbStyle {
  cursor: pointer;
  border-color: $euiRangeThumbBorderColor;
  padding: 0;
  height: $euiRangeThumbHeight;
  width: $euiRangeThumbWidth;
}

@mixin euiRangeThumbPerBrowser {
  &::-webkit-slider-thumb { @content; }
  &::-moz-range-thumb { @content; }
  &::-ms-thumb { @content; }
}

// Deprecated mixins below. This was changed in Nov. 2018

@mixin euiRange__trackSize { // sass-lint:disable-line mixin-name-format
  @include euiRangeTrackSize;
  @warn '@mixin euiRange__trackSize is deprecated, please use euiRangeTrackSize instead';
}

@mixin euiRange__track__perBrowser { // sass-lint:disable-line mixin-name-format
  @include euiRangeTrackPerBrowser;
  @warn '@mixin euiRange__track__perBrowser is deprecated, please use euiRangeTrackPerBrowser instead';
}

@mixin euiRange__thumb__perBrowser { // sass-lint:disable-line mixin-name-format
  @include euiRangeThumbPerBrowser;
  @warn '@mixin euiRange__thumb__perBrowser is deprecated, please use euiRangeThumbPerBrowser instead';
}
