/*
 * 1. There's no way to target the layout of the extra input, so we must
 *    use the descendant selector to allow the width to shrink.
 */

.euiRangeWrapper {
  @include euiFormControlSize($includeAlternates: true);
  display: flex;
  align-items: center;

  > .euiFormControlLayout { /* 1 */
    width: auto;
  }
}
