.euiRangeInput {
  width: auto;
  min-width: $euiSize * 4;

  &--min {
    margin-right: $euiSize;
  }

  &--max {
    margin-left: $euiSize;
  }

  .euiRange__popover & {
    // sass-lint:disable no-important
    margin: 0 !important;
    width: 100%;
  }
}
