.euiRangeTicks {
  position: absolute;
  inset-inline-start: ($euiRangeThumbWidth / 2);
  inset-inline-end: ($euiRangeThumbWidth / 2);
  inset-block-start: $euiSizeS;
  display: flex;
}

.euiRangeTick {
  overflow-x: hidden;
  text-overflow: ellipsis;
  font-size: $euiFontSizeXS;
  position: relative;
  padding-block-start: $euiSize;

  &::before {
    @include size($euiSizeXS);

    content: '';
    background-color: $euiColorDarkShade;
    border-radius: 100%;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: calc(50% - #{($euiSizeXS/2)});
  }

  &--isCustom {
    position: absolute;
    transform: translateX(-50%);
  }

  &:enabled:hover,
  &:focus,
  &--selected {
    color: $euiColorPrimary;
  }

  &--selected {
    font-weight: $euiFontWeightMedium;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.euiRangeTicks--compressed {
  inset-block-start: $euiSizeS - 2px;

  .euiRangeTick {
    padding-block-start: $euiSize - 2px;
  }
}
