.euiRangeThumb {
  @include euiCustomControl($type: 'round');
  @include euiRangeThumbStyle;
  content: '';
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 50%;
  margin-block-start: -($euiRangeThumbHeight / 2);
  pointer-events: none;

  &:focus {
    @include euiCustomControlFocused;
  }

  &--hasTicks {
    inset-block-start: 25%;
  }
}
