.euiRangeTrack {
  height: 100%; // Don't overflow `euiRangeWrapper`
  flex-grow: 1;
  position: relative; // for positioning ticks/levels
  align-self: flex-start; // Adjust vertical alignment of input based on extras

  &--hasTicks {
    margin-left: 1em;
    margin-right: 1em;
  }

  &--disabled {
    opacity: $euiRangeDisabledOpacity;
  }
}
