.euiRangeLabel {
  &--min,
  &--max {
    font-size: $euiFontSizeXS;
  }

  &--min {
    margin-inline-end: $euiSizeS;
  }

  &--max {
    margin-inline-start: $euiSizeS;
  }

  &--isDisabled {
    opacity: $euiRangeDisabledOpacity;
  }
}
