.euiRangeLabel {
  &--min,
  &--max {
    font-size: $euiFontSizeXS;
  }

  &--min {
    margin-right: $euiSizeS;
  }

  &--max {
    margin-left: $euiSizeS;
  }

  &--isDisabled {
    opacity: .25;
  }
}
