.euiRangeHighlight {
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(50% - #{($euiRangeHighlightHeight * .5)});
  overflow: hidden;

  &__progress {
    height: $euiRangeHighlightHeight;
    border-radius: $euiRangeHighlightHeight;
    background-color: $euiRangeTrackColor;

    &--hasFocus {
      background-color: $euiColorPrimary;
    }
  }

  &--hasTicks {
    top: ($euiFormControlHeight * .25) - ($euiRangeHighlightHeight * .5);
  }

  &--hasTicks.euiRangeHighlight--compressed {
    top: ($euiFormControlCompressedHeight * .25) - ($euiRangeHighlightHeight * .5);
  }
}
