.euiRangeHighlight {
  position: absolute;
  left: 0;
  width: 100%;
  top: calc(50% - 2px);
  overflow: hidden;

  &__progress {
    height: 4px;
    border-radius: 4px;
    background-color: $euiRangeTrackColor;

    &--hasFocus {
      background-color: $euiColorPrimary;
    }
  }

  &--hasTicks {
    top: ($euiFormControlHeight / 4) - 2px;
  }

  &--hasTicks.euiRangeHighlight--compressed {
    top: ($euiFormControlCompressedHeight / 4) - 2px;
  }
}
