.euiRangeLevels {
  display: flex;
  justify-content: stretch;
  position: absolute;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: ($euiFormControlHeight / 2) + 2px;

  &--hasTicks {
    inset-block-start: ($euiFormControlHeight / 4) + 2px;
  }

  &--compressed {
    inset-block-start: ($euiFormControlCompressedHeight / 2) + 2px;

    &.euiRangeLevels--hasTicks {
      inset-block-start: ($euiFormControlCompressedHeight / 4) + 2px;
    }
  }
}

.euiRangeLevel {
  display: block;
  height: 6px;
  border-radius: 6px;
  margin: 2px;
}

// Modifier naming and colors.
$euiRangeLevelColors: (
  primary: $euiColorPrimary,
  success: $euiColorSuccess,
  warning: $euiColorWarning,
  danger: $euiColorDanger,
);

// Create level modifiers based upon the map.
@each $name, $color in $euiRangeLevelColors {
  .euiRangeLevel--#{$name} {
    background-color: transparentize($color, .7);
  }
}
