.euiRangeTrack {
 

  &--compressed {
    &.euiRangeTrack--hasLevels {
      .euiRangeTicks {
        height: $euiRangeThumbHeight + ($euiRangeTrackCompressedHeight / 2);
        top: $euiRangeThumbHeight;
      }

      .euiRangeTick {
        padding-top: $euiRangeTrackCompressedHeight;
      }
    }

    
  }

  &:not(.euiRangeTrack--compressed) {
    &.euiRangeTrack--hasLevels {
      .euiRangeTicks {
        height: $euiRangeThumbHeight + ($euiRangeThumbHeight / 4);
        top: $euiRangeThumbHeight + ($euiRangeThumbHeight / 4);
      }

      .euiRangeTick {
        padding-top: $euiRangeTrackHeight;
      }
    }

  }
}