.euiRangeThumb {
  @include euiCustomControl($type: 'round');
  @include euiRangeThumbStyle;
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -($euiRangeThumbHeight / 2);
  pointer-events: none;
  z-index: 2; // higher than .euiRangeHighlight that is 1

  &:focus {
    @include euiRangeThumbFocus;
    outline: none;
  }

  &:focus:focus-visible {
    outline: none;
  }

  &--hasTicks {
    top: 0;
    margin-top: 0;
  }
}
