$euiRangeTrackColor: $euiColorDarkShade !default;

$euiRangeThumbRadius: 50% !default;
$euiRangeThumbHeight: $euiSize !default;
$euiRangeThumbWidth: $euiSize !default;
$euiRangeThumbBorderColor: $euiRangeTrackColor !default;

$euiRangeTrackWidth: 100% !default;
$euiRangeTrackHeight: 2px !default;
$euiRangeTrackBorderWidth: 0 !default;
$euiRangeTrackBorderColor: $euiRangeTrackColor !default;
$euiRangeTrackRadius: $euiBorderRadius !default;

$euiRangeDisabledOpacity: .25;

$euiRangeHighlightHeight: $euiSizeXS;
