$euiRangeTrackColor: $euiColorDarkShade;

$euiRangeThumbRadius: 50%;
$euiRangeThumbHeight: $euiSize;
$euiRangeThumbWidth: $euiSize;
$euiRangeThumbBorderColor: $euiRangeTrackColor;

$euiRangeTrackWidth: 100%;
$euiRangeTrackHeight: 2px;
$euiRangeTrackBorderWidth: 0;
$euiRangeTrackBorderColor: $euiRangeTrackColor;
$euiRangeTrackRadius: $euiBorderRadius;
