.euiTimelineItemPanel {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.euiTimelineItemPanel__header {
  border-radius: $euiBorderRadius $euiBorderRadius 0 0;
}

.euiTimelineItemPanel__footer {
  border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
}

.euiPanel--hasBorder {
  > .euiTimelineItemPanel__header {
    border-bottom: $euiBorderThin;
  }
}

.euiTimelineItemPanel--noBody {
  .euiTimelineItemPanel__header {
    border-radius: $euiBorderRadius;
  }
}

// Background colors
@each $modifier, $color in $euiPanelBackgroundColorModifiers {
  .euiTimelineItemPanel__header--#{$modifier} {
    background-color: $color;
  }

  .euiTimelineItemPanel__body-#{$modifier} {
    background-color: $color;
  }
}

// Padding
@each $modifier, $amount in $euiPanelPaddingModifiers {
  .euiTimelineItemPanel--#{$modifier} {
    .euiTimelineItemPanel__header,
    .euiTimelineItemPanel__body {
      padding: $amount;
    }
  }
}
