.euiTimelineItem {
  font-size: $euiFontSizeS;
  display: flex;
  padding-bottom: $euiSize;
  min-height: $euiSize * 3.5;
}

.euiTimelineItem:last-of-type {
  .euiTimelineItemIcon {
    &::before {
      display: none;
    }
  }
}

.euiTimelineItem--alignItemsCenter {
  align-items: center;
}
