.euiTimelineItemEvent {
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.euiTimelineItemEvent__inner {
  flex: 1;
}

.euiTimelineItemEvent__header {
  border-radius: $euiBorderRadius $euiBorderRadius 0 0;
}

.euiTimelineItemEvent__footer {
  border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
}

.euiPanel--hasBorder {
  > .euiTimelineItemEvent__inner .euiTimelineItemEvent__header {
    border-bottom: $euiBorderThin;
  }
}

.euiTimelineItemEvent--noBody {
  .euiTimelineItemEvent__header {
    border-radius: $euiBorderRadius;
  }
}

// Background colors
@each $modifier, $color in $euiPanelBackgroundColorModifiers {
  .euiTimelineItemEvent__header--#{$modifier} {
    background-color: $color;
  }

  .euiTimelineItemEvent__body-#{$modifier} {
    background-color: $color;
  }
}

// Padding
@each $modifier, $amount in $euiPanelPaddingModifiers {
  .euiTimelineItemEvent--#{$modifier} {
    .euiTimelineItemEvent__header,
    .euiTimelineItemEvent__body {
      padding: $amount;
    }
  }
}
