
@mixin whenNarrowerThan($browserWidth) {
  @media only screen and (max-width: #{$browserWidth}) {
    @content;
  }
}

@mixin whenWiderThan($browserWidth) {
  @media only screen and (min-width: #{$browserWidth}) {
    @content;
  }
}

@mixin scrollbar($color: rgba(#454D58, 0.4)) {
  &::-webkit-scrollbar {
    width: 16px;
    height: 16px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.guideLogo {
  width: 40px;
  height: 40px;
  background: $euiColorEmptyShade;
  border-radius: 40px;
  margin: auto;
  border: $euiBorderThin;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all $euiAnimSpeedNormal $euiAnimSlightResistance;

  &:hover {
    border-color: $euiColorMediumShade;
  }
}

@import "guide_demo/guide_demo";
@import "guide_header/guide_header";
@import "guide_section/guide_section";
