.euiTogglePill {
  display: inline-block;
  line-height: $euiSizeL;
  margin-right: $euiSizeS;
  border-radius: $euiBorderRadius;
  background: $euiColorLightestShade;
  border: $euiBorderThin;
  margin-top: $euiSizeS;

  &:hover {
    cursor: pointer;
    .euiTogglePill__title {
      text-decoration: underline;
    }
  }

  &:focus {
    background: $euiFocusBackgroundColor;
  }

  .euiTogglePill__title {
    font-size: $euiFontSizeXS;
    padding: 0 $euiSizeS;
    max-width: $euiSize * 12;
    white-space: nowrap;
  }

  .euiTogglePill__titleText {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .euiTogglePill__icon {
    margin-left: $euiSizeXS;
  }


  .euiTogglePill__toggle {
    font-size: $euiFontSizeXS;
    text-transform: uppercase;
    font-size: $euiFontSizeXS - 2px;
    padding: 0 $euiSizeS;
    border-left: $euiBorderThin;
    color: $euiColorDarkShade;
  }

  &.euiTogglePill--active {

    .euiTogglePill__toggle {
      color: $euiColorPrimary;
    }
  }
}
