.euiTogglePill {
  display: inline-block;
  line-height: $euiSizeL;

  + .euiTogglePill {
    margin-left: $euiSizeS;
  }

  .euiTogglePill__title {
    border: $euiBorderThin;
    border-top-left-radius: $euiBorderRadius;
    border-bottom-left-radius: $euiBorderRadius;
    font-size: $euiFontSizeS;
    padding: 0 $euiSizeS;
    background: $euiColorEmptyShade;
  }

  .euiTogglePill__icon {
    margin-left: $euiSizeXS;
  }


  .euiTogglePill__toggle {
    font-size: $euiFontSizeXS;
    background: $euiBorderColor;
    border: $euiBorderThin;
    border-top-right-radius: $euiBorderRadius;
    border-bottom-right-radius: $euiBorderRadius;
    text-transform: uppercase;
    font-size: $euiFontSizeXS;
    padding: 0 $euiSizeS;
  }

  &.euiTogglePill--active {

    .euiTogglePill__title, .euiTogglePill__toggle {
      border-color: $euiColorSecondary;
    }

    .euiTogglePill__toggle {
      background: $euiColorSecondary;
      color: $euiColorGhost;
    }
  }
}
