.euiTogglePill {
  display: inline-block;
  line-height: $euiSizeL;
  margin-right: $euiSizeS;
  border-radius: $euiBorderRadius;
  background: $euiColorLightestShade;
  border: $euiBorderThin;

  &:hover {
    cursor: pointer;
    .euiTogglePill__title {
      text-decoration: underline;
    }
  }

  .euiTogglePill__title {
    font-size: $euiFontSizeXS;
    padding: 0 $euiSizeS;
  }

  .euiTogglePill__icon {
    margin-left: $euiSizeXS;
  }


  .euiTogglePill__toggle {
    font-size: $euiFontSizeXS;
    text-transform: uppercase;
    font-size: $euiFontSizeXS - 2px;
    padding: 0 $euiSizeS;
    border-left: $euiBorderThin;
    color: $euiColorDarkShade;
  }

  &.euiTogglePill--active {

    .euiTogglePill__toggle {
      color: $euiColorPrimary;
    }
  }
}
