// Severity
$euiColorSeverityUnknown: #E3E8F2 !default;
$euiColorSeverityNeutral: #B5E5F2 !default;
$euiColorSeveritySuccess: #24C292 !default;
$euiColorSeverityWarning: #FCD883 !default;
$euiColorSeverityRisk: #FF995E !default;
$euiColorSeverityDanger: #EE4C48 !default;