@import './colors_vis';

$euiColorVisAsTextDark0: #000000 !default;
$euiColorVisAsTextDark1: #000000 !default;
$euiColorVisAsTextDark2: #000000 !default;
$euiColorVisAsTextDark3: #000000 !default;
$euiColorVisAsTextDark4: #000000 !default;
$euiColorVisAsTextDark5: #000000 !default;
$euiColorVisAsTextDark6: #000000 !default;