// stylelint-disable color-no-hex

@import './colors_vis';

$euiColorVisText0: #16C5C0 !default;
$euiColorVisText1: #A6EDEA !default;
$euiColorVisText2: #61A2FF !default;
$euiColorVisText3: #BFDBFF !default;
$euiColorVisText4: #EE72A6 !default;
$euiColorVisText5: #FFC7DB !default;
$euiColorVisText6: #F6726A !default;
$euiColorVisText7: #FFC9C2 !default;
$euiColorVisText8: #EAAE01 !default;
$euiColorVisText9: #FCD883 !default;