// stylelint-disable color-no-hex

@import './colors_vis';

$euiColorVisText0: #065B58 !default;
$euiColorVisText1: #047471 !default;
$euiColorVisText2: #154399 !default;
$euiColorVisText3: #0B64DD !default;
$euiColorVisText4: #A11262 !default;
$euiColorVisText5: #D13680 !default;
$euiColorVisText6: #A71627 !default;
$euiColorVisText7: #DA3737 !default;
$euiColorVisText8: #6A4906 !default;
$euiColorVisText9: #966B03 !default;