// stylelint-disable color-no-hex

// This extra import allows any variables that are created via functions to work when loaded into JS
@import 'node_modules/@elastic/eui-theme-common/src/global_styling/functions/index';

@import 'semantic_colors';

// These colors stay the same no matter the theme
// @deprecated
$euiColorGhost: $euiColorWhite !default;
$euiColorInk: $euiColorBlack !default;

// Brand
$euiColorPrimary: $euiColorPrimary90 !default;
$euiColorAccent: $euiColorAccent90 !default;
$euiColorAccentSecondary: $euiColorAccentSecondary90 !default;
$euiColorSuccess: $euiColorSuccess90 !default;
$euiColorWarning: $euiColorWarning40 !default;
$euiColorDanger: $euiColorDanger90 !default;

// Shades
$euiColorEmptyShade: $euiColorPlainLight !default;
$euiColorLightestShade: $euiColorShade15 !default;
$euiColorLightShade: $euiColorShade30 !default;
$euiColorMediumShade: $euiColorShade60 !default;
$euiColorDarkShade: $euiColorShade90 !default;
$euiColorDarkestShade: $euiColorShade120 !default;
$euiColorFullShade: $euiColorPlainDark !default;

// Backgrounds
$euiPageBackgroundColor: $euiColorShade10 !default; // deprecated
$euiColorHighlight: $euiColorPrimary10 !default;

$euiColorBackgroundBasePrimary: $euiColorPrimary10 !default;
$euiColorBackgroundBaseAccent: $euiColorAccent10 !default;
$euiColorBackgroundBaseAccentSecondary: $euiColorAccentSecondary10 !default;
$euiColorBackgroundBaseNeutral: $euiColorNeutral10 !default;
$euiColorBackgroundBaseSuccess: $euiColorSuccess10 !default;
$euiColorBackgroundBaseWarning: $euiColorWarning10 !default;
$euiColorBackgroundBaseRisk: $euiColorRisk10 !default;
$euiColorBackgroundBaseDanger: $euiColorDanger10 !default;
$euiColorBackgroundBaseSubdued: $euiColorShade10 !default;
$euiColorBackgroundBasePlain: $euiColorPlainLight !default;
$euiColorBackgroundBaseDisabled: $euiColorShade15 !default;
$euiColorBackgroundBaseHighlighted: $euiColorShade10 !default;
$euiColorBackgroundBaseFormsPrepend: $euiColorShade15 !default;
$euiColorBackgroundBaseFormsControlDisabled: $euiColorShade30 !default;

$euiColorBackgroundBaseInteractiveHover: $euiColorPrimary100Alpha4 !default;
$euiColorBackgroundBaseInteractiveSelect: $euiColorPrimary10 !default;
$euiColorBackgroundBaseInteractiveSelectHover: $euiColorPrimary20 !default;
$euiColorBackgroundBaseInteractiveOverlay: $euiColorShade100Alpha70 !default;
$euiColorBackgroundBaseSkeletonEdge: $euiColorShade100Alpha16 !default;
$euiColorBackgroundBaseSkeletonMiddle: $euiColorShade100Alpha4 !default;

$euiColorBackgroundLightPrimary: $euiColorPrimary20 !default;
$euiColorBackgroundLightAccent: $euiColorAccent20 !default;
$euiColorBackgroundLightAccentSecondary: $euiColorAccentSecondary20 !default;
$euiColorBackgroundLightNeutral: $euiColorNeutral20 !default;
$euiColorBackgroundLightSuccess: $euiColorSuccess20 !default;
$euiColorBackgroundLightWarning: $euiColorWarning20 !default;
$euiColorBackgroundLightRisk: $euiColorRisk20 !default;
$euiColorBackgroundLightDanger: $euiColorDanger20 !default;
$euiColorBackgroundLightText: $euiColorShade20 !default;

$euiColorBackgroundFilledPrimary: $euiColorPrimary90 !default;
$euiColorBackgroundFilledAccent: $euiColorAccent90 !default;
$euiColorBackgroundFilledAccentSecondary: $euiColorAccentSecondary90 !default;
$euiColorBackgroundFilledNeutral: $euiColorNeutral80 !default;
$euiColorBackgroundFilledSuccess: $euiColorSuccess90 !default;
$euiColorBackgroundFilledWarning: $euiColorWarning40 !default;
$euiColorBackgroundFilledRisk: $euiColorRisk70 !default;
$euiColorBackgroundFilledDanger: $euiColorDanger90 !default;
$euiColorBackgroundFilledText: $euiColorShade90 !default;

// Texts (legacy)
$euiTextColor: $euiColorShade130 !default;
$euiTitleColor: $euiColorShade140 !default;
$euiTextSubduedColor: $euiColorShade95 !default;
$euiColorDisabled: $euiColorBackgroundBaseDisabled !default;
$euiColorDisabledText: $euiColorShade70 !default;
$euiLinkColor: $euiColorPrimary100 !default;

// Texts
$euiColorTextParagraph: $euiColorShade130 !default;
$euiColorTextHeading: $euiColorShade140 !default;
$euiColorTextSubdued: $euiColorShade95 !default;
$euiColorTextDisabled: $euiColorShade70 !default;
$euiColorTextInverse: $euiColorPlainLight !default;

// Brand texts (legacy)
$euiColorPrimaryText: $euiColorPrimary100 !default;
$euiColorAccentText: $euiColorAccent100 !default;
$euiColorSuccessText: $euiColorSuccess100 !default;
$euiColorWarningText: $euiColorWarning100 !default;
$euiColorDangerText: $euiColorDanger100 !default;

// Brand texts
$euiColorTextPrimary: $euiColorPrimary100 !default;
$euiColorTextAccent: $euiColorAccent100 !default;
$euiColorTextAccentSecondary: $euiColorAccentSecondary100 !default;
$euiColorTextNeutral: $euiColorNeutral100 !default;
$euiColorTextSuccess: $euiColorSuccess100 !default;
$euiColorTextWarning: $euiColorWarning100 !default;
$euiColorTextRisk: $euiColorRisk100 !default;
$euiColorTextDanger: $euiColorDanger100 !default;

// Borders
$euiColorBorderBasePrimary: $euiColorPrimary30 !default;
$euiColorBorderBaseAccent: $euiColorAccent30 !default;
$euiColorBorderBaseAccentSecondary: $euiColorAccentSecondary30 !default;
$euiColorBorderBaseNeutral: $euiColorNeutral30 !default;
$euiColorBorderBaseSuccess: $euiColorSuccess30 !default;
$euiColorBorderBaseWarning: $euiColorWarning30 !default;
$euiColorBorderBaseRisk: $euiColorRisk30 !default;
$euiColorBorderBaseDanger: $euiColorDanger30 !default;

$euiColorBorderBasePlain: $euiColorShade30 !default;
$euiColorBorderBaseSubdued: $euiColorShade20 !default;
$euiColorBorderBaseProminent: $euiColorShade50 !default;
$euiColorBorderBaseDisabled: $euiColorShade30 !default;
$euiColorBorderBaseFloating: $euiColorTransparent !default;

$euiColorBorderBaseFormsColorSwatch: $euiColorShade100Alpha24 !default;

$euiColorBorderInteractiveFormsHoverPlain: $euiColorShade40 !default;
$euiColorBorderInteractiveFormsHoverProminent: $euiColorShade70 !default;
$euiColorBorderInteractiveFormsHoverDanger: $euiColorDanger80 !default;

$euiColorBorderStrongPrimary: $euiColorPrimary90 !default;
$euiColorBorderStrongAccent: $euiColorAccent90 !default;
$euiColorBorderStrongAccentSecondary: $euiColorAccentSecondary90 !default;
$euiColorBorderStrongNeutral: $euiColorNeutral90 !default;
$euiColorBorderStrongSuccess: $euiColorSuccess90 !default;
$euiColorBorderStrongWarning: $euiColorWarning90 !default;
$euiColorBorderStrongRisk: $euiColorRisk90 !default;
$euiColorBorderStrongDanger: $euiColorDanger90 !default;
$euiColorBorderStrongText: $euiColorShade90 !default;

// Charts
$euiColorChartLines: $euiColorShade30 !default;
$euiColorChartBand: $euiColorShade10 !default;
