@import './colors_vis';

$euiColorVisAsTextLight0: #FFFFFF !default;
$euiColorVisAsTextLight1: #FFFFFF !default;
$euiColorVisAsTextLight2: #FFFFFF !default;
$euiColorVisAsTextLight3: #FFFFFF !default;
$euiColorVisAsTextLight4: #FFFFFF !default;
$euiColorVisAsTextLight5: #FFFFFF !default;
$euiColorVisAsTextLight6: #FFFFFF !default;