/**
 * contains primitive & semantic colors
 * Temp. manually created file
 * TODO: automatically generate scss variable files
 */

$euiColorWhite: #FFFFFF !default;
$euiColorBlack: #000000 !default;
$euiColorMutedBlack: #0E0F12 !default;
$euiColorBlueBlack: #050F21 !default;
$euiColorTransparent: transparent !default;

$euiColorPlainLight: $euiColorWhite !default;
$euiColorPlainDark: $euiColorBlueBlack !default;

$euiColorPlainLightAlpha8: rgba($euiColorPlainLight, 0.08) !default;
$euiColorPlainLightAlpha12: rgba($euiColorPlainLight, 0.12) !default;
$euiColorPlainLightAlpha16: rgba($euiColorPlainLight, 0.16) !default;
$euiColorPlainLightAlpha32: rgba($euiColorPlainLight, 0.32) !default;

$euiColorPrimary10: #E8F1FF !default;
$euiColorPrimary20: #D9E8FF !default;
$euiColorPrimary30: #BFDBFF !default;
$euiColorPrimary40: #A3CBFF !default;
$euiColorPrimary50: #85B7FF !default;
$euiColorPrimary60: #61A2FF !default;
$euiColorPrimary70: #3788FF !default;
$euiColorPrimary80: #2476F0 !default;
$euiColorPrimary90: #0B64DD !default;
$euiColorPrimary100: #1750BA !default;
$euiColorPrimary110: #154399 !default;
$euiColorPrimary120: #123778 !default;
$euiColorPrimary130: #0D2F5E !default;
$euiColorPrimary140: #0A2342 !default;

$euiColorPrimary70Alpha12: rgba($euiColorPrimary70, 0.12) !default;
$euiColorPrimary70Alpha16: rgba($euiColorPrimary70, 0.16) !default;
$euiColorPrimary70Alpha20: rgba($euiColorPrimary70, 0.2) !default;

$euiColorPrimary100Alpha4: rgba($euiColorPrimary100, 0.04) !default;
$euiColorPrimary100Alpha8: rgba($euiColorPrimary100, 0.08) !default;
$euiColorPrimary100Alpha12: rgba($euiColorPrimary100, 0.12) !default;

$euiColorAccent10: #FFEBF5 !default;
$euiColorAccent20: #FDDDE9 !default;
$euiColorAccent30: #FFC7DB !default;
$euiColorAccent40: #FBADCA !default;
$euiColorAccent50: #F58EB7 !default;
$euiColorAccent60: #EE72A6 !default;
$euiColorAccent70: #E54A91 !default;
$euiColorAccent80: #D13680 !default;
$euiColorAccent90: #BC1E70 !default;
$euiColorAccent100: #A11262 !default;
$euiColorAccent110: #831652 !default;
$euiColorAccent120: #5E2140 !default;
$euiColorAccent130: #481E32 !default;
$euiColorAccent140: #351725 !default;

$euiColorAccent70Alpha12: rgba($euiColorAccent70, 0.12) !default;
$euiColorAccent70Alpha16: rgba($euiColorAccent70, 0.16) !default;
$euiColorAccent70Alpha20: rgba($euiColorAccent70, 0.2) !default;

$euiColorAccentSecondary10: #E2F9F7 !default;
$euiColorAccentSecondary20: #C9F3F0 !default;
$euiColorAccentSecondary30: #A6EDEA !default;
$euiColorAccentSecondary40: #77E5E0 !default;
$euiColorAccentSecondary50: #51D6D2 !default;
$euiColorAccentSecondary60: #16C5C0 !default;
$euiColorAccentSecondary70: #00B0AA !default;
$euiColorAccentSecondary80: #009E99 !default;
$euiColorAccentSecondary90: #008B87 !default;
$euiColorAccentSecondary100: #047471 !default;
$euiColorAccentSecondary110: #065B58 !default;
$euiColorAccentSecondary120: #044949 !default;
$euiColorAccentSecondary130: #023436 !default;
$euiColorAccentSecondary140: #03282B !default;

$euiColorAccentSecondary70Alpha12: rgba($euiColorAccentSecondary70, 0.12) !default;
$euiColorAccentSecondary70Alpha16: rgba($euiColorAccentSecondary70, 0.16) !default;
$euiColorAccentSecondary70Alpha20: rgba($euiColorAccentSecondary70, 0.2) !default;

$euiColorNeutral10: #E5F6FA !default;
$euiColorNeutral20: #CFEEF7 !default;
$euiColorNeutral30: #B5E5F2 !default;
$euiColorNeutral40: #94D8EB !default;
$euiColorNeutral50: #63C8E3 !default;
$euiColorNeutral60: #37B8DC !default;
$euiColorNeutral70: #0DA1C9 !default;
$euiColorNeutral80: #1C8CB5 !default;
$euiColorNeutral90: #19799F !default;
$euiColorNeutral100: #0F658A !default;
$euiColorNeutral110: #055476 !default;
$euiColorNeutral120: #00425C !default;
$euiColorNeutral130: #003447 !default;
$euiColorNeutral140: #002938 !default;

$euiColorSuccess10: #E2F8F0 !default;
$euiColorSuccess20: #C9F3E3 !default;
$euiColorSuccess30: #AEE8D2 !default;
$euiColorSuccess40: #88E3C3 !default;
$euiColorSuccess50: #59CFAA !default;
$euiColorSuccess60: #24C292 !default;
$euiColorSuccess70: #04AE7E !default;
$euiColorSuccess80: #00996B !default;
$euiColorSuccess90: #008A5E !default;
$euiColorSuccess100: #09724D !default;
$euiColorSuccess110: #0C5A3F !default;
$euiColorSuccess120: #094837 !default;
$euiColorSuccess130: #0D362B !default;
$euiColorSuccess140: #092A26 !default;

$euiColorSuccess70Alpha12: rgba($euiColorSuccess70, 0.12) !default;
$euiColorSuccess70Alpha16: rgba($euiColorSuccess70, 0.16) !default;
$euiColorSuccess70Alpha20: rgba($euiColorSuccess70, 0.2) !default;

$euiColorWarning10: #FDF3D8 !default;
$euiColorWarning20: #FDE9B5 !default;
$euiColorWarning30: #FCD883 !default;
$euiColorWarning40: #FACB3D !default;
$euiColorWarning50: #F5BC00 !default;
$euiColorWarning60: #EAAE01 !default;
$euiColorWarning70: #CA9601 !default;
$euiColorWarning80: #AD7E00 !default;
$euiColorWarning90: #966B03 !default;
$euiColorWarning100: #825803 !default;
$euiColorWarning110: #6A4906 !default;
$euiColorWarning120: #513910 !default;
$euiColorWarning130: #3D3014 !default;
$euiColorWarning140: #2C2721 !default;

$euiColorWarning60Alpha12: rgba($euiColorWarning60, 0.12) !default;
$euiColorWarning60Alpha16: rgba($euiColorWarning60, 0.16) !default;
$euiColorWarning60Alpha20: rgba($euiColorWarning60, 0.2) !default;

$euiColorDanger10: #FFE8E5 !default;
$euiColorDanger20: #FDDDD8 !default;
$euiColorDanger30: #FFC9C2 !default;
$euiColorDanger40: #FFB5AD !default;
$euiColorDanger50: #FC9188 !default;
$euiColorDanger60: #F6726A !default;
$euiColorDanger70: #EE4C48 !default;
$euiColorDanger80: #DA3737 !default;
$euiColorDanger90: #C61E25 !default;
$euiColorDanger100: #A71627 !default;
$euiColorDanger110: #7F1F27 !default;
$euiColorDanger120: #5E2129 !default;
$euiColorDanger130: #491D27 !default;
$euiColorDanger140: #351721 !default;

$euiColorDanger70Alpha12: rgba($euiColorDanger70, 0.12) !default;
$euiColorDanger70Alpha16: rgba($euiColorDanger70, 0.16) !default;
$euiColorDanger70Alpha20: rgba($euiColorDanger70, 0.2) !default;

$euiColorRisk10: #FFEDD6 !default;
$euiColorRisk20: #FFDEBF !default;
$euiColorRisk30: #FFCDA1 !default;
$euiColorRisk40: #FFB787 !default;
$euiColorRisk50: #FF995E !default;
$euiColorRisk60: #FC8544 !default;
$euiColorRisk70: #ED6723 !default;
$euiColorRisk80: #DB541B !default;
$euiColorRisk90: #C24411 !default;
$euiColorRisk100: #9E3A16 !default;
$euiColorRisk110: #782E18 !default;
$euiColorRisk120: #5E281A !default;
$euiColorRisk130: #4A221C !default;
$euiColorRisk140: #361D18 !default;

$euiColorAssistance10: #F3ECFE !default;
$euiColorAssistance20: #ECE2FE !default;
$euiColorAssistance30: #DECDFE !default;
$euiColorAssistance40: #CEB6FC !default;
$euiColorAssistance50: #BF9CF9 !default;
$euiColorAssistance60: #B084F5 !default;
$euiColorAssistance70: #A36DEF !default;
$euiColorAssistance80: #925CDA !default;
$euiColorAssistance90: #8144CC !default;
$euiColorAssistance100: #6B3C9F !default;
$euiColorAssistance110: #52357E !default;
$euiColorAssistance120: #3E2C63 !default;
$euiColorAssistance130: #322452 !default;
$euiColorAssistance140: #2A1E3E !default;

$euiColorShade10: #F6F9FC !default;
$euiColorShade15: #ECF1F9 !default;
$euiColorShade20: #E3E8F2 !default;
$euiColorShade25: #D6DDEA !default;
$euiColorShade30: #CAD3E2 !default;
$euiColorShade35: #C0CCDD !default;
$euiColorShade40: #B4C1D5 !default;
$euiColorShade45: #ABB9D0 !default;
$euiColorShade50: #A2B1C9 !default;
$euiColorShade55: #98A8C3 !default;
$euiColorShade60: #8E9FBC !default;
$euiColorShade65: #8497B7 !default;
$euiColorShade70: #798EAF !default;
$euiColorShade75: #7186A8 !default;
$euiColorShade80: #6A7FA0 !default;
$euiColorShade85: #627593 !default;
$euiColorShade90: #5A6D8C !default;
$euiColorShade95: #516381 !default;
$euiColorShade100: #485975 !default;
$euiColorShade105: #3F4F69 !default;
$euiColorShade110: #384861 !default;
$euiColorShade115: #324058 !default;
$euiColorShade120: #2B394F !default;
$euiColorShade125: #243147 !default;
$euiColorShade130: #1D2A3E !default;
$euiColorShade135: #172336 !default;
$euiColorShade140: #111C2C !default;
$euiColorShade145: #0B1628 !default;

$euiColorShade100Alpha4: rgba($euiColorShade100, 0.04) !default;
$euiColorShade100Alpha16: rgba($euiColorShade100, 0.16) !default;
$euiColorShade100Alpha24: rgba($euiColorShade100, 0.24) !default;
$euiColorShade100Alpha70: rgba($euiColorShade100, 0.7) !default;

$euiColorShade120Alpha70: rgba($euiColorShade120, 0.7) !default;
