/**
 * contains primitive & semantic colors
 * Temp. manually created file
 * TODO: automatically generate scss variable files
 */


$euiColorWhite: #FFF !default;
$euiColorBlack: #000 !default;
$euiColorMutedBlack: #0E0F12 !default;
$euiColorBlueBlack: #050F21 !default;

$euiColorTransparentWhite0: 'transparent' !default;
$euiColorTransparentWhite10: rgba(255, 255, 255, 0.08) !default;
$euiColorTransparentWhite20: rgba(255, 255, 255, 0.14) !default;
$euiColorTransparentWhite30: rgba(255, 255, 255, 0.2) !default;
$euiColorTransparentWhite40: rgba(255, 255, 255, 0.26) !default;
$euiColorTransparentWhite50: rgba(255, 255, 255, 0.32) !default;
$euiColorTransparentWhite60: rgba(255, 255, 255, 0.38) !default;
$euiColorTransparentWhite70: rgba(255, 255, 255, 0.46) !default;
$euiColorTransparentWhite80: rgba(255, 255, 255, 0.54) !default;
$euiColorTransparentWhite90: rgba(255, 255, 255, 0.62) !default;
$euiColorTransparentWhite100: rgba(255, 255, 255, 0.7) !default;
$euiColorTransparentWhite110: rgba(255, 255, 255, 0.76) !default;
$euiColorTransparentWhite120: rgba(255, 255, 255, 0.8) !default;
$euiColorTransparentWhite130: rgba(255, 255, 255, 0.84) !default;
$euiColorTransparentWhite140: rgba(255, 255, 255, 0.88) !default;

$euiColorTransparentMutedGrey10: rgba(109, 122, 147, 0.12) !default;
$euiColorTransparentMutedGrey20: rgba(88, 99, 119, 0.18) !default;
$euiColorTransparentMutedGrey30: rgba(76, 85, 103, 0.24) !default;
$euiColorTransparentMutedGrey40: rgba(62, 69, 83, 0.3) !default;
$euiColorTransparentMutedGrey50: rgba(48, 53, 64, 0.36) !default;
$euiColorTransparentMutedGrey60: rgba(36, 40, 48, 0.42) !default;
$euiColorTransparentMutedGrey70: rgba(21, 23, 27, 0.48) !default;
$euiColorTransparentMutedGrey80: rgba(14, 15, 18, 0.56) !default;
$euiColorTransparentMutedGrey90: rgba(14, 15, 18, 0.64) !default;
$euiColorTransparentMutedGrey100: rgba(14, 15, 18, 0.72) !default;
$euiColorTransparentMutedGrey110: rgba(14, 15, 18, 0.78) !default;
$euiColorTransparentMutedGrey120: rgba(14, 15, 18, 0.84) !default;
$euiColorTransparentMutedGrey130: rgba(14, 15, 18, 0.88) !default;
$euiColorTransparentMutedGrey140: rgba(14, 15, 18, 0.92) !default;

$euiColorTransparentBlueGrey10: rgba(57, 102, 183, 0.08) !default;
$euiColorTransparentBlueGrey20: rgba(46, 83, 150, 0.12) !default;
$euiColorTransparentBlueGrey30: rgba(39, 71, 130, 0.18) !default;
$euiColorTransparentBlueGrey40: rgba(31, 59, 108, 0.24) !default;
$euiColorTransparentBlueGrey50: rgba(24, 46, 87, 0.32) !default;
$euiColorTransparentBlueGrey60: rgba(18, 36, 69, 0.40) !default;
$euiColorTransparentBlueGrey70: rgba(10, 23, 48, 0.48) !default;
$euiColorTransparentBlueGrey80: rgba(5, 15, 33, 0.56) !default;
$euiColorTransparentBlueGrey90: rgba(5, 15, 33, 0.64) !default;
$euiColorTransparentBlueGrey100: rgba(5, 15, 33, 0.72) !default;
$euiColorTransparentBlueGrey110: rgba(5, 15, 33, 0.78) !default;
$euiColorTransparentBlueGrey120: rgba(5, 15, 33, 0.84) !default;
$euiColorTransparentBlueGrey130: rgba(5, 15, 33, 0.88) !default;
$euiColorTransparentBlueGrey140: rgba(5, 15, 33, 0.92) !default;

$euiColorPlainLight: $euiColorWhite !default;
$euiColorPlainDark: $euiColorMutedBlack !default;

$euiColorPrimary10: #F1F9FF !default;
$euiColorPrimary20: #D2E7FF !default;
$euiColorPrimary30: #B4D5FF !default;
$euiColorPrimary40: #96C3FF !default;
$euiColorPrimary50: #78B0FF !default;
$euiColorPrimary60: #599DFF !default;
$euiColorPrimary70: #3788FF !default;
$euiColorPrimary80: #2476F0 !default;
$euiColorPrimary90: #0B64DD !default;
$euiColorPrimary100: #004FC7 !default;
$euiColorPrimary110: #00419E !default;
$euiColorPrimary120: #043376 !default;
$euiColorPrimary130: #092551 !default;
$euiColorPrimary140: #09182F !default;

$euiColorAccent10: #FFF3F9 !default;
$euiColorAccent20: #FFD9E7 !default;
$euiColorAccent30: #FFBED5 !default;
$euiColorAccent40: #FBA3C4 !default;
$euiColorAccent50: #F588B3 !default;
$euiColorAccent60: #ED6BA2 !default;
$euiColorAccent70: #E54A91 !default;
$euiColorAccent80: #D13680 !default;
$euiColorAccent90: #BD1F70 !default;
$euiColorAccent100: #A6005E !default;
$euiColorAccent110: #85044B !default;
$euiColorAccent120: #650D3A !default;
$euiColorAccent130: #460F29 !default;
$euiColorAccent140: #290D19 !default;

$euiColorAccentSecondary10: #EAFDFC !default;
$euiColorAccentSecondary20: #C0F1EE !default;
$euiColorAccentSecondary30: #93E5E0 !default;
$euiColorAccentSecondary40: #5DD8D2 !default;
$euiColorAccentSecondary50: #00CBC5 !default;
$euiColorAccentSecondary60: #00BEB8 !default;
$euiColorAccentSecondary70: #00B0AA !default;
$euiColorAccentSecondary80: #009E99 !default;
$euiColorAccentSecondary90: #008C88 !default;
$euiColorAccentSecondary100: #007775 !default;
$euiColorAccentSecondary110: #00605D !default;
$euiColorAccentSecondary120: #004947 !default;
$euiColorAccentSecondary130: #003432 !default;
$euiColorAccentSecondary140: #001F1E !default;

$euiColorSuccess10: #EEFDF4 !default;
$euiColorSuccess20: #CAF1DB !default;
$euiColorSuccess30: #A6E4C2 !default;
$euiColorSuccess40: #7ED8A9 !default;
$euiColorSuccess50: #4DCB91 !default;
$euiColorSuccess60: #00BD79 !default;
$euiColorSuccess70: #00B060 !default;
$euiColorSuccess80: #009E50 !default;
$euiColorSuccess90: #008C40 !default;
$euiColorSuccess100: #00782D !default;
$euiColorSuccess110: #006026 !default;
$euiColorSuccess120: #00491F !default;
$euiColorSuccess130: #003317 !default;
$euiColorSuccess140: #001F10 !default;

$euiColorWarning10: #FEF8E7 !default;
$euiColorWarning20: #FCE8B0 !default;
$euiColorWarning30: #FFD569 !default;
$euiColorWarning40: #FEC514 !default;
$euiColorWarning50: #F5AF00 !default;
$euiColorWarning60: #ED9E00 !default;
$euiColorWarning70: #DE9000 !default;
$euiColorWarning80: #CC7A00 !default;
$euiColorWarning90: #B06400 !default;
$euiColorWarning100: #8F4F00 !default;
$euiColorWarning110: #733D00 !default;
$euiColorWarning120: #5C2E00 !default;
$euiColorWarning130: #4A2300 !default;
$euiColorWarning140: #331600 !default;

$euiColorDanger10: #FFF4F1 !default;
$euiColorDanger20: #FFDAD5 !default;
$euiColorDanger30: #FFC0B8 !default;
$euiColorDanger40: #FFA59C !default;
$euiColorDanger50: #FC8A80 !default;
$euiColorDanger60: #F66D64 !default;
$euiColorDanger70: #EE4C48 !default;
$euiColorDanger80: #DA3737 !default;
$euiColorDanger90: #C61E25 !default;
$euiColorDanger100: #AF000E !default;
$euiColorDanger110: #8C0210 !default;
$euiColorDanger120: #6A0D10 !default;
$euiColorDanger130: #4A100F !default;
$euiColorDanger140: #2B0E0C !default;

$euiColorAssistance10: #FAF6FF !default;
$euiColorAssistance20: #EBDFFF !default;
$euiColorAssistance30: #DBC8FF !default;
$euiColorAssistance40: #CCB1FE !default;
$euiColorAssistance50: #BE9AFB !default;
$euiColorAssistance60: #B082F7 !default;
$euiColorAssistance70: #A269F3 !default;
$euiColorAssistance80: #9157DF !default;
$euiColorAssistance90: #8144CC !default;
$euiColorAssistance100: #6E2EB6 !default;
$euiColorAssistance110: #582891 !default;
$euiColorAssistance120: #43226D !default;
$euiColorAssistance130: #2F1A4B !default;
$euiColorAssistance140: #1C122C !default;
 
$euiColorShade10: #F6F9FC !default;
$euiColorShade15: #EDEFF3 !default;
$euiColorShade20: #E3E6EB !default;
$euiColorShade25: #D9DDE3 !default;
$euiColorShade30: #D0D4DA !default;
$euiColorShade35: #C6CBD2 !default;
$euiColorShade40: #BDC2CA !default;
$euiColorShade45: #B3B9C2 !default;
$euiColorShade50: #AAB0BA !default;
$euiColorShade55: #A1A8B2 !default;
$euiColorShade60: #989FAA !default;
$euiColorShade65: #8F96A2 !default;
$euiColorShade70: #868E9A !default;
$euiColorShade75: #7E8691 !default;
$euiColorShade80: #767D89 !default;
$euiColorShade85: #6E7581 !default;
$euiColorShade90: #666D78 !default;
$euiColorShade95: #5D6570 !default;
$euiColorShade100: #555C67 !default;
$euiColorShade105: #4D545E !default;
$euiColorShade110: #464C56 !default;
$euiColorShade115: #3F444D !default;
$euiColorShade120: #373D45 !default;
$euiColorShade125: #30353C !default;
$euiColorShade130: #292E34 !default;
$euiColorShade135: #23262C !default;
$euiColorShade140: #1C1F24 !default;
$euiColorShade145: #16181D !default;

$euiColorShadeTransparent10: $euiColorTransparentBlueGrey10 !default;
$euiColorShadeTransparent20: $euiColorTransparentBlueGrey20 !default;
$euiColorShadeTransparent30: $euiColorTransparentBlueGrey30 !default;
$euiColorShadeTransparent40: $euiColorTransparentBlueGrey40 !default;
$euiColorShadeTransparent50: $euiColorTransparentBlueGrey50 !default;
$euiColorShadeTransparent60: $euiColorTransparentBlueGrey60 !default;
$euiColorShadeTransparent70: $euiColorTransparentBlueGrey70 !default;
$euiColorShadeTransparent80: $euiColorTransparentBlueGrey80 !default;
$euiColorShadeTransparent90: $euiColorTransparentBlueGrey90 !default;
$euiColorShadeTransparent100: $euiColorTransparentBlueGrey100 !default;
$euiColorShadeTransparent110: $euiColorTransparentBlueGrey110 !default;
$euiColorShadeTransparent120: $euiColorTransparentBlueGrey120 !default;
$euiColorShadeTransparent130: $euiColorTransparentBlueGrey130 !default;
$euiColorShadeTransparent140: $euiColorTransparentBlueGrey140 !default;
 
 