// Prefixes are unique in this file
// sass-lint:disable no-vendor-prefixes

@mixin euiRangeTrackSize($compressed: false) {
  height: $euiRangeTrackHeight;
  transition: all $euiAnimSpeedNormal ease-in;
  width: $euiRangeTrackWidth;

  @if ($compressed) {
    height: $euiRangeTrackCompressedHeight;
  }
}

@mixin euiRangeTrackPerBrowser {
  &::-webkit-slider-runnable-track { @content; }
  &::-moz-range-track { @content; }
  &::-ms-fill-lower { @content; }
  &::-ms-fill-upper { @content; }
}

@mixin euiRangeThumbStyle {
  cursor: pointer;
  background-color: $euiRangeThumbBackgroundColor;
  border: 2px solid $euiRangeThumbBorderColor;
  padding: 0;
  height: $euiRangeThumbHeight;
  width: $euiRangeThumbWidth;
}

@mixin euiRangeThumbPerBrowser {
  &::-webkit-slider-thumb { @content; }
  &::-moz-range-thumb { @content; }
  &::-ms-thumb { @content; }
}