// Prefixes are unique in this file
// sass-lint:disable no-vendor-prefixes

@mixin euiRangeTrackSize($compressed: false) {
  height: $euiRangeTrackHeight;
  transition: all $euiAnimSpeedNormal ease-in;
  width: $euiRangeTrackWidth;

  @if ($compressed) {
    height: $euiRangeTrackCompressedHeight;
  }
}

@mixin euiRangeTrackPerBrowser {
  &::-webkit-slider-runnable-track { @content; }
  &::-moz-range-track { @content; }
  &::-ms-fill-lower { @content; }
  &::-ms-fill-upper { @content; }
}

@mixin euiRangeThumbStyle {
  @include euiRangeThumbBoxShadow;
  cursor: pointer;
  background-color: $euiRangeThumbBackgroundColor;
  border: none;
  padding: 0;
  height: $euiRangeThumbHeight;
  width: $euiRangeThumbWidth;
  box-sizing: border-box;  // required for firefox or the border makes the width and height to increase
}

@mixin euiRangeThumbPerBrowser {
  &::-webkit-slider-thumb { @content; }
  &::-moz-range-thumb { @content; }
  &::-ms-thumb { @content; }
}

@mixin euiRangeThumbBoxShadow($thumbBorderColor: $euiColorDarkShade) {
  // sass-lint:disable-block no-color-literals, indentation
  box-shadow: 0 0 0 1px $thumbBorderColor,
  0 2px 2px -1px rgba($euiShadowColor, .2),
  0 1px 5px -2px rgba($euiShadowColor, .2);
}


@mixin euiRangeThumbFocus {
  box-shadow: 0 0 0 $euiFocusRingSize $euiFocusRingColor;
  border: 1px solid $euiFocusRingColor;
}
