// In Amsterdam, Focus rings default to the browser's `outline`
// However, some components need to be forced to have the same behavior
// By default the outline has a `0` offset

@mixin euiFocusRing($size: null, $offset: 0, $fauxOutline: null) {
  // @if ($size) {
  //   @warn 'The $size variable of euiFocusRing() will be depricated in a future version of EUI.';
  // }

  @if ($fauxOutline == 'true') {
    outline: none;
    // Keep the animation so that it doesn't show automatically on quick clicks
    @if ($offset == 'inner') {
      animation: $euiAnimSpeedSlow $euiAnimSlightResistance 1 normal forwards focusRingAnimateInset;
    } @else {
      animation: $euiAnimSpeedSlow $euiAnimSlightResistance 1 normal forwards focusRingAnimate;
    }
  } @else if ($fauxOutline == 'false') {
    outline: auto;
    outline-color: $euiFocusRingColor;

    @if (type-of($offset) == number) {
      outline-offset: $offset;
    } @else {
      outline-offset: $euiFocusRingSize;
    }
  }
}
