@mixin euiTitle($size: 'm') {
  color: $euiTitleColor;

  @if $size == 'xxxs' {
    @include euiFontSizeXS;
    @include lineHeightFromBaseline(3);
    font-weight: $euiFontWeightSemiBold;
    letter-spacing: 0;
  } @else if $size == 'xxs' {
    @include euiFontSizeS;
    @include lineHeightFromBaseline(3);
    font-weight: $euiFontWeightSemiBold;
    letter-spacing: 0;
  } @else if $size == 'xs' {
    @include euiFontSize;
    @include lineHeightFromBaseline(3);
    font-weight: $euiFontWeightSemiBold;
    letter-spacing: 0;
  } @else if $size == 's' {
    @include euiFontSizeL;
    @include lineHeightFromBaseline(4);
    font-weight: $euiFontWeightBold;
    letter-spacing: 0;
  } @else if $size == 'm' {
    @include euiFontSizeXL;
    @include lineHeightFromBaseline(5);
    font-weight: $euiFontWeightBold;
    letter-spacing: 0;
  } @else if $size == 'l' {
    @include euiFontSizeXXL;
    @include lineHeightFromBaseline(6);
    font-weight: $euiFontWeightBold;
    letter-spacing: -.0625rem;
  } @else {
    @include fontSize($size);
    @include lineHeightFromBaseline(3);
    font-weight: $euiFontWeightBold;
    letter-spacing: 0;
  }
}
