.euiErrorBoundary {
  $color1: transparentize($euiColorDanger, .75);
  $color2: transparentize($euiColorDanger, .95);

  background: repeating-linear-gradient(
    45deg,
    $color1,
    $color1 1px,
    $color2 1px,
    $color2 20px
  );
  overflow: auto;
  padding: $euiSize;
}

.euiErrorBoundary__text {
  background-color: $euiColorEmptyShade;
  padding: $euiSizeS;
}

.euiErrorBoundary__stack {
  white-space: pre-wrap;
}
