.euiLoadingSpinner {
  flex-shrink: 0; // Ensures it never scales down below its intended size
  display: inline-block;
  width: $euiSizeXL;
  height: $euiSizeXL;
  border-radius: 50%;
  border: solid $euiSizeXS * .5 $euiColorLightShade;
  border-color: euiLoadingSpinnerBorderColors();

  // sass-lint:disable-block mixins-before-declarations
  @include euiCanAnimate {
    animation: euiLoadingSpinner .6s infinite linear;
  }
}

@each $name, $size in $euiLoadingSpinnerSizes {
  .euiLoadingSpinner--#{$name} {
    @include size($size);
  }
}

.euiLoadingSpinner--small,
.euiLoadingSpinner--medium {
  border-width: 1px;
}

@keyframes euiLoadingSpinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}
