.euiLoadingContent__loader {
  width: 100%;
}

.euiLoadingContent__singleLine {
  width: 100%;
  height: $euiSize;
  margin-bottom: $euiSizeS;
  border-radius: $euiBorderRadius;
  overflow: hidden;

  &:last-child:not(:only-child) {
    width: 75%;
  }
}

.euiLoadingContent__singleLineBackground {
  width: 220%;
  height: 100%;
  background: linear-gradient(
    to right,
    $euiGradientStartStop 45%,
    $euiGradientMiddle 50%,
    $euiGradientStartStop 55%,
    );
  animation: euiLoadingContentGradientLoad 1.5s $euiAnimSlightResistance infinite;
}

@keyframes euiLoadingContentGradientLoad {
  0% {
    transform: translateX(-53%);
  }

  100% {
    transform: translateX(0);
  }
}

