.kuiLoadingKibana {
  position: relative;
  display: inline-block;

  &:before,
  &:after {
    position: absolute;
    content: "";
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
    opacity: 0.2;
    transform-origin: -50% -50%;
    z-index: 1;
  }

  &:before {
    box-shadow: 0 0 8px $euiColorFullShade;
    animation: 1s kuiLoadingKibanaPulsateAndFade $euiAnimSlightResistance infinite;
  }

  &:after {
    background-color: $euiColorFullShade;
    animation: 1s kuiLoadingKibanaPulsate $euiAnimSlightResistance infinite;
  }
}

/**
 * 1. Requires pixel math for animation.
 */
.kuiLoadingKibana--medium {
  &:before,
  &:after {
    height: $euiSizeXS - 1; /* 1 */
    bottom: -$euiSizeXS;
  }
  .kuiLoadingKibana__icon {
    z-index: 999;
    animation: 1s kuiLoadingKibanaBounceMedium $euiAnimSlightResistance infinite;
  }
}

/**
 * 1. Requires pixel math for animation.
 */
.kuiLoadingKibana--large {
  &:before,
  &:after {
    height: $euiSizeS - 2; /* 1 */
    bottom: -$euiSizeS;
  }
  .kuiLoadingKibana__icon {
    animation: 1s kuiLoadingKibanaBounceLarge $euiAnimSlightResistance infinite;
  }
}

.kuiLoadingKibana--xLarge {
  &:before,
  &:after {
    height: $euiSizeS;
    bottom: -$euiSizeM;
  }
  .kuiLoadingKibana__icon {
    animation: 1s kuiLoadingKibanaBounceXLarge $euiAnimSlightResistance infinite;
  }
}

@keyframes kuiLoadingKibanaBounceMedium {
  50% {
    transform: translateY(-$euiSizeS);
  }
}

@keyframes kuiLoadingKibanaBounceLarge {
  50% {
    transform: translateY(-$euiSizeM);
  }
}

@keyframes kuiLoadingKibanaBounceXLarge {
  50% {
    transform: translateY(-$euiSize);
  }
}

@keyframes kuiLoadingKibanaPulsateAndFade {
  0% {
    opacity: 0;
  }

  50% {
    transform: scale(0.5);
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes kuiLoadingKibanaPulsate {
  0% {
    opacity: 0.15;
  }

  50% {
    transform: scale(0.5);
    opacity: 0.05;
  }

  100% {
    opacity: 0.15;
  }
}
