$euiGradientStartStop: tintOrShade($euiColorLightShade, 65%, 12%);
$euiGradientMiddle: tintOrShade($euiColorLightShade, 80%, 24%);

// loading spinners are used in button icons for `isLoading` states so we want to match the icon sizes
$euiLoadingSpinnerSizes: $euiIconSizes;
