/**
 * 1. Focused state overrides invalid state.
 */
.euiFormLabel {
  @include euiFontSizeXS;
  display: inline-block;
  margin-bottom: $euiSizeXS;
  transition: all $euiAnimSpeedFast $euiAnimSlightResistance;
  font-weight: $euiFontWeightSemiBold;

  &.euiFormLabel-isInvalid {
    color: $euiColorDanger; /* 1 */
  }

  &.euiFormLabel-isFocused {
    color: $euiColorPrimary; /* 1 */
  }
}

.euiFormLabel[for] {
  cursor: pointer;
}
