.euiTourStepHeader {
  margin-bottom: $euiSizeS !important; // sass-lint:disable-line no-important
  border-bottom: none;

  .euiTourStepHeader__title { // nested for additional specificity to override EuiTitle styles
    margin-top: 0;
    text-transform: capitalize;
  }
}

.euiTourStepHeader__subtitle {
  color: $euiColorDarkShade;
}

.euiTourStepFooter {
  margin-top: $euiSizeL !important; // sass-lint:disable-line no-important
  background-color: $euiColorLightestShade;
}

.euiTourStepFooter__stepListItem  {
  display: inline-block;
}

.euiTour--minWidth-default {
  min-width: calc(#{$euiSizeL} * 10);
}