$euiPopoverArrowSize: $euiSizeM;

.euiTourHeader {
  border-bottom: none;
  // Overriding default `EuiPopoverTitle` styles
  margin-bottom: $euiSizeS !important; // sass-lint:disable-line no-important

  .euiTourHeader__title { // nested for additional specificity to override EuiTitle styles
    // Removes extra margin applied to siblint EuiTitle's
    margin-top: 0;
  }
}

.euiTourHeader__subtitle {
  color: $euiTextSubduedColor;
}

.euiTourFooter {
  background-color: $euiPageBackgroundColor;
  border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
}

.euiTour {
  .euiTour__beacon {
    pointer-events: none;
    position: absolute;
    opacity: 0;
    transition: opacity 0s $euiAnimSpeedSlow; // delay time equals EuiPopover animation time
  }

  &[data-popover-open='true'] {
    .euiTour__beacon {
      opacity: 1;
    }
  }

  [data-popover-arrow='right'] {
    .euiTour__beacon {
      top: $euiPopoverArrowSize / 2;
      left: -$euiPopoverArrowSize * 2;
    }
  }

  [data-popover-arrow='left'] {
    .euiTour__beacon {
      top: $euiPopoverArrowSize / 2;
      left: $euiPopoverArrowSize;
    }
  }

  [data-popover-arrow='top'] {
    &:before {
      border-top-color: $euiPageBackgroundColor;
    }

    .euiTour__beacon {
      top: $euiPopoverArrowSize;
      left: $euiPopoverArrowSize / 2;
    }
  }

  [data-popover-arrow='bottom'] {
    .euiTour__beacon {
      top: -$euiPopoverArrowSize * 2;
      left: $euiPopoverArrowSize / 2;
    }
  }
}
