.euiPanel.euiCheckableCard {
  transition: border-color $euiAnimSpeedNormal ease-in;

  & > .euiCheckableCard__row:first-child .euiCheckableCard__control {
    border-top-left-radius: $euiBorderRadius;
  }

  & > .euiCheckableCard__row:last-child .euiCheckableCard__control {
    border-bottom-left-radius: $euiBorderRadius;
  }
}

.euiPanel.euiCheckableCard--isChecked {
  border-color: makeHighContrastColor($euiColorPrimary, $euiColorEmptyShade);
}

.euiCheckableCard__row {
  display: flex;
  align-items: stretch;
}

.euiCheckableCard__control {
  display: flex;
  flex: 0 0 $euiSize * 2.5;
  justify-content: center;
  align-items: center;
  background-color: $euiFormInputGroupLabelBackground;
  transition: background-color $euiAnimSpeedNormal ease-in;

  .euiPanel.euiCheckableCard--isChecked & {
    background-color: tintOrShade(makeHighContrastColor($euiColorPrimary, $euiColorEmptyShade), 85, 70);
  }
}

.euiCheckableCard__label {
  padding: $euiSizeS $euiSizeS $euiSizeS $euiSize;
}

.euiCheckableCard__label--isDisabled .euiFormLabel {
  color: $euiFormControlDisabledColor;
}

.euiCheckableCard__children {
  padding:  0 $euiSizeS $euiSizeS $euiSize;
}
