@mixin euiToolTipStyle($size: null) {
  @include euiBottomShadow($color: $euiColorInk);

  $euiTooltipBackgroundColor: tintOrShade($euiColorFullShade, 25%, 100%) !default;
  $euiTooltipBorderColor: tintOrShade($euiColorFullShade, 35%, 80%) !default;

  border-radius: $euiBorderRadius;
  background-color: $euiTooltipBackgroundColor;
  color: $euiColorGhost;
  z-index: $euiZLevel9;
  max-width: 256px;
  overflow-wrap: break-word;
  padding: $euiSizeS;

  .euiHorizontalRule {
    background-color: $euiTooltipBorderColor;
  }
}
