@mixin euiLink {
  text-align: left;
  font-weight: $euiButtonFontWeight;

  &:hover {
    @include euiLinkHover;
  }

  &:focus {
    @include euiFocusRing(null, 'outer');
    @include euiLinkFocus;
  }
}

@mixin euiLinkHover {
  text-decoration: underline;
}

@mixin euiLinkFocus {
  text-decoration: underline;
  // stylelint-disable-next-line declaration-no-important
  text-decoration-thickness: $euiBorderWidthThick !important;
}
