// stylelint-disable color-no-hex

@import './colors_vis';

$euiColorVisText0: #017D73 !default;
$euiColorVisText1: #006BB4 !default;
$euiColorVisText2: #DD0A73 !default;
$euiColorVisText3: #745A93 !default;
$euiColorVisText4: #A2728B !default;
$euiColorVisText5: #AB9946 !default;
$euiColorVisText6: #94866D !default;
$euiColorVisText7: #F5A700 !default;
$euiColorVisText8: #885145 !default;
$euiColorVisText9: #BD271E !default;