// stylelint-disable color-no-hex

@import './colors_vis';

$euiColorVisText0: #7DE2D1 !default;
$euiColorVisText1: #1BA9F5 !default;
$euiColorVisText2: #F990C0 !default;
$euiColorVisText3: #BA9FDA !default;
$euiColorVisText4: #E9B8D2 !default;
$euiColorVisText5: #F4E08C !default;
$euiColorVisText6: #DBCDB3 !default;
$euiColorVisText7: #FFCE7A !default;
$euiColorVisText8: #D09689 !default;
$euiColorVisText9: #F66 !default;