@import './colors_vis';

$euiColorVisAsTextDark0: '#1BA9F5' !default;
$euiColorVisAsTextDark1: '#7DE2D1' !default;
$euiColorVisAsTextDark2: '#F990C0' !default;
$euiColorVisAsTextDark3: '#F66' !default;
$euiColorVisAsTextDark4: '#FFCE7A' !default;
$euiColorVisAsTextDark5: '#1BA9F5' !default;
$euiColorVisAsTextDark6: '#7DE2D1' !default;