@import './colors_vis';

$euiColorVisAsTextLight0: '#006BB4' !default;
$euiColorVisAsTextLight1: '#017D73' !default;
$euiColorVisAsTextLight2: '#F5A700' !default;
$euiColorVisAsTextLight3: '#BD271E' !default;
$euiColorVisAsTextLight4: '#DD0A73' !default;
$euiColorVisAsTextLight5: '#006BB4' !default; // duplicated to handle color amount difference between themes
$euiColorVisAsTextLight6: '#017D73' !default;