// Severity colors
// stylelint-disable color-no-hex

$euiColorSeverityUnknown: #D3DAE6 !default;
$euiColorSeverityNeutral: #BECFE3 !default;
$euiColorSeveritySuccess: #54B399 !default;
$euiColorSeverityWarning: #D6BF57 !default;
$euiColorSeverityRisk: #DA8B45 !default;
$euiColorSeverityDanger: #E7664C !default;