$euiFontSizeXS:     12px;
$euiFontSizeS:      14px;
$euiFontSizeM:      14px;
$euiFontSize:       14px;
$euiFontSizeL:      18px;
$euiFontSizeXL:     22px;
$euiFontSizeXXL:    28px;

// Make titles bold.
$euiFontWeightLight: 500;
