// stylelint-disable color-no-hex

// This extra import allows any variables that are created via functions to work when loaded into JS
@import 'node_modules/@elastic/eui-theme-common/src/global_styling/functions/index';
@import './global_styling/variables/colors_severity';

// Constants
$euiColorGhost: #FFF !default;
$euiColorInk: #000 !default;

$euiColorPlainLight: $euiColorGhost;
$euiColorPlainDark: $euiColorInk;

// Brand
$euiColorPrimary: #07C !default;
$euiColorAccent: #F04E98 !default;
$euiColorAccentSecondary: #00BFB3 !default;
$euiColorSuccess: #00BFB3 !default;
$euiColorWarning: #FEC514 !default;
$euiColorDanger: #BD271E !default;

// Shades
$euiColorEmptyShade: #FFF !default;
$euiColorLightestShade: #F5F7FA !default;
$euiColorLightShade: #D3DAE6 !default;
$euiColorMediumShade: #98A2B3 !default;
$euiColorDarkShade: #69707D !default;
$euiColorDarkestShade: #343741 !default;
$euiColorFullShade: #000 !default;

// Backgrounds
$euiPageBackgroundColor: tint($euiColorLightestShade, 50%) !default;
$euiColorHighlight: tint($euiColorWarning, 90%) !default;

$euiColorBackgroundBasePrimary: tint($euiColorPrimary, 90%) !default;
$euiColorBackgroundBaseAccent: tint($euiColorAccent, 90%) !default;
$euiColorBackgroundBaseAccentSecondary: tint($euiColorAccentSecondary, 90%) !default;
$euiColorBackgroundBaseNeutral: tint($euiColorSeverityNeutral, 90%) !default;
$euiColorBackgroundBaseSuccess: tint($euiColorSuccess, 90%) !default;
$euiColorBackgroundBaseWarning: tint($euiColorWarning, 90%) !default;
$euiColorBackgroundBaseRisk: tint($euiColorSeverityRisk, 90%) !default;
$euiColorBackgroundBaseDanger: tint($euiColorDanger, 90%) !default;
$euiColorBackgroundBaseSubdued: $euiPageBackgroundColor !default;
$euiColorBackgroundBaseDisabled: transparentize($euiColorLightShade, 0.15) !default;
$euiColorBackgroundBasePlain: $euiColorEmptyShade !default;
$euiColorBackgroundBaseFormsPrepend: tint($euiColorLightShade, 0.5) !default;
$euiColorBackgroundBaseFormsControlDisabled: $euiColorLightShade !default;

$euiColorBackgroundBaseInteractiveHover: transparentize($euiColorLightShade, 0.2) !default;
$euiColorBackgroundBaseInteractiveSelect: tint($euiColorPrimary, 0.96) !default;
$euiColorBackgroundBaseInteractiveSelectHover: tint($euiColorPrimary, 0.8) !default;
$euiColorBackgroundBaseInteractiveOverlay: transparentize($euiColorInk, 0.5) !default;
$euiColorBackgroundBaseSkeletonEdge: tint($euiColorLightShade, 0.65) !default;
$euiColorBackgroundBaseSkeletonMiddle: tint($euiColorLightShade, 0.8) !default;

$euiColorBackgroundLightPrimary: tint($euiColorPrimary, 0.8) !default;
$euiColorBackgroundLightAccent: tint($euiColorAccent, 0.8) !default;
$euiColorBackgroundLightAccentSecondary: tint($euiColorAccentSecondary, 0.8)  !default;
$euiColorBackgroundLightNeutral: tint($euiColorSeverityNeutral, 0.8) !default;
$euiColorBackgroundLightSuccess: tint($euiColorSuccess, 0.8)  !default;
$euiColorBackgroundLightWarning: tint($euiColorWarning, 0.8)  !default;
$euiColorBackgroundLightRisk: tint($euiColorSeverityRisk, 0.8)  !default;
$euiColorBackgroundLightDanger: tint($euiColorDanger, 0.8)  !default;
$euiColorBackgroundLightText: tint($euiColorLightShade, 0.5) !default;

$euiColorBackgroundFilledPrimary: $euiColorPrimary !default;
$euiColorBackgroundFilledAccent: tint($euiColorAccent, 0.3) !default;
$euiColorBackgroundFilledAccentSecondary: tint($euiColorAccentSecondary, 0.3) !default;
$euiColorBackgroundFilledNeutral: $euiColorSeverityNeutral !default;
$euiColorBackgroundFilledSuccess: tint($euiColorSuccess, 0.3) !default;
$euiColorBackgroundFilledWarning: $euiColorWarning !default;
$euiColorBackgroundFilledRisk: $euiColorSeverityRisk !default;
$euiColorBackgroundFilledDanger: $euiColorDanger !default;
$euiColorBackgroundFilledText: $euiColorDarkShade !default;

// Texts
$euiTextColor: $euiColorDarkestShade !default;
$euiTitleColor: shade($euiTextColor, 50%) !default;
$euiTextSubduedColor: $euiColorDarkShade !default;
$euiColorDisabled: #ABB4C4 !default;

$euiColorTextParagraph: $euiTextColor !default;
$euiColorTextHeading: $euiTitleColor !default;
$euiColorTextSubdued: $euiTextSubduedColor !default;
$euiColorTextDisabled: #A2ABBA !default;
$euiColorTextInverse: $euiColorGhost !default;

// Brand texts
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary) !default;
$euiColorSuccessText: makeHighContrastColor($euiColorSuccess) !default;
$euiColorAccentText: makeHighContrastColor($euiColorAccent) !default;
$euiColorWarningText: makeHighContrastColor($euiColorWarning) !default;
$euiColorDangerText: makeHighContrastColor($euiColorDanger) !default;
$euiColorDisabledText: makeDisabledContrastColor($euiColorDisabled) !default;

$euiColorTextPrimary: $euiColorPrimaryText !default;
$euiColorTextAccent: $euiColorAccentText !default;
$euiColorTextAccentSecondary: $euiColorSuccessText !default;
$euiColorTextNeutral: makeHighContrastColor($euiColorSeverityNeutral) !default;
$euiColorTextSuccess: $euiColorSuccessText !default;
$euiColorTextWarning: $euiColorWarningText !default;
$euiColorTextRisk: makeHighContrastColor($euiColorSeverityRisk) !default;
$euiColorTextDanger: $euiColorDangerText !default;

$euiLinkColor: $euiColorPrimaryText !default;

// Borders
$euiColorBorderBasePrimary: tint($euiColorPrimary, 0.6) !default;
$euiColorBorderBaseAccent: tint($euiColorAccent, 0.6) !default;
$euiColorBorderBaseAccentSecondary: tint($euiColorAccentSecondary, 0.6) !default;
$euiColorBorderBaseNeutral: tint($euiColorSeverityNeutral, 0.6) !default;
$euiColorBorderBaseSuccess: tint($euiColorSuccess, 0.6) !default;
$euiColorBorderBaseWarning: tint($euiColorWarning, 0.6) !default;
$euiColorBorderBaseRisk: tint($euiColorSeverityRisk, 0.6) !default;
$euiColorBorderBaseDanger: tint($euiColorDanger, 0.6) !default;

$euiColorBorderBasePlain: $euiColorLightShade !default;
$euiColorBorderBaseSubdued: $euiColorLightShade !default;
$euiColorBorderBaseDisabled: transparentize(darken($euiColorLightShade, 40%), 0.1) !default;
$euiColorBorderBaseFloating: 'transparent' !default;
$euiColorBorderBaseFormsColorSwatch: transparentize($euiColorFullShade, 0.1) !default;
$euiColorBorderBaseFormsControl: shade($euiColorLightestShade, 0.4) !default;

$euiColorBorderStrongPrimary: $euiColorPrimary !default;
$euiColorBorderStrongAccent: $euiColorAccent !default;
$euiColorBorderStrongAccentSecondary: $euiColorAccentSecondary !default;
$euiColorBorderStrongNeutral: shade($euiColorSeverityNeutral, 0.2) !default;
$euiColorBorderStrongSuccess: $euiColorSuccess !default;
$euiColorBorderStrongWarning: $euiColorWarning !default;
$euiColorBorderStrongRisk: $euiColorSeverityRisk !default;
$euiColorBorderStrongDanger: $euiColorDanger !default;
$euiColorBorderStrongText: $euiColorDarkShade !default;

// Charts
$euiColorChartLines: shade($euiColorLightestShade, 3%) !default;
$euiColorChartBand: $euiColorLightestShade !default;
