// stylelint-disable color-no-hex

// This extra import allows any variables that are created via functions to work when loaded into JS
@import 'node_modules/@elastic/eui-theme-common/src/global_styling/functions/index';
@import './global_styling/variables/colors_severity';

// Constants
$euiColorGhost: #FFF !default;
$euiColorInk: #000 !default;

$euiColorPlainLight: $euiColorGhost;
$euiColorPlainDark: $euiColorInk;

// Brand
$euiColorPrimary: #36A2EF !default;
$euiColorAccent: #F68FBE !default;
$euiColorAccentSecondary: #7DDED8 !default;
$euiColorSuccess: #7DDED8 !default;
$euiColorWarning: #F3D371 !default;
$euiColorDanger: #F86B63 !default;

// Shades
$euiColorEmptyShade: #1D1E24 !default;
$euiColorLightestShade: #25262E !default;
$euiColorLightShade: #343741 !default;
$euiColorMediumShade: #535966 !default;
$euiColorDarkShade: #98A2B3 !default;
$euiColorDarkestShade: #D4DAE5 !default;
$euiColorFullShade: #FFF !default;

// Backgrounds
$euiPageBackgroundColor: shade($euiColorLightestShade, 45%) !default;
$euiColorHighlight: #2E2D25 !default;

$euiColorBackgroundBasePrimary: shade($euiColorPrimary, 80%) !default;
$euiColorBackgroundBaseAccent: shade($euiColorAccent, 80%) !default;
$euiColorBackgroundBaseAccentSecondary: shade($euiColorAccentSecondary, 80%) !default;
$euiColorBackgroundBaseNeutral: shade($euiColorSeverityNeutral, 80%) !default;
$euiColorBackgroundBaseSuccess: shade($euiColorSuccess, 80%) !default;
$euiColorBackgroundBaseWarning: shade($euiColorWarning, 80%) !default;
$euiColorBackgroundBaseRisk: shade($euiColorSeverityRisk, 80%) !default;
$euiColorBackgroundBaseDanger: shade($euiColorDanger, 80%) !default;
$euiColorBackgroundBaseSubdued: shade($euiPageBackgroundColor, 80%) !default;
$euiColorBackgroundBaseDisabled: transparentize($euiColorLightShade, 0.15)!default;
$euiColorBackgroundBasePlain: $euiColorEmptyShade !default;
$euiColorBackgroundBaseFormsPrepend: shade($euiColorLightShade, 0.15) !default;
$euiColorBackgroundBaseFormsControlDisabled: $euiColorLightShade !default;

$euiColorBackgroundBaseInteractiveHover: transparentize($euiColorLightShade, 0.2) !default;
$euiColorBackgroundBaseInteractiveSelect: shade($euiColorPrimary, 0.7) !default;
$euiColorBackgroundBaseInteractiveSelectHover: shade($euiColorPrimary, 0.6) !default;
$euiColorBackgroundBaseInteractiveOverlay: transparentize($euiColorInk, 0.5) !default;
$euiColorBackgroundBaseSkeletonEdge: shade($euiColorLightShade, 0.12) !default;
$euiColorBackgroundBaseSkeletonMiddle: shade($euiColorLightShade, 0.24) !default;

$euiColorBackgroundLightPrimary: shade($euiColorPrimary, 0.7) !default;
$euiColorBackgroundLightAccent: shade($euiColorAccent, 0.7) !default;
$euiColorBackgroundLightAccentSecondary: shade($euiColorAccentSecondary, 0.7)  !default;
$euiColorBackgroundLightNeutral: shade($euiColorSeverityNeutral, 0.7) !default;
$euiColorBackgroundLightSuccess: shade($euiColorSuccess, 0.7)  !default;
$euiColorBackgroundLightWarning: shade($euiColorWarning, 0.7)  !default;
$euiColorBackgroundLightRisk: shade($euiColorSeverityRisk, 0.7)  !default;
$euiColorBackgroundLightDanger: shade($euiColorDanger, 0.7)  !default;
$euiColorBackgroundLightText: shade($euiColorLightShade, 0.2) !default;

$euiColorBackgroundFilledPrimary: $euiColorPrimary !default;
$euiColorBackgroundFilledAccent: $euiColorAccent !default;
$euiColorBackgroundFilledAccentSecondary: $euiColorAccentSecondary !default;
$euiColorBackgroundFilledNeutral: $euiColorSeverityNeutral !default;
$euiColorBackgroundFilledSuccess: $euiColorSuccess !default;
$euiColorBackgroundFilledWarning: $euiColorWarning !default;
$euiColorBackgroundFilledRisk: $euiColorSeverityRisk !default;
$euiColorBackgroundFilledDanger: $euiColorDanger !default;
$euiColorBackgroundFilledText:  #DFE5EF !default;

// Texts
$euiTextColor: #DFE5EF !default;
$euiTitleColor: $euiTextColor !default;
$euiTextSubduedColor: makeHighContrastColor($euiColorMediumShade) !default;
$euiColorDisabled: #515761 !default;

$euiColorTextParagraph: $euiTextColor !default;
$euiColorTextHeading: $euiTitleColor !default;
$euiColorTextSubdued: $euiTextSubduedColor !default;
$euiColorTextDisabled: #515761 !default;
$euiColorTextInverse: $euiColorGhost !default;

// Brand texts
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary) !default;
$euiColorSuccessText: makeHighContrastColor($euiColorSuccess) !default;
$euiColorAccentText: makeHighContrastColor($euiColorAccent) !default;
$euiColorWarningText: makeHighContrastColor($euiColorWarning) !default;
$euiColorDangerText: makeHighContrastColor($euiColorDanger) !default;
$euiColorDisabledText: makeDisabledContrastColor($euiColorDisabled) !default;

$euiColorTextPrimary: $euiColorPrimaryText !default;
$euiColorTextAccent: $euiColorAccentText !default;
$euiColorTextAccentSecondary: $euiColorSuccessText !default;
$euiColorTextNeutral: makeHighContrastColor($euiColorSeverityNeutral) !default;
$euiColorTextSuccess: $euiColorSuccessText !default;
$euiColorTextWarning: $euiColorWarningText !default;
$euiColorTextRisk: makeHighContrastColor($euiColorSeverityRisk) !default;
$euiColorTextDanger: $euiColorDangerText !default;

$euiLinkColor: $euiColorPrimaryText !default;

// Borders
$euiColorBorderBasePrimary: shade($euiColorPrimary, 0.6) !default;
$euiColorBorderBaseAccent: shade($euiColorAccent, 0.6) !default;
$euiColorBorderBaseAccentSecondary: shade($euiColorAccentSecondary, 0.6) !default;
$euiColorBorderBaseNeutral: shade($euiColorSeverityNeutral, 0.6) !default;
$euiColorBorderBaseSuccess: shade($euiColorSuccess, 0.6) !default;
$euiColorBorderBaseWarning: shade($euiColorWarning, 0.6) !default;
$euiColorBorderBaseRisk: shade($euiColorSeverityRisk, 0.6) !default;
$euiColorBorderBaseDanger: shade($euiColorDanger, 0.6) !default;

$euiColorBorderBasePlain: $euiColorLightShade !default;
$euiColorBorderBaseSubdued: $euiColorLightShade !default;
$euiColorBorderBaseDisabled: transparentize($euiColorGhost, 0.1) !default;
$euiColorBorderBaseFloating: $euiColorLightShade !default;
$euiColorBorderBaseFormsColorSwatch: transparentize($euiColorFullShade, 0.1) !default;
$euiColorBorderBaseFormsControl: tint($euiColorLightestShade, 0.31) !default;

$euiColorBorderStrongPrimary: $euiColorPrimary !default;
$euiColorBorderStrongAccent: $euiColorAccent !default;
$euiColorBorderStrongAccentSecondary: $euiColorAccentSecondary !default;
$euiColorBorderStrongNeutral: $euiColorSeverityNeutral !default;
$euiColorBorderStrongSuccess: $euiColorSuccess !default;
$euiColorBorderStrongWarning: $euiColorWarning !default;
$euiColorBorderStrongRisk: tint($euiColorSeverityRisk, 0.2) !default;
$euiColorBorderStrongDanger: $euiColorDanger !default;
$euiColorBorderStrongText: $euiColorDarkShade !default;

// Charts
$euiColorChartLines: $euiColorLightShade !default;
$euiColorChartBand: tint($euiColorLightestShade, 2.5%) !default;
