// Dark theme overides

$euiColorEmptyShade: #1D1E24;
$euiColorLightestShade: #25262E;
$euiColorLightShade: #343741;
$euiColorMediumShade: #535966;
$euiColorDarkShade: #D4DAE5;
$euiColorDarkestShade: #F5F7FA;
$euiColorFullShade: #FFF;
$euiColorPrimary: #1BA9F5;
$euiColorSecondary: #7DE2D1;
$euiColorWarning: #FF977A;
$euiColorAccent: #F990C0;
$euiColorDanger: #F66;
$euiColorSuccess: $euiColorSecondary;
$euiColorGhost: #FFF;
$euiTextColor: #DDD;
$euiLinkColor: $euiColorPrimary;

$euiFocusBackgroundColor: #232635;
$euiShadowColor: #000;
$euiShadowColorLarge: #000;

// Visualization colors

$euiColorVis0: #00B3A4 !default;
$euiColorVis1: #3185FC !default;
$euiColorVis2: #DB1374 !default;
$euiColorVis3: #490092 !default;
$euiColorVis4: #FEB6DB !default;
$euiColorVis5: #E6C220 !default;
$euiColorVis6: #BFA180 !default;
$euiColorVis7: #F98510 !default;
$euiColorVis8: #461A0A !default;
$euiColorVis9: #920000 !default;

// Code

$euiCodeBlockCommentColor: #656565;
$euiCodeBlockSelectorTagColor: #C792EA;
$euiCodeBlockStringColor: #C3E88D;
$euiCodeBlockNumberColor: #F77669;
$euiCodeBlockKeywordColor: #C792EA;
$euiCodeBlockFunctionTitleColor: #75A5FF;
$euiCodeBlockTagColor: #ABB2BF;
$euiCodeBlockNameColor: #E06C75;
$euiCodeBlockTypeColor: #DA4939;
$euiCodeBlockAttributeColor: #80CBBF;
$euiCodeBlockSymbolColor: #C792EA;
$euiCodeBlockParamsColor: #EEFFF7;
$euiCodeBlockMetaColor: #75A5FF;
$euiCodeBlockTitleColor: #75A5FF;
$euiCodeBlockSectionColor: #FFC66D;
$euiCodeBlockAdditionBackgroundColor: #144212;
$euiCodeBlockAdditionColor: #E6E1DC;
$euiCodeBlockDeletionBackgroundColor: #600;
$euiCodeBlockDeletionColor: #E6E1DC;
$euiCodeBlockSelectorClassColor: #FFCB68;
$euiCodeBlockSelectorIdColor: #F77669;
