// Dark theme overides

$euiColorEmptyShade: #222;
$euiColorLightestShade: #272727;
$euiColorLightShade: #333;
$euiColorMediumShade: #444;
$euiColorDarkShade: #D9D9D9;
$euiColorDarkestShade: #F5F5F5;
$euiColorFullShade: #FFF;
$euiColorPrimary: #4da1c0;
$euiColorDanger: #bf4d4d;
$euiTextColor: #DDD;

$euiFocusBackgroundColor: #191919;

// Code

$euiCodeBlockBackgroundColor: #2B2B2D;
$euiCodeBlockColor: #CDD3D8;
$euiCodeBlockSelectedBackgroundColor: #3e4451;
$euiCodeBlockCommentColor: #656565;
$euiCodeBlockSelectorTagColor: #C792EA;
$euiCodeBlockStringColor: #C3E88D;
$euiCodeBlockNumberColor: #F77669;
$euiCodeBlockKeywordColor: #C792EA;
$euiCodeBlockFunctionTitleColor: #75A5FF;
$euiCodeBlockTagColor: #abb2bf;
$euiCodeBlockNameColor: #e06c75;
$euiCodeBlockTypeColor: #da4939;
$euiCodeBlockAttributeColor: #80CBBF;
$euiCodeBlockSymbolColor: #C792EA;
$euiCodeBlockParamsColor: #EEFFF7;
$euiCodeBlockMetaColor: #75A5FF;
$euiCodeBlockTitleColor: #75A5FF;
$euiCodeBlockSectionColor: #ffc66d;
$euiCodeBlockAdditionBackgroundColor: #144212;
$euiCodeBlockAdditionColor: #e6e1dc;
$euiCodeBlockDeletionBackgroundColor: #600;
$euiCodeBlockDeletionColor: #e6e1dc;
$euiCodeBlockSelectorClassColor: #FFCB68;
$euiCodeBlockSelectorIdColor: #F77669;
