.euiComboBoxOption {
  &__contentWrapper {
    display: flex;
    align-items: center;
  }

  &__content {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
    text-align: left;
  }

  &__emptyStateText {
    flex: 1;
    text-align: left;

    /* Extra specificity required to override EuiText's <p> styling */
    .euiComboBoxOptionsList__empty & {
      margin-bottom: 0;
    }
  }

  &__enterBadge {
    margin-left: $euiSizeXS;
  }

  /* Fix vertical alignment of EuiIcons in prepend/append nodes */
  &__prepend,
  &__append {
    .euiIcon {
      display: block;
    }
  }
}
