.euiBottomBar {
  @include euiBottomShadowFlat($euiShadowColorLarge);
  background: tintOrShade($euiColorFullShade, 25%, 100%);
  color: $euiColorEmptyShade;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  animation: euiBottomBarAppear $euiAnimSpeedSlow $euiAnimSlightResistance;
  z-index: $euiZNavigation;

  &.euiBottomBar--paddingNone {
      .euiButton {
          border-radius: 0;

          &:hover {
              transform: translateY(0);
          }
      }
      .euiButton--ghost {
          border: none;
          border-right: 1px solid $euiColorGhost;
      }
  }

  &.euiBottomBar--paddingSmall {
    padding: $euiSizeS;
  }

  &.euiBottomBar--paddingMedium {
    padding: $euiSize;
  }

  &.euiBottomBar--paddingLarge {
    padding: $euiSizeL;
  }
}

@keyframes euiBottomBarAppear {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(00%);
    opacity: 1;
  }
}
