.euiBottomBar {
  @include euiBottomShadowFlat($euiShadowColorLarge);
  background: $euiHeaderDarkBackgroundColor;
  color: $euiColorGhost;

  // sass-lint:disable-block mixins-before-declarations
  @include euiCanAnimate {
    animation: euiBottomBarAppear $euiAnimSpeedSlow $euiAnimSlightResistance;
  }
}

.euiBottomBar--fixed {
  position: fixed;
  z-index: $euiZHeader - 2;
}

.euiBottomBar--sticky {
  position: sticky;
  z-index: $euiZHeader - 2;
}

.euiBottomBar--paddingSmall {
  padding: $euiSizeS;
}

.euiBottomBar--paddingMedium {
  padding: $euiSize;
}

.euiBottomBar--paddingLarge {
  padding: $euiSizeL;
}

@keyframes euiBottomBarAppear {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(00%);
    opacity: 1;
  }
}
