.guideDemo__emptyPromptRecommendCards {
  .euiCheckableCard {
    margin-bottom: $euiSize;
  }
}

.guideDemo__emptyPromptPanelPickerThumbBtn {
  border: $euiBorderThin;
  border-radius: $euiBorderRadius;
  position: relative;
  overflow: hidden;

  &-isSelected {
    border: 1px solid $euiColorPrimary;
  }

  &:first-of-type {
    margin-right: $euiSize;
  }

  &:focus {
    outline: 2px solid $euiFocusRingColor;
  }
}

.guideDemo__emptyPromptBgPickerCheckMark {
  position: absolute;
  top: $euiSizeXS;
  right: $euiSizeXS;
}