.guideDemo__emptyPromptPanelPicker {
  border: $euiBorderThin;
  display: flex;
  flex-direction: row;
}

.guideDemo__emptyPromptPanelPickerControls,
.guideDemo__emptyPromptPanelPickerPreview {
  padding: $euiSize;
}

.guideDemo__emptyPromptPanelPickerControls {
  background: $euiPageBackgroundColor;
}

.guideDemo__emptyPromptPanelPickerPreview {
  padding: $euiSize;
  background: $euiColorEmptyShade;
  flex: 1;

  > .euiPanel {
    margin-top: $euiSize;
  }
}

.guideDemo__emptyPromptPanelPickerThumbBtn {
  border: $euiBorderThin;
  border-radius: $euiBorderRadius;
  position: relative;
  overflow: hidden;

  &-isSelected {
    border: 1px solid $euiColorPrimary;
  }

  &:first-of-type {
    margin-right: $euiSize;
  }
}

.guideDemo__emptyPromptPanelPickerCheckMark {
  position: absolute;
  top: $euiSizeXS;
  right: $euiSizeXS;
}