@mixin euiSuperDatePickerText {
  @include euiFormControlText;
  display: block;
  width: 100%;
  padding-block: 0;
  padding-inline: $euiSizeS;
  line-height: $euiFormControlLayoutGroupInputHeight;
  height: $euiFormControlLayoutGroupInputHeight;
  word-break: break-all;
  transition: background $euiAnimSpeedFast ease-in;
}
