@mixin euiSuperDatePickerText {
  @include euiFormControlText;
  display: block;
  width: 100%;
  padding: 0 $euiSizeS;
  line-height: $euiFormControlHeight - 2px;
  height: $euiFormControlHeight - 2px;
  word-break: break-all;
  transition: background $euiAnimSpeedFast ease-in;
}
