// sass-lint:disable no-important
.euiSuperDatePicker {
  // Allow it to always grow to fit the container since the default form max width is too small
  max-width: 100% !important;

  > .euiFormControlLayout__childrenWrapper {
    flex: 1 1 100%;
    overflow: hidden;

    > .euiDatePickerRange {
      max-width: none;
      width: auto;
    }
  }
}

.euiSuperDatePicker__dateText {
  @include euiSuperDatePickerText;
  text-align: left;
}

.euiSuperDatePicker__dateInnerText {
  width: 100%;
}

.euiSuperDatePicker__updateButton {
  // Just wide enough for all 3 states
  min-width: $euiButtonMinWidth + ($euiSizeXS * 1.5);
}

@include euiBreakpoint('xs', 's') {
  .euiSuperDatePicker__updateButton {
    min-width: 0;

    .euiSuperDatePicker__updateButtonText {
      display: none;
    }
  }
}
