.euiSuperUpdateButton {
  // Just wide enough for all 3 states
  min-width: $euiSuperDatePickerButtonWidth;
}

@include euiBreakpoint('xs', 's') {
  .euiSuperUpdateButton {
    min-width: 0;

    .euiSuperUpdateButton__text {
      display: none;
    }
  }
}
