.euiSuperUpdateButton {
  // Just wide enough for all 3 states
  min-inline-size: $euiSuperDatePickerButtonWidth;
}

@include euiBreakpoint('xs', 's') {
  .euiSuperUpdateButton {
    min-inline-size: 0;

    .euiSuperUpdateButton__text {
      display: none;
    }
  }
}
