$euiSuperDatePickerWidth: $euiSize * 30;
$euiSuperDatePickerButtonWidth: $euiButtonMinWidth + ($euiSizeXS * 1.5);

$euiSuperDatePickerNeedsUpdatingBackgroundColor: tintOrShade($euiColorSuccess, 90%, 70%);
$euiSuperDatePickerNeedsUpdatingTextColor: makeHighContrastColor($euiColorSuccess, $euiSuperDatePickerNeedsUpdatingBackgroundColor);
