@include euiBreakpoint('m', 'l', 'xl') {
  .guideColorsPage__stickySlider {
    position: sticky;
    top: $euiHeaderHeightCompensation;
    z-index: $euiZLevel1 - 1; // Below header
  }
}

.guideColorSection__button {
  padding: $euiSizeXS;
  margin-bottom: $euiSizeXS / 2;
  border-radius: $euiBorderRadius;
  width: 100%;
  max-width: 300px;
}

.colorGuidelines_colorPreviewTooLight rect {
  stroke: transparentize($euiColorLightShade, lightOrDarkTheme(.5, 0));
  stroke-width: .25px;
}
