@include euiBreakpoint('m', 'l', 'xl') {
  .guideColorsPage__stickySlider {
    position: sticky;
    top: 0;
    z-index: $euiZLevel1;
  }
}

.guideColorSection__button {
  padding: $euiSizeXS;
  margin-bottom: $euiSizeXS / 2;
  border-radius: $euiBorderRadius;
  width: 100%;
  max-width: 300px;
}
