@include euiBreakpoint('m', 'l', 'xl') {
  .guideColorsPage__stickySlider {
    position: sticky;
    inset-block-start: 0;
    z-index: $euiZLevel1;
  }
}

.guideColorSection__button {
  padding: $euiSizeXS;
  margin-block-end: $euiSizeXS / 2;
  border-radius: $euiBorderRadius;
  width: 100%;
  max-inline-size: 300px;
}
