// Dark theme overides

$euiColorEmptyShade: #222;
$euiColorLightestShade: #242424;
$euiColorLightShade: #333;
$euiColorMediumShade: #444;
$euiColorDarkShade: #8A8A8A;
$euiColorDarkestShade: #F5F5F5;
$euiColorFullShade: #FFF;
$euiColorMediumShade: #494E51;
$euiColorPrimary: #4DA1C0;
$euiColorWarning: #C06C4C;
$euiColorDanger: #BF4D4D;
$euiTextColor: #DDD;

$euiFocusBackgroundColor: #191919;
$euiShadowColor: #000;
$euiShadowColorLarge: #000;
$euiModalBorderColor: $euiColorLightShade;
$euiFlyoutBorderColor: $euiColorLightShade;

// Code

$euiCodeBlockBackgroundColor: #2B2B2D;
$euiCodeBlockColor: #CDD3D8;
$euiCodeBlockSelectedBackgroundColor: #3E4451;
$euiCodeBlockCommentColor: #656565;
$euiCodeBlockSelectorTagColor: #C792EA;
$euiCodeBlockStringColor: #C3E88D;
$euiCodeBlockNumberColor: #F77669;
$euiCodeBlockKeywordColor: #C792EA;
$euiCodeBlockFunctionTitleColor: #75A5FF;
$euiCodeBlockTagColor: #ABB2BF;
$euiCodeBlockNameColor: #E06C75;
$euiCodeBlockTypeColor: #DA4939;
$euiCodeBlockAttributeColor: #80CBBF;
$euiCodeBlockSymbolColor: #C792EA;
$euiCodeBlockParamsColor: #EEFFF7;
$euiCodeBlockMetaColor: #75A5FF;
$euiCodeBlockTitleColor: #75A5FF;
$euiCodeBlockSectionColor: #FFC66D;
$euiCodeBlockAdditionBackgroundColor: #144212;
$euiCodeBlockAdditionColor: #E6E1DC;
$euiCodeBlockDeletionBackgroundColor: #600;
$euiCodeBlockDeletionColor: #E6E1DC;
$euiCodeBlockSelectorClassColor: #FFCB68;
$euiCodeBlockSelectorIdColor: #F77669;
