$euiFontSizeXS:     12px;
$euiFontSizeS:      14px;
$euiFontSizeM:      14px;
$euiFontSize:       14px;
$euiFontSizeL:      24px;
$euiFontSizeXL:     28px;
$euiFontSizeXXL:    32px;

// Make titles bold.
$euiFontWeightLight: 400;
