// Font families
$euiFontFamily: 'Open Sans', Helvetica, Arial, sans-serif;

// Font Sizes
$euiFontSize:       14px;
$euiFontSizeXS:     12px;
$euiFontSizeS:      14px;
$euiFontSizeM:      16px;
$euiFontSizeL:      18px;
$euiFontSizeXL:     24px;
$euiFontSizeXXL:    32px;

// Make titles bold.
$euiFontWeightLight: 500;
