// Font families
$euiFontFamily: 'Open Sans', Helvetica, Arial, sans-serif;
$euiFontFamilyVariable: $euiFontFamily;

$euiTextScale: 2.28571429, 1.71428571, 1.28571429, 1.14285714, 1, 1, .85714286;

$euiFontSize:       14px; // 5th position in scale

$euiFontSizeXS:     $euiFontSize * nth($euiTextScale, 7); // 12px
$euiFontSizeS:      $euiFontSize * nth($euiTextScale, 6); // 14px
$euiFontSizeM:      $euiFontSize * nth($euiTextScale, 4); // 16px
$euiFontSizeL:      $euiFontSize * nth($euiTextScale, 3); // 18px
$euiFontSizeXL:     $euiFontSize * nth($euiTextScale, 2); // 24px
$euiFontSizeXXL:    $euiFontSize * nth($euiTextScale, 1); // 32px

// Make titles bold.
$euiFontWeightExtraLight: 600;
$euiFontWeightLight: 600;
$euiFontWeightMedium:   600;

// Ensure non-small tabs actually have a larger font size
$euiTabFontSize: $euiFontSizeM;
$euiTabFontSizeS: $euiFontSizeS;
