.euiBetaBadge {
  display: inline-block;
  padding: 0 $euiSize;
  border-radius: $euiSizeL;
  box-shadow: inset 0 0 0 1px $euiBorderColor;
  vertical-align: super; // if displayed inline with text

  font-size: $euiFontSizeXS;
  font-weight: $euiFontWeightBold;
  text-transform: uppercase;
  letter-spacing: .05em;
  line-height: $euiSizeL;
  text-align: center;
  white-space: nowrap;
  cursor: default;

  &:focus {
    @include euiFocusRing;
    // Can't use `currentColor` because of possible white text, so always keep it black
    outline-color: lightOrDarkTheme($euiColorInk, $euiColorGhost);
    // The rounded corners of the badge doesn't match well with the outline, so push it outward
    outline-offset: 2px;
  }

  &:not(.euiBetaBadge--hollow) {
    box-shadow: none;
  }

  &.euiBetaBadge--small {
    @include fontSize($euiFontSize * .625);
    line-height: $euiSize + $euiSizeXS;
    padding: 0 $euiSizeM;
  }
}

// When it's just an icon, make it a circle
.euiBetaBadge--iconOnly {
  padding: 0;
  width: $euiSizeL;

  .euiBetaBadge__icon {
    position: relative;
    margin-top: -1px;
  }

  &.euiBetaBadge--small {
    width: $euiSize + $euiSizeXS;
    padding: 0;
  }
}

.euiBetaBadge--singleLetter {
  padding: 0 0 0 1px;
  width: $euiSizeL;

  &.euiBetaBadge--small {
    width: $euiSize + $euiSizeXS;
    padding: 0 0 0 1px;
  }
}

.euiBetaBadge--subdued {
  $backgroundColor: tint($euiColorLightShade, 30%);
  background: $backgroundColor;
  color: chooseLightOrDarkText($backgroundColor, $euiColorGhost, $euiColorInk);

  &.euiBetaBadge-isClickable {
    color: chooseLightOrDarkText($backgroundColor, $euiColorGhost, $euiColorInk);
  }
}

.euiBetaBadge--hollow {
  &.euiBetaBadge-isClickable {
    $backgroundColor: tint($euiColorLightShade, 30%);
    color: chooseLightOrDarkText($backgroundColor, $euiColorGhost, $euiColorInk);
  }
}

.euiBetaBadge--accent {
  $backgroundColor: $euiColorAccentText;
  background: $backgroundColor;
  color: chooseLightOrDarkText($backgroundColor, $euiColorGhost, $euiColorInk);

  &.euiBetaBadge-isClickable {
    color: chooseLightOrDarkText($backgroundColor, $euiColorGhost, $euiColorInk);
  }
}
