.guideHomePage__blockformCard {
  min-width: 200px;
  flex-basis: 100% !important; // stylelint-disable-line declaration-no-important

  @include euiBreakpoint('s', 'm') {
    flex-basis: 45% !important; // stylelint-disable-line declaration-no-important
  }

  @include euiBreakpoint('l') {
    flex-basis: 30% !important; // stylelint-disable-line declaration-no-important
  }

  @include euiBreakpoint('xl') {
    flex-basis: 22% !important; // stylelint-disable-line declaration-no-important
  }
}

.guideHomePage__illustration {
  @include euiBreakpoint('s', 'm') {
    justify-content: center;
  }

  position: relative;
  display: flex;
  justify-content: flex-end;
}

.guideHomePage__illustrationEffect {
  display: block;
  position: relative;

  .guideHomePage__illustrationEffectSVG {
    transform: perspective(1600px);
    transform-style: preserve-3d;
    transition: all .3s ease-in-out;
    width: 100%;
    height: auto;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .guideHomePage__illustrationTopLeftCorner {
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: 300;

    &:hover ~ .guideHomePage__illustrationEffectSVG {
      transform: perspective(1600px) rotateX(-5deg) rotateY(5deg);
    }
  }

  .guideHomePage__illustrationTopRightCorner {
    height: 50%;
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    z-index: 300;

    &:hover ~ .guideHomePage__illustrationEffectSVG {
      transform: perspective(1600px) rotateX(-5deg) rotateY(-5deg);
    }
  }

  .guideHomePage__illustrationBottomLeftCorner {
    bottom: 0;
    height: 50%;
    left: 0;
    position: absolute;
    width: 50%;
    z-index: 300;

    &:hover ~ .guideHomePage__illustrationEffectSVG {
      transform: perspective(1600px) rotateX(5deg) rotateY(5deg);
    }
  }

  .guideHomePage__illustrationBottomRightCorner {
    bottom: 0;
    height: 50%;
    position: absolute;
    right: 0;
    width: 50%;
    z-index: 300;

    &:hover ~ .guideHomePage__illustrationEffectSVG {
      transform: perspective(1600px) rotateX(5deg) rotateY(-5deg);
    }
  }
}

.guideHome__footer {
  display: flex;
  align-items: center;
}

.guideHome__footerHeart {
  color: $euiColorTextAccent;
}

.guideHome__footerLogo {
  vertical-align: middle;
  // stylelint-disable declaration-no-important
  display: inline-block !important;
  margin-bottom: 0 !important;
  // stylelint-enable declaration-no-important
  position: relative;
  top: -1px;
}

.guideHome__footerLogoText {
  fill: $euiColorTextParagraph;
}

.guideHome__hero {
  > * {
    padding: $euiSizeL;
  }
}
