@mixin euiPageRestrictWidth {
  &--restrictWidth-default,
  &--restrictWidth-custom {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  &--restrictWidth-default {
    max-width: $euiPageDefaultMaxWidth;
  }
}
