.euiPage {
  @include euiPageRestrictWidth;
  display: flex;
  background-color: $euiPageBackgroundColor;

  &--grow {
    flex-grow: 1;
    min-height: 100%;
  }

  &--column {
    flex-direction: column;
  }

  @include euiBreakpoint('xs', 's') {
    flex-direction: column;
  }
}

// Uses the same values as EuiPanel
@each $modifier, $amount in $euiPanelPaddingModifiers {
  .euiPage--#{$modifier} {
    padding: $amount;
  }
}
