.euiBeacon {
  position: relative;
  background-color: $euiColorVis0;
  border-radius: 50%;

  &:before,
  &:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px $euiColorVis0;
  }

  &:before {
    animation: euiBeaconPulseLarge 2.5s infinite ease-out;
  }

  &:after {
    animation: euiBeaconPulseSmall 2.5s infinite ease-out .25s;
  }
}

@keyframes euiBeaconPulseLarge {
  0% {
    transform: scale(.1);
    opacity: 1;
  }

  70% {
    transform: scale(3);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes euiBeaconPulseSmall {
  0% {
    transform: scale(.1);
    opacity: 1;
  }

  70% {
    transform: scale(2);
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
