// This extra import allows any variables that are created via functions to work when loaded into JS
@import '../../global_styling/variables/colors';

// Core
$euiColorPrimary: #07C;
$euiColorSecondary: #00BFB3;
$euiColorAccent: #F04E98;

// Status
$euiColorSuccess: $euiColorSecondary;
$euiColorWarning: #FEC514;
$euiColorDisabled: #ABB4C4;

// Grays are the same

// Backgrounds
$euiPageBackgroundColor: tint($euiColorLightestShade, 50%);
$euiColorHighlight: tint($euiColorWarning, 90%);

// Contrasty text variants
$euiTextSubduedColor: $euiColorDarkShade;
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary);
$euiColorSecondaryText: makeHighContrastColor($euiColorSecondary);
$euiColorAccentText: makeHighContrastColor($euiColorAccent);
$euiColorWarningText: makeHighContrastColor($euiColorWarning);
$euiColorDisabledText: makeDisabledContrastColor($euiColorDisabled);
$euiColorSuccessText: $euiColorSecondaryText;
$euiLinkColor: $euiColorPrimaryText;
