@import '../eui/eui_colors_dark.scss';

// Core
$euiColorPrimary: #238CFF;

// Contrasty text variants
$euiColorPrimaryText: $euiColorPrimary;
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary);
