@import '../eui/eui_colors_dark.scss';

// Core
$euiColorPrimary: #36A2EF;
$euiColorSecondary: #7DDED8;
$euiColorAccent: #F68FBE;

// Status
$euiColorSuccess: $euiColorSecondary;
$euiColorWarning: #F3D371;
$euiColorDanger: #F86B63;
$euiColorDisabled: #515761;

// Grays are the same

// Backgrounds
$euiColorHighlight: #2E2D25;

// Contrasty text variants
$euiColorPrimaryText: makeHighContrastColor($euiColorPrimary);
$euiColorSecondaryText: makeHighContrastColor($euiColorSecondary);
$euiColorAccentText: makeHighContrastColor($euiColorAccent);
$euiColorWarningText: makeHighContrastColor($euiColorWarning);
$euiColorDangerText: makeHighContrastColor($euiColorDanger);
$euiColorDisabledText: makeDisabledContrastColor($euiColorDisabled);
$euiColorSuccessText: $euiColorSecondaryText;
$euiLinkColor: $euiColorPrimaryText;
