.guideSection {
  & + .guideSection {
    margin-top: $euiSizeXL * 2;
  }
}

.guideSection__space {
  height: $euiSizeL;
}

.guideSection__extend {
  font-size: $euiFontSizeS;
  padding-left: $euiSizeM;
  color: $euiColorDarkShade;

  .guideSection__extend-element {
    padding-right: $euiSizeXS;
  }
}
