.guideSection {
  & + .guideSection {
    margin-top: 64px;
  }
}

.guideSection__space {
  height: $euiSizeL;
}

.guideSectionPropsTable {
  width: auto;
  min-width: 50%;

  th, td {
    max-width: none;
  }
}
