/* react-vis scss styles copied and pasted from react-vis lib */
.euiSeriesChartContainer {
  @import "styles/react_vis/plot";
  @import "styles/react_vis/legends";
  @import "styles/react_vis/radial-chart";
  @import "styles/react_vis/treemap";
  @import "styles/react_vis/overrides";
}

@import "series/index";
@import "legend";
@import "line_annotation";
