.euiLegendTitle {
  @include euiTitle;
  @include euiFontSizeL;
}

.euiLegendContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.euiLegendContent {
  white-space: nowrap;
  color: gray;
  display: flex;
}

.euiLegendTruncatedLabel {
  display: inline-block;
}
.euiLegendSeriesValue {
  margin-left: 5px;
  display: inline-block;
  color: black;
}
.euiLegendMoreSeriesContainer {
  @include euiFontSizeS;
  color: gray;
}

.euiLegendItemContainer {
  display: flex;
  align-items: center;
  color: gray;
  cursor: pointer;
  user-select: none;
  margin-right: 4px;
  opacity: 1;
  @include euiFontSizeM;
  &:last-of-type {
    margin-right: 0;
  }
}

.euiLegendItemIndicator {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin-right: 4px;
}

.euiTitle--small {
  // @include euiFontSizeM;
}

.euiTitle--large {
  // @include euiFontSizeXL;
}
