.euiSeriesChartContainer__emptyPrompt {
  // Center the empty prompt within the series container
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
