// NOTE: opacity, stroke and fill are style by code inside react-vis
// we can overwrite and add !important for force svg styled component
// or overwrite style by code.

.euiHistogramSeries {
  rect {
    stroke-width: 1;
    stroke: white !important;
    rx: 2;
    ry: 2;
  }
}

.euiHistogramSeries--highDataVolume {
  rect {
    stroke-width: 0;
    rx: 0;
    ry: 0;
  }
}
.euiHistogramSeries--hoverEnabled {
  rect{
    &:hover {
      cursor: pointer;
    }
  }
}
