// Nav drawer. Global application navigation.

.euiNavDrawer {
  width: $euiNavDrawerWidthCollapsed;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  // z-index: $euiZHeader; // ensure the shadow shows above content
  background: $euiHeaderBackgroundColor;
  box-shadow: $euiNavDrawerSideShadow;

  &.euiNavDrawer-isCollapsed {
    transition: width $euiAnimSpeedFast ease-in;

    &.euiNavDrawer-flyoutIsExpanded {
      width: $euiNavDrawerWidthCollapsed + $euiNavDrawerWidthExpanded;
    }
  }

  &.euiNavDrawer-isExpanded {
    width: $euiNavDrawerWidthExpanded;
    transition: width $euiAnimSpeedNormal ease-out;
    // transition: width $euiAnimSpeedNormal ease-out 1.8s; // TODO Delays the expanded view

    .euiNavDrawerMenu .euiListGroupItem__label,
    .euiNavDrawerMenu .euiListGroupItem__extraAction {
      visibility: visible;
    }

    &.euiNavDrawer-flyoutIsExpanded {
      width: $euiNavDrawerWidthExpanded * 2;
      // transition-delay: 0s; // TODO works with delay
    }

    // &.euiNavDrawer-flyoutIsCollapsed {
    //   transition-delay: 0s; // TODO this fixes the delay when flyout collapses, but breaks the delay when menu expands
    // }
  }

  .euiNavDrawerMenu .euiListGroupItem__label,
  .euiNavDrawerMenu .euiListGroupItem__extraAction {
    visibility: hidden;
    white-space: nowrap;
  }
}
