// Nav drawer. Global application navigation.

.euiNavDrawer {
  @include euiScrollBar;
  width: $euiNavDrawerWidthCollapsed;
  height: calc(100% - #{$euiNavDrawerTopPosition});
  position: fixed;
  left: 0;
  top: $euiNavDrawerTopPosition;
  overflow: hidden;
  z-index: $euiZHeader;
  background: $euiHeaderBackgroundColor;
  box-shadow: $euiNavDrawerSideShadow;
  transition: width $euiAnimSpeedExtraFast $euiAnimSlightResistance;
  transition-delay: $euiNavDrawerContractingDelay;
  // Prevents scrollbar from overlapping nav links in IE. Scrollbar still shows on hover
  // sass-lint:disable no-vendor-prefixes
  -ms-overflow-style: -ms-autohiding-scrollbar;

  &:hover,
  &:focus {
    overflow-y: auto;
  }

  .euiNavDrawer--inner {
    min-height: 100%;
  }

  &.euiNavDrawer-isCollapsed  {
    transition-delay: 0s;

    &.euiNavDrawer-flyoutIsExpanded {
      width: $euiNavDrawerWidthCollapsed + $euiNavDrawerWidthExpanded;
    }

    .euiNavDrawerMenu {
      width: $euiNavDrawerWidthCollapsed; // for IE

      .euiListGroupItem__label {
        width: 0;
      }

      .euiListGroupItem__icon {
        margin-right: 0;
      }

      .euiListGroupItem__button:focus {
        background-color: tintOrShade($euiColorLightestShade, 0%, 30%);
      }
    }

    .euiListGroupItem-hasExtraAction .euiListGroupItem__button {
      max-width: 100%;
    }

    .euiListGroup-isFooter {
      transition-delay: 0s;
    }
  }

  &.euiNavDrawer-isExpanded {
    width: $euiNavDrawerWidthExpanded;
    transition-delay: $euiNavDrawerExpandingDelay;

    .euiNavDrawerMenu {
      width: $euiNavDrawerWidthExpanded;
    }

    .euiNavDrawerMenu .euiListGroupItem__label {
      opacity: 1;
      transition-delay: (
        $euiNavDrawerExpandingDelay + $euiNavDrawerMenuAddedDelay
      );
    }

    &.euiNavDrawer-flyoutIsExpanded {
      width: $euiNavDrawerWidthExpanded + $euiNavDrawerWidthCollapsed;
    }

    .euiListGroup-isFooter {
      width: $euiNavDrawerWidthExpanded;
    }
  }

  .euiListGroup-isFooter {
    @include euiBottomShadowFlat;
    background-color: $euiColorEmptyShade;
    position: fixed;
    bottom: 0;
    width: $euiNavDrawerWidthCollapsed;
    transition: width $euiAnimSpeedExtraFast $euiNavDrawerExpandingDelay;
  }

  .euiNavDrawerMenu {
    @include euiScrollBar;
    width: $euiNavDrawerWidthCollapsed;
    padding-bottom: $euiSizeXXL;
  }

  .euiNavDrawerMenu .euiListGroupItem__label {
    white-space: nowrap;
    opacity: 0;
    transition: opacity $euiAnimSpeedNormal;
    transition-delay: (
      $euiNavDrawerContractingDelay + $euiNavDrawerMenuAddedDelay
    );
  }

  .euiListGroupItem__label {
    line-height: $euiSize;
  }

  .euiListGroupItem__extraAction {
    visibility: hidden;
  }
}

@include euiBreakpoint('xs', 's') {
  .euiNavDrawer {
    width: $euiNavDrawerWidthExpanded;

    &.euiNavDrawer-mobileIsHidden {
      width: 0;
    }

    &.euiNavDrawer-isCollapsed .euiNavDrawerMenu {
      width: $euiNavDrawerWidthExpanded;
      padding-bottom: 0;

      .euiListGroupItem__label {
        width: 100%;
      }

      .euiListGroupItem__icon {
        margin-right: $euiSizeM;
      }
    }

    &.euiNavDrawer-flyoutIsCollapsed .euiNavDrawerMenu .euiListGroupItem__label {
      opacity: 1;
    }

    &.euiNavDrawer-flyoutIsCollapsed .euiNavDrawerFlyout {
      width: 0;
      transition-delay: 0s;
      transition-duration: 0s;
    }

    &.euiNavDrawer-flyoutIsExpanded .euiNavDrawerMenu {
      width: $euiNavDrawerWidthCollapsed;
      overflow-y: hidden;

      .euiListGroupItem__extraAction {
        visibility: hidden;
      }

      .euiListGroupItem__label {
        display: none;
      }
    }

    .euiListGroupItem__extraAction {
      visibility: visible;
    }

    .euiListGroup-isFooter {
      display: none;
    }
  }
}
