// Nav drawer. Global application navigation.

.euiNavDrawer {
  width: $euiNavDrawerWidthCollapsed;
  height: calc(100% - #{$euiNavDrawerTopPosition});
  position: fixed;
  left: 0;
  top: $euiNavDrawerTopPosition;
  overflow: hidden;
  z-index: $euiZHeader;
  background: $euiHeaderBackgroundColor;
  box-shadow: $euiNavDrawerSideShadow;
  transition: width $euiAnimSpeedExtraFast $euiAnimSlightResistance;
  transition-delay: $euiNavDrawerContractingDelay;

  &.euiNavDrawer-isCollapsed  {
    .euiListGroupItem-hasExtraAction .euiListGroupItem__button {
      max-width: 100%;
    }
  }

  &.euiNavDrawer-isExpanded {
    width: $euiNavDrawerWidthExpanded;
    transition-delay: $euiNavDrawerExpandingDelay;

    .euiNavDrawerMenu .euiListGroupItem__label {
      opacity: 1;
      transition-delay: (
        $euiNavDrawerExpandingDelay + $euiNavDrawerMenuAddedDelay
      );
    }

    &.euiNavDrawer-flyoutIsExpanded {
      width: $euiNavDrawerWidthExpanded * 2;
    }

    &.euiNavDrawer-flyoutIsAnimating {
      transition-delay: 0s;
    }
  }

  &:hover.euiNavDrawer-notExpandable {
    width: $euiNavDrawerWidthCollapsed;
    overflow-y: auto;

    &.euiNavDrawer-flyoutIsExpanded {
      width: $euiNavDrawerWidthExpanded + $euiNavDrawerWidthCollapsed;
    }
  }

  .euiNavDrawerMenu .euiListGroupItem__label {
    white-space: nowrap;
    opacity: 0;
    transition: opacity $euiAnimSpeedNormal;
    transition-delay: (
      $euiNavDrawerContractingDelay + $euiNavDrawerMenuAddedDelay
    );
  }

  &.euiNavDrawer-showScrollbar .euiNavDrawerMenu,
  &.euiNavDrawer-showScrollbar .euiNavDrawerFlyout {
    height: 100%;
    overflow-y: auto;
    // This prevents the scrollbar from overlapping the nav links. Scrollbars still show on hover
    // sass-lint:disable no-vendor-prefixes
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .euiListGroupItem__label {
    line-height: $euiSize;
  }

  .euiListGroupItem__extraAction {
    visibility: hidden;
  }

  &.euiNavDrawer-showScrollbar .euiListGroupItem__extraAction {
    visibility: visible;
  }
}

@include euiBreakpoint('xs', 's') {
  .euiNavDrawer {
    width: $euiNavDrawerWidthExpanded;

    &.euiNavDrawer-notExpandable {
      width: $euiNavDrawerWidthCollapsed;
    }

    &.euiNavDrawer-mobileIsHidden {
      width: 0;
    }

    &.euiNavDrawer-isExpanded.euiNavDrawer-flyoutIsExpanded {
      width: $euiNavDrawerWidthCollapsed + $euiNavDrawerWidthExpanded;

      .euiNavDrawerFlyout {
        left: $euiNavDrawerWidthCollapsed;
      }
    }

    &.euiNavDrawer-flyoutIsExpanded {
      .euiNavDrawerMenu {
        width: $euiNavDrawerWidthCollapsed;
        overflow-y: hidden;

        .euiListGroupItem__extraAction {
          visibility: hidden;
        }
      }

      .euiNavDrawerMenu .euiListGroupItem__label {
        display: none;
      }
    }

    &.euiNavDrawer-flyoutIsCollapsed .euiNavDrawerFlyout {
      width: 0;
      transition-delay: 0s;
      transition-duration: 0s;
    }

    .euiNavDrawerMenu .euiListGroupItem__label {
      opacity: 1;
    }

    .euiListGroupItem__extraAction {
      visibility: visible;
    }
  }
}
