.euiNavDrawerFlyout {
  @include euiScrollBar;
  width: 0;
  height: 100%;
  padding-block: $euiSizeM;
  padding-inline: $euiSizeS;
  overflow-y: auto;
  background-color: $euiNavDrawerBackgroundColor;
  border-inline-start: $euiBorderThin;
  box-shadow: $euiNavDrawerSideShadow;
  visibility: hidden;
  opacity: 0;

  &.euiNavDrawerFlyout-isExpanded {
    visibility: visible;
    opacity: 1;
    width: $euiNavDrawerWidthExpanded;
    transition: opacity $euiAnimSpeedFast $euiNavDrawerContractingDelay, width $euiAnimSpeedNormal;
  }

  &.euiNavDrawerFlyout-isCollapsed {
    transition: opacity $euiAnimSpeedFast, width $euiAnimSpeedFast;
  }

  .euiNavDrawerFlyout__title {
    margin-block: 0 $euiSizeXS;
    margin-inline: $euiSizeS;
  }

  .euiNavDrawerFlyout__listGroup {
    padding-inline-start: 0;
    padding-inline-end: 0;
  }
}
