// Themable colors
$euiNavDrawerBackgroundColor: $euiColorEmptyShade;

// Drawer variables
$euiNavDrawerWidthExpanded: 240px;
$euiNavDrawerWidthCollapsed: 48px;
$euiNavDrawerSideShadow: 2px 0 2px -1px rgba($euiShadowColor, .3);