// Themable colors
$euiNavDrawerBackgroundColor: $euiHeaderBackgroundColor;

// Drawer variables
$euiNavDrawerWidthExpanded: 240px;
$euiNavDrawerWidthCollapsed: $euiHeaderChildSize;
$euiNavDrawerSideShadow: 2px 0 2px -1px rgba($euiShadowColor, .3);

// Layout variables
$euiNavDrawerTopPosition: $euiHeaderChildSize + 1px;

// Animation variables
$euiNavDrawerExpandingDelay: $euiAnimSpeedNormal;
$euiNavDrawerContractingDelay: $euiAnimSpeedSlow;
$euiNavDrawerExtendedDelay: $euiAnimSpeedExtraSlow * 2;
$euiNavDrawerMenuAddedDelay: $euiAnimSpeedExtraFast;
