.euiDatePopoverButton {
  background-size: 100%; // For the bottom "border" via background-image

  &:focus,
  &-isSelected {
    background-image: euiFormControlGradient();
  }

  &-needsUpdating {
    background-color: inherit;
    color: inherit;

    &:focus,
    &.euiDatePopoverButton-isSelected {
      background-image: euiFormControlGradient($euiColorSuccess);
    }
  }

  &-isInvalid {
    @include euiFormControlInvalidStyle;
    background-color: transparent;
    color: $euiColorDangerText;

    &:focus,
    &.euiDatePopoverButton-isSelected {
      background-image: euiFormControlGradient($euiColorDanger);
    }
  }

  &:disabled {
    background-color: $euiFormBackgroundDisabledColor;
    background-image: none;
    color: $euiColorDarkShade;
    cursor: default;
  }
}
