@mixin euiTableCell {
  vertical-align: middle;
}

@mixin euiTableCellCheckbox {
  width: $euiSizeXL;
  vertical-align: middle;

  .euiTableCellContent {
    padding-right: 0;
  }
}

@import "table";
@import "mobile/index";
