@mixin euiTableCell {
  vertical-align: middle;
  border-top: $euiBorderThin;
  border-bottom: $euiBorderThin;
  font-weight: inherit;
  text-align: left;
}

@mixin euiTableCellCheckbox {
  @include euiTableCell;
  width: $euiTableCellCheckboxWidth;
  vertical-align: middle;
}
