@mixin euiTableCell {
  vertical-align: middle;
  border-top: $euiBorderThin;
  border-bottom: $euiBorderThin;
  font-weight: inherit;
  text-align: left;
}

@mixin euiTableCellCheckbox {
  @include euiTableCell;
  width: $euiTableCellCheckboxWidth;
  vertical-align: middle;
}

@mixin euiTableActionsBackgroundMobile {
  background-image: linear-gradient(to right, $euiTableActionsBorderColor 0, $euiTableActionsBorderColor 1px, transparent 1px, transparent 100%);
  background-size: $euiTableActionsAreaWidth 100%;
  background-position-x: right;
  background-repeat: no-repeat;
}
