/**
 * NOTE: table-layout: fixed causes a bug in IE11 and Edge (see #9929). It also prevents us from
 * specifying a column width, e.g. the checkbox column.
 */
.euiTable {
  @include euiFontSizeS;

  width: 100%;
  border: none;
  border-collapse: collapse;
  background-color: $euiColorEmptyShade;
}

.euiTable--compressed {
  .euiTableCellContent {
    padding: $euiSizeXS;
    @include euiFontSizeXS;

  }

  .euiTableHeaderButton:focus {
    outline: solid $euiSizeXS $euiFocusBackgroundColor;
  }
}

.euiTableHeaderCell {
  @include euiTableCell;

  color: $euiTitleColor;

  .euiTableHeaderButton {
    text-align: left;
  }
}

.euiTableHeaderCellCheckbox {
  @include euiTableCellCheckbox;
}

.euiTableHeaderButton {
  @include euiFontSizeS;

  color: inherit;
  width: 100%;

  &:hover, &:focus {
    text-decoration: underline;
    color: $euiColorPrimary;

    .euiTableSortIcon {
      display: block;
      fill: $euiColorPrimary;
    }
  }
}

.euiTableSortIcon {
  margin-left: $euiSizeXS;

  .euiTableHeaderButton-isSorted & {
    fill: $euiTitleColor;
  }
}

.euiTableRow {
  &:hover {
    background-color: tintOrShade($euiColorLightestShade, 50%, 20%);
  }

  &.euiTableRow-isSelected {
    background-color: tintOrShade($euiFocusBackgroundColor, 30%, 0%);

    &:hover {
      background-color: tintOrShade($euiFocusBackgroundColor, 0, 10%);
    }
  }
}

.euiTableRowCell {
  @include euiTableCell;

  color: $euiTextColor;
  border-top: $euiBorderThin;
  border-bottom: $euiBorderThin;
}

.euiTableRowCellCheckbox {
  @include euiTableCellCheckbox;

  border-top: $euiBorderThin;
  border-bottom: $euiBorderThin;
}

/**
 * 1. Vertically align all children.
 * 2. The padding on this div allows the ellipsis to show if the content is truncated. If
 *    the padding was on the cell, the ellipsis would be cropped.
 * 3. Support wrapping.
 */
.euiTableCellContent {
  display: flex;
  align-items: center; /* 1 */
  padding: $euiSizeS; /* 2 */
}

  .euiTableCellContent__text {
    min-width: 0;
    text-overflow: ellipsis;
  }

.euiTableCellContent--alignRight {
  justify-content: flex-end;
}

.euiTableCellContent--truncateText {
  white-space: nowrap; /* 3 */

  .euiTableCellContent__text {
    overflow: hidden;
  }
}

.euiTableCellContent--overflowingContent {
  overflow: visible;
  white-space: normal;

  .euiTableCellContent__text {
    overflow: visible;
  }
}
