/**
 * NOTE: table-layout: fixed causes a bug in IE11 and Edge (see #9929). It also prevents us from
 * specifying a column width, e.g. the checkbox column.
 */
.euiTable {
  @include kuiFontSizeS;

  width: 100%;
  border: none;
  border-collapse: collapse;
  background-color: $euiColorEmptyShade;
}

.euiTable--compressed {
  .euiTableCellContent {
    padding: $euiTableCellPaddingCompressed;
  }

  .euiTableHeaderButton:focus {
    outline: solid $euiTableCellPaddingCompressed $euiFocusBackgroundColor;
  }
}

.euiTableHeaderCell {
  @include kuiTableCell;

  color: $euiTitleColor;

  .euiTableHeaderButton {
    text-align: left;
  }
}

.euiTableHeaderCellCheckbox {
  @include kuiTableCellCheckbox;
}

.euiTableHeaderButton {
  @include kuiFontSizeS;

  color: inherit;
  width: 100%;

  &:hover, &:focus {
    text-decoration: underline;
    color: $euiColorPrimary;

    .euiTableSortIcon {
      display: block;
      fill: $euiColorPrimary;
    }
  }

  &:focus {
    background: $euiFocusBackgroundColor;
  }
}

.euiTableSortIcon {
  margin-left: $euiSizeXS;
  fill: tintOrShade($euiTitleColor, 80%, 70%);

  .euiTableHeaderButton-isSorted & {
    fill: $euiTitleColor;
  }
}

.euiTableRow {
  transition: background-color $euiAnimSpeedFast $euiAnimSlightResistance;
  &:hover {
    background-color: tintOrShade($euiColorLightestShade, 50%, 20%);
  }

  &.euiTableRow-isSelected {
    background-color: transparentize($euiColorPrimary, .95);
  }
}

.euiTableRowCell {
  @include kuiTableCell;

  color: $euiTextColor;
  border-top: $euiBorderThin;
  border-bottom: $euiBorderThin;
}

.euiTableRowCellCheckbox {
  @include kuiTableCellCheckbox;

  border-top: $euiBorderThin;
  border-bottom: $euiBorderThin;
}

/**
 * 1. Vertically align all children.
 * 2. Truncate text with an ellipsis. The padding on this div allows the ellipsis to show. If
 *    the padding was on the cell, the ellipsis would be cropped.
 */
.euiTableCellContent {
  display: flex;
  align-items: center;
  white-space: nowrap; /* 2 */
  overflow: hidden; /* 2 */
  text-overflow: ellipsis; /* 2 */
  padding: $euiTableCellPadding; /* 2 */
}

  .euiTableCellContent__text {
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
  }

.euiTableCellContent--alignRight {
  justify-content: flex-end;
}

.euiTableCellContent--wrapText {
  white-space: normal;
}
