// Spacing

$euiTableCellContentPadding: $euiSizeS;
$euiTableCellContentPaddingCompressed: $euiSizeXS;

$euiTableCellCheckboxWidth: $euiSizeXL;

$euiTableActionsAreaWidth: $euiSizeXXL;

// Colors

$euiTableHoverColor: tintOrShade($euiColorLightestShade, 50%, 20%);
$euiTableSelectedColor: tintOrShade($euiFocusBackgroundColor, 30%, 0%);
$euiTableHoverSelectedColor: tintOrShade($euiFocusBackgroundColor, 0, 10%);
$euiTableActionsBorderColor: transparentize($euiColorMediumShade, .9);
$euiTableHoverClickableColor: transparentize($euiColorPrimary, .95);
$euiTableFocusClickableColor: transparentize($euiColorPrimary, .9);
