// Spacing

$euiTableCellContentPadding: $euiSizeS;
$euiTableCellContentPaddingCompressed: $euiSizeXS;

$euiTableCellCheckboxWidth: $euiSizeXL;

$euiTableActionsAreaWidth: $euiSizeXXL;

$euiTableActionsBorderColor: transparentize($euiColorMediumShade, .9);
