// This file utilizes !importants on purpose
// sass-lint:disable no-important

// Vertical alignment
.eui-alignBaseline { vertical-align: baseline !important; }
.eui-alignBottom { vertical-align: bottom !important; }
.eui-alignMiddle { vertical-align: middle !important; }
.eui-alignTop { vertical-align: top !important; }

// Display
.eui-displayBlock {display: block !important;}
.eui-displayInline {display: inline !important;}
.eui-displayInlineBlock {display: inline-block !important;}

.eui-fullWidth {
  display: block !important;
  width: 100% !important;
}

// Text
.eui-textCenter {text-align: center !important;}
.eui-textLeft {text-align: left !important;}
.eui-textRight {text-align: right !important;}
.eui-textNoWrap {white-space: nowrap !important;}
.eui-textInheritColor {color: inherit !important;}

.eui-textBreakWord {
  word-break: break-all !important; // Fallback for FF and IE
  word-break: break-word !important;
}
.eui-textBreakAll {word-break: break-all !important;}
.eui-textBreakNormal {word-break: normal !important;}

.eui-textOverflowWrap {
  @include internetExplorerOnly {
    word-break: break-all !important;
  }
  overflow-wrap: break-word !important;
}

.eui-textTruncate {
  @include euiTextTruncate;
}

/**
 *  Responsive
 *
 *  3. Be sure to hide/show the element initially
 */
[class*='eui-hideFor'] {
  display: inline !important; /* 3 */
}

[class*='eui-showFor'] {
  display: none !important; /* 3 */
}

@each $size in $euiBreakpointKeys {
  .eui-hideFor--#{$size} {
    @include euiBreakpoint($size) { display: none !important; }
  }

  .eui-showFor--#{$size} {
    @include  euiBreakpoint($size) { display: inline !important; }
  }
}

/**
  * IE doesn't properly wrap groups if it is within a flex-item of a flex-group.
  * Adding the following styles to the flex-item that contains the wrapping group, will fix IE.
  * https://github.com/philipwalton/flexbugs/issues/104
  */
.euiIEFlexWrapFix {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
}

/**
  * Overflow scrolling
  */
.euiYScrollWithShadows {
  @include euiYScrollWithShadows;
}
