.euiAvatarGroup {
  vertical-align: baseline;

  > .euiAvatar:not(:first-of-type) {
    margin-left: ($euiSizeXS * -1);
    box-shadow: 0 0 0 1px $euiColorGhost;
  }
}

.euiAvatarGroup__more {
  @include euiFontSizeS;
  font-weight: $euiFontWeightMedium;
  margin-left: $euiSizeXS;
}
