.guideRule__example {
  .guideRule__example__panel {
    border-bottom: 2px solid;

    &--flex {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }
}

.guideRule__example__panelFooter {
  padding: $euiSize 0;

  /* High contrast mode has borders, so we should tweak the text padding to account for that */
  @media (prefers-contrast: more), (prefers-contrast: custom), (forced-colors: active) {
    padding: $euiSize;
  }
}

.guideRule__example--do {
  .guideRule__example__panel {
    border-bottom-color: $euiColorSuccess;
  }
}

.guideRule__example--dont {
  .guideRule__example__panel {
    border-bottom-color: $euiColorDanger;
  }
}

.guideRule__example--default {
  .guideRule__example__panel {
    border-bottom-color: $euiBorderColor;
  }
}
