.euiBreadcrumbs {
  @include euiFontSizeS;
}

.euiBreadcrumb {
  display: inline-block;

  &:not(.euiBreadcrumb--last) {
    margin-right: $euiBreadcrumbSpacing;
  }
}

.euiBreadcrumb--last {
  font-weight: $euiFontWeightMedium;
}

.euiBreadcrumb--collapsed {
  color: $euiColorLightShade;
  cursor: default;
}

.euiBreadcrumbSeparator {
  flex-shrink: 0;
  pointer-events: none;
  display: inline-block;
  margin-right: $euiBreadcrumbSpacing;
  width: 1px;
  height: $euiSize;
  transform: translateY(.2em) rotate(15deg);
  background: $euiColorLightShade;
}

.euiBreadcrumbs__inPopover {
  .euiBreadcrumb--last.euiLink.euiLink--text {
    font-weight: $euiFontWeightRegular;
    color: $euiColorDarkShade;
  }
}

.euiBreadcrumb__collapsedBadge {
  position: relative;
  top: -$euiSizeXS;
  background-color: transparentize($euiColorDarkestShade, .85);
  font-size: $euiSizeS;
  padding: ($euiSizeXS / 2) $euiSizeXS;
  border-radius: $euiBorderRadius / 2;
  opacity: .75;

  // The outline makes it too large for the space.
  // It still gets an underline and color change for focus
  &:focus {
    outline: none !important; // sass-lint:disable-line no-important
  }
}

/**
 * 1. Can't target separator vs breadcrumb with -of-type because it takes
 *    the dom element into consideration too and there could be divs, or spans, or a's
 *    as breadcrumbs.
 */

.euiBreadcrumbs--responsive {
  // Laptop
  @include euiBreakpoint('l') {
    .euiBreadcrumbSeparator,
    .euiBreadcrumb {
      display: none;

      // Only show last 4 breadcrumbs
      &:nth-last-child(-n+7) { /* 1 */
        display: inline-block;
      }
    }
  }

  // Tablets
  @include euiBreakpoint('m') {
    .euiBreadcrumbSeparator,
    .euiBreadcrumb {
      display: none;

      // Only show last 2 breadcrumbs
      // The addition of 1 is for the divider
      &:nth-last-child(-n+3) { /* 1 */
        display: inline-block;
      }
    }
  }

  // Mobile
  @include euiBreakpoint('xs', 's') {
    .euiBreadcrumbSeparator,
    .euiBreadcrumb {
      display: none;

      // Only show last 1 breadcrumb
      &:nth-last-child(-n+1) { /* 1 */
        display: inline-block;
      }
    }
  }
}

.euiBreadcrumbs--truncate {
  white-space: nowrap;
  display: flex;
  align-items: center;
  overflow: hidden;

  .euiBreadcrumb:not(.euiBreadcrumb--collapsed) {
    max-width: $euiBreadcrumbTruncateWidth;
    overflow: hidden;
    text-overflow: ellipsis;

    &.euiBreadcrumb--last {
      max-width: none;
    }
  }

  .euiBreadcrumbSeparator {
    // Align with flex versus inline-block misaligns the separator slightly
    transform: translateY(0) rotate(15deg);
  }

  .euiBreadcrumbBadge {
    margin-top: -$euiSizeXS / 2;
  }
}

.euiBreadcrumb--truncate {
  white-space: nowrap;
  max-width: $euiBreadcrumbTruncateWidth;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  vertical-align: top; // overflow hidden causes misalignment of links and slashes, this fixes that
}
