.euiCode {
  border-radius: $euiBorderRadiusSmall;
  font-weight: $euiCodeFontWeightBold;
  color: makeHighContrastColor($euiColorVis3, $euiCodeBlockBackgroundColor);
}

.euiCodeBlock.euiCodeBlock--fontLarge {
  font-size: $euiFontSizeM;
}
