.euiDatePicker {
  &.euiDatePicker--shadow {
    .react-datepicker-popper,
    .react-datepicker-popper[data-placement^='top'] {
      border: none;
      border-radius: $euiBorderRadius;
    }
  }
}


.euiDatePickerRange {
  border-radius: $euiFormControlBorderRadius;
}

.euiDatePicker.euiDatePicker--shadow.euiDatePicker--inline .react-datepicker {
  border: none;
}
