.euiToast {
  border: none;
  border-radius: $euiBorderRadius;
}

$euiToastTypes: (
  primary: $euiColorPrimary,
  success: $euiColorSuccess,
  warning: $euiColorWarning,
  danger: $euiColorDanger
);

@each $name, $color in $euiToastTypes {
  .euiToast--#{$name} {
    border-top: 2px solid $color;
  }
}

.euiToastHeader__title {
  font-weight: $euiFontWeightBold;
}
