@import '../text/_variables';

.euiEmptyPrompt {
  margin: auto;
  max-width: max-content; // the width becomes as wide as necessary to contain all of its contents

  // Footer background colors
  @each $modifier, $color in $euiPanelBackgroundColorModifiers {
    @if ($modifier == 'transparent') {
      &.euiPanel--#{$modifier} .euiEmptyPrompt__footer {
        border-radius: $euiBorderRadius;
        background-color: $euiPageBackgroundColor;
      }
    } @else if ($modifier == 'plain') {
      &.euiPanel--#{$modifier} .euiEmptyPrompt__footer {
        background-color: $euiPageBackgroundColor;
        border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
      }
    } @else {
      &.euiPanel--#{$modifier} .euiEmptyPrompt__footer {
        border-top: $euiBorderThin;
        border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
      }
    }
  }
}

.euiEmptyPrompt--verticalLayout {
  text-align: center;

  .euiEmptyPrompt__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: $euiSizeXXL * 6;

    > * + * {
      margin-bottom: $euiSize;
    }
  }

  .euiEmptyPrompt__main,
  .euiEmptyPrompt__footer {
    max-width: $euiTextConstrainedMaxWidth;
  }

  .euiEmptyPrompt__icon {
    margin-bottom: $euiSize;
  }
}

.euiEmptyPrompt--horizontalLayout {
  .euiEmptyPrompt__main {
    display: flex;
    flex-direction: row-reverse;
  }

  .euiEmptyPrompt__content,
  .euiEmptyPrompt__icon {
    flex: 50%;
  }

  .euiEmptyPrompt__contentInner {
    max-width: $euiTextConstrainedMaxWidth;
  }

  .euiEmptyPrompt__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .euiEmptyPrompt__content {
    padding: $euiSizeL 0;
  }
}

// Padding
@each $modifier, $amount in $euiPanelPaddingModifiers {
  .euiEmptyPrompt--#{$modifier} {
    .euiEmptyPrompt__main,
    .euiEmptyPrompt__footer {
      padding: $amount;
    }
  }
}
