.euiEmptyPrompt {
  // Footer background colors
  @each $modifier, $color in $euiPanelBackgroundColorModifiers {
    @if ($modifier == 'transparent') {
      &.euiPanel--#{$modifier} {
        .euiEmptyPrompt__footer {
          background-color: $euiPageBackgroundColor;
        }

        &:not(.euiPanel--hasBorder) .euiEmptyPrompt__footer {
          border-radius: $euiBorderRadius;
        }

        &.euiPanel--hasBorder .euiEmptyPrompt__footer {
          border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
        }
      }
    } @else if ($modifier == 'plain') {
      &.euiPanel--#{$modifier} .euiEmptyPrompt__footer {
        background-color: $euiPageBackgroundColor;
        border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
      }
    } @else if ($modifier == 'subdued') {
      &.euiPanel--#{$modifier} .euiEmptyPrompt__footer {
        border-top: $euiBorderThin;
        border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
      }
    } @else {
      &.euiPanel--#{$modifier} .euiEmptyPrompt__footer {
        border-top: 1px solid lightOrDarkTheme(darken($color, 10%), lighten($color, 6%));
        border-radius: 0 0 $euiBorderRadius $euiBorderRadius;
      }
    }
  }
}

$euiEmptyPromptContentMaxWidth: 36em;

.euiEmptyPrompt--vertical {
  .euiEmptyPrompt__contentInner {
    max-width: $euiEmptyPromptContentMaxWidth;
    margin: auto;
  }
}

.euiEmptyPrompt--horizontal {
  .euiEmptyPrompt__content {
    max-width: $euiEmptyPromptContentMaxWidth;

    @include euiBreakpoint('l', 'xl') {
      padding: $euiSizeL 0;
    }
  }
}

// Padding
@each $modifier, $amount in $euiPanelPaddingModifiers {
  .euiEmptyPrompt--#{$modifier} {
    .euiEmptyPrompt__main,
    .euiEmptyPrompt__footer {
      padding: $amount;
    }

    &.euiEmptyPrompt--horizontal {
      .euiEmptyPrompt__main {
        gap: $amount;
      }
    }
  }
}
