.euiHeaderBreadcrumbs {
  margin-left: $euiSizeM;
  margin-right: $euiSizeM;
  display: flex;
  align-items: center;
  flex-grow: 1;

  .euiBreadcrumb {
    &::after {
      display: none;
    }
  }
}
