@each $name, $size in $euiColorPaletteDisplaySizes {
  .euiColorPaletteDisplay--#{$name} {
    height: $size;
    border-radius: $size;
  }

  .euiColorPaletteDisplay--#{$name} .euiColorPaletteDisplayFixed__bleedArea {
    height: $size;
  }
}
