@mixin euiTooltipStyle {
  @include euiBottomShadow($color: #000);
  @include euiFontSizeS;
  border-radius: $euiBorderRadius;
  padding: $euiSizeM;
  background-color: tintOrShade($euiColorFullShade, 25%, 90%);
  color: $euiColorGhost;
  max-width: 256px;
  z-index: $euiZLevel9;
}

@mixin euiTooltipTitle {
  font-weight: $euiFontWeightBold;
  border-bottom: solid 1px tintOrShade($euiColorFullShade, 35%, 80%);
  padding-bottom: $euiSizeXS;
  margin-bottom: $euiSizeXS;
}

@mixin euiTooltipAnimation($side: 'top', $delay: $euiAnimSpeedNormal) {
  animation: #{map-get($euiTooltipAnimations, $side)} $euiAnimSpeedSlow ease-out $euiAnimSpeedNormal forwards;
}
