.euiToolTip {
  @include euiBottomShadow;
  @include euiFontSizeS();

  position: absolute; /* 1 */
  border-radius: $euiBorderRadius;
  padding: $euiSizeM;
  background-color: tintOrShade($euiColorFullShade, 25%, 90%);
  color: $euiColorGhost;
  max-width: 256px;
  opacity: 0;
  animation: euiToolTipTop $euiAnimSpeedSlow ease-out $euiAnimSpeedNormal forwards;
  z-index: $euiZLevel9;

  .euiToolTip__arrow {
    content: "";
    position: absolute;
    transform: translateY(-50%) rotateZ(45deg);
    transform-origin: center;
    border-radius: 2px;
    background-color: tintOrShade($euiColorFullShade, 25%, 90%);
    width: $euiSize;
    height: $euiSize;
  }

  // Positions the arrow and animates in from the same side.
  &.euiToolTip--right {
    animation-name: euiToolTipRight;

    .euiToolTip__arrow {
      transform: translateX(-50%) rotateZ(45deg);
    }
  }

  &.euiToolTip--bottom {
    animation-name: euiToolTipBottom;

    .euiToolTip__arrow {
      transform: translateY(-50%) rotateZ(45deg);
    }
  }

  &.euiToolTip--left {
    animation-name: euiToolTipLeft;

    .euiToolTip__arrow {
      transform: translateX(-50%) rotateZ(45deg);
    }
  }

  .euiToolTip__title {
    font-weight: $euiFontWeightBold;
    border-bottom: solid 1px tintOrShade($euiColorFullShade, 35%, 80%);
    padding-bottom: $euiSizeXS;
    margin-bottom: $euiSizeXS;
  }
}

.euiToolTipAnchor {
  display: inline-block;
}

// Keyframes to animate in the tooltip.
@keyframes euiToolTipTop {
  0% {
    opacity: 0;
    transform: translateY(-$euiSize);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes euiToolTipBottom {
  0% {
    opacity: 0;
    transform: translateY($euiSize);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes euiToolTipLeft {
  0% {
    opacity: 0;
    transform: translateX(-$euiSize);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes euiToolTipRight {
  0% {
    opacity: 0;
    transform: translateX($euiSize);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
