.euiToolTip {
  @include euiBottomShadow;
  @include euiFontSizeS();

  position: fixed;
  border-radius: $euiBorderRadius;
  padding: $euiSizeM;
  background-color: $euiColorDarkestShade;
  color: $euiColorGhost;
}
