/* This file is a heavy retheme of react-datepicker's Sass as of v1.4.0
** https://github.com/Hacker0x01/react-datepicker
*/

.react-datepicker__month-container {
  flex-grow: 1;
  margin-top: $euiSizeXL + $euiDatePickerGap;
}

@include euiBreakpoint('xs') {
  .react-datepicker__time-box {
    margin-top: 0;
  }
}
