.react-datepicker__navigation--next,
.react-datepicker__navigation--previous {
  position: absolute;
  top: $euiDatePickerGap * 2;
  z-index: 1;

  // Remove default EuiButtonIcon translate-Y
  &:hover,
  &:focus {
    transform: none !important;
  }
}

.react-datepicker__navigation--previous {
  left: $euiDatePickerGap * 2;
}

.react-datepicker__navigation--next {
  right: $euiDatePickerGap * 2;
}
