$euiDatePickerCalendarWidth: 284px;

$euiDatePickerPadding: $euiSizeS;
$euiDatePickerGap: $euiSizeXS;
$euiDatePickerButtonSize: $euiSizeXL;

$euiDatePickerMinControlWidth: 100px;
$euiDatePickerMaxControlWidth: 140px;
