// These are variable overwrites used only for this theme.
@import 'themes/k6/k6_globals';
@import 'themes/k6/k6_colors_dark';

// Global styling
@import 'global_styling/index';

// Components
@import 'components/index';

// Packages
@import '../packages/index';
