// This is the default theme.
@import 'themes/eui-amsterdam/eui_amsterdam_borders_light';
@import 'themes/eui-amsterdam/eui_amsterdam_colors_light';

// Global styling
@import 'global_styling/index';

// Components
@import 'components/index';

// Packages
@import '../packages/index';
