.euiSeriesChartAxis_line {
  stroke-width: 1px;
  stroke: gray;
}
.euiSeriesChartAxis_axisLine {
  stroke-width: 1px;
  stroke: gray;
}
.euiSeriesChartAxis_tickLine {
  stroke-width: 1px;
  stroke: gray;
}
.euiSeriesChartAxis_tickLabel {
  font-size: 12px;
  fill: gray;
}
