.euiImage {
  display: inline-block;
}

.euiImage__img {
  width: 100%;
}

.euiImage--hasShadow {
  .euiImage__img {
    @include euiBottomShadowMedium;
  }
}

.euiImage--allowFullScreen:hover {
  .euiImage__img {
    cursor: pointer;
  }
}

.euiImage__caption {
  text-align: center;
  @include euiFontSizeS;
}

.euiImageFullscreen {
  max-height: 80vh;
  max-width: 80vw;
  animation: euiImageFullscreen $euiAnimSpeedExtraSlow $euiAnimSlightBounce;

  .euiImageFullscreen__img {
    max-height: 80vh;
    max-width: 80vw;
    cursor: pointer;
  }

  &:hover .euiImageFullscreen__img {
    cursor: pointer;
  }
}

.euiImage--small {
  width: 10vw;
}

.euiImage--medium {
  width: 20vw;
}

.euiImage--large {
  width: 33vw;
}

.euiImage--fullWidth {
  width: 100%;
}

@keyframes euiImageFullscreen {
  0% {
    opacity: 0;
    transform: translateY($euiSizeXL * 2);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
