@include euiDataGridHeaderCell {
  .euiDataGridHeaderCell__content {
    flex-grow: 1; // ensures content stretches and allows for manual layout styles to apply
  }

  // We only truncate if the cell is not a control column.
  &:not(.euiDataGridHeaderCell--controlColumn) {
    .euiDataGridHeaderCell__button {
      position: relative;
      display: flex;
      align-items: center;
      gap: $euiSizeXS;
      width: 100%;
      border-radius: $euiBorderRadiusSmall;
      font-weight: $euiFontWeightBold;
      outline: none;

      &:focus-visible {
        outline: none;
      }
    }

    [data-focus-lock-disabled='false'] .euiDataGridHeaderCell__button {
      @include euiFocusRing;
      color: $euiFocusRingColor;
    }

    .euiDataGridHeaderCell__content {
      @include euiTextTruncate;

      text-align: left; // overwrites inherited 'center' styles from button
    }

    .euiDataGridHeaderCell__sortingArrow {
      flex: 0 0 auto; // Ensure icon doesn't shrink
    }

    .euiDataGridHeaderCell__icon {
      flex: 0 0 auto; // Ensure icon doesn't shrink
      margin-left: auto; // Aligns the icon to the right
      // Center the icon
      display: flex;
      align-items: center;
      justify-content: center;
      width: 0;
      height: $euiSize;
      overflow: hidden;
      opacity: 0;
      transition: width $euiAnimSpeedFast ease-in, opacity $euiAnimSpeedSlow ease-in;
    }

    &:focus-within,
    &:hover,
    .euiPopover-isOpen {
      .euiDataGridHeaderCell__button {
        padding: $euiSizeXS;
        // balance out additional button target size in header height, prevents increased header cell height
        margin-block: -$euiSizeXS;
      }

      .euiDataGridHeaderCell__icon {
        width: $euiSize;
        opacity: 1;
      }
    }
  }

  // Align numeric and currency schemas to the right
  &.euiDataGridHeaderCell--numeric,
  &.euiDataGridHeaderCell--currency {
    .euiDataGridHeaderCell__content {
      text-align: right;
    }
  }
}

.euiDataGridHeader__action--selected {
  // stylelint-disable-next-line declaration-no-important
  font-weight: $euiFontWeightBold !important;
}
