@include euiDataGridHeaderCell {
  // We only truncate if the cell is not a control column.
  &:not(.euiDataGridHeaderCell--controlColumn) {
    .euiDataGridHeaderCell__button {
      overflow: hidden;

      transition: width $euiAnimSpeedFast ease-in, opacity $euiAnimSpeedSlow ease-in;
      transform: none !important; // Unset EuiButtonIcon animations
      animation: none;
    }

    &:not(:hover, :focus-within, .euiDataGridHeaderCell--isActionsPopoverOpen) {
      .euiDataGridHeaderCell__button {
        width: 0;
        opacity: 0;
      }
    }
  }
}

.euiDataGridHeader__action--selected {
  // stylelint-disable-next-line declaration-no-important
  font-weight: $euiFontWeightBold !important;
}
