// Extends euiFlyout
@use '../flyout/flyout';

.euiCollapsibleNav {
  @extend %eui-flyout;
  right: auto;
  left: 0;
  width: $euiCollapsibleNavWidth;
  max-width: 80vw;
  animation: euiCollapsibleNavIn $euiAnimSpeedNormal $euiAnimSlightResistance;
}

.euiCollapsibleNav__closeButton {
  position: absolute;
  right: 0;
  top: $euiSize;
  margin-right: -25%;
}

// The addition of this class is handled through JS
// via the `dockingBreakpoint` and `isDocked` combination
.euiCollapsibleNav.euiCollapsibleNav--isDocked {
  @include euiBottomShadowMedium;

  .euiCollapsibleNav__closeButton {
    display: none;
  }
}

.euiBody--collapsibleNavIsDocked {
  // Shrink the content from the left so it's no longer overlapped by the nav drawer (ALWAYS)
  padding-left: $euiCollapsibleNavWidth !important; // sass-lint:disable-line no-important
  transition: padding $euiAnimSpeedFast $euiAnimSlightResistance;
}

@include euiBreakpoint('xs') {
  // At tiny screens, reduce the close button to a simple `x`
  .euiCollapsibleNav__closeButton {
    margin-right: -15%;
  }

  .euiCollapsibleNav__closeButtonLabel {
    // But be sure the text can still be read by a screenreader
    @include euiScreenReaderOnly;
  }
}

// Specific keyframes so in comes in from the left
@keyframes euiCollapsibleNavIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  75% {
    opacity: 1;
    transform: translateX(0%);
  }
}

