/**
* Make the arrow delimiter match the colors of `.euiDatePopoverButton-needsUpdating`
*/
.euiSuperDatePicker--needsUpdating {
  .euiFormControlLayoutDelimited { // Extra specificity needed to override default delimited styles
    .euiFormControlLayout__childrenWrapper {
      background-color: $euiSuperDatePickerNeedsUpdatingBackgroundColor;
    }

    .euiFormControlLayoutDelimited__delimiter {
      color: $euiSuperDatePickerNeedsUpdatingTextColor;
    }
  }

  .euiFormControlLayout__childrenWrapper {
    transition: background $euiAnimSpeedFast ease-in; // Match @mixin euiSuperDatePickerText / .euiDatePopoverButton
  }
}
