.euiQuickSelectPopover__content {
  width: $euiFormMaxWidth;
  max-inline-size: 100%;
}

.euiQuickSelectPopover__section {
  @include euiScrollBar;
  max-block-size: $euiSizeM * 11;
  overflow: hidden;
  overflow-y: auto;
  padding-block-start: $euiSizeXS; // Offset negative margin from flex items
  padding-block-end: $euiSizeXS;
  padding-inline-start: 0;
  padding-inline-end: 0;
}

// sass-lint:disable no-important
.euiQuickSelectPopover__buttonText {
  // Override specificity from universal and sibling selectors
  margin-inline-end: $euiSizeXS !important;
}

.euiQuickSelectPopover__anchor {
  height: 100%;
}
