.euiQuickSelectPopover__content {
  width: $euiFormMaxWidth;
  max-width: 100%;

  // Add border between customQuickSelect sections
  > *:first-child {
    padding-bottom: $euiSizeM;
  }

  > *:not(:first-child) {
    border-top: $euiBorderThin;
    padding: $euiSizeM 0;
  }
}

.euiQuickSelectPopover__section {
  @include euiScrollBar;
  max-height: $euiSizeM * 11;
  overflow: hidden;
  overflow-y: auto;
  margin: $euiSizeS 0 0;
}

.euiQuickSelectPopover__buttonText {
  // Override specificity from universal and sibling selectors
  // stylelint-disable-next-line declaration-no-important
  margin-right: $euiSizeXS !important;
}

.euiQuickSelectPopover__anchor {
  height: 100%;
}

.euiQuickSelectPopover__sectionItem {
  font-size: $euiFontSizeS;
  line-height: $euiFontSizeS;

  &--recentlyUsed {
    &:not(:last-of-type) {
      margin-bottom: $euiSizeS;
    }
  }
}
