.euiQuickSelectPopover__content {
  width: $euiFormMaxWidth;
  max-width: 100%;

  .euiQuickSelectPopover__panel {
    &:not(:first-child) {
      border-top: $euiBorderThin;
      padding-top: $euiSizeM;
      margin-top: $euiSizeM;
    }

    .euiQuickSelectPopover__panelTitle {
      float: left;
      margin-bottom: $euiSizeM;
    }
  }
}

.euiQuickSelectPopover__section {
  @include euiScrollBar;
  max-height: $euiSizeM * 11;
  overflow: hidden;
  overflow-y: auto;
  margin: $euiSizeS 0 0;
  clear: both;
}

.euiQuickSelectPopover__buttonText {
  // Override specificity from universal and sibling selectors
  // stylelint-disable-next-line declaration-no-important
  margin-right: $euiSizeXS !important;
}

.euiQuickSelectPopover__anchor {
  height: 100%;
}

.euiQuickSelectPopover__sectionItem {
  font-size: $euiFontSizeS;
  line-height: $euiFontSizeS;

  &--recentlyUsed {
    &:not(:last-of-type) {
      margin-bottom: $euiSizeS;
    }
  }
}
