.euiFieldDiscrete {
  /* use badges while keeping discrete aligned with other field types */
  display: flex;
  align-items: center;
  padding: 0;
}

.euiFieldDiscrete-input {
  font: inherit;
  background: transparent;
  border: none;
  padding: 12px 6px;
}

.euiFieldDiscrete-values {
  display: inline-block;
  margin-top: -1px;
  padding: 3px;
}

.euiFieldDiscrete-value {
  position: relative;
  margin: 3px;
}

.euiFieldDiscrete-valueRemove {
  display: none;
}

.euiFieldDiscrete-value:hover {
  cursor: pointer;
  color: $euiColorAccent;
  border-color: $euiColorAccent;
  background-color: transparentize($euiColorAccent, .9);

  .euiFieldDiscrete-valueText {
    visibility: hidden;
  }

  .euiFieldDiscrete-valueRemove {
    display: block;
    position: absolute;
    left: 50%;
    top: -1px;
    margin-left: -8px;
  }
}
