.euiAccordionForm__children {
  padding: $euiSizeL;
}

.euiAccordionForm__extraAction {
  opacity: 0;
  transition: opacity $euiAnimSpeedNormal $euiAnimSlightResistance;

  &:focus {
    opacity: 1;
  }
}

.euiAccordionForm__title {
  display: inline-block;
}

.euiAccordionForm__button {
  padding: $euiSize;

  &:hover {
    text-decoration: none;

    .euiAccordionForm__title {
      text-decoration: underline;
    }
  }

  &:focus {
    text-decoration: none;
    background-color: transparent;

    .euiAccordionForm__title {
      text-decoration: underline;
      background-color: $euiFocusBackgroundColor;
      outline: solid $euiSizeXS / 2 $euiFocusBackgroundColor;
    }
  }
}
.euiAccordionForm {
  border-top: $euiBorderThin;
  border-bottom: $euiBorderThin;

  & + .euiAccordionForm {
    border-top: none;
  }

  &:hover {
    .euiAccordionForm__extraAction {
      opacity: 1;
      visibility: visible;
    }
  }
}
