.euiAccordionForm__extraAction {
  opacity: 0;
  transition: opacity $euiAnimSpeedNormal $euiAnimSlightResistance;

  &:focus {
    opacity: 1;
  }
}

.euiAccordionForm__title {
  display: inline-block;
}

.euiAccordionForm__button {
  padding-block-start: $euiSize;
  padding-block-end: $euiSize;
  padding-inline-start: 0;
  padding-inline-end: $euiSize;

  &:hover {
    text-decoration: none;

    .euiAccordionForm__title {
      text-decoration: underline;
    }
  }
}

.euiAccordionForm {
  border-block-start: $euiBorderThin;
  border-block-end: $euiBorderThin;

  & + .euiAccordionForm {
    border-block-start: none;
  }

  &:hover {
    .euiAccordionForm__extraAction {
      opacity: 1;
      visibility: visible;
    }
  }
}
