.euiAccordion__triggerWrapper {
  display: flex;
  align-items: center;
}

.euiAccordion__button {
  @include euiFontSize;
  text-align: left;
  width: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    text-decoration: underline;
    cursor: pointer;
  }
}

.euiAccordion__iconButton {
  margin-right: $euiSizeXS;
  flex-shrink: 0;
  // sass-lint:disable-block no-important
  // Needed to override transform from EuiButtonIcon
  transform: rotate(0deg) !important;

  &-isOpen {
    transform: rotate(90deg) !important;
  }

  &--right {
    margin-right: 0;
    margin-left: $euiSizeXS;
  }
}

.euiAccordion__optionalAction {
  flex-shrink: 0;
}

.euiAccordion__childWrapper {
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translatez(0);
  // sass-lint:disable-block indentation
  transition:
    height $euiAnimSpeedNormal $euiAnimSlightResistance,
    opacity $euiAnimSpeedNormal $euiAnimSlightResistance;

  &:focus {
    outline: none; // Hide focus ring because of `tabindex=-1` on Safari
  }
}

$paddingSizes: (
  xs: $euiSizeXS,
  s: $euiSizeS,
  m: $euiSize,
  l: $euiSizeL,
  xl: $euiSizeXL,
);

// Create button modifiers based upon the map.
@each $name, $size in $paddingSizes {
  .euiAccordion__padding--#{$name} {
    padding: $size;
  }
}

.euiAccordion.euiAccordion-isOpen {
  .euiAccordion__childWrapper {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}

.euiAccordion__children-isLoading {
  line-height: $euiLineHeight;
  display: flex;
  align-items: center;

  .euiAccordion__spinner {
    margin-right: $euiSizeXS;
  }
}
