.euiAccordion__button {
  text-align: left;
  width: 100%;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  &:focus {
    .euiAccordion__iconWrapper {
      @include euiFocusRing;

      color: $euiColorPrimary;
      border-radius: $euiBorderRadius;
    }
  }

}

.euiAccordion__childWrapper {
  visibility: hidden;
  height: 0;
  opacity: 0;
  overflow-y: hidden;
  transform: translatez(0);
  // sass-lint:disable-block indentation
  transition:
    height $euiAnimSpeedNormal $euiAnimSlightResistance,
    opacity $euiAnimSpeedNormal $euiAnimSlightResistance;
}


$paddingSizes: (
  xs: $euiSizeXS,
  s: $euiSizeS,
  m: $euiSize,
  l: $euiSizeL,
  xl: $euiSizeXL,
);

// Create button modifiders based upon the map.
@each $name, $size in $paddingSizes {

  .euiAccordion__padding--#{$name} {
    padding: $size;
  }
}

.euiAccordion.euiAccordion-isOpen {
  .euiAccordion__childWrapper {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}
