@mixin euiAccordionIconFocus {
  @include euiFocusRing;
  color: $euiColorPrimary;
}

@mixin euiAccordionIconMargin($align: left) {
  @if $align == left {
    margin-inline-start: $euiSizeXS;
    margin-inline-end: $euiSizeS;
  } @else {
    margin-inline-start: $euiSizeS;
    margin-inline-end: $euiSizeXS;
  }
}
