@mixin euiAccordionIconFocus {
  @include euiFocusRing;
  color: $euiColorPrimary;
}

@mixin euiAccordionIconMargin($align: left) {
  @if $align == left {
    margin-left: $euiSizeXS;
    margin-right: $euiSizeS;
  } @else {
    margin-left: $euiSizeS;
    margin-right: $euiSizeXS;
  }
}
