// Helper mixins

// Useful border shade when dealing with images of unknown color.
@mixin innerBorder($type: 'dark', $borderRadius: 0, $alpha: .1) {
  $color: rgba($euiColorDarkestShade, $alpha);

  @if $type == 'light' {
    $color: rgba($euiColorEmptyShade, $alpha);
  }

  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: $borderRadius;
    content: '';
    pointer-events: none;
    border: 1px solid $color;
  }
}

// Set scroll bar appearance on Chrome (and firefox).
@mixin euiScrollBar($thumbColor: $euiColorDarkShade, $trackBackgroundColor: transparent, $size: 'thin') {
  // Firefox's scrollbar coloring cascades, but the sizing does not,
  // so it's being added to this mixin for allowing support wherever custom scrollbars are
  // sass-lint:disable-block no-misspelled-properties
  scrollbar-color: transparentize($thumbColor, .5) $trackBackgroundColor; // Firefox support

  @if ($size == 'thin') {
    scrollbar-width: thin;
  }

  // sass-lint:disable-block no-vendor-prefixes
  &::-webkit-scrollbar {
    width: $euiScrollBar;
    height: $euiScrollBar;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparentize($thumbColor, .5);
    background-clip: content-box;
    border-radius: $euiScrollBar;

    @if ($size == 'thin') {
      border: $euiScrollBarCornerThin solid $trackBackgroundColor;
    } @else {
      border: $euiScrollBarCorner solid $trackBackgroundColor;
    }
  }

  &::-webkit-scrollbar-corner,
  &::-webkit-scrollbar-track {
    background-color: $trackBackgroundColor;
  }
}

/**
 * 1. Focus rings shouldn't be visible on scrollable regions, but a11y requires them to be focusable.
 *    Browser's supporting `:focus-visible` will still show outline on keyboard focus only.
 *    Others like Safari, won't show anything at all.
 * 2. Force the `:focus-visible` when the `tabindex=0` (is tabbable)
 */

// Just overflow and scrollbars
@mixin euiYScroll {
  @include euiScrollBar;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;

  &:focus {
    outline: none; /* 1 */
  }

  &[tabindex='0']:focus:focus-visible {
    outline-style: auto; /* 2 */
  }
}

@mixin euiXScroll {
  @include euiScrollBar;
  overflow-x: auto;

  &:focus {
    outline: none; /* 1 */
  }

  &[tabindex='0']:focus:focus-visible {
    outline-style: auto; /* 2 */
  }
}

// The full overflow with shadow
@mixin euiYScrollWithShadows {
  @include euiYScroll;
  @include euiOverflowShadow('y');
}

@mixin euiXScrollWithShadows {
  @include euiXScroll;
  @include euiOverflowShadow('x');
}

// Hiding elements offscreen to only be read by screen reader
// See https://github.com/elastic/eui/pull/5130 and https://github.com/elastic/eui/pull/5152 for more info
@mixin euiScreenReaderOnly {
  // Take the element out of the layout
  position: absolute;
  // Keep it vertically inline
  top: auto;
  // Chrome requires a left value
  left: 0;
  // The element must have a size (for some screen readers)
  width: 1px;
  height: 1px;
  // But reduce the visible size to nothing
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  // And ensure no overflows occur
  overflow: hidden;
  // Chrome requires the negative margin to not cause overflows of parent containers
  margin: -1px;
}

// Specifically target IE11, but not Edge.
@mixin internetExplorerOnly {
  // sass-lint:disable-block no-vendor-prefixes
  @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    @content;
  }
}

// Doesn't have reduced motion turned on
@mixin euiCanAnimate {
  @media screen and (prefers-reduced-motion: no-preference) {
    @content;
  }
}

// Does have reduced motion turned on
@mixin euiCantAnimate {
  @media screen and (prefers-reduced-motion: reduce) {
    @content;
  }
}
