@mixin euiPopoverTitle {
  @include euiTitle('xxs');
  padding: $euiSizeM;
  text-transform: uppercase;
  border-bottom: $euiBorderThin;
}

@mixin euiPopoverFooter {
  @include euiFontSizeS;
  padding: $euiSizeM;
  border-top: $euiBorderThin;
}
