@mixin euiPopoverTitle($size: 'm') {
  @if ($size == 's') {
    @include euiTitle('xxxs');
  } @else if ($size == 'm') {
    @include euiTitle('xxs');
  } @else {
    @warn 'euiPopoverTitle only accepts "s" or "m" sizes';
  }

  padding: $euiSizeM;
  text-transform: uppercase;
  border-bottom: $euiBorderThin;
}

@mixin euiPopoverFooter {
  @include euiFontSizeS;
  padding: $euiSizeM;
  border-top: $euiBorderThin;
}
