@mixin euiBottomShadow {
  box-shadow: 0 16px 16px -8px rgba(0, 0, 0, 0.1);
}

@mixin euiBottomShadowSmall {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
}

@mixin euiBottomShadowMedium {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
}

@mixin euiSlightShadow {
  box-shadow:
    0 2px 2px -1px rgba(0, 0, 0, 0.15),
}

@mixin euiSlightShadowHover {
  box-shadow:
    0 4px 4px -2px rgba(0, 0, 0, 0.1),
}

@mixin euiSlightShadowActive {
  box-shadow:
    0 1px 1px 0px rgba(0, 0, 0, 0.2),
}
