@mixin euiToolTipStyle($size: null) {
  @include euiBottomShadow($color: $euiColorInk);
  border-radius: $euiBorderRadius;
  background-color: $euiTooltipBackgroundColor;
  color: $euiColorGhost;
  z-index: $euiZLevel9;
  max-width: 256px;
  overflow-wrap: break-word;

  @if ($size == 's') {
    @include euiFontSizeXS;
    padding: $euiSizeS;
  } @else {
    @include euiFontSizeS;
    padding: $euiSizeM;
  }
}

@mixin euiToolTipTitle {
  font-weight: $euiFontWeightBold;
  border-bottom: solid 1px tintOrShade($euiColorFullShade, 35%, 80%);
  padding-bottom: $euiSizeXS;
  margin-bottom: $euiSizeXS;
}

@mixin euiToolTipAnimation($side: 'top', $delay: $euiAnimSpeedNormal) {
  animation: #{map-get($euiTooltipAnimations, $side)} $euiAnimSpeedSlow ease-out $euiAnimSpeedNormal forwards;
}
