
// Our base fonts

@mixin euiFont {
  font-family: $euiFontFamily;
  font-weight: $euiFontWeightRegular;
}

@mixin euiCodeFont {
  font-family: $euiCodeFontFamily;
}

@mixin euiTitle {
  color: $euiTitleColor;
  font-weight: $euiFontWeightLight;
}

@mixin euiText {
  color: $euiTextColor;
  font-weight: $euiFontWeightRegular;
}

@mixin euiLargeTextLineHeight($fontSize) {
  // Decreases line height a bit, but adds padding to make up the difference
  line-height: 1.2;
  padding-top: (($fontSize*$euiLineHeight) - ($fontSize*1.2))/2;
  padding-bottom: (($fontSize*$euiLineHeight) - ($fontSize*1.2))/2;
}

// Font sizing extends, using rem mixin

@mixin euiFontSize {
  @include fontSize($euiFontSize);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeXS {
  @include fontSize($euiFontSizeXS);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeS {
  @include fontSize($euiFontSizeS);
  line-height: $euiLineHeight;
}

@mixin euiFontSize {
  @include fontSize($euiFontSize);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeM {
  @include fontSize($euiFontSizeM);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeL {
  @include fontSize($euiFontSizeL);
  @include euiLargeTextLineHeight($euiFontSizeL);
}

@mixin euiFontSizeXL {
  @include fontSize($euiFontSizeXL);
  @include euiLargeTextLineHeight($euiFontSizeXL);
}

@mixin euiFontSizeXXL {
  @include fontSize($euiFontSizeXXL);
  @include euiLargeTextLineHeight($euiFontSizeXXL);
}
