
// Our base fonts

@mixin euiFont {
  font-family: $euiFontFamily;
  font-weight: $euiFontWeightRegular;
}

@mixin euiCodeFont {
  font-family: $euiCodeFontFamily;
}

@mixin euiText {
  color: $euiTextColor;
  font-weight: $euiFontWeightRegular;
}

@mixin euiTitle($size: "m") {
  color: $euiTitleColor;

  @if $size == "xxxs" {
    @include euiFontSizeXS;
    font-weight: $euiFontWeightBold;
    @include lineHeightFromBaseline(3);
  } @else if $size == "xxs" {
    @include euiFontSizeS;
    font-weight: $euiFontWeightBold;
    @include lineHeightFromBaseline(3);
  } @else if $size == "xs" {
    @include euiFontSize;
    font-weight: $euiFontWeightMedium;
    @include lineHeightFromBaseline(3);
  } @else if $size == "s" {
    @include euiFontSizeL;
    font-weight: $euiFontWeightMedium;
    @include lineHeightFromBaseline(4);
  } @else if $size == "m" {
    @include euiFontSizeXL;
    @include lineHeightFromBaseline(5);
  } @else if $size == "l" {
    @include euiFontSizeXXL;
    @include lineHeightFromBaseline(6);
  } @else {
    @include fontSize($size);
    @include lineHeightFromBaseline(3);
  }
}

// Font sizing extends, using rem mixin

@mixin euiFontSizeXS {
  @include fontSize($euiFontSizeXS);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeS {
  @include fontSize($euiFontSizeS);
  line-height: $euiLineHeight;
}

@mixin euiFontSize {
  @include fontSize($euiFontSize);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeM {
  @include fontSize($euiFontSizeM);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeL {
  @include fontSize($euiFontSizeL);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeXL {
  @include fontSize($euiFontSizeXL);
  line-height: 1.25;
  font-weight: $euiFontWeightLight; // always apply light weight to x-large type
}

@mixin euiFontSizeXXL {
  @include fontSize($euiFontSizeXXL);
  line-height: 1.25;
  font-weight: $euiFontWeightLight; // always apply light weight to x-large type
}

/**
 * Text truncation
 *
 * Prevent text from wrapping onto multiple lines, and truncate with an
 * ellipsis.
 *
 * 1. Ensure that the node has a maximum width after which truncation can
 *    occur.
 * 2. Fix for IE 8/9 if `word-wrap: break-word` is in effect on ancestor
 *    nodes.
 */
 @mixin euiTextTruncate {
  max-width: 100%; /* 1 */
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
  word-wrap: normal !important; /* 2 */
}
