
// Our base fonts

@mixin euiFont {
  font-family: $euiFontFamily;
  font-weight: $euiFontWeightRegular;
}

@mixin euiCodeFont {
  font-family: $euiCodeFontFamily;
}

@mixin euiTitle($fontSize: null) {
  $font-weight: $euiFontWeightLight;
  $line-height: 1.2;

  @if $fontSize {
    @include fontSize($fontSize);

    @if ($fontSize < $euiFontSizeXL) {
      $font-weight: $euiFontWeightMedium;
    }

    @if ($fontSize < $euiFontSizeL) {
      $line-height: $euiLineHeight;
    }

    @if ($fontSize < $euiFontSizeS) {
      $font-weight: $euiFontWeightBold;
    }
  }

  font-weight: $font-weight;
  line-height: $line-height;
  color: $euiTitleColor;
}

@mixin euiText {
  color: $euiTextColor;
  font-weight: $euiFontWeightRegular;
}

// Font sizing extends, using rem mixin

@mixin euiFontSize {
  @include fontSize($euiFontSize);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeXS {
  @include fontSize($euiFontSizeXS);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeS {
  @include fontSize($euiFontSizeS);
  line-height: $euiLineHeight;
}

@mixin euiFontSize {
  @include fontSize($euiFontSize);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeM {
  @include fontSize($euiFontSizeM);
  line-height: $euiLineHeight;
}

@mixin euiFontSizeL {
  @include fontSize($euiFontSizeL);
  line-height: 1.2;
}

@mixin euiFontSizeXL {
  @include fontSize($euiFontSizeXL);
  line-height: 1.2;
}

@mixin euiFontSizeXXL {
  @include fontSize($euiFontSizeXXL);
  line-height: 1.2;
}
