.euiSuggestInput {
  font-size: $euiFontSizeS;
  padding-right: $euiSizeS;
  color: $euiColorPrimary;
  .euiLoadingSpinner {
    margin-right: $euiSizeS;
  }
  .statusIcon {
    display: flex;
    .statusLabel {
      padding-left: $euiSizeS;
      padding-right: $euiSizeS;
    }
  }
}
