.euiSuggestInput {
  font-size: $euiFontSizeS;
  padding-right: $euiSizeS;
  color: $euiColorPrimary;
  .euiLoadingSpinner {
    margin-right: $euiSizeS;
  }
  .statusIcon {
    display: flex;
    .statusLabel {
      padding-left: $euiSizeS;
      padding-right: $euiSizeS;
    }
  }
}

.euiSuggestInput__popOverPanel {
  transform: translateY(-8px) translateX(75px) !important;
}

.euiSuggestInput__popOverPanel[class*='bottom'] { /* 3 */
  border-top-color: transparentize($euiBorderColor, .2);
  border-top-right-radius: 0; /* 2 */
  border-top-left-radius: 0; /* 2 */
}

.euiSuggestInput__popOverPanel[class*='top'] {
  @include euiBottomShadowFlat; /* 2 */

  border-bottom-color: transparentize($euiBorderColor, .2);
  border-bottom-right-radius: 0; /* 2 */
  border-bottom-left-radius: 0; /* 2 */
}

.hideDatepicker {
  .euiSuperDatePicker__flexWrapper > div:nth-of-type(1) {
    display: none;
  }
}