@import '../../../../src/global_styling/mixins/helpers';

.guideSideNav__content {
  @include euiYScroll;
  padding: 0 $euiSizeL $euiSizeL;
}

.guideSideNav__search {
  flex-shrink: 0;
  padding: $euiSizeS $euiSizeS $euiSize;
}

.guideSideNav__item {
  // Hate to do this, but it's the only way to get the badge to display correctly
  .euiSideNavItemButton__label {
    // By using the `icon` display of EuiSideNavItem, it will continue to:
    // a) truncate properly
    // b) not underline the badge when selected
    // But it shows to the left of the label instead of right, so we have to shift the order of the label
    order: -1;
  }

  .guideSideNav__itemBadge {
    margin-inline-start: $euiSizeXS;
    // Decrease distance from right side to allow for longer titles and sub-items
    margin-inline-end: -$euiSizeS;
  }
}

.euiSideNavItem--trunk > .euiSideNavItemButton .guideSideNav__item--inSearch .euiMark {
  color: $euiColorTextPrimary;
}

.guideSideNav__item--openSubTitle {
  color: $euiColorTextHeading;
}

@include euiBreakpoint('xs', 's') {
  .guideSideNav {
    width: 100%;
  }

  .guideSideNav__content {
    padding: 0;
    border-top: $euiBorderThin;
  }

  .euiSideNav-isOpenMobile .euiSideNav__content {
    max-height: 50vh;
    overflow: auto;
  }

  .guideSideNav__search {
    padding: $euiSizeS;
  }
}
