.euiLink {
  @include euiLink;

  .euiLink__externalIcon {
    margin-left: $euiSizeXS;
  }

  &.euiLink-disabled {
    font-weight: inherit;
    text-decoration: none;
    cursor: default;
  }

  // Create color modifiers based on the map
  @each $name, $color in $euiLinkColors {
    &.euiLink--#{$name} {
      color: $color;

      &:hover,
      &:focus,
      &:target {
        text-decoration: underline;
      }

      &:target {
        color: darken($color, 10%);
      }

      &:focus {
        @include euiFocusRing(null, 'outer');
      }
    }
  }
}

// Make button EuiLink's text selectable
button.euiLink { // sass-lint:disable-line no-qualifying-elements
  user-select: text;
}
