$euiLinkColors: (
  subdued: $euiTextSubduedColor,
  primary: $euiColorPrimaryText,
  success: $euiColorSuccessText,
  accent: $euiColorAccentText,
  warning: $euiColorWarningText,
  danger: $euiColorDangerText,
  text: $euiTextColor,
  ghost: $euiColorGhost,
);
