@mixin euiTokenCreateLightStyle($color) {
  $backgroundColor: tintOrShade($color, 90%, 90%);
  $fillColor: makeHighContrastColor($color, $backgroundColor);

  // Always coloring the fill against the tinted/shaded background color,
  // ensures the color of the icon is the same with or without a background
  color: $fillColor;

  &.euiToken--light {
    background-color: $backgroundColor;
    box-shadow: inset 0 0 0 1px tintOrShade($color, 70%, 70%);
  }
}

@mixin euiTokenCreateDarkStyle($color) {
  // Dark tokens uses the main color as the background against light or dark text
  &.euiToken--dark {
    background-color: $color;
    color: chooseLightOrDarkText($color, $euiColorGhost, $euiColorInk);
  }
}
