.euiToken {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  svg {
    // width: 100%;
    height: 100%;
    margin: auto;
  }
}

.euiToken--circle {
  border-radius: 50%;
}

.euiToken--square {
  // These are pretty small elements, the standard size
  // is just slightly too large.
  border-radius: $euiBorderRadius - 1px;
}

.euiToken--xsmall {
  width: $euiSizeM;
  height: $euiSizeM;

  svg {
    max-width: $euiSizeS + 2px;
  }

  &.euiToken--rectangle {
    padding: 0 $euiSizeXS;
  }
}

.euiToken--small {
  width: $euiSize;
  height: $euiSize;

  &.euiToken--rectangle {
    padding: 0 $euiSizeXS;
  }
}

.euiToken--medium {
  width: $euiSizeL;
  height: $euiSizeL;

  &.euiToken--rectangle {
    padding: 0 $euiSizeS;
  }
}

.euiToken--large {
  width: $euiSizeXL;
  height: $euiSizeXL;

  &.euiToken--rectangle {
    padding: 0 ($euiSize * .5);
  }
}

.euiToken--rectangle {
  box-sizing: content-box;
}

$tokenTypes: (
  tokenTint00: $euiColorVis0, // green
  tokenTint01: $euiColorVis1, // blue
  tokenTint02: $euiColorVis2, // hot pink
  tokenTint03: $euiColorVis3, // purple
  tokenTint04: $euiColorVis4, // light pink
  tokenTint05: $euiColorVis5, // yellow
  tokenTint06: $euiColorVis6, // tan
  tokenTint07: $euiColorVis7, // orange
  tokenTint08: $euiColorVis8, // brown
  tokenTint09: $euiColorVis9, // red
  tokenTint10: lightOrDarkTheme($euiColorDarkShade, $euiColorMediumShade), // mid-gray
  tokenTint11: #F0F,
  tokenTint12: #26AB00,
);

@each $tintName, $tintValue in $tokenTypes {
  .euiToken--#{$tintName} {
    $backgroundColor: tintOrShade($tintValue, 90%, 90%);
    background-color: $backgroundColor;

    svg {
      fill: makeHighContrastColor($tintValue, $backgroundColor);
    }

    &.euiToken--border {
      box-shadow: 0 0 0 1px tintOrShade($tintValue, 70%, 70%);
    }

    &.euiToken--fill {
      background-color: $tintValue;
      box-shadow: none !important; // sass-lint:disable-line no-important

      svg {
        fill: $euiColorGhost;
      }
    }
  }
}
