.euiFilePicker__promptText {
  @include euiFontSizeS;
  @include euiTextTruncate;
  line-height: $euiSize;

  // Make normal sized prompt stand out a bit more - on the large size we don't need this as it's already identifiable
  .euiFilePicker:not(.euiFilePicker--large):not(.euiFilePicker-hasFiles) & {
    color: $euiColorPrimaryText;
  }

  // Offset/center prompt text for non-large file-pickers
  .euiFilePicker:not(.euiFilePicker--large) & {
    margin-top: $euiSizeXS / -2;
  }
}

// When the filepicker has files in it
.euiFilePicker-hasFiles .euiFilePicker__promptText {
  color: $euiTextColor;
}

// Large styles only
.euiFilePicker--large {
  &.euiFilePicker-hasFiles .euiFilePicker__promptText {
    font-weight: $euiFontWeightBold;
  }
}
