// Borders

$euiBorderWidthThin: 1px !default;
$euiBorderWidthThick: 2px !default;

$euiBorderColor: $euiColorBorderBaseSubdued !default;
$euiBorderRadius: $euiSizeS * .5 !default;
$euiBorderRadiusSmall: $euiSizeS * .5 !default;
$euiBorderRadiusInline: $euiSizeS * .5 !default;
$euiBorderRadiusControl: $euiSizeS !default;
$euiBorderRadiusPanel: $euiSizeS * 1.5 !default;
$euiBorderRadiusFrame: $euiSize !default;
$euiBorderThick: $euiBorderWidthThick solid $euiBorderColor !default;
$euiBorderThin: $euiBorderWidthThin solid $euiBorderColor !default;
$euiBorderEditable: $euiBorderWidthThick dotted $euiBorderColor !default;
