$euiButtonHeight: $euiSizeXXL !default;
$euiButtonHeightSmall: $euiSizeXL !default;
$euiButtonHeightXSmall: $euiSizeL !default;

// Modifier naming and colors.
$euiButtonTypes: (
  primary: $euiColorBackgroundFilledPrimary,
  accent: $euiColorBackgroundFilledAccent,
  neutral: $euiColorBackgroundFilledNeutral,
  success: $euiColorBackgroundFilledSuccess,
  warning: $euiColorBackgroundFilledWarning,
  risk: $euiColorBackgroundFilledRisk,
  danger: $euiColorBackgroundFilledDanger,
  ghost: $euiColorGhost, // Ghost is special, and does not care about theming.
  text: $euiColorBackgroundFilledText, // Reserved for special use cases
) !default;

// TODO: Remove this once elastic-charts no longer uses this variable
// @see https://github.com/elastic/elastic-charts/pull/2528
$euiButtonColorDisabledText: $euiColorTextDisabled;
