// Separated out to its own file for easy import into docs

// Font weights
$euiFontWeightLight:        300 !default;
$euiFontWeightRegular:      400 !default;
$euiFontWeightMedium:       450 !default;
$euiFontWeightSemiBold:     500 !default;
$euiFontWeightBold:         600 !default;
$euiCodeFontWeightRegular:  400 !default;
$euiCodeFontWeightBold:     600 !default;
