// Font weights — values sourced from @elastic/design-tokens.
$euiFontWeightLight:        300 !default;
$euiFontWeightRegular:      400 !default;
$euiFontWeightMedium:       450 !default;
$euiFontWeightSemiBold:     500 !default;
$euiFontWeightBold:         600 !default;
$euiCodeFontWeightRegular:  400 !default;
$euiCodeFontWeightBold:     600 !default;
