// Coloring
$euiFormBackgroundColor: $euiColorBackgroundBaseSubdued !default;
$euiFormBackgroundDisabledColor: $euiColorBackgroundBaseDisabled !default;
$euiFormBackgroundReadOnlyColor: $euiColorBackgroundBasePlain !default;
$euiFormBorderOpaqueColor: shadeOrTint(desaturate(adjust-hue($euiColorPrimary, 22), 22.95), 26%, 100%) !default;
$euiFormBorderColor: $euiColorBorderBasePlain !default;
$euiFormBorderDisabledColor: $euiColorBorderBaseDisabled !default;
$euiFormControlDisabledColor: $euiColorBackgroundBaseFormsControlDisabled !default;
$euiFormControlBoxShadow: 0 0 transparent !default;
$euiFormControlPlaceholderText: makeHighContrastColor($euiTextSubduedColor, $euiFormBackgroundColor) !default;
$euiFormInputGroupLabelBackground: $euiColorBackgroundBaseFormsPrepend !default;
$euiFormInputGroupBorder: none !default;