// Shadows
$euiShadowColor: $euiColorInk !default;

$euiShadowDownXS: 0 1px 4px 0 hsla(from $euiShadowColor h s l / 0.4), 0 2px 8px 0 hsla(from $euiShadowColor h s l / 0.24);
$euiShadowDownS: 0 2px 7px 0 hsla(from $euiShadowColor h s l / 0.46), 0 4px 11px 0 hsla(from $euiShadowColor h s l / 0.26);
$euiShadowDownM: 0 3px 10px 0 hsla(from $euiShadowColor h s l / 0.52), 0 6px 14px 0 hsla(from $euiShadowColor h s l / 0.28);
$euiShadowDownL: 0 4px 13px 0 hsla(from $euiShadowColor h s l / 0.58), 0 8px 17px 0 hsla(from $euiShadowColor h s l / 0.3);
$euiShadowDownXL: 0 5px 16px 0 hsla(from $euiShadowColor h s l / 0.64), 0 10px 20px 0 hsla(from $euiShadowColor h s l / 0.32);

$euiShadowUpXS: 0 1px 4px 0 hsla(from $euiShadowColor h s l / 0.4), 0 -2px 8px 0 hsla(from $euiShadowColor h s l / 0.24);
$euiShadowUpS: 0 2px 7px 0 hsla(from $euiShadowColor h s l / 0.46), 0 -4px 11px 0 hsla(from $euiShadowColor h s l / 0.26);
$euiShadowUpM: 0 3px 10px 0 hsla(from $euiShadowColor h s l / 0.52), 0 -6px 14px 0 hsla(from $euiShadowColor h s l / 0.28);
$euiShadowUpL: 0 4px 13px 0 hsla(from $euiShadowColor h s l / 0.58), 0 -8px 17px 0 hsla(from $euiShadowColor h s l / 0.3);
$euiShadowUpXL: 0 5px 16px 0 hsla(from $euiShadowColor h s l / 0.64), 0 -10px 20px 0 hsla(from $euiShadowColor h s l / 0.32);

$euiShadowHoverDown: 0 2px 7px 0 hsla(from $euiShadowColor h s l / 0.46), 0 4px 11px 0 hsla(from $euiShadowColor h s l / 0.26);
$euiShadowHoverXLDown: 0 6px 19px 0 hsla(from $euiShadowColor h s l / 0.7), 0 12px 23px 0 hsla(from $euiShadowColor h s l / 0.34);

$euiShadowHoverUp: 0 -2px 7px 0 hsla(from $euiShadowColor h s l / 0.46), 0 -4px 11px 0 hsla(from $euiShadowColor h s l / 0.26);
$euiShadowHoverXLUp: 0 -6px 19px 0 hsla(from $euiShadowColor h s l / 0.7), 0 -12px 23px 0 hsla(from $euiShadowColor h s l / 0.34);
