// Shadows
$euiShadowColor: $euiColorShade120 !default;

$euiShadowDownXS: 0 0 2px 0 hsl(from $euiShadowColor h s l /  0.16), 0 1px 4px 0 hsl(from $euiShadowColor h s l / 0.06), 0 2px 8px 0 hsl(from $euiShadowColor h s l / 0.04);
$euiShadowDownS: 0 0 2px 0 hsl(from $euiShadowColor h s l / 0.16), 0 2px 7px 0 hsl(from $euiShadowColor h s l / 0.08), 0 4px 11px 0 hsl(from $euiShadowColor h s l / 0.05);
$euiShadowDownM: 0 0 2px 0 hsl(from $euiShadowColor h s l / 0.16), 0 3px 10px 0 hsl(from $euiShadowColor h s l / 0.1), 0 6px 14px 0 hsl(from $euiShadowColor h s l / 0.06);
$euiShadowDownL: 0 0 2px 0 hsl(from $euiShadowColor h s l / 0.16), 0 4px 13px 0 hsl(from $euiShadowColor h s l / 0.12), 0 8px 17px 0 hsl(from $euiShadowColor h s l / 0.07);
$euiShadowDownXL: 0 0 2px 0 hsl(from $euiShadowColor h s l / 0.16), 0 5px 16px 0 hsl(from $euiShadowColor h s l / 0.14), 0 10px 20px 0 hsl(from $euiShadowColor h s l / 0.08);

$euiShadowUpXS: 0 0 2px 0 hsl(from $euiShadowColor h s l / 0.16), 0 -1px 4px 0 hsl(from $euiShadowColor h s l / 0.06), 0 -2px 8px 0 hsl(from $euiShadowColor h s l / 0.04);
$euiShadowUpS: 0 0 2px 0 hsl(from $euiShadowColor h s l / 0.16), 0 -2px 7px 0 hsl(from $euiShadowColor h s l / 0.08), 0 -4px 11px 0 hsl(from $euiShadowColor h s l / 0.05);
$euiShadowUpM: 0 0 2px 0 hsl(from $euiShadowColor h s l / 0.16), 0 -3px 10px 0 hsl(from $euiShadowColor h s l / 0.1), 0 -6px 14px 0 hsl(from $euiShadowColor h s l / 0.06);
$euiShadowUpL: 0 0 2px 0 hsl(from $euiShadowColor h s l / 0.16), 0 -4px 13px 0 hsl(from $euiShadowColor h s l / 0.12), 0 -8px 17px 0 hsl(from $euiShadowColor h s l / 0.07);
$euiShadowUpXL: 0 0 2px 0 hsl(from $euiShadowColor h s l / 0.16), 0 -5px 16px 0 hsl(from $euiShadowColor h s l / 0.14), 0 -10px 20px 0 hsl(from $euiShadowColor h s l / 0.08);

$euiShadowHoverDown: 0 0 2px 0 hsla(from $euiShadowColor h s l / 0.16), 0 2px 7px 0 hsla(from $euiShadowColor h s l / 0.08), 0 4px 11px 0 hsla(from $euiShadowColor h s l / 0.05);
$euiShadowHoverXLDown: 0 0 2px 0 hsl(from $euiShadowColor h s l/ 0.16), 0 6px 19px 0 hsl(from $euiShadowColor h s l / 0.16), 0 12px 23px 0 hsl(from $euiShadowColor h s l / 0.09);

$euiShadowHoverUp: 0 0 2px 0 hsla(from $euiShadowColor h s l / 0.16), 0 -2px 7px 0 hsla(from $euiShadowColor h s l / 0.08), 0 -4px 11px 0 hsla(from $euiShadowColor h s l / 0.05);
$euiShadowHoverXLUp: 0 0 2px 0 hsl(from $euiShadowColor h s l/ 0.16), 0 -6px 19px 0 hsl(from $euiShadowColor h s l / 0.16), 0 -12px 23px 0 hsl(from $euiShadowColor h s l / 0.09);
