name: "Changelog required"
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]
    branches: [ master ]

jobs:
  # Enforces the update of a changelog file on every pull request
  changelog:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: dangoslen/changelog-enforcer@v2
      with:
        changeLogPath: 'CHANGELOG.md'
        skipLabels: 'skip-changelog'
        missingUpdateErrorMessage: 'You need to edit the changelog.md file in this PR before it can be merged. Use the `skip-changelog` label to bypass this check.'
