name: 'Changelog required'
on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review, labeled, unlabeled]
    branches: [main]

jobs:
  changelog:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 2
      - name: Check changelogs
        run: |
          ./scripts/check_changelogs.sh \
            "${{ github.event.pull_request.number }}" \
            "${{ join(github.event.pull_request.labels.*.name, '|') }}"
        env:
          GITHUB_BASE_REF: ${{ github.base_ref }}
