.euiDataGrid__controls {
  background: $euiPageBackgroundColor;
  position: relative;
  z-index: 3; // Needs to sit above the content blow that sits below it
  border: $euiBorderThin;
  padding: $euiSizeXS;
  display: flex;
  justify-content: space-between;
}

.euiDataGrid__displayControls {
  // Keep this right-aligned if hasRoomForGridControls is hiding dataControls
  &:only-child {
    margin-right: 0;
    margin-left: auto;
  }

  > * + * {
    margin-left: $euiSizeS;
  }
}

.euiDataGrid__dataControls {
  > * + * {
    margin-left: $euiSizeXS / 2;
  }
}

.euiDataGrid__controlBtn {
  border-radius: $euiBorderRadius;

  &:focus {
    background: shadeOrTint($euiColorLightestShade, 10%, 10%);
  }
}

.euiDataGrid__controlBtn--active,
.euiDataGrid__controlBtn--active:focus {
  font-weight: $euiFontWeightSemiBold;
  color: $euiColorFullShade;
}

@include euiDataGridStyles(bordersNone) {
  .euiDataGrid__controls {
    border: none;
    background: $euiColorEmptyShade;
  }
}

@include euiDataGridStyles(bordersHorizontal) {
  .euiDataGrid__controls {
    border-right: none;
    border-left: none;
    border-top: none;
    background: $euiColorEmptyShade;
  }
}

.euiDataGrid__controlPopover {
  // Hack because the fixed positions of drag and drop don't work inside of transformed elements
  // sass-lint:disable-block no-important
  transform: none !important;
  transition: none !important;
  margin-top: -$euiSizeS;
  // IE11 needs a min-width
  min-width: $euiSize * 12;
}
