.euiDataGrid__keyboardShortcutsPopoverPanel {
  width: $euiSizeXXL * 12;

  .euiDescriptionList {
    .euiDescriptionList__title {
      width: 25%;
    }

    .euiDescriptionList__description {
      width: 75%;
    }
  }
}
