.euiDataGrid__keyboardShortcuts {
  display: block;
  max-inline-size: $euiSizeXXL * 10;
  max-block-size: 80vh;
  overflow-y: auto;
  overflow-block: auto;

  .euiDescriptionList {
    row-gap: 0; // Row spacing handled by default EuiText dd/dt styles
  }
}
