.euiPageBody {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 100%;

  &--restrictWidth-default,
  &--restrictWidth-custom {
    margin-left: auto;
    margin-right: auto;
  }

  &--restrictWidth-default {
    max-width: 1000px;
  }
}

