.euiPageBody {
  @include euiPageRestrictWidth;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 100%;
  // Make sure that inner flex layouts don't get larger than this container
  max-width: 100%;
  min-width: 0;
  // Commenting out for posterity
  // Adding z-index disallows fullscreens like EuiDataGrid to get above the headers
  // z-index: 1; // Ensures any side nav emphasis gets rendered under shadow

  // Assumes that in the default theme, the borders are touching the edge of the EuiPage so remove them.
  &[class*='borderRadiusNone'] { // Nested for specificity
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;

    @include euiBreakpoint('xs', 's') {
      border-top-width: $euiBorderWidthThin;
      border-left-width: 0;
    }
  }
}

@each $modifier, $amount in $euiPanelPaddingModifiers {
  .euiPageBody--#{$modifier} {
    padding: $amount;

    // When only tabs, remove all padding
    & > .euiPageHeader.euiPageHeader--onlyTabs {
      padding-top: 0;
    }
  }
}
